[2015-05-22 21:46] kumy commented on #4834
Looked at the involved code, and can't find what could be wrong.

@ldmpub Could you build the app by yourself?
Maybe we could 'git bisect' to get clues...

[2015-05-22 22:05] ldmpub commented on #4834
I'm sorry ;-( but even if I'm working in computer science; I'm not a developper.

I once installed all google packages to build the test apk "hello world" with success; my experience was basic and at that time Eclipse was still used as IDE (now Google recommands IntelliJ IDEA!).

[2015-05-22 22:07] kumy commented on #4834
I was able to get something similar:

* open a stored list
* filter
* long press on a cache
* choose `refresh` item in the menu

Once the cache is reloaded, filter is lost.
However, clicking a cache then back, the filter is re-applied

[2015-05-22 22:53] kumy commented on #4834
I've found a fix for the case I described.
With luck it could fix your case, but I will not bet on it...

[2015-05-22 22:57] ldmpub commented on #4834
No pb, I will try the next nightly build and let you know (if I'm the only one who's suffering this issue ... it's not that important).

[2015-05-22 22:59] kumy commented on #4834
I've missing the NB by 20min... hope someone could launch a new build tomorrow so we can test it "soon" ;)

[2015-05-22 23:14] kumy commented on #4834
@ldmpub If you're still around... I've found how to launch a new build. It should be ready soon.

[2015-05-22 23:16] kumy commented on #4834
@ldmpub could you test with [2015.05.23-NB1-1b4ff80](http://www.cgeo.org/c-geo-nightly.apk).
thanks

[2015-05-23 01:01] kumy opened #4966 "NoClassDefFoundError 'drop' cache from list from long press action"
From master 1b4ff80d0c

* open a saved list
* long press on a cache
* select 'Drop'

[code]

[2015-05-23 01:07] kumy opened #4967 "NoClassDefFoundError 'Move to different list' cache from list from long press action"
From master 1b4ff80d0c

* open a saved list
* long press on a cache
* select 'Move to different list'
* select or create a new list

[code]

[code]

[2015-05-23 06:14] Bananeweizen commented on #4967
Works fine for me using Eclipse build or the Ant release build. That's why I guess you used the gradle build? If so, then the gradle build is probably not using the existing proguard configuration files. Be aware they are not called proguard.pro, as I've seen in other gradle configs.

[2015-05-23 06:15] Bananeweizen commented on #4966
Duplicate of #4967, even if it refers to another class.

[2015-05-23 06:15] #4966 closed

[2015-05-23 06:30] ldmpub commented on #4834
Hi,

New NB installed. I have noticed that my "stored" caches have vanished so I have stored new one to reproduce.

Unfortunatly the bug is still there for me:
1. open stored list
2. apply filter
3. open any cache details
4. back to list => filter lost.

I have applied different "filter types" (size, with TB, ...) it's always reproductible on my side.

From a user point of view it's similar to you

[2015-05-23 06:37] ldmpub opened #4968 "Translation Request - need 2 different strings"
Hi,

The same string is displayed in 2 different contexts in the app and it's make them hard to translate because: the meaning are slightly different and the available space is also quite different.

See screen captures  attached:
![context 1 - login ok](https://cloud.githubusercontent.com/assets/1452146/7782733/97ce785e-0126-11e5-9c2e-f66630571293.png)
![context 2 - status on line](https://cloud.

[2015-05-23 11:36] kumy commented on #4967
Worlks fine on NB. Should be related to build from Idea.

[2015-05-23 11:43] rsudev commented on #4834
I can reproduce this issue if I activate a setting in developer options, to not keep activities in memory. When I then come back from the cache details, the filter is no longer present, as we do not store the filter state when the activity is stopped.
I have no idea why this should happen so consistently for you, but could be an explanation and is IMO anyway a gap in our implementation.

[2015-05-23 11:48] kumy commented on #4834
Ok the same here.
@ldmpub do you have this option enabled in your system preferences?

[2015-05-23 12:20] ldmpub commented on #4834
Waouh ... You've got it!
This option is enabled on my devices. I desactivated it and reboot Android => everything is working fine now.

[2015-05-23 12:22] kumy commented on #4834
@rsudev congrats!!!
What should we do now?
Do we try to store the filter somewhere in a stronger manner?

[2015-05-23 12:58] rsudev commented on #4834
IMO the pressure to solve this soon is somewhat relaxed. Nevertheless should we correctly serialize filter (and other activity) state in onSaveInstanceState. We do this already in some other activities, but not here.

[2015-05-23 13:02] kumy commented on #4834
So we could unset this issue for next Feature release?

(This is the direction I've stated to looked at ;))

[2015-05-23 13:38] rsudev commented on #4834
Sure. I also adjusted the labels accordingly.

[2015-05-23 13:47] ldmpub commented on #4834
Thank to all devs for the great job!

[2015-05-23 20:47] Lineflyer opened #4969 "Inconsistencies between lists"
Starting with 2015.05.22-NB1 I seem to have extreme inconsistencies on my lists of saved caches.

Example:
- I open a list named GdH with 15 caches
- I open one of them and close it again
- Returning to the list I do see that all caches shown belong to the history list but not my list
- The header still shows GdH as name but a count of 81 caches (which is the amount of caches in the history list)

[2015-05-23 21:16] kumy commented on #4969
Confirmed

[2015-05-23 21:37] kumy commented on #4969
I can reproduce it by :

* open stored caches lists activity
* select "History" list
* select another list
* open cache
* press back

[2015-05-23 21:39] Lineflyer commented on #4965
Duplicate of #3941 ?

[2015-05-24 07:04] #4951 closed

[2015-05-24 07:49] rsudev commented on #4965
Exactly. Closing here or there?

[2015-05-24 11:24] kumy commented on #4834
Should be ok with and without the system setting :)

[2015-05-24 14:17] kumy commented on #4834
* OriginFilter
* DistanceFilter

doesn't serialize correctly

[2015-05-24 15:57] kumy commented on #4834
Added 2 more commits 1c47dfe ce8b30c
Feel free to revert if necessary.

[2015-05-24 17:08] kumy commented on #4834
Arghh!
11 new FindBugs warnings...

[2015-05-24 20:59] SammysHP opened #4970 "Visual feedback for logging activity"
Some people do not know how to drop a TB because they do not see the list under the log text input field. Some sort of visual hint (aka loading circle) might help in this situation.

[2015-05-24 21:49] kumy commented on #4834
I really don't like updating so many files, but seems necessary...
6d82792

[2015-05-24 23:00] kumy commented on #4212
I think this issue could be closed thanks to PR #4587.

[2015-05-24 23:00] #4212 closed

[2015-05-24 23:06] kumy commented on #4053
Fixes for #4834 solved this too.
Feel free to reopen if needed.

[2015-05-24 23:06] #4053 closed

[2015-05-24 23:09] kumy commented on #4041
1c1eada
Cannot reproduce.

[2015-05-25 19:27] willingheart1 opened #4972 "C:geo will not recognize my premium member upgrade"
I have tried checking login and re-entering username and password in settings, uninstalling and reinstalling c:geo app, refreshing geocaching.com, rebooting my phone, and maybe more, and it still refuses to show me premium caches and says they are only open to premium members.

[2015-05-25 20:12] Grizzly70 opened #4973 "language settings are getting changed by c:geo"
Good evening
As geocaching.com let us know, it's the c:geo app, that seems to have an error/bug as it sets back the language settings on geocaching.com to english all the time. Sorry, but only part on this planet speeks english. Would be great if you could fix this.
Thanks in advance
Best Regards
Grizzly70

[2015-05-25 20:16] rsudev commented on #4973
Hi Grizzly70 - this is not a bug, but by design. As c:geo parses the website it can only do that in English and sets the website therefore to English on login. See also http://faq.cgeo.org/#1_39
Closing.

[2015-05-25 20:16] #4973 closed

[2015-05-25 20:45] kumy commented on #4969
I think this comes from
https://github.com/cgeo/cgeo/blob/master/main/src/cgeo/geocaching/CacheListActivity.java#L1348-1348

This update the Intent, and is never set back

[2015-05-25 20:53] rsudev commented on #4953
From IRC discussion:

I think we should take this week and try to trim down the risk level of our changes - and stabilze resources at the same time, so we can call a last round for translation

[2015-05-26 08:39] Lineflyer commented on #4972
Can you please post the system information shown in Menu - About c:geo - System here?

When you go to Menu - Settings - Services - geocaching.com and select "check login", what is the response?
Is the menu "options for basic members" in that menu selectable or "greyed out"?

[2015-05-26 08:40] Lineflyer commented on #4970
You mean a loading circle while the list is being populated?
That would not help to find it if it is already loaded....wouldn't it?

[2015-05-26 08:41] Lineflyer commented on #4965
Here.

[2015-05-26 08:41] #4965 closed

[2015-05-26 08:42] mucek4 commented on #4970
Problem imo is keyboard as it covers TB list.

[2015-05-26 08:45] Lineflyer commented on #4968
Do we really need to separate these strings.
I would instead suggest a shorter string in general. More or less both field should give the same information, i.e. that the Login was OK.

[2015-05-26 08:50] Lineflyer commented on #3644
It crossed the border as I approved a lot of strings which had been translated for almost a year (but without proofreadings so far).
Maybe we should still add FInish now as it might draw attention to finish users for helping to complete the translation...so IMO Yes!

[2015-05-26 08:51] Lineflyer commented on #4580
Assigning for Test

[2015-05-26 08:52] Lineflyer commented on #4834
Assigning for Test

[2015-05-26 08:53] Lineflyer commented on #4827
Assigning for Test

[2015-05-26 08:53] Lineflyer commented on #4836
Assigning for Test

[2015-05-26 08:54] Lineflyer commented on #4838
Tested and working with 2015.05.24-NB

[2015-05-26 09:19] Lineflyer commented on #4964
We could here just remove that option to store th DB on SD with the next release and just move the DB back to  `/data/data/cgeo.geocaching/database`.

As @rsudev mentioned this would make all subsequent steps easier and less risky.
There is however a risk that moving the DB back might fail for some users (if the internal storage is full).

I can also imagine another approach here:
If the user has

[2015-05-26 09:22] Lineflyer commented on #4963
Yes, we have to do that before doing any approachs of migrating the cache directory to other (possibly not user accessible locations which are potentially deleted upon uninstallation).
The suggestion of `getExternalStorageDirectory()/cgeo/backup` sounds like a good starting point, where we could add other files there later on (e.g. GPX export, Field note export) but that another issue.

[2015-05-26 09:25] Lineflyer commented on #4946
That would be a good solution IMO. Feel free to change it accordingly.

[2015-05-26 09:28] Lineflyer commented on #4957
So now we started two new issue #4963 and #4964 to do necessary preparation.
I would suggest to start these activities right **after** next feature release (respectively after copying `master` to `release`) which is planned for hopefully next week (refer to #4953).

[2015-05-26 09:37] Lineflyer commented on #4953
@Bananeweizen Are you able to look into #4711 and #4712 next days? For the last release we excluded the ignore list feature because we agreed on IRC that we need those two things as "security measure" before releasing it.

[2015-05-26 09:52] Lineflyer commented on #4836
Tested copy from waypoints and paste into new waypoint + paste into plain text field with 2015.05.26-NB.

[2015-05-26 09:52] #4836 closed

[2015-05-26 14:28] marco-dev commented on #4957
Yes. Just as a feedback: I already prepared the current master on my local repository and downloaded all the new APIs. :-)

[2015-05-26 14:31] marco-dev commented on #4963
We have to keep in mind to move existing backup files on migration.

[2015-05-26 14:37] marco-dev commented on #4964
I would suggest:
* if DB is at /data/data/cgeo.geocaching/database keep it there
* if DB is at (external dir)/.cgeo move it to (external dir)/cgeo/database

Just to make it for sure: should this change to "cgeo" subdir without a leading dot?

[2015-05-26 14:38] marco-dev commented on #4957
Should we migrate the cache dir to visible "cgeo" subdir (without leading dot)?
Do we have problems to make it visible because the images will be found by gallery app?

[2015-05-26 15:01] Lineflyer commented on #3282
I can reproduce it.
This is a consequence of not having a good online/offline detection...so basically we try to load the log page once and stop if we fail assuming, that there is no data connection.

If the connection returns while the logging activity is still open the status remains at it is, the user has to restart the logging activity to trigger a new loading of the log page.

So beside a gen

[2015-05-26 15:13] Lineflyer commented on #4827
Tested and working with 2015.05.26-NB-f67a78d  (Driving and Walking) with Sygic version 15.1.5 (loaded from PlayStore on 30.04.2015).

[2015-05-26 15:13] #4827 closed

[2015-05-26 15:53] Lineflyer commented on #4580
This bug seems still existing with 2015.05.26-NB-f67a78d.
@kumy: Your fix does not seem to work.

Scenario:
- Open list
- Select Sort - Save date
- Select Sort - Save date again
- Remember the sorting of the list (newest saved date on top)
- Open a cache on the list
- Delete it
- Return to the list by pressing back

Result:
- List is sorted by oldest date on top (first iteration of sorting) but no

[2015-05-26 15:56] Lineflyer commented on #4834
Tested and working with 2015.05.26-NB

[2015-05-26 15:56] #4834 closed

[2015-05-26 15:59] Lineflyer commented on #4261
Removing assignment.
@Bananeweizen In fact the search result closes if I click outside of it on the main screen. However the search field (and keyboard) remain open.
Do you consider this issue still open?

[2015-05-26 16:18] Lineflyer opened #4976 "Request to gc.com tile server sent for caches from unknown sources (e.g. lab caches)"
2015.05.26-NB:

- Import lab caches from Main GIGA to a new list
- Open list and select Map icon to show a list
- Click on one of the lab caches

Result:
In fact we send a request to the GC.com tile server for it which should not happen because
a) The cache is saved and has never been loaded from the server
b) It is not even a valid GC-cache
c) Live mode is not enabled on a map of stored caches

I

[2015-05-26 18:41] #4962 closed

[2015-05-26 19:06] SammysHP commented on #4970
Correct. Currently there is no indication whether something is loading or not.

[2015-05-26 19:09] SammysHP commented on #4964
Usually people enable that option for a reason…

[2015-05-26 19:10] SammysHP commented on #4957
Simply put a `.nomedia` file in that directory, this excludes all media from the indexer.

[2015-05-26 19:12] SammysHP commented on #3282
Instead of random try and error we can also check the network status and register for the network change broadcast (not sure if this requires a new permission).

[2015-05-26 19:49] rsudev commented on #3282
According to my short research we already have the necessary permission (android.permission.ACCESS_NETWORK_STATE) from day 1
So we also could register a receiver for connectivity state change broadcasts and have that information readily available...

[2015-05-26 20:25] Lineflyer opened #4977 "Parse new search"
From IRC:

[code]

I have to admit I did not use/test it up to now.
Last time I checked it briefly the result page contained much less information.

[2015-05-26 21:07] SammysHP opened #4978 "Description page in detail activity is created more than once"
Open a cache, go to the description page. For demonstration immediately decrypt the hint. One or two seconds later the detail page is recreated and the hint is encrypted again (and the long description is hidden).

Maybe `setDataSetChanged()` is called a few seconds after the first creation of the page.

[2015-05-26 21:16] ldmpub commented on #4968
I was expecting feedback from other translators but I'm Ok to set a unique / short label (I have done it in the french translation with a word equivalent to "Connected").

[2015-05-26 21:21] rsudev commented on #3644
Finnish included

[2015-05-26 22:03] ldmpub commented on #4834
Hi devs,

The fix works perfectly for "stored cache list" which was my initial report ... but ;-( ... I have noticed a strange behaviour when I use filter in other lists.

For instance:
1. Nearby caches
2. Add a filter
3. Open a cache to see details
4. go back => there a "partial list" of previous filtered caches is displayed. It looks like the filter is still there but not on the same list of cac

[2015-05-27 12:11] bocktus opened #4980 "Link to cache from Groundspeak newsletter email does not work"
The link to a cache from the Groundspeak newsletter email on recent geocaches does not work.
here is an example link from the mail:
http://coord.info/GC5VV08?utm_source=newsletter&utm_medium=email&utm_content=caches&utm_campaign=5-26-15

[2015-05-27 12:34] SammysHP commented on #4980
Duplicate of #4719. The fix will be included in the next release.

[2015-05-27 12:34] #4980 closed

[2015-05-27 13:48] kattalunikes opened #4981 "OpenCaching authorisation fails on Jolla"
On Jolla (Sailfish 1.1.4.29), i can't authorize c:geo to use opencaching.

When I press the "Starte Authorisierung"/"Neustarten"(=restart) button the web browser opens and asks me, if i want to authorize c:geo. I click yes, and openCaching remembers that c:geo should be authorized. The app itself still tells me it was not authorized to use opencaching.de

[2015-05-27 14:53] Lineflyer commented on #4981
Did you check the possible problems mentioned here?
http://faq.cgeo.org/#6_73

Especially the correctness of date and time settings on your device?

[2015-05-27 14:58] rsudev commented on #4981
I would rather assume that the Android layer in Jolla does not support our callback urls, so the server response never reaches c:geo,

[2015-05-27 15:36] Lineflyer opened #4982 "Date selector shows wrong week"
From support mail and I can reproduce it:

![2015-05-22 00 01 57](https://cloud.githubusercontent.com/assets/949669/7840264/d2ef62fe-0496-11e5-812b-169295f5c0d0.png)

Could still be a device problem as I use the very same device on same version.
Can someone please crosscheck with another device?

--- System information ---
Device: GT-I9505 (jfltexx, samsung)
Android version: 5.0.1
Android build: L

[2015-05-27 16:06] Lineflyer commented on #4921
Lot os users on support mail with Xperia and compass problems.
Can we give any advise (e.g. via Facebook)?

@rsudev
Is it enough to disable Google Play Services and reboot ?
Any personal experiences?

[2015-05-27 21:39] kumy commented on #4969
PR #4983 opened.
This could fix the issue for the next feature release.

[2015-05-27 21:57] kumy commented on #4982
Works fine here.

--- System information ---
Device: One M8 (cm_m8, htc)
Android version: 5.1.1
Android build: cm_m8-userdebug 5.1.1 LMY47V 7217217ff6 test-keys
Cgeo version: developer build
Google Play services: enabled
Low power mode: inactive
Compass capabilities: yes
Rotation sensor: present
Geomagnetic rotation sensor: present
Orientation sensor: present
Hide own/found: false
Map strategy: au

[2015-05-27 22:08] #4946 closed

[2015-05-27 22:14] kumy commented on #4834
Even if I cannot reproduce it, I think it's similar to #4969, and PR #4983 may fix it.

[2015-05-28 07:28] Lineflyer commented on #4982
AFAIK we call some android standard thing here and this dialog is not part of c:geo, isn't it?
This would sound like it is most probably a device specfic proble?!

[2015-05-28 07:50] Lineflyer commented on #4834
I agree.

@ldmpub
Please kindly retest your scenario after PR#4983 is merged (might take some days) and open a new issue if it is not solved by this.

[2015-05-28 07:51] Lineflyer commented on #4953
PR #4975 has been prepared for #4954

[2015-05-28 12:26] Lineflyer opened #4984 "Cache not added to history when logged in a particular scenario"
Version 2015.03.31.

I was not able to reproduce it with 2015.05.26-NB although I am not aware that anything changed in that area.

Here is a video showing the problem (provided by a user and published with his approval):
https://www.dropbox.com/s/1v2i0xtq5z9ti8a/Offline.mp4?dl=0

Could be related to #4086

[2015-05-28 12:37] Lineflyer commented on #4733
Does that mean it doe not need a fix as mentioned in #4397 ?

[2015-05-28 12:38] Lineflyer commented on #4842
Closing due to lack of feedback and not being reproducible with current master.

[2015-05-28 12:38] #4842 closed

[2015-05-28 12:40] Lineflyer commented on #4845
Unable to reproduce. This might be depending on certain environment conditions which seems to trigger a wrong positioning with GooglePlayServices in c:geo.
Will keep it open as a reminder.

[2015-05-28 12:44] SammysHP commented on #4733
We work with the GSAK GPX extension partially. Maybe we can use it also during import.

[2015-05-28 18:39] samueltardieu commented on #4982
No problem for me either.

![screenshot_2015-05-28-20-30-20](https://cloud.githubusercontent.com/assets/44656/7867987/8d1ff89a-0579-11e5-961a-8df4ee3bdd08.png)

[2015-05-28 18:44] Lineflyer commented on #3898
I can reproduce that with version 2015.03.31 on Android 2.3.
However I think it is not worth a fix because of the the low Android version and it is only occuring if the popup is opened

[2015-05-28 20:46] Lineflyer commented on #4953
As written on IRC I am fine with moving master to release as it would be stable enough to do a quick release right away.
But open in general:
- Issues listed above
- Pending PRs for bugfixes?!

It would be the right time to take the website live before releasing btw.

[2015-05-28 21:05] Lineflyer commented on #4921
FYI:
i scheduled a posting on FB for tomorrow:

To all Sony Xperia users...please share:
We get quite some reports of problems with c:geo after upgrading your devices to Android 5.x. Those are related to firmware errors but not to c:geo.

If you experience general instability and crashes a factory reset of your mobile phone might help.

If you have the problem, that the compass is no longer workin

[2015-05-28 21:19] rsudev commented on #4921
Sorry for not coming back to you.
What you wrote is in general the solution to get a working compass.
But there is a catch. It seems, that other Apps that use Google Play Services might also affect c:geo. I experienced that with cgeo-wear. After using it for navigation, the compass in c:geo is frozen, as after disabling GMS in c:geo settings, until the next reboot.

[2015-05-28 21:20] Lineflyer commented on #4953
Call for translations sent on Crowdin (as I am pretty sure strings are complete for now).

[2015-05-28 23:42] samueltardieu commented on #4953
Master has been moved to release and changelogs have been merged.

[2015-05-29 21:20] Lineflyer opened #4985 "Back from waypoint editor should not save automatically"
I know we discussed this briefly somewhere.
Now I crosschecked with current release and new relase candiate (with modified waypoint layout):

- On the current release 2015.03.31 pressing back while editing the waypoint discarded the changes.
- With 2015.05.29-RC pressing back will save changes made

I think we should either adopt the old working mode (don't save on back) or preferably show a dialo

[2015-05-29 21:20] Lineflyer commented on #4953
Added #4985 above

[2015-05-29 21:24] Lineflyer commented on #4953
@kumy:
I just tested the new release candidate with respect to initial behaviour of the geokrety connector.
Right now AFAICS a "standard" user will still have requests to geokretymap.org enabled, so if he opens a GC cache the GK inventory will be added although he did not actively select anything.
I am well fine with that (because it makes users aware of the new feature and GK in general), I just

[2015-05-29 21:32] Lineflyer opened #4986 "Avatar no longer shown on "Check Login" on some devices"
Strangely with 2015.05.29-RC the user avatar is no longer loaded when using the function "Check Login" in Menu - Settings - Services - geocaching.com.

With production release 2015.03.31 it is working normal (also tested today...so not website change related)
Edit: Test with production release was done on another device (see comment from 03.06.2015).

Log does not show any error.

[2015-05-29 21:33] Lineflyer commented on #4953
Added #4986

[2015-05-29 22:01] Lineflyer commented on #4982
Seems to be a device specific problem. Wont fix.

[2015-05-29 22:01] #4982 closed

[2015-05-29 22:01] kumy commented on #4953
@Lineflyer GKM server is ready and on a dedicated DigitalOcean instance since 1 month. We've benched the API service with `siege`. We can handle ~500 simultaneous connexions.
I stay ready to pop a new instance if needed.

Will the "deployment" be progressive? or all users will see the update simultaneously?

BTW: project is there: https://github.com/GeoKretyMap :)

[2015-05-29 22:15] samueltardieu commented on #4986
I had noticed this as well some times ago. It may be due to the increase of SDK version.

[2015-05-29 22:28] samueltardieu commented on #4986
On my Nexus 5 / CM 12.1 / Android 5.1.1, I get the avatar.

[2015-05-29 22:48] Lineflyer opened #4987 "Trackables might not be removed from a cache on refresh"
2015.05.29-RC:

From IRC:
[code]

[2015-05-29 23:04] Lineflyer opened #4988 "Cache list shows inventory but no TB/GK in cache"
I installed 2015.05.29-RC and restored a backup of 2015.05.28-NB.

After that I do see some caches on my list which have inventory icons (one or several TB numbered) but If I open the cache the inventory tab is not shown.
The GC website confirms, that there are no TBs listed in this cache, still it keeps showing in the list even after refresh of the cache.

Note:
Tested for me with GC50HFV

[2015-05-30 06:15] ldmpub opened #4989 "Question / Improvement: is there a way to check its personal TB/GK inventory within cgeo?"
Hi,

I'm wondering if it's possible for a user to check is personal TB/GK inventory within the apps?
As far as I know yet, you could only simulate to log a cache and there you see inventory.

Thanks,

[2015-05-30 06:16] #4968 closed

[2015-05-30 06:25] ldmpub opened #4990 "GitHun issu usage: is there a way to subscribe to a tag?"
Hi,

I want to be emailed each time tag "Translation" is added to an issue. Is it possible in GitHub ?

regards,

[2015-05-30 06:40] Bananeweizen commented on #4990
Nope, unfortunately it isn't. Notifications are only for new repos, conversations, and issues. See your notification settings in the account details. Maybe you could try to use a website change monitor with https://github.com/cgeo/cgeo/issues?q=is%3Aopen+is%3Aissue+label%3ATranslation

[2015-05-30 06:40] #4990 closed

[2015-05-30 11:51] kumy opened #4991 "No SNI support for network requests"
The current Apache httpclient library doesn't support SNI connexions.

[2015-05-30 11:52] kumy commented on #4991
@samueltardieu assigning to you as you plan to experiment with OkHttp

[2015-05-30 11:56] Natureshadow commented on #4991
So? What would c:geo need it for?

[2015-05-30 11:59] kumy commented on #4991
To be able to connect with services that rely on SNI, like GKM over ssl :)

[2015-05-30 17:00] kumy commented on #4989
Isn't it the same as #3695 which is a duplicate of #420?

[2015-05-30 17:08] kumy opened #4993 "LogTrackableActivity should provide autocomplete on 'geocode' field"
As it's available with the quick search on the main activity, direct logging a GK should provide autocomplete on 'geocode' field.

* search for a GeoKret
* open logging page
* choose 'discovered' logtype
* start typing in the 'geocode' field
-> autocomplete should start.

[2015-05-30 17:26] kumy opened #4994 "Drop a Trackable should update saved cache inventory"
(With TB)

* open a cache
* log your visit, drop a Trackable and submit.
-> once submitted, we return to the cache, inventory doesn't show the new trackable

* refresh the cache
-> trackable is present

However, current implementation of generic trackables, this behaviour is normal with GKM enabled, as GKM are only updated every 15min.

[2015-05-30 17:42] kumy opened #4995 "Warn about "don't keep activities" settings"
Since #4834 I've enabled "don't keep activities" settings in System -> developer options

Last time I opened "Locus", I got this warning.

Should we implement something similar in c:geo?

![screenshot_2015-05-28-12-37-50](https://cloud.githubusercontent.com/assets/176794/7898556/e11c2d7a-0703-11e5-9905-f6b1219eed12.png)

[2015-05-30 18:01] SammysHP commented on #4995
IMHO the user should know the consequences when he enables that option.

[2015-05-30 18:28] kumy commented on #4995
In #4834 that was not the case.
This may "reduce" user complaints, no ?

[2015-05-30 18:41] SammysHP commented on #4995
That says everything: The average user won't enable that option. It's more for testing to see if the developer took care of saving all information when the activity is destroyed.

[2015-05-31 09:30] Lineflyer commented on #4995
This is a developer options...whoever activates it should be prepared for unpredictable consequences. So I wouldn´t implement any warnings...otherwise we also have to include several more of these which makes so sense at all for 90%+ of our users.

[2015-05-31 09:31] Lineflyer commented on #4993
Sounds meaningful

[2015-05-31 09:32] Lineflyer commented on #4986
I happening for me on my Samsung S4, Android 5.0.1

[2015-05-31 10:10] Lineflyer opened #4996 "EC terrain rating misses stars in cache details"
extremcaching.com uses a 7 star terrain rating.
AFAIR c:geo also shows seven star icons in the cache details on EC caches.

With 2015.05.29-RC open EC1043, it shows T5/7 but only five red stars, no grey stars.

[2015-05-31 10:28] Lineflyer opened #4997 "WP note field note field gets text from previous note"
2015.05.29-RC  but also in 2015.03.31:

- Open saved cache
- Go to WP tab
- Add a new WP and add a note to it
- Save it
- Add another WP without adding any note
- Save it

Result:
On the WP tab you will see that both WPs have the same note (which was only entered for the first WP)

[2015-05-31 10:34] Lineflyer opened #4998 "Showcase for new WP save button"
What about a showcase for this new feature?
It should be intuitive, but still some users might fail to find it.

[2015-05-31 16:08] Lineflyer commented on #4792
I accidently opened a new issue #4985 for that. Lets continue there.

[2015-05-31 16:08] #4792 closed

[2015-05-31 16:10] Lineflyer commented on #4985
As asked in #4792 I trapped into one problem with that today:
I stored a new WP and saved it. Afterwards I opened it again to edit the coords. After editing I realized that I opened the wrong WP for editing, so I pressed back and it was saved and has overwritten coords I would have needed ...

[2015-05-31 17:24] ldmpub commented on #4989
I see, it's an improvment request and there is already issues on this topic => I close this one.

[2015-05-31 17:24] #4989 closed

[2015-05-31 17:28] ldmpub commented on #420
+1

I really miss a "Show trackables in my inventory" with both TB and GK I currently have in my hands.

[2015-05-31 17:50] ldmpub commented on #4990
Thanks for your answer. I will try to monitior this page using "VisualPing" service.

[2015-05-31 18:22] Lineflyer commented on #4996
Same behviour in 2015.03.31, but still I am sure it used to be different in previous releases.

[2015-05-31 18:26] SammysHP commented on #4995
Ok, let's close this issue. That option is designed to create trouble. :)

[2015-05-31 18:26] #4995 closed

[2015-05-31 19:13] Lineflyer commented on #4967
@kumy Is this build related (and can thus be closed as an application bug) or something else?

[2015-05-31 19:44] kumy commented on #4967
@Lineflyer yes it's build related

[2015-05-31 19:44] #4967 closed

[2015-06-01 07:38] Lineflyer commented on #4986
When testing this I do see a `304`error in the log, which should mean, that the picture is already locally stored. Still it is not shown to me.

[code]

If I manually delete it from `/.cgeo/shared` and try again the picture is loaded again (but still not shown):
[code]

[2015-06-01 10:23] Lineflyer opened #5000 "Relocate cgeo-RC.apk and cgeo-release.apk to download.cgeo.org"
While all nightlies are already available on download.cgeo.org we have to adapt the upload script also for cgeo-RC.apk and cgeo-release.apk to have it still available once the new website is live.

@mucek4 or @rsudev Can you do that configuration on the CI?

[2015-06-01 10:35] mucek4 commented on #5000
I'll see what shall be done.

[2015-06-01 10:40] mucek4 commented on #5000
cgeo-RC and cgeo-release is done. Anything else?

[2015-06-01 10:43] Lineflyer commented on #5000
Not that I am aware of.
Thanks!

[2015-06-01 10:43] #5000 closed

[2015-06-01 12:03] eletap commented on #4545
Hello, could I start working on this issue? I'm new here and this seems to be a relatively easy pick

[2015-06-01 12:13] konpapa commented on #4545
Hello, could I start working on this issue? I'm new here and this seems to be a relatively easy pick

[2015-06-01 13:53] eezau opened #5001 "C:geo crashed after clicked wear button"
I have Sony smartwatch 3. Android version 5.1.1 and wear 1.1.1.1929530.
my phone is Motorola Moto G (2nd gen.). Android 5.0.2. Newest c:geo.
I downloaded c:geo wear. Phone c:geo crashed everytime when I clicked wear button in c:geo.

[2015-06-01 13:56] rsudev commented on #5001
Duplicate of #4829.

[2015-06-01 13:57] #5001 closed

[2015-06-01 15:18] Megachip commented on #4921
Also bei mir brachte das deaktivieren der PlayServices in den c:geo Einstellungen gefolgt von einem Neustart nichts :(

[2015-06-01 16:12] rsudev commented on #4921
Translation: For me, deactivating play services in the c:geo settings and than rebooting didn't help

@Megachip I assume 'Neustart' also meant 'rebooting the phone', not only 'restarting the app'.
If this is the case, please specifiy which phone model and rom, android and c:geo version you are using (system information in c:geo about), so we can see what might be the issue for you. Please also des

[2015-06-01 18:35] Lineflyer commented on #4545
Sure.
Please kindly read the information about the project here: https://github.com/cgeo/cgeo/blob/master/README.md

If you have questions don't hesitate to ask here or (better) in our developer chat.

[2015-06-01 18:47] Lineflyer commented on #4545
Adapted the title.

[2015-06-01 20:00] Megachip commented on #4921
@rsudev sorry, yeah. Wrong language ;) Rebooting the phone.

c:geo 2015.03.31
Phone: D6503
Rom: Stock (23.1.A.1.28 and the Version before)

Compass stuck on initial Position and did not move when moving or rotating the phone.

[2015-06-02 14:37] #4575 closed

[2015-06-02 20:01] Lineflyer opened #5004 ""Owner Maintenance" log is shown as "Activate" log"
2015.06.01-NB

- Open OC10CB8
- The log by Linusus as of June 2nd reads "Nach Meldungen auf allen...." and has the type "Activated"
- If you look at the website it is a log of the type "Owner Maintenance"

Not sure if this is a limitation or fault of the OKAPI or we are doing something wrong here.

[2015-06-03 07:09] Lineflyer commented on #4987
Assigning for test.

[2015-06-03 07:51] Bananeweizen commented on #4711
While I was implementing this, I thought about the local copy of the cache. I think it would be useful to also remove the local copy of that cache automatically, to be aligned with the ignore settings from the website.

This also would make the implementation a bit easier, as it would not be necessary anymore to find out whether a local cache is currently ignored or not (we don't have that informa

[2015-06-03 08:10] Bananeweizen commented on #4953
ignoring caches is now disabled on release and has a confirmation on master. I'm off for this week.

[2015-06-03 08:41] Lineflyer commented on #4545
@konpapa Please ignore that comment from @samueltardieu regarding branch  `issue-4545`. I think this branch is well outdated. Just create a PR towards `master` once you are done.

[2015-06-03 08:42] Lineflyer commented on #4953
Thanks @Bananeweizen . I set this issues on done here for the next release.

[2015-06-03 08:45] Lineflyer commented on #4711
Removing the local copy as well is a good idea. Otherwise users might ask why they still see the cache in lists/on map after ignoring it. We should make sure to also clear it from the "3 days cached" list to have it no longer showing up on the map.

I think we should have a confirmation dialog + 5 seconds undo to make the usage totally safe.

[2015-06-03 08:50] Lineflyer opened #5005 "Ignore function need to be limited to PM"
The ignore list (as also the general bookmark list functions) are a PM-onlc feature, thus the menu item should be set invisible for BM.

Currently the item is visible and sadly also the server does not return any error if a BM tries it, while it fails in fact:
[code]

[2015-06-03 09:23] #5005 closed

[2015-06-03 09:49] Lineflyer commented on #4987
Test scenario:

I took the very same cache where the Tb was still shown in my previous tests:
[code]

After loading 2015.06.03-RC1 I opened that offline saved cache again and could still see the wrongly listed TB in it. After performing another refresh it was deleted from the inventory.

Additionally I performed this scenario:
- Open a saved caches with empty inventory
- Drop a TB
- Refresh, confi

[2015-06-03 09:49] #4987 closed

[2015-06-03 10:00] Lineflyer commented on #4988
I retested this with 2015.06.03-RC1 with GC50HFV:
- This cache was stored in my list showing 2 trackables on the list, but no trackable in the inventory
- After refresh it shows 1 trackable on the list, and one trackable in the inventory, which is correct now.

I found another cache in my saved lists which had a 1 trackable on the list, but an empty inventory.
I refreshed this cache as well and af

[2015-06-03 10:00] #4988 closed

[2015-06-03 10:04] Lineflyer commented on #4953
@rsudev
Any chance you might look into #4985 regarding back key behaviour in waypoint creation?
I talked with some users who tested nightlies and/or RC and they all prefer another solution here.

[2015-06-03 10:12] SammysHP commented on #4545
`release` might be the better choice. What do you think?

[2015-06-03 10:14] Lineflyer commented on #4986
Retested this on my device (Samsung S4, Android 5.0.1) with the current market release 2015.03.31. Also on this device the image is requested and stored locally but not shown.

So at least this is no regression but something else device and/or Android version depending.
Removing "Regression label" and changed title.

[2015-06-03 10:39] rsudev commented on #4545
As we are more or less in the process already, I am not sure we would like to generate such a bunch of untranslated strings right now.

[2015-06-03 10:40] Lineflyer opened #5007 "Update URLS in send2cgeo script"
`@downloadURL` and `@updateURL` need to be updated to target the github repo directly.
We also applied this strategy to the new website.

This would mean that release is directly controlled via commit to master.

[2015-06-03 10:46] rsudev commented on #4953
What can easily be done is not to save on back. The warning (in case of unsaved changes) might be more tricky.
Unfortunately am I more or less unavailable for the next days (will be on vacation from Thursday to Sunday), so from my side I can probably not look into it before early next week.

[2015-06-03 21:07] Lineflyer commented on #5007
Thinking about it:
Wouldn't it be wise to have all send2cgeo stuff in a separate repo, which also has two branches (like master and release)?  Afterawards we just link to the script on release branch.

Doing so we would have dedicated version control for send2cgeo.

Comments?

[2015-06-03 21:57] Lineflyer commented on #4545
Thats why I suggested `master`

[2015-06-04 09:13] SammysHP commented on #5007
As I suggest several times already…

For example on our mailing list or in our IRC channel.

[2015-06-04 12:43] Hauwertlhaufn commented on #5004
I can verify it. It is also shown with the 2015.03.31-version form PlayStore on my device.
But: "Maintenance performed" belongs to "Other types" (used only by some Opencaching installations).
-> http://www.opencaching.de/okapi/services/logs/entry.html
So I'm not shure, if it is a problem 'caused by c:geo.

[2015-06-04 13:29] BraconneCharente commented on #4918
Hi,

I am really sorry, I don't give you the feedback and answer. I forget to response at your mail, excuse me.
I made a doc for give you the good coordonates and the coord of reference in the website geocaching.com.
I hope it is not to late.

Really sorry

Kind regards

Braconne et Charente
----- Mail original -----

De: "Lars" <notifications@github.com>
À: "cgeo/cgeo" <cgeo@noreply.github.com>
C

[2015-06-04 20:09] Lineflyer commented on #5007
Just do it?
Or was there any objection to that time...I honestly don't really remember-

[2015-06-05 06:00] koem opened #5008 "Waypoints of disabled caches not shown as disabled on map"
When a cache is disabled (grey backgnd in map) then the either

a) waypoints should have a grey background, too. Or
b) should not be displayed at all

What do you think? a) or b)?

Related to that: if you click on a waypoint of a disabled cache, then the little window with the waypoint short details & cache short details appears. Here the title of the cache should be striked thru but isn't (see sc

[2015-06-05 07:45] SammysHP commented on #4918
It's not possible to attach files via mail. Please upload the file somewhere else and share the link.

[2015-06-05 19:44] kirchwitz commented on #4575
Just came across this bug, and maybe the proper solution is to have some kind of timer. There's no point in having GPS always on as this drains the battery very quickly. But neither does it make sense to turn off GPS very aggressively because this wastes a lot of energy (and time) to wait for a GPS fix again. It's the wrong way to do it, both of them.

Best thing would be a timer (duration can be

[2015-06-06 07:51] Bananeweizen opened #5009 "Check login should be cancelable"
The "check login" function has a network timeout, so it is not blocking. However I want to cancel it manually before the timeout happens. Many users nowadays don't wait 30 seconds...

[2015-06-06 10:27] samueltardieu commented on #5008
I'd be in favor of (b) unless the cache is the one explicitly shown on the map in which case I could prefer (a).

[2015-06-06 12:49] Bananeweizen opened #5010 "Sharing has unexpected results"
Similarly to a bug we discussed long ago I again experience funny stuff when using the share menu. When I select the "show all" from the android share menu provider then locus opens with the cache.
This is surely a faulty way through the switch case of the onOptionsItemSelected of the cache details activity.

[2015-06-06 12:51] Bananeweizen opened #5011 "Sharing not possible for multiple caches"
I just wanted to forward some caches from my history. This is not possible except by exporting and sending a gpx. In wondering if we can implement something in addition to just forward 3 geocodes to our neighbour.

[2015-06-06 15:03] SammysHP commented on #5007
e.g. https://groups.google.com/forum/#!searchin/cgeo-dev/clean$20up/cgeo-dev/cDca5juKwKs/AegUDjZ0HMUJ

[2015-06-06 20:52] moving-bits opened #5012 "Customizable icon sizes"
On some devices cache icons are shown rather large, taking up much of the mapspace, especially when you have many caches in your lists (device tested on is Samsung Galaxy Note 3).

Wish is to be able to switch between (eg) two different icon sizes - "large" (= todays icon size) and "small" (about half the size). This would be very helpful for better orientation on packed maps.

[2015-06-06 22:44] konpapa commented on #4843
I know this might not be a new issue, but I thought I'd give it a try. Please check this if you'd like and give me a feedback. Here's a screenshot.
![map](https://cloud.githubusercontent.com/assets/6809229/8021778/bedd6e14-0cb6-11e5-9452-124dd8589804.JPG)

[2015-06-06 23:07] PhorkYou opened #5013 "Add option to encode non-encoded logs."
People sometimes log spoilers that are not encoded. Encoding all non-encoded logs as they're fetched would allow users to check the recent logs to see if it has recent finds without accidentally having the cache spoiled.

[2015-06-07 07:31] SammysHP commented on #5013
I'm not sure this makes sense. First of all, we cannot detect whether a log is "encrypted" (better call it something like "rot13 coded" because it's not really an encryption). So it would only be possible to switch all logs. Bad for those who contained rot13 coded text.

Secondly most users should be able to not read the log text if they don't want.

With respect to code complexity I'm voting for

[2015-06-07 07:42] amikot opened #5014 "High battery usage even on GPS turned Off, and when not using C:GEO"
Im using C:GEO from weeks on my mobile (Huawei Ascend G510), and few days ago I installed C:GEO on my wife's mobile (Motorola Moto-E). She reported high battery usage of something, but I did'nt check that then. Last evening I fully charged up bettery of my Huawei and after night i realised that battery is almost empty again, and 40% of that consumption is caused by C:GEO (Using GPS). Durring night

[2015-06-07 07:47] SammysHP commented on #5014
Please uninstall c:geo and compare battery runtime.

Sometimes I can see c:geo with high battery usage in the battery stats myself but that's simply wrong. There is no way to measure the exact battery usage per app. It is only possible to guess (by CPU time, sensor usage etc.). Sometimes Android thinks that c:geo is still registered for GPS but it isn't (no icon in the status bar). Also "c:geo use

[2015-06-07 08:09] amikot commented on #5014
After uninstalation battery usage looks diferent. Before there was Display, and than C:GEO (Using GPS) ... amd than the rest.
Now I have Display on top (80-90%) and than System, Google Services and rest.

After reinstalation problem gone. That looks realy strange.
Anyway, its strange that there is no option "exit" in c:Geo - to switch it off at all.

[2015-06-07 08:29] SammysHP commented on #5014
I'm not talking about the shown values but about the real battery runtime. It is possible that it shows c:geo with 80% and the battery will run the same time as without c:geo installed at all.

This is a known bug in Android and c:geo, but only cosmetic.

[2015-06-07 08:29] #5014 closed

[2015-06-07 09:42] konpapa commented on #4985
Hi I just thought I'd give this issue a try. Please check the commit and give me some feedback if you'd like.
By the way I was thinking if the same behavior (keep a dialog box or not save changes) should be used for the home button as well.

[2015-06-07 17:03] Bananeweizen commented on #5004
Reported to the OKAPI guys, as something is fishy. GPX and OKAPI are not consistent here. https://code.google.com/p/opencaching-api/issues/detail?id=333

[2015-06-07 19:44] SammysHP opened #5015 "opencaching.com will be shut down"
Garmin announced (not available online yet?) that they will shut down their geocaching platform opencaching**.com** in the near future. We should prepare to remove opencaching**.com** from our list of available services.

[2015-06-07 21:41] Lineflyer opened #5016 "Hint of a cache not shown"
From support mail for version 2015.03.31, reproducible also in 2015.06.03-RC1

http://coord.info/GC5K34R

This cache has hint "<--4"
In cgeo it doesnt show up.(empty space in field Hint)

[2015-06-07 21:51] Lineflyer commented on #5013
This will only be useful in quite exceptional usecases.
Also on the website and in every other geocaching app I am not aware of such a feature.

I don't think it is worth the effort of programming this might have.

[2015-06-07 21:52] #5013 closed

[2015-06-07 21:53] Lineflyer commented on #5012
Please kindly refer to #4098 for a similar approach.

[2015-06-07 21:53] #5012 closed

[2015-06-07 21:55] Lineflyer commented on #5008
Same as @samueltardieu wrote.

[2015-06-08 07:55] Lineflyer commented on #4985
@konpapa I may be not the right one to judge code quality and correctness (as I am no programmer myself) but at least one remark: For all strings please use strings which can be localized instead of direct text strings in the code.

[2015-06-08 08:27] SammysHP commented on #5016
See #1135 and #2757.

[2015-06-08 08:37] Lineflyer commented on #4843
@konpapa IMHO there are some items missing in your preview (e.g. Strategy menu, Map themes menu)?

[2015-06-08 08:43] Lineflyer commented on #4953
The RC version looks rather stable in my tests on the long weekend.
I had one crash after long time of using the live map, but was unable to debug/reproduce. Most probably a problem we have had already in the past.

However before releasing this version I am still a little concerned about the change of functionality in the waypoint edit view (pressing back key will save changes but discarded them

[2015-06-08 09:16] Natureshadow commented on #4873
Issue #2930 asked for and implemented download of the personal note and the personal coordinates. This feature request compeltes this work. Please also make changing the personal coordinates work, as for GC.com.

[2015-06-08 12:18] SammysHP commented on #4873
That's why we have this issue.

Do you mean upload of corrected coordinates? That is another issues.

[2015-06-08 13:42] Lineflyer commented on #4806
@kumy
I beleive there is still something wrong here:
I tested using 2015.06.03-RC1 version.

- I have GC3FJ5F stored in my lists
- I open it and go to the inventory
- I see one GK listed there named "17"

If I open the details of that GK the debug log shows a request to GK **and** GC although it should be clear that this is a GK not a GC-TB:

[code]

As this would mean, that we might send quite so

[2015-06-08 13:44] Lineflyer commented on #4953
Added #4806 above.

[2015-06-08 13:45] kumy commented on #4806
I hope I could try to have a look tonight

[2015-06-08 13:53] Lineflyer opened #5017 "Requests to GK(M) for unsupported geocodes"
2015.06.03-RC1:

I had several GPX imports on my device for lab caches and custom made caches (not refering to a known geocode).
I would not expect, that these caches are checked towards GK or GKM for inventory as these geocodes are not supported for carrying GKs.

[code]

[2015-06-08 13:55] Lineflyer commented on #4976
Setting label "Medum" as we get the same question via support mails and people suffer from the resulting delay when trying to open the caches.

[2015-06-08 13:57] Lineflyer commented on #5017
Duplicate of #4929

[2015-06-08 13:57] #5017 closed

[2015-06-08 13:58] Lineflyer commented on #4806
Another good candidate for testing: GC1X9FR

[2015-06-08 14:03] Lineflyer commented on #4929
Taken from #5017

2015.06.03-RC1:

I had several GPX imports on my device for lab caches and custom made caches (not refering to a known geocode).
I would not expect, that these caches are checked towards GK or GKM for inventory as these geocodes are not supported for carrying GKs.

[code]

[2015-06-08 14:21] #4545 closed

[2015-06-08 14:21] Lineflyer commented on #4545
@konpapa Thank you very much for your contribution which I just merged!

[2015-06-08 14:26] samueltardieu commented on #5016
The HTML generated by geocaching.com is invalid:

[code]

[2015-06-08 14:43] SammysHP commented on #5016
Urgh… Firefox Inspector fixes that on-the-fly:

![20150608_164222](https://cloud.githubusercontent.com/assets/922874/8037328/6dbe9164-0dfd-11e5-9d04-a9bafb788bd8.png)

That's why I haven't noticed it. Suggest to close it with "won't fix".

[2015-06-08 19:06] rsudev commented on #4873
Which currently seems not to be supported by the OKAPI, unfortunately.

[2015-06-08 19:07] SammysHP commented on #5015
https://www.facebook.com/GarminD

[2015-06-08 20:30] rsudev opened #5018 "Raise target sdk for plugins"
Main issue: the READ_CONTACTS permission is interpreted as requesting CALL_LOG as well, if targetSdk is < 16, and we don't want this permission for our plugin.

[2015-06-09 05:48] Bananeweizen commented on #5018
I was also wondering several times already if we should have the exact same target, compile and minimum SDK. The only drawback I saw: legacy users cannot install the plugins anymore.

[2015-06-09 05:55] rsudev commented on #5018
I don't see an immediate necessity to raise the minSdk, as the excess permissions are bound only to the targetSdk.

[2015-06-09 07:21] hashstat commented on #3406
I've been hitting this issue lately as well. Perhaps my network speed has improved and maps are downloading faster, but refreshing only adds static maps for about 10 caches, which makes grabbing static maps for pocket queries a real pain. Until recently I was getting many more and I'm not sure what changed.

[This Google maps API](https://developers.google.com/maps/documentation/staticmaps/) page

[2015-06-09 09:16] Lineflyer commented on #3406
This was exactly the intention for this issue.

We already have a mechanism to update those caches first which are missing static maps.
If we would know limit to an appropriate rate for refreshing and additionally (I think this is in another issue) just skip updating of existing maps (those rarely change over time) we could end up still being faster and more complete with the static maps.

[2015-06-09 09:18] samueltardieu commented on #3406
It means using background services for downloading. Which we don't do right now. But that could be an option.

[2015-06-09 09:19] Lineflyer commented on #5015
I don't see an info about shutdown on this FB page.

[2015-06-09 10:31] SammysHP commented on #5015
The info is not released yet online, but this post:

Grüße an unsere Freunde von Groundspeak.

[2015-06-09 15:55] opperpanter opened #5019 "Add ability to search address and goto that address on livemap"
My usecase:
- I have different locations at which I geocache, sometimes far away for a holiday.
- I save lots of caches offline into c:geo, in different lists.
- I use livemap to explore the caches in a certain area.
- I have the live function disabled, so I see only offline stored caches.

I'd like an easy way to enter an cityname and jump to that location on the livemap quickly.

Possible soluti

[2015-06-09 17:52] rsudev commented on #4985
I have created an implementation which does not save on leave, but shows a toast if changes are discarded. This seemed to me a feasible balance between no feedback at all and pestering the user with unwanted dialogs.
Nevertheless this requires a new string...
@Lineflyer Should I put this to release for testing in a new RC?

[2015-06-09 19:19] Lineflyer commented on #5019
It should be possible by:
- Search for city/adress
- On the result list press the map icon in the titlebar
- Select the map menu -> Enable live

[2015-06-09 19:29] opperpanter commented on #5019
Comes close, but:

- Will use data to retrieve search results, while I already have the caches offline.
- Will use data because switched to live mode.
- Will show caches that I haven't stored and maybe even don't want to see.

[2015-06-09 19:35] Lineflyer commented on #4985
@rsudev: Yes, please.
Regarding the string: As it is only a toast which does not require user interaction, I am even fine with having it untranslated in some languages.

[2015-06-09 19:37] #4954 closed

[2015-06-09 19:37] #4985 closed

[2015-06-09 19:40] Lineflyer commented on #4806
@Kumy: Did you find time to check?

[2015-06-09 19:51] Lineflyer commented on #5019
Oh, offline case...sorry, missed that part of your explanation.

Ever thought of just having those offline lsits divided by geographical regions?
That would mean you just need to map the list of the location you want to see on the map.

It is impossible to search for an adress when offline, only search based on coords would be meaninful in this case (but would need to be implemented...at the momen

[2015-06-09 20:00] opperpanter commented on #5019
I have considered seperating the geograhic areas into separate lists, but found it too much effort to maintain. Also some areas are adjacent/overlapping/etc.

Maybe I should look to it more in general. Searching by address/city is just a solution. Bookmarks on the (live)map may be another solution. Just looking for a quick way to jump to a certain location on the live map (but with live disabled h

[2015-06-09 20:54] kumy commented on #4806
Sorry wasn't possible. I'll expect tomorrow

[2015-06-09 20:55] kumy commented on #4806
If anyone would have a look, feel free to do so ;)

[2015-06-10 07:48] kadamski commented on #4921
I can confirm that problem on Xperia Z Ultra and on Xperia Z1 Compact. It is not, however, 100% reproducible. With Google Play Services enabled, it sometimes works for the first time and only freezes the 2nd time the compass activity is started. On both phones, disabling Google Play Services and rebooting the phone makes the problem go away. I don't really get why but killing the c:geo application

[2015-06-10 09:59] Lineflyer commented on #5015
Here is an article about that on GoCacher (but without link to source):
http://www.gocacher.de/aus-fuer-garmins-opencaching-com/#more-7787

Shall we remove it already now for the upcoming release or wait until it is shut down?

[2015-06-10 10:23] kadamski commented on #4921
One more interesting observation - when this happens, the compass does work on for example GPS Status (which probably does not use Google Play Services) but does NOW work on Google Maps (the direction arrow is frozen or non existent). I guess compass won't work for any application that uses Google Play Services.

This would suggest that it's not c:geo issue at all but on the other hand I wasn't ab

[2015-06-10 20:03] kumy commented on #4806
This comes from code here : https://github.com/cgeo/cgeo/blob/master/main/src/cgeo/geocaching/TrackableActivity.java#L270-L290

Comment say

Then, `TravelbugConnector` has this pattern:
[code]

Effectively, GK id are matched by the second part of the pattern. The pattern is here to lookup TB by Tracking code.

Note: This remind me #4822, which talk about quite the same 'problem' (but it's not a du

[2015-06-10 20:07] rsudev commented on #4921
As I can trigger this behaviour by invoking c:geo wear (which uses Google Play service), which also is a completely separate app, it seems to clearly be an interaction of
* The hardware and Android version from Sony
* Google play services
* Interaction of c:geo with the Android location Api/GMS

Currently I don't see a real chance to find a way to fix this from c:geo side.

[2015-06-10 20:13] Lineflyer commented on #4806
If I understand the functionality correct, at least the pattern matching should IMHO be made different in case we look at the inventory of a cache. In this case the TB_CODE for a GC TB will **ALWAYS** start with TB while the GK will **always** start with GK as the inventory only holds the public code...or am I wrong?

I was only a little nervous as we will send more incorrect requests to GC after

[2015-06-10 20:24] rsudev commented on #4806
When we look at a cache inventory, the TB connector should already be known, as we have to actively retrieve GK for GC caches and never find GC TBs or the like outside a GC cache, right?

[2015-06-10 20:24] kumy commented on #4806
From what I've seen, the 'bad' request was not emited while looking at the cache inventory, but when opening the Trackable details.

[2015-06-10 20:27] kumy commented on #4806
Maybe we should pass some kind of "info" from the CacheDetailInventory (as an intent?) saying which brand of trackable we want to open, then limit "connector finding" to connector matching the brand.

This would limit the 'bad' request happening while opening a Trackable from cache inventory.

[2015-06-10 21:06] kumy commented on #4806
PR #5022 open.
Unit tests are still running here. (hope everything will be okay :p)

@rsudev are you still around? May you have a look please?

[2015-06-10 21:36] rsudev commented on #4806
@kumy Merged. Thanks!

[2015-06-10 21:39] kumy commented on #4806
Nice :)

[2015-06-10 21:40] kumy commented on #4806
How should this commit be applied to master?

[2015-06-11 05:02] rsudev commented on #4806
Already done :)

[2015-06-11 07:19] Lineflyer opened #5023 "Navigate -> WhereYouGo option missing if cache is found"
Unverified, taken from FB:

[2015-06-11 08:56] SammysHP commented on #5023
How can c:geo know if the cartridge is completed?

[2015-06-11 09:06] Lineflyer commented on #4806
Thanks @kumy.

Created a new RC version 2016.05.11-RC

[2015-06-11 09:08] Lineflyer commented on #5023
I guess this refers to found status of the cache (my assumption) therefore I selected the title of this issue.
However I need to check, therefore "Unverified". Assigning myself.

[2015-06-11 09:30] Lineflyer commented on #4806
Retest of the scenario above with 2015.06.11-RC looks good.

[2015-06-11 09:33] Lineflyer commented on #4953
According to the list of issues in the iniitial post we are done.
I will now publish a link to the RC on FB, I suggest to wait for some feedback there and then release next days (and maybe take some translations if there are new ones).

[2015-06-11 09:33] kumy commented on #4806
Great :)
BTW, I'll be off until the end of the week...

[2015-06-11 09:55] Lineflyer opened #5024 "View all waypoints of a cache in an external app"
From support mail:

Currently I can map a list of caches in an external app (like Locus or maps.me). Great feature!
(Map - Menu - Show on map - <Select the app>)

The same thing should be possible from the waypoint tab of a cache to get all its waypoints shown on the external app.

[2015-06-11 09:56] Lineflyer commented on #5023
Not reproducible.
Navigation option is visible in cache details and cartridge is downloadable in WhereYouGo.

[2015-06-11 09:56] #5023 closed

[2015-06-11 10:00] Lineflyer commented on #5019
As I said:
Search by adress, and open map from the result. If you then just enable live and disable it again afterwards it will show all your saved caches as well and then stop updating the map.

[2015-06-11 10:05] Lineflyer commented on #2326
Just for the records:
Undo has been implemented by @Bananeweizen for some actions on the cache lists already.
I think he does not consider this done with that, but just a starting point, so I will leave the issue open.

[2015-06-11 10:10] Lineflyer opened #5025 "Combine send2cgeo scripts into one script"
I just recognized that we did not yet officially publish the send2cgeo script for OC.
While thinking about how to do that, I had the idea that there might be no need to have to seperate scripts but just one which triggers for both websites. Is that technically possible?

Having a combined script would minimize the effort (one version handling, one send2cgeo.html page on the website, etc.).

[2015-06-11 10:19] opperpanter commented on #5019
Thanks, that comes close. Still think it might be  a useful addition to make it easier?

[2015-06-11 10:30] mucek4 commented on #5025
I think it is possible. Right now we have 1 script that serves map and search.

[2015-06-11 10:56] Lineflyer commented on #167
Status:
Letter to Bryan has been send (available for the development team on the Googlegroups mailing list).
Waiting for feedback.

[2015-06-11 14:37] Willabee opened #5026 "Read cache notes from GSAK"
It is good that we can use corrected coordinates made on the GC Cache page in PQ's or updated when refreshed (The little red indicator makes these very visible on the map. It would be nice if all corrected coordinates from PQs had this indicator without the need to refresh in c:geo.

I also make a lot of notes on the GC cache page. In GSAK, these notes are available through the 'GcNote' database f

[2015-06-11 15:11] rsudev commented on #5026
If you download the cache with c:geo, the personal notes are available for sure (and can also be edited and uploaded). Not sure of they are part of a PQ and if we load them from there if.

[2015-06-11 15:50] Willabee commented on #5026
Thanks. I did not know that. My next step is for GSAK to download them as part of exported PQ.

[2015-06-11 18:43] SammysHP commented on #5026
Regarding your first paragraph: There's no indication in the PQ if the coordinates are corrected or not.

[2015-06-11 18:46] SammysHP commented on #5024
When you choose Locus the cache and all waypoints should be included (using the navigate function on the cache itself).

[2015-06-11 18:54] Willabee commented on #5026
Would I need to approach gc.com to try and get them to add a corrected coordinates indicator and the GC Notes to the XML .gpx file so that apps like c:geo could extract the information?

[2015-06-11 19:06] Willabee commented on #5026
A chap has just sent me a GSAK macro that copies the GC Note (Downloaded into GSAK directly using the GC API) to create a new log entry as the first log (and does not duplicate it if the macro is re-run).

This means you can export the GPX file to c:geo (or any other app or GPSr) and it will have the corrected coordinates and the Note available when you check the logs.

A great solution for my par

[2015-06-11 19:51] Bananeweizen opened #5027 "Show will attend state in details"
We show states like found or stored log in the details. We could also show "will attend" there, if the own user name has a corresponding log in the cache.

[2015-06-11 20:43] Lineflyer commented on #5007
While I understand from that thread that it might be a technical problem for the plugins I guess it won't be a problem for the send2cgeo stuff...
Shall we split that into another repo?

[2015-06-11 20:48] rsudev commented on #5025
The initial script for gc.com was created by taking advantage of the node.js-code already loaded into the page by gc.com. As this is not the case for the opencaching sites, the oc-version was somewhat hacked together without using these functions.
A common version would in my book have to refrain from using node.js, which might make some things a little more complicated, but still doable.
and BTW

[2015-06-12 07:09] Lineflyer opened #5028 "Watchdog fails for OC-sites"
The job keps failing constantly since yesterday but the websites seem up and running from my users perspective:

[code]

[2015-06-12 07:19] Lineflyer commented on #5024
The user was especially interested in maps.me where this does not seem to work in this scenario (but does work via the show on map menu from a cache list).

[2015-06-12 07:22] Lineflyer commented on #4347
+many from talks on GeoXantike

[2015-06-12 14:27] rsudev commented on #5028
I took a preliminary look, but could not deduce anything.

[2015-06-12 19:09] rsudev commented on #5028
Locally it works, so it seems an issue with the environment. @mucek4 Can you have a look at logcat? Or can I see that?

[2015-06-13 04:38] Bananeweizen commented on #5028
I assume it might be a similar issue like 2 weeks ago. To many open files on the host of the emulator.

[2015-06-13 05:35] Bananeweizen opened #5029 "Show not available navigation apps disabled"
In the settings we disable the not installed navigation apps. As shown by the recent facebook post many people are wondering why their settings don't allow certain apps (e.g. the WhereYouGo in that case). We should therefore add a settings summary next to the setting to describe that.

[2015-06-13 05:48] #5029 closed

[2015-06-13 09:58] KoalaBear84 commented on #4228
At least some functionality is implemented, I guess I've seen it working for at least a year. But it only detects "Final" for me. Didn't test anything like stage. But did test "Park", "Parking" which unfortunately looks like not working, at least not marked as parking.

Would be nice. I don't care which solution is taken / accepted.

Coords WaypointType = N 12 34.567, E 1 23.456 Park
Coords (Waypo

[2015-06-13 10:07] Bananeweizen opened #5030 "crash when invoking checker from c:geo"
The new menu item for opening recognized checkers can lead to the app crashing, as reported on facebook. Reason is a to broad recognition of URLs.

[2015-06-13 10:14] #5030 closed

[2015-06-13 15:03] rsudev commented on #4228
The waypoint type is guessed from the characters *before* the coordinates as mentioned above. It is tried to match with the phone locale specific and the English type name. So for a parking spot you can use 'Parking', but also on a German phone 'Parkplatz'

[2015-06-13 15:24] KoalaBear84 commented on #4228
Hmm, indeed. This is strange, tested it multiple times. Maybe needed to drop & refresh. Thanks

This now works:
Parking: N 12 34.567, E 1 23.456

[2015-06-14 02:53] indy-bikes commented on #4917
After struggling with sending messages with my phone through the website, I searched out this forum to see if this was being looked at. I think it might make it easier to communicate with other players of the game while in the field.(read 'help')
I don't know if this is the best place to get help in this way, but I am looking for a better way to use the message feature. Just wanted to let you know

[2015-06-14 07:24] mucek4 commented on #5028
Yeap. Server reported to many open files and crashed emu. Looks like new bug in emu. As this started from last update.

[2015-06-14 09:31] SammysHP commented on #4917
Neither this is a forum, nor you will get help here. As said a new app for the message center needs to be developed. But as long as Groundspeak does not provide an API it's not a simple task.

[2015-06-14 14:07] djtooley commented on #4947
Sorry for the late reply...
Email was miss-filed.
C:geo version number has probably updated since then.

--- System information ---
Device: SM-N900W8 (hltevl, samsung)
Android version: 5.0
Android build: LRX21V.N900W8VLU2DOC4
Cgeo version: 2015.03.31
Google Play services: enabled
Low power mode: inactive
Compass capabilities: yes
Rotation sensor: present
Geomagnetic rotation sensor: absent
Orienta

[2015-06-14 16:08] Nicole1338 commented on #4984
I stumbled today over this bug. I imported an pocketquery and I didn't open the complete cache page. I just opened the overview (the small popup if you click on an cache on the map view) and then i pushed "One click offline log"->"Found It" or "One click offline log"->"Log Visit->"Save offline". A few minutes later I get back to the history and the last caches I logged didn't show up there.
Now I'

[2015-06-14 16:50] Lineflyer commented on #4953
Created a new RC 2015.06.14 including the fix for #5030

[2015-06-15 07:40] Lineflyer commented on #4953
Version 2015.06.15 was just published to 1% of the market.

@kumy: Just a heads up in case you want to watch your server.

[2015-06-15 07:48] Lineflyer commented on #5028
Running again, so we can close here?

[2015-06-15 07:49] mucek4 commented on #5028
Probably.

[2015-06-15 07:49] #5028 closed

[2015-06-15 08:55] kumy commented on #4953
@Lineflyer Thanks, I'll be attentive :)

[2015-06-15 09:00] Lineflyer opened #5033 "Use Google Cloud Test Lab"
While using the Play Console I noticed a new offer to use a cloud test service.
From what I have read it offers free testing on 20 physical devices and provides a report back to the developer account. It is combined with the alpha/beta channels on GooglePlay (so tests will probably run as soon as an APK is placed there).

That could be a useful additional test (although I am not sure how deep this

[2015-06-15 13:40] Lineflyer commented on #4953
Already increased to 5% as 1% did not show anything on GooglePlay or status.cgeo.org although app was available on Play.

[2015-06-15 15:36] kumy commented on #4953
Everything OK until now... increase to 10%?

[2015-06-15 17:25] Lineflyer commented on #4953
I will wait some more hours to check if any crash reports come in on GooglePlay and then go to 20% if this is OK for you @kumy
I am also available on IRC.

[2015-06-15 18:01] kumy commented on #4953
Not at home right now. But ok :)

[2015-06-15 18:06] Lineflyer opened #5034 "Regular crashes on Sony Xperia devices on Android 5+"
There seem to be many users (judged by the amount of support mails and bad GooglePlay ratings) having stability problems with c:geo after upgrading their devices to Android 5.0.x.
This seems to be an issue which is maybe independend of #4921

For some of them the problem seems solved after a factory reset, but a lot others keep having problems. I have the chance to get a Sony Xperia Z3 tomorrow an

[2015-06-15 18:44] rsudev commented on #5034
I have an Xperia Z1 and don't experience regular instability WRT c:geo. The system is not that stable in itself (but I don't have the latest update from end of May installed yet) and needs regular (every 3-4 days) reboots to free up memory it seems. I don't use GMS in c:geo or other apps and have no issues (had a nice test run about a week ago in Stockholm :) )

[2015-06-15 19:33] Bananeweizen commented on #5033
That sounds nice. However, this doesn't come free for us. We have to find ways to enable testing without actually interacting with the geocaching platform.

[2015-06-15 20:25] kumy commented on #4933
As the nightly build are updated every nights in the repo, I've just manually launched update for the mainline. :)

[2015-06-15 20:35] Lineflyer commented on #4964
As we just releases we could now get going with this.

Despite the comments IMHO there might be no other easy way as to remove the option to have the DB on SD with the next version to have clear starting conditions.

My opinion:
While the DB might be big for users with a lot of caches stored, still the `/.cgeo` will be even bigger and thats what we want to solve.

Another comment:

That I would no

[2015-06-15 20:39] Lineflyer commented on #4963
Just to inform that now we released and thus are at the beginning of a new phase on `master`. Might be the right time to do some preparation work.

@marco-dev
Maybe we should create a Wiki to draft a new directory structure for all non-system filed (like Backup, GPX Exports/imports,...)?

[2015-06-15 20:47] kumy commented on #4580
Ok, I was able to reproduce...

[2015-06-15 20:51] rsudev commented on #4933
Thanks :)

[2015-06-15 20:52] rsudev commented on #4964
I tend to strongly disagree here. I don't really see a need to remove this feature, which makes c:geo also usable for a number of people (and I am not sure if the number overall is that much smaller than those in *need* of the external sd-card feature).
I think the suggestion by @marco-dev is valid and can be implemented at least as robust as the move back to appdatastorage.

[2015-06-15 20:56] Lineflyer commented on #4953
Set to 50% right now as agreed on IRC:

[2015-06-15 21:14] rsudev opened #5035 "Crash on About:License?"
First crash report for new version (2015.06.15). Not sure how relevant that is, but it is shown as 'new' (so kind-of regression). It was on a HTC One S (ville) with Android 4.1.

[code]

[2015-06-16 06:21] mucek4 commented on #5035
4 crashes up to now, Android 4.0, 4.1
Z796C (Z796C)
HTC One S (ville)
Xperia Miro (ST23i)
Galaxy Xcover2 (skomer)

[2015-06-16 06:31] Lineflyer commented on #5035
We have one similar report on FB: c:geo crashes when trying to view the Contributor list.

[2015-06-16 07:46] Lineflyer commented on #5035
Can reproduce on one of my devices:

[code]

[code]

[2015-06-16 08:15] Bananeweizen commented on #5035
Seems that was there before: #3515

[2015-06-16 08:17] kumy commented on #4953
Everything OK on GKM until now... I still keep an eye on ;)

[2015-06-16 08:51] rsudev commented on #5035
Re-introduced in 702094e8bbda76a12b0673a61ca86b811a6a75fd on April, 1st

[2015-06-16 08:59] samueltardieu commented on #5035
Feel free to revert. But still, this is really unclean.

[2015-06-16 09:01] rsudev commented on #5035
A quick research seems to indicate, that Scanner does not implement Closable on Android 4.1, so we need to close 'manually' instead. But that shouldn't be an issue in itself?

[2015-06-16 09:38] rsudev commented on #5035
Implemented a fix based on release, merged to master first for testing.

[2015-06-16 09:40] rsudev commented on #5035
Scheduled NB1 for testing

[2015-06-16 10:45] Lineflyer commented on #5035
Tested and OK with the device "ZTE Grand Memo LTE" on Android 4.1.2 with 2015.06.16-NB1
and still working on "Samsung S4" on Android 5.0.2 with 2015.06.16-NB1.

Assigning to @rsudev for merge to release.

[2015-06-16 10:55] rsudev commented on #5035
Merged.

[2015-06-16 10:55] #5035 closed

[2015-06-16 13:39] Lineflyer commented on #4953
Set to 100% now as agreed on IRC.

Notification will be send tonight, to give GooglePlay some time.

[2015-06-16 19:30] rsudev opened #5036 "Crash on Google Map"
This is another round of crashes which might be contrary to initial believe something new (the only older report is from an NB version)

[code]

[2015-06-16 19:34] rsudev commented on #5036
What baffled me initially was, that we catch this very thing in the place that is in the stacktrace. Looking better right now i see that we catch ```NoSuchMethodException``` but not ```NoSuchMethodError```.
But why this pops up right now I have no idea...

[2015-06-16 19:46] Lineflyer commented on #5036
We got a mail on support also dealing with not being able to start the live map any more after upgrade.
Description is like:
With Google Maps it crashes instantly
When I select OSM it take some more seconds and opens initially but then crashes

I am not aware that we change anything in the maps area...
DId we increase any target versions, external libraries or something similar which might influen

[2015-06-16 20:19] Lineflyer commented on #5034
Assigning to me to test with an Z3

[2015-06-17 06:10] rsudev commented on #5036
Ten weeks ago we updated commons-lang3, which is used in this case. But from what I see in that library, this newly cropping up issue is not motivated.

[2015-06-17 08:00] Lineflyer commented on #5036
Another user:
[code]

Error description:
cgeo 2015.06.15 exits at opening live map or when in a list is pressed the map icon to show caches in a map

[2015-06-17 09:35] koem opened #5037 "mark caches as too hard / need equipment / riddle solved / ..."
I'd sometimes like to have more info on some caches in the map view. Eg. for caches like "this one is a T5 - I can't do that" or "riddle not solved - too hard" or "need equipment - can't do" or "riddle solved - go get it".

a) add a marker (as the disk marker for stored caches) from a list of markers - like choosing from a list of emoticons: Ladder, water, evil smiley, book, padlock, key, magnifyi

[2015-06-17 09:37] SammysHP commented on #5037
e) Use a filter.

[2015-06-17 10:14] Lineflyer commented on #5037
a) We already discussed additional markers in several issue. AFAIR most of the times the outcome was, that we should not overcrowd the map with cache markes (also as all edges are already occupied). However I still somehow like your approach as it would be customizable acc. to users needs
b) c) d) I think that is too much

and let me add:
In your usecase you should just divide the caches into diff

[2015-06-17 11:03] Lineflyer commented on #5036
Another user wrote this:

The live map in c:geo with version 2015.06.15 was not working with Android 4.2 (crash when trying to open it)  but I now upgraded the device to 4.4 and c:geo is working again.
I've got a rooted Xiaomi Redmi Note smartphone (Mediatek processor).

[2015-06-17 11:52] Lineflyer commented on #4733
@Bananeweizen  I assigned you to that issue in March as you requested via mailing-list.

Just some new info:
I recently got in touch with a user with this problem.
He tried the possibilities as described by @SammysHP in #4397 but failed. I crosschecked it and can confirm that the child waypoints are not recognized on import.

The GPX looks like:
[code]

[2015-06-17 13:26] rsudev commented on #4733
@Lineflyer I think you misunderstood @SammysHP on IRC. The waypoint lacks everything that is required to link it to a cache in this case. In the waypoint itself the GSAK export has to introduce information in a GSAK-specific extension about the ```Parent``` (don't have the precise syntax the hand) to be recognised...

[2015-06-17 13:31] rsudev commented on #4733
No, sorry I have to correct me. It seems we even look for the name matching according to gc.com rules....

[2015-06-17 14:21] Lineflyer commented on #4733
Additional info by user:

I replaced the currently used prefix `00` with `FN` without success.
Then I changed the prefix to `17` as this is what c:geo uses in its export, and now it worked. Strange.

[2015-06-17 15:03] Lineflyer opened #5038 "Try to minimize OOM problems by requesting larger heapsize"
As discussed on IRC:
I would like to test if requesting a larger heapSize in our manifest could help minimizing the OOM problems (caused by large bitmaps and mapsforge library) for the time being.
I am aware it is no solution but still maybe helpful until we get more memory optimizations (like e.g. a new mapsforge library).

Reference:
http://developer.android.com/reference/androi/R.styleable.html

[2015-06-17 15:04] Lineflyer commented on #5034
The tested Z3 is working normal with c:geo...no clue here.

[2015-06-17 15:10] marco-dev commented on #4964
I also disagree. We are able to handle this:

**Status Quo:**
- db in appstorage /data/data/cgeo.geocaching/database (default)
- db on external <externalDir>/.cgeo

**Suggestion:**
- db in appstorage /data/data/cgeo.geocaching/database (default)
- db on external <externalDir>/**cgeo/database**

I would choose a cgeo dir without leading dot to make it visible.
**Any votes against using a directory

[2015-06-17 15:19] marco-dev commented on #4957
Because no one answered my question here:

**Should we migrate the cache / backup / db dir to visible "cgeo" subdir (without leading dot)?**

[2015-06-17 15:37] Lineflyer commented on #4964
According to what @rsudev wrote it seems to make sense to still have the option to kepp the 'dbOnSd' function itself.  So your proposal is very good.

And yes: Without dot... as our target design might be, that those files stored there should be accessible by the user without a problem lateron.
(e.g. /cgeo/gpxexport , cgeo/gpximport, ...)

[2015-06-17 15:37] Lineflyer commented on #4957
Without dot... as our target design might be, that those files stored there should be accessible by the user without a problem lateron.

[2015-06-17 15:45] mucek4 commented on #5038
S3 is the main cause of crashes

[2015-06-17 16:04] marco-dev commented on #4963
Added a Wiki RFC.
https://github.com/cgeo/cgeo/wiki/Request-For-Comments#rfc-new-directory-structure

[2015-06-17 16:10] marco-dev commented on #4964
I would like to simplify this directory stuff and hide it in LocalStorage class.

- LocalStorage.getCacheDirectory()
- LocalStorage.getBackupDirectory()
- LocalStorage.getDbDirectory()

No other class should invest time on handle with external directories.
Also choices (of external dirs for cache) or defaults should be defined here.

[2015-06-17 16:12] marco-dev commented on #4964
- LocalStorage.getCacheDirectoryChoice()
- LocalStorage.getCacheDirectoryDefault()
- LocalStorage.getDbDirectoryDefault()
- LocalStorage.getDbDirectoryOnSd()

[2015-06-17 19:47] simrebel opened #5040 "have send2cgeo work on project-gc.com"
I would like to have send2cgeo to work on project-gc.com

[2015-06-17 20:23] jspricke commented on #4933
Are these now considered official? Could we get https for them?

[2015-06-17 20:46] kumy commented on #4933
@jspricke ssl is now enabled ;)

[2015-06-17 20:50] kumy commented on #4933
Closes: GeoKretyMap/nginx-config#3

[2015-06-17 20:55] madankumarbaskaran commented on #4873
Can I work on this request (Upload of personal note to OC server)?

[2015-06-17 21:48] jspricke commented on #4933
Awesome thanks! I've posted it here as well: https://f-droid.org/forums/topic/app-repositories-list/#post-16307

[2015-06-18 05:26] rsudev commented on #5036
Lineflyer: Do we have somebody on support we can ask to try the next nightly build for a cross-check before we put this to release?

[2015-06-18 06:42] Lineflyer commented on #5036
Not yet.I will keep eyes open to find someone on support mail or FB.

Von meinem Samsung Gerät gesendet.

-------- Ursprüngliche Nachricht --------
Von: rsudev <notifications@github.com>
Datum: 18.06.2015  07:26  (GMT+01:00)
An: cgeo/cgeo <cgeo@noreply.github.com>
Cc: Lars <gc@droescher.eu>
Betreff: Re: [cgeo] Crash on Google Map (#5036)

Lineflyer: Do we have somebody on support we can ask to try

[2015-06-18 07:24] Lineflyer commented on #5036
@rsudevAssuming I find a user it will be preferable to hand over a RC instead of a NB, due to later upgradibility.So I suggest to merge to release already now.

Von meinem Samsung Gerät gesendet.

-------- Ursprüngliche Nachricht --------
Von: rsudev <notifications@github.com>
Datum: 18.06.2015  07:26  (GMT+01:00)
An: cgeo/cgeo <cgeo@noreply.github.com>
Cc: Lars <gc@droescher.eu>
Betreff: Re: [cge

[2015-06-18 07:30] SammysHP commented on #4873
Sure!

[2015-06-18 07:51] mucek4 commented on #4933
@kumy if you would like to maintain the repo I can create cname or redirect to domain?

[2015-06-18 08:31] kumy commented on #4933
@mucek4 I would be happy to. :)
I could also give you a CSR to be signed by your CA (StartSSL?)

[2015-06-18 08:52] kumy commented on #4933
A CNAME to `cgeo.geokretymap.org.` would be perfect.

[2015-06-18 14:01] Lineflyer commented on #5038
Reopening for testing and providing feedback here.
Main retest could be to see how many recursive OSM-maps can be opened before an OOM appears with and without this setting to get a comparison which probably allows an estimation if anything has changed.

Main tasks:
- [ ] Test on Samsung S3 as it is highly affected (possibly due to low RAM availability on this device)
- [ ]  Test on pre-Honeycomb

[2015-06-18 14:04] Lineflyer commented on #5040
AFAIR there was some discussion about this with @ganjs1447 some months ago and AFAIR he already prepared at least a menu item in the V-GPS for it for later use.

[2015-06-18 14:04] Lineflyer commented on #5040
@ganja1447

[2015-06-18 15:24] Lineflyer commented on #5038
Just to let you know:
First small test on my S4 shows that this makes a huge difference!
With yesterdays NB I ran into an OOM at the second instance of a map, with the current NB I stopped testing at eight instances and it was still working normal.
I will also test some of the caches with huge amount of pictures (as mentioned in some issues here).

[2015-06-18 15:42] Lineflyer commented on #5038
Test result for Samsung S3:

Test case:
1. Open live map using OSM:Offline - Germany v0.3 (downloaded 10.05.2015)
2. Open popup of a saved cache
3. Open Cache details
4. Select Navigate -> Map
5. Keep repeating the sequence starting with step 2 and count iterations

Results:
2015.03.31   -> Crash on step 4 without any iterations
2015.06.15   -> Crash on step 4 without any iterations
2015.06.18-NB-

[2015-06-18 15:48] Lineflyer commented on #5038
Test result for Samsung S4:

Test case:
1. Open live map using OSM:Offline - Germany v0.3 (downloaded 10.05.2015)
2. Open popup of a saved cache
3. Open Cache details
4. Select Navigate -> Map
5. Keep repeating the sequence starting with step 2 and count iterations

Results:
2015.03.31 -> Crash on step 4 after 1 iteration
2015.06.15 -> Crash on step 4 after 1 iteration
2015.06.18-NB-b6c823a -> Cra

[2015-06-18 15:51] Lineflyer commented on #5036
Feedback of acffected user mentioned above
[code]
for testing 2015.06.18-RC:

It works perfectly.
Thank's for the quick support.

[2015-06-18 15:51] #5036 closed

[2015-06-18 18:23] Bananeweizen commented on #5026
You don't need to create fake logs in GSAK. c:geo understands the gsak:GcNote field during import of a GPX and populates the personal note with it. c:geo also understands the GSAK specific fields for changed coordinates. So as long as you export the GPX with the GSAK extensions, everything will be fine.

[2015-06-18 18:23] #5026 closed

[2015-06-18 19:39] Lineflyer commented on #5038
Test result for HTC HTC Wildfire S (Android 2.3.5):

Test case:
1. Open live map using OSM:Offline - Germany v0.3 (downloaded 10.05.2015)
2. Open popup of a saved cache
3. Open Cache details
4. Select Navigate -> Map
5. Keep repeating the sequence starting with step 2 and count iterations

Results:
2015.06.15 -> Crash on step 4 in the first try
2015.06.18-NB-b6c823a -> Crash on step4 in the first

[2015-06-18 19:44] Lineflyer commented on #5038
Summary for me:

It is not a fix for our memory problems but seems to be a valid workaround which will solve most of the OOM issues on Android 3+ while it seems to not affect anything on 2.x

Now here it comes:
I do see a risk with that (no idea if any pre-Honeycomb device might hick up with that setting) but still would like to see it released as soon as possible.
If we would keep it in master th

[2015-06-18 19:52] mucek4 commented on #5038
Test result for HTC Desire Cyanogen mod (Android 2.3.7):

Test case:
1. Open live map using OSM:Offline - Slovenia
2. Open popup of a saved cache
3. Open Cache details
4. Select Navigate -> Map
5. Keep repeating the sequence starting with step 2 and count iterations

Results:
2015.06.15 -> Crash on step 4 in 3rd iteraion
2015.06.18-NB-b6c823a -> Crash on step4 in 3rd iteration

I vote for merging

[2015-06-18 19:57] Lineflyer commented on #4453
Assigning for retest with a version containing b6c823a (as soon as I meet the user)

[2015-06-18 19:58] Lineflyer commented on #4191
This has been reenabled quite a while ago and stayed in the code

[2015-06-18 19:58] #4191 closed

[2015-06-18 20:01] Lineflyer commented on #4922
@kirchwitz
If you are still able to kind of reproduce this issue, then please kindly test with
http://download.cgeo.org/cgeo-RC.apk

It has some memory optimizations in it which has proven to run better on Samsung S3.
So reenable static maps and all function you might have had disabled and try again if you get crashes.

[2015-06-19 08:26] Lineflyer commented on #5038
Merged to `release`as well as agreed on IRC.

[2015-06-19 08:26] #5038 closed

[2015-06-19 11:35] Lineflyer commented on #5033
We can anyway just try it out to see what happens on these testing machines even without an account.

[2015-06-19 12:34] kumy commented on #4933
New release included.

That would be good, if CI can `ping` me so updates are automatic.
Cron (for NB) is scheduled at around 1h am. For example, if multiple NB are build in a day I'll miss some.

[2015-06-19 13:32] rsudev commented on #4933
Just specify how this ```ping``` should look like (http put or post or similar, like status) then it would be easy to put into the jobs as an additional step.

[2015-06-19 13:50] kumy commented on #4933
@rsudev ok thanks. Not here this WE, I'll work on that next week.

[2015-06-19 18:37] Bananeweizen commented on #4733
The issue from March is because of a really bad GSAK export. It uses different names for the waypoints XML and the geocache XML of _one cache_. That in turn leads to us not being able to match the parent title that we get from the child waypoint, because it refers to the _waypoint_ title of the cache, but we have of course taken the _cache_ title of the cache. Given our data structure, this is not

[2015-06-19 18:37] #4733 closed

[2015-06-20 08:20] Bananeweizen commented on #1791
Seems that all dialogs are now replaced by DialogFragments or AlertDialogs. Closing.

[2015-06-20 08:20] #1791 closed

[2015-06-20 08:21] Bananeweizen commented on #3969
Closing, as I currently also don't see the necessity of this anymore.

[2015-06-20 08:21] #3969 closed

[2015-06-20 09:36] #4711 closed

[2015-06-20 10:34] Lineflyer commented on #4733
Will do.
However I can not paste the complete GPX somewhere publicly as it has a lot of corrected coords in it.
I will try to reduce to 2-3 caches and set fake coords to the final waypoints.

Might take some days until I have time for that.

[2015-06-20 10:35] Lineflyer opened #5044 "Additional waypoints in GSAK GPX not recognized on import"
Follow up of #4733.

Will complete details next days.

[2015-06-20 11:14] Lineflyer commented on #4963
@marco-dev

Good idea.
We started something similar already in the Wiki:
https://github.com/cgeo/cgeo/wiki/Data-storage-structure-of-c%3Ageo

Maybe we just continue there...you could move the last paragraph of the wiki page to there.

You should add GPX import/export directories into the RFC as well.
IMHO those should also go below /cgeo/ then.

[2015-06-20 18:48] marco-dev commented on #4963
I removed RFC and wrote the content of page

https://github.com/cgeo/cgeo/wiki/Target-disk-usage-structure

I'm not familiar with the current thoughts about GPX import / export so maybe someone else can add this?

[2015-06-20 20:53] opperpanter commented on #5019
Just tried it, but enabling live will *not* show saved caches. It shows the 20 caches from the search result and then starts loading caches from GC.com

[2015-06-20 20:54] opperpanter commented on #5019
Or maybe  it does but only after a while.

[2015-06-20 22:17] javthrowr opened #5046 "Inventory Order when logging a cache"
Previously Inventory was in alphabetical name order when you were logging a cache. Since the last update, a new little icon is next to them, but it is no longer in alphabetical order. This makes it very time consuming to scroll thru and find the ones you want.

[2015-06-21 02:01] pr0vieh opened #5047 "mapsforge lib update"
Update mapsforge for better performance and new futures
The current stable release is 0.5.1.

[2015-06-21 06:07] SammysHP commented on #5047
We already have some issues about updating the map activity. But that is not an easy task. Some people are working on an implementation, but that is in a very early stage. At the same time we must update the Google API, because it will be easier with some refactoring.

If you can help (you suggested this technical task), please contact @rsudev or wait for a response. I am sure he also knows the ot

[2015-06-21 07:42] Bananeweizen opened #5048 "avoid keyboard coming up when closing coordinates input"
from facebook: when you close the coordinates input, the bearing field gets the focus and leads to the keyboard popping up

[2015-06-21 08:18] Bananeweizen commented on #5048
I have no idea how to fix this. I tried giving the initial focus to the buttons instead of the bearing text, I added a non visible layout above the edit text, I disabled soft input on the edittext and several other things you find on stackoverflow. None of that actually avoided the keyboard coming up, when coming back to this activity from the coords dialog.

Anyone with other ideas? Something to

[2015-06-21 09:15] Lineflyer commented on #5046
This seems to be a bug introduced by the recent changed for Geokrety support

[2015-06-21 09:16] Lineflyer commented on #5046
@kumy Any idea if that might be connected to your changes?

[2015-06-21 09:27] kumy commented on #5046
@Lineflyer Probably ;)
(On the phone)

[2015-06-21 10:03] Lineflyer commented on #5046
It seems to be in reverse alphabetcial order (of the TB name) now. I don't remember the old sorting...I guess it was alphabetical by name, so its now just reversed.

[2015-06-21 10:06] rsudev commented on #5047
I did a search for an existing issue covering that and found nothing. That said, it is in the works (ongoing prototyping can be found here: https://github.com/rsudev/c-geo-opensource/tree/mapsforge-5b), but still not even 'alpha' IMO, as there are still some fundamental architectural topics to be solved.
If you (by chance) are a developer, feel free to contact me as suggested by SammysHP!

[2015-06-21 10:08] SammysHP commented on #5047
Hmm, then let us keep this issue open. :)

[2015-06-21 10:09] alan666notb opened #5049 "Need to select title/caption text on images"
Hi there,

I've discovered a problem. I was caching in Switzerland using cgeo last week. It's quite common there to give 'photo hints' with a detailed caption or title to the spoiler photo.

I can't find any way to select the title text of a photo in order to translate it to English. Long-pressing on the caption text does nothing (it works on the normal log text).  Is this possible? if not, it's b

[2015-06-21 11:14] #5046 closed

[2015-06-21 11:15] Bananeweizen commented on #5046
I saw this issue only after I had already fixed the bug in my version. @kumy I hope you didn't waste time now for duplicated efforts. Sorry if so.

[2015-06-21 11:16] kumy commented on #5046
Thanks. Don't worry i m not at home!

[2015-06-21 14:14] Bananeweizen opened #5050 "Use text watcher to format coordinate input"
Similar to how phone numbers are formatted in edit texts we should add leading or trailing zeros automatically in the coordinate fields. I have been quite confused again by our non mathematical minute fraction part.

[2015-06-21 14:36] Bananeweizen opened #5051 "Floating point coordinates not accepted"
We can parse longitude OR latitude from double. But we cannot parse two doubles as coordinate. Found because the copy from clipboard button was disabled after copying such a coordinate from the browser.

[2015-06-21 15:50] madankumarbaskaran commented on #4873
For GC.com, personal notes are enabled for premium users. I believe for opencaching.de does not have basic or premium users, so upload should be enabled to all the users of opencaching.de? Please comment.

[2015-06-21 16:05] SammysHP commented on #4873
Yes.

[2015-06-21 16:30] #5051 closed

[2015-06-21 18:55] rsudev commented on #4873
@madankumarbaskaran Furthermore does this not only affect opencaching.de, but all OKAPI-enabled sites which support the latest OKAPI version. IN the current code there are two levels of OKAPI-support defined, and the sites initialize the connector with the appropriate level. So for an implementation it is necessary to check:
* which sites currently support which version (resp. which feature-set, t

[2015-06-21 19:38] Lineflyer opened #5052 "Missing backpressure exception"
From GooglePlay:

No regression as it also appeared with older versions.
Now reported for 2015.06.19.

User messages are like:
- Crashed on import of GPX
- Crashed on downloading caches

Several devices and spread over Android 2.x, 4.x

[code]

[2015-06-21 19:41] Lineflyer opened #5053 "BadTokenException"
From Google Play:

No regression as also appearing with older versions but now on 2015.06.19.

Several devices Android 4.x and 5.x (no 2.x).

User messages:
- Stops on loading caches
- Stops on search
- Stops after importing .loc

[code]

[2015-06-21 19:44] Lineflyer opened #5054 "NPE on startup"
From GooglePlay:

No regression as also appearing on older version, but now on 2015.06.19

Several devices over several Android versions.

User messages:
- Stops on startup
- Won't start

[code]

[2015-06-21 19:45] rsudev commented on #5053
Looks like related to the Captcha - I haven't had a look at this for quite some time...

[2015-06-21 20:03] Lineflyer commented on #5053
If you find no solution for this a possible solution would be to remove this option completely.
As written in another issue the Captcha is almost unreadable in our implementation.

[2015-06-21 20:11] #4950 closed

[2015-06-21 20:16] Lineflyer commented on #5048
Isn't there any default for each activity also given in `androidmanifest.xml`? I have seen alike while doing changes there (but have no idea what they mean).

[2015-06-21 20:24] Lineflyer commented on #5016
Won't fix then.

[2015-06-21 20:24] #5016 closed

[2015-06-21 20:28] Lineflyer commented on #5007
So, here would be my proposal:

- [ ] Merge #5045
- [ ] Split up send2cgeo in another repository
- [ ] Change `@updateURL` and `@downloadURL` in script
- [ ] Change URLs on web page
- [ ] Raise version number of script
- [ ] Place the new version of the script to the old URL  https://send2.cgeo.org/send2cgeo.user.js for a last time

Will this work?

[2015-06-21 20:29] Lineflyer commented on #4981
Closed due to lack of feedback.

[2015-06-21 20:29] #4981 closed

[2015-06-22 12:15] ludoo0d0a opened #5056 "Filter/search by text on cache name"
It would be valuable to add a filter by text to retrieve caches of a serie.

A serie is commonly named :
#1 Serie Mickey - Cache A
#2 Serie Mickey - Cache B
#3 Serie Mickey - Cache C
#4 Serie Mickey - Bonus

or Mickey #1, Mickey #2,Mickey #3.

Filter using 'mickey' as keyword would be great !

I think we could add it in search panel too.
Search by keyword is not really pertinent and could be repla

[2015-06-22 12:18] rsudev commented on #5056
I don't understand the last paragraph. Could you elaborate on that?

[2015-06-22 12:31] ludoo0d0a commented on #5056
My first idea / requirement was about filtering only.

But after thinking a litle bit I saw that main search panel includes search by coords, address, code, keyword, finder, owner, tb ; but not by text (on cache name)
Since I still do not clearly understand what is a keyword, I think 'search by text/name' would be more useful.

[2015-06-22 12:36] rsudev commented on #5056
It is named 'Search by Keyword', because in the context of gc.com this is what is behind that function (including all restrictions that come with it). It might be slightly different in case of opencaching sites (OKAPI), but that I would have to look up in detail. So this is something we currently IMO cannot really implement.

[2015-06-22 12:47] ludoo0d0a commented on #5056
After I remember GC api features
and looked after [cgeo connector](https://github.com/cgeo/cgeo/blob/a4efdd23c6516e6ee5add3b7eec3c0570f454068/main/src/cgeo/geocaching/connector/ox/OpenCachingApi.java#L134), I could understand.

I just understood too that search is always online.
And since i'm currently offline, i can see autocomplete in 'search by keyword' field and I receive an empty list as resu

[2015-06-22 12:52] rsudev commented on #5056
Offline search is facilitated by the search bar on the main screen and a text filter on cache name should certainly be possible.

[2015-06-22 12:58] ludoo0d0a commented on #5056
So obvious that I never used this search feature !! thanks for this tip.

I confirm autcomplete / inline search is working offline , but click 'search' gives an empty list.

[2015-06-22 13:17] Lineflyer opened #5057 "Split send2cgeo into a separate repository"
Taken from #5007:

Reason:
With the new webpage we link directly to mater on cgeo/cgeo repository.
Having a separate repository for send2cgeo would allow
- Separate bugtracking
- Having branches for release/master separate to c:geo app
=> Allowing a separate release management for the script without need for any other hosting,etc.

So, here would be my proposal:

- [x]  (Merge #5045 - if ready to

[2015-06-22 15:50] marco-dev commented on #4963
Do we prefer to change the structure step by step?

First move backup from <externalStorageDirectory>/.cgeo to <externalStorageDirectory>/cego/backup,
then move dbOnSd file to <externalStorageDirectroy>/cgeo/database, then moving cache directory?

[2015-06-22 16:52] SammysHP commented on #4963
Do you mean if it should happen in different releases? A user might skip a release, so there is no benefit.

[2015-06-22 18:21] marco-dev commented on #4963
I guess it is best to move .cgeo to cgeo. But I don't know where to put it best for update.
It is not a database migration and no setting migration.

Where should this change from .cgeo to cgeo go to?
The next step IMO would be to move backup and db file to subdirectories.

[2015-06-22 19:24] Lineflyer commented on #4963
@marco-dev
Sadly I was offline when you sent the question on IRC.

I am unsure if moving will be a fast operation on all devices (i.e. only a renaming) or a long running copy process. IMHO we need to test, or does anyone know?

Additionally if `/.cgeo` is renamed to `/cgeo` we should in any case put a `.nomedia` file into that new base directory as otherwise media scanners will be triggered and al

[2015-06-22 19:33] Lineflyer commented on #4957
I added a section about GPX import/export to the Wiki "Target structure" page.
Hope this is correct and the migration proposal will work.

[2015-06-22 19:33] Lineflyer commented on #4957
@marco-dev
Maybe we should really "meet" on IRC with some people who want to help defining the whole thing.
Any timing proposal?

[2015-06-22 19:56] SammysHP commented on #4957
Another idea: WebRTC

[2015-06-22 20:36] #5050 closed

[2015-06-22 21:41] madankumarbaskaran commented on #4873
@rsudev two levels of OKAPI-support, do you mean authentication level for OKAPI?. I am beginner to Android and CGEO, please elaborate on the above requirement. Appreciate your help.

[2015-06-23 03:51] Bananeweizen commented on #5015
I suggest to wait until shutdown. Especially as _everything_ related to opencaching.com has been so slow, that it might take another year. :)

[2015-06-23 03:54] Bananeweizen commented on #5057
Seems quite reasonable to me. However, I have no clue if any of that will break the existing scripts from updating or introduce other related issues.

[2015-06-23 04:19] marco-dev commented on #4963
@Lineflyer My question is where to put the rename code to. We have a DataStorage for db update and settings for settings update. I suggest to add an update function to LocalStorage. But where should I call that update from?

[2015-06-23 04:47] marco-dev commented on #4957
At work 7:20

[2015-06-23 10:24] Lineflyer opened #5058 "TB pictures lost on refresh"
From support mail for 2015.06.19:

- Open TB3CNBH
- Swipe to "pictures" tab to verify that pictures are shown
- Press the "Refresh" button

Result:
Picture tab is empty

[2015-06-23 10:27] Lineflyer commented on #5057
It should not break anything IMHO:

The currently released script targets to the (old) webpage (and not to our repo) for updating/downloading. So moving the script to a new repo should not harm (only the link on the new webpage needs to be adjusted in time).

[2015-06-23 16:14] following5 commented on #4781
Geokret data inconsistencies at OC.de are a well known [issue](http://redmine.opencaching.de/issues/18) for years. I will have a look at it now.

[2015-06-23 18:13] Bananeweizen commented on #5048
Yes, you can have _another_ control take the focus, like the topmost button instead of the text input. But even then the keyboard comes up, and it is even less useful there. :)

[2015-06-23 20:02] kumy commented on #4933
@mucek4 did you had time to create the DNS entry?

[2015-06-23 23:13] #4580 closed

[2015-06-24 06:52] rsudev commented on #4873
@madankumarbaskaran Sorry for not coming back to you earlier (too much work right now). Authentication levels are one crucial ingredient (without level 3 authentication, you cannot upload personal notes), but what I was referring to was the OKAPI version that specific sites have deployed, which might differ in supported features (and the upload for personal notes is a relatively recent addition).

[2015-06-24 11:44] Dezerterzy opened #5059 "New button "Move" in already stored cache pop-up window"
Hi. It is a kind of usability improvement. When I click a cache on map that is already stored on some list I wish to have "MOVE" button. I do not need to click "More details" then, in order to move cache from one list to another.
![screenshot_2015-06-24-13-31-35 - kopia](https://cloud.githubusercontent.com/assets/13032367/8329121/1d1d328e-1a77-11e5-92f4-d2b36bdc4a6c.png)

[2015-06-24 19:57] Lineflyer commented on #3650
According to a user feedback on support this problem seems still to be existing:
The owner of a cache modified it and afterwards updated his listing in c:geo but now has some mixup of waypoints and texts and a wrong sort order.

I requested a screenshot in order to compare with the current website waypoints.

[2015-06-24 21:21] Lineflyer commented on #5057
Can someone split send2cgeo into a separate repo please?

[2015-06-25 05:42] SammysHP commented on #5057
I can do it.

[2015-06-25 08:00] Lineflyer commented on #5057
@SammysHP Go for it.
The only thing which needs to be done at the same time would be to change the link on our homepage to the `release branch` of the new repo.

[2015-06-25 09:53] SammysHP commented on #5057
I will do it when I am back home (~19:30).

[2015-06-25 12:10] samueltardieu opened #5061 "Explore possible use of Android-ReactiveLocation"
Quite similar with what we do ourselves.

https://github.com/mcharmas/Android-ReactiveLocation

[2015-06-25 18:37] #5057 closed

[2015-06-25 18:37] SammysHP commented on #5057
See https://github.com/cgeo/send2cgeo.

[2015-06-25 21:47] #5058 closed

[2015-06-26 06:32] Lineflyer commented on #5007
Issue will be transfered to cgeo/send2cgeo

[2015-06-26 06:32] #5007 closed

[2015-06-26 06:40] Lineflyer commented on #5040
This issue was moved to cgeo/send2cgeo#2

[2015-06-26 06:40] #5040 closed

[2015-06-26 06:41] Lineflyer commented on #5025
This issue was moved to cgeo/send2cgeo#3

[2015-06-26 06:41] #5025 closed

[2015-06-26 06:42] Lineflyer commented on #4498
This issue was moved to cgeo/send2cgeo#4

[2015-06-26 06:42] #4498 closed

[2015-06-26 06:43] Lineflyer commented on #4411
This issue was moved to cgeo/send2cgeo#5

[2015-06-26 06:43] #4411 closed

[2015-06-26 06:43] Lineflyer commented on #3273
This issue was moved to cgeo/send2cgeo#6

[2015-06-26 06:43] Lineflyer commented on #3130
This issue was moved to cgeo/send2cgeo#7

[2015-06-26 06:43] #3130 closed

[2015-06-26 06:44] Lineflyer commented on #3094
This issue was moved to cgeo/send2cgeo#8

[2015-06-26 06:44] #3094 closed

[2015-06-26 06:44] Lineflyer commented on #2396
This issue was moved to cgeo/send2cgeo#9

[2015-06-26 06:44] #2396 closed

[2015-06-26 06:45] Lineflyer commented on #2116
This issue was moved to cgeo/send2cgeo#10

[2015-06-26 06:45] #2116 closed

[2015-06-26 06:45] Lineflyer commented on #1985
This issue was moved to cgeo/send2cgeo#11

[2015-06-26 06:45] #1985 closed

[2015-06-26 06:46] Lineflyer commented on #1946
This issue was moved to cgeo/send2cgeo#12

[2015-06-26 06:46] #1946 closed

[2015-06-26 06:46] Lineflyer commented on #1334
This issue was moved to cgeo/send2cgeo#13

[2015-06-26 06:46] #1334 closed

[2015-06-26 06:46] Lineflyer commented on #689
This issue was moved to cgeo/send2cgeo#14

[2015-06-26 06:46] #689 closed

[2015-06-26 07:02] Lineflyer commented on #5057
This issue was moved to cgeo/send2cgeo#15

[2015-06-26 07:07] rsudev opened #5062 "Build failure: [INSTALL_FAILED_UPDATE_INCOMPATIBLE]"
@mucek4  Can you check this?
[code]

[2015-06-26 07:58] kumy commented on #3273
Are you sure this issue should be moved?

[2015-06-26 08:40] Lineflyer commented on #3273
You are right. Will move it back soon.

[2015-06-26 11:49] Lineflyer commented on #2270
DONE! :-)

[2015-06-26 11:49] #2270 closed

[2015-06-26 11:51] Lineflyer commented on #4953
Feature release is complete.

[2015-06-26 11:51] #4953 closed

[2015-06-26 11:52] Lineflyer commented on #4453
Not happening anymore on that users device.
Seems to be fixed as well by increasing heap size.

[2015-06-26 11:52] #4453 closed

[2015-06-26 11:53] Lineflyer commented on #4922
Closing due to lack of feedback.
I assume that this should be fixed as well as we had no more OOM reports for S3 on Google Play.

[2015-06-26 11:53] #4922 closed

[2015-06-26 11:58] Lineflyer opened #5063 "NPE in CacheDetailActivity"
From Google Play for versions 2015.06.15 and 2015.06.19 on Android 4.4 and 5.x devices:

[code]

[code]

[2015-06-26 12:00] Lineflyer commented on #4474
Opened a new issue for this one for a newer Google Play report, therefore closing this issue.
#5053

[2015-06-26 12:00] #4474 closed

[2015-06-26 12:02] Lineflyer commented on #4869
No longer appearing since some months in the Google Play reports.
Possibily implicitly fixed with the fix for #3569.

[2015-06-26 12:02] #4869 closed

[2015-06-26 12:03] Lineflyer commented on #4820
No longer appearing in the Google Play reports of newer release.

[2015-06-26 12:03] #4820 closed

[2015-06-26 12:04] Lineflyer commented on #4520
This report is outdated and possibly superseeded by #5054

[2015-06-26 12:04] #4520 closed

[2015-06-26 12:05] Lineflyer commented on #4626
This report is outdated and possibly superseeded by #5054

[2015-06-26 12:05] #4626 closed

[2015-06-26 12:05] Lineflyer commented on #4473
Still happning in 2015.06.19.

[2015-06-26 12:07] Lineflyer commented on #4473
[code]

[2015-06-26 16:13] kirchwitz commented on #4922
As I had opened this ticket, please allow me for some final words. I got so used to the workaround of not loading the maps that I finally preferred this setting. Saves time when storing caches, and I've never used the map anyway. It just looks nice but isn't of any real help while going geocaching.

I feel guilty that I don't need the fix any longer but as it was in fact a problem I hope that othe

[2015-06-27 07:34] ldmpub opened #5064 "Suggestion: need a way to manage/switch between several gc.com accounts easily"
Hi,

For personnal reasons I use 2 differents gc.com accounts. My request is to:
- store these 2 differents accounts in c:geo simultaneously
- provide an easy way to swicth between them.

Notes:
- the best I think is to ask/select the account to use at c:geo startup
- this need of several "c:geo profils" on the same device may be usefull for other c:geo settings (for instance background color ...)

[2015-06-27 09:50] SammysHP commented on #5064
Once we decided against it because stored caches contain information about the account (e.g. found it status).

Using different profiles for everything in c:geo is possible by using the account functionality in recent versions of Android.

[2015-06-27 09:54] Lineflyer commented on #5064
This would requite major reworks as all the information storage is bound to a spcific user account (as already mentioned by @SammysHP) and might be useful only for a minor percentage of users.
I vote against it.

[2015-06-27 20:01] Lineflyer opened #5065 "Child waypoints of exported GPX missing on reimport"
I got several independent users on FB and support who report, that they export a GPX from c:geo for caches with waypoints and some (or all) of these waypoints are missing  when reimporting it on another c:geo installation.
Both versions 2015.06.19

Did not have time to retest this yet.

[2015-06-28 16:14] madankumarbaskaran commented on #4873
@rsudev Appreciate your clear explanation. I implemented to upload the notes and tested on opencaching.de; it is working fine. But I could not find a solution to identify the opencaching sites which supports upload note feature. Should we need to hardcode to check for opencaching sites and show upload if it is .de,.pl and  hide if it is .us?  Please share your thought.

[2015-06-28 20:09] Lineflyer commented on #5065
Confirmed!
I created some custom waypoints on a saved cache, then exported it with c:geo and reimported it on another installation.

All of those waypoints are missing although they are contained in the exported GPX.
Log on import device shows no error.

This is a "major regression".

[2015-06-28 20:40] Lineflyer commented on #4978
I can not reproduce this.
Can you @SammysHP with the current master?

[2015-06-29 06:47] Lineflyer commented on #4978
But I seem to have something similar in the logbook view.
While reading logs it sometimes happens, that it jumps back to the top (maybe while/after loading smiley images?).

[2015-06-29 08:28] Lineflyer commented on #4265
Added one device.
Can someone include those devices (not yet checked as done) to the exclusion list for HW-acceleration?

[2015-06-29 08:53] Lineflyer commented on #4265
Done

[2015-06-29 09:30] SammysHP commented on #4978
I reproduced it with yesterday's nightly, but cannot reproduce it today with the same version :/ (even tried it with GPRS only and un-cached caches)

[2015-06-29 09:32] SammysHP commented on #5065
I think this is related to #5044.

[2015-06-29 09:34] SammysHP commented on #4097
OK, let's close this. We have the non-jit nightly build running and that's all we can do. If it works in the future, it will be a side effect of other changes (e.g. Mapsforge update, ROM update etc.).

[2015-06-29 09:34] #4097 closed

[2015-06-29 19:19] Lineflyer commented on #4978
Oh yes...slow network could be causing it. While it was happening last time I was almost without network.
So it seems something is still loaded and after it finishes the view is recreated.

[2015-06-29 19:23] fritzfan opened #5066 "Copy parts of cache description e.g. coords to waypoint"
the description of a multicache contains a list of waypoints (e.g. http://coord.info/GCY803)
I can't find a way to copy coords of a station to waypoint - longpressing text select the whole text for copying to clipboard or for translating. finally I solved my problem using an external file to select described coords and copy to waypoint - this last part then worked great for me.
Samsung Note3 Andro

[2015-06-29 19:46] kumy commented on #4978
https://github.com/cgeo/cgeo/blob/master/main/src/cgeo/geocaching/CacheDetailActivity.java#L215
Could be the cause, but I can t remember when this code was merged... Was it before May 26?

[2015-06-29 19:59] kumy commented on #4978
Merge was done on Mar 28 https://github.com/cgeo/cgeo/commit/187f4c41303b1f9c45d2d67b51b79a14870e82dc
So date don't match.

[2015-06-29 20:05] Lineflyer commented on #4978
The date the issue was reported does not need to be the date it was introduced..it could still be the cause.

[2015-06-29 20:19] Bananeweizen opened #5067 "Automatically sort by name"
We already sort lists by date if they contain only event caches. We could sort by name automatically if we recognise a common prefix in all caches of a list.

[2015-06-29 20:22] Lineflyer commented on #5067
Title corrected :) That was a good one ;)

[2015-06-29 21:39] kumy commented on #4978
Issue has been opened before the new code. But I agree it could be also(?) a cause.

[2015-06-29 21:46] kumy commented on #5067
This remind me something...
Isn't it a duplicate of #4707 ;) ?

[2015-06-30 06:26] Lineflyer commented on #5067
Yup, it is.

[2015-06-30 06:26] #5067 closed

[2015-06-30 06:29] Lineflyer commented on #4978
@Kumy: Isn't it the other way around? Code was merged March 28th, Issue opened May 26th.

As fasr as I understand a `notifyDataSetChanged();` is issued here after async loading of trackable information has completed.
This is for sure new at this place as with only GC-TB they have been loaded with the listing but never in background. Question is (which I can not answer) whether this change notifica

[2015-06-30 06:30] Lineflyer commented on #5066
Duplicate of #3819

[2015-06-30 06:30] #5066 closed

[2015-06-30 06:34] Lineflyer opened #5068 "Upload strings from master to Crowdin"
I do see some untranslated strings on `master` which would need to go to Crowdin to get translations.

[2015-06-30 06:56] kumy commented on #4978
My apologies, I was confused by the month (thought they were the same :D).

[2015-06-30 07:05] rsudev commented on #5068
Just yesterday I was thinking whether now is the time to switch back to translating master...
I can do this today evening.

[2015-06-30 07:33] Lineflyer commented on #433
@kumy
Did you touch this topic while working on the GeoKrety implementation.
This is a rather old issue without any update and meanwhile for sure a lot of things changed.

[2015-06-30 07:47] Lineflyer opened #5069 "Geopoint Parse Exception"
This error started to raise just yesterday on GooglePlay.
Can that be caused by a website change?

Version 2015.06.19
Several Android versions, several devices

Message:
Crashed while loading/opening caches

[code]

[code]

[2015-06-30 08:15] kumy commented on #433
@Lineflyer I remember a comment in the code about that.
https://github.com/cgeo/cgeo/blob/master/main/src/cgeo/geocaching/Geocache.java#L342-L348

I let it "as is". This could have been taken into account in #4911 too, but that not the case.

[2015-06-30 11:05] Christian-X commented on #87
I very much like the "label" or "tag" based approach.

I would take it even one step further, and export that label/tag to the personal note for platforms that support this (there is some hassle about updating this field, length limit).

The benefit would be, that you could add the categories (like "#todo,#dtmatrix,#challengexy,#holiday") on any device and it will sync when updating the personal n

[2015-06-30 19:07] kumy commented on #4978
@Lineflyer assigning for testing

[2015-06-30 19:07] kumy commented on #4978
PR #4908 updated too

[2015-06-30 22:23] rsudev commented on #5068
Upload done, German ready for proofreading...

[2015-06-30 22:23] #5068 closed

[2015-06-30 23:08] MrYaz opened #5070 "Owner related log types not always available on own caches"
I have found on several occasions that I cannot post a Owner Maintenance log on my own caches.
The log types Archived and Disabled are also missing in the log type dropdown list.
But sometimes the log options are available.
I have not figured out yet when they are available and when they are not.

[2015-06-30 23:19] MrYaz commented on #5070
I just noticed that it helped to rotate the device to landscape mode and back to get all log types back againn.
Se attached screenshots.

Before rotating the device:
![screenshot_2015-07-01-01-07-59](https://cloud.githubusercontent.com/assets/1811963/8444246/fab0cfcc-1f8e-11e5-8f2f-c4303afb4386.png)

After rotating the device:
![screenshot_2015-07-01-01-08-09](https://cloud.githubusercontent.com/a

[2015-07-01 06:26] Lineflyer commented on #5070
That is strange and not reproducible for me.
Can you please complete the following information:
1. c:geo Version
2. Was this owned cache saved in your lists?
3. Did you have network coverage when starting when invoking the log window?

[2015-07-01 06:36] Lineflyer commented on #4978
That will be hard to test. I will keep this open and try to see if this happens again next weeks.

[2015-07-01 06:47] LeXeRLV commented on #87
Hello!
From my opinion it would be fantastic feature, not use only predefined
filter things and use two or three of hash tags or just have cache
different lists at the same time.

-
Ar cieņu,/С уважением,/Best regards,
Dmitry Livmanis
GSM: +371 26544554
E-mail: Dmitry.Livmanis@gmail.com
On Jun 30, 2015 2:05 PM, "Christian" <notifications@github.com> wrote:

[2015-07-01 07:08] Lineflyer commented on #5068
Proofread german (but adapted some strings...feel free to review again if needed).

[2015-07-01 08:41] MrYaz commented on #5070
1. Nightly build 2015.06.30-NB-51ac2bc, but this bug has occured to me for several months ago as well. I always run the latest NB
2. Yes, it was saved in a list
3. Yes I have network coverage and it happens at home as well with wifi connection.

It is very random behavior and occurs on approx. 30% of my tries.
It also seems like it's device dependent because on my Z3compact it doesn't happen at al

[2015-07-01 17:39] Bananeweizen commented on #4950
Semantic changes like this one should not be done by simply changing the translation string. Because no translator will recognize the change. In such cases you have to modify the _key_ of the translation (in Java source) to invalidate all existing translations.

[2015-07-01 18:52] Lineflyer commented on #4950
No. We have learned meanwhile that Crowdin automatically resets the translations is the source is changed (or our script for Corwdin does it?)

[2015-07-01 19:56] michag86 commented on #4228
Nothing new here? There is still no way to define the Waypoint name (not the type) that is created from personal note?

[2015-07-01 20:01] SammysHP commented on #4228
We have 467 open issues. We have 2-8 developers (depending on activity). So please don't expect instant issue resolving. ;)

[2015-07-01 21:15] chris2016 commented on #5048
I'm not yet through all the code but it is not related to the onFocus of the bearing edittext. You can change it and then it will never popup the keyboard onFocus. It is only coming after the dismiss dialog function.

@Override
    public void updateCoordinates(final Geopoint gp) {
        buttonLat.setText(gp.format(GeopointFormatter.Format.LAT_DECMINUTE));
        buttonLon.setText(gp.format(Geo

[2015-07-01 21:30] rsudev commented on #5048
@chris2016  Thanks for chiming in. I'll assign it 'virtually' to you (setting myself as stand-in)

[2015-07-01 23:15] chris2016 commented on #5048
I found a solution.

1. In the onCreate method of EditWaypointActivity call   getWindow().setSoftInputMode(WindowManager.LayoutParams.SOFT_INPUT_STATE_HIDDEN);

This prevents the Keyboard showing up if the focus on the Popup was changed. Unfortunately if you dont change the focus e.g. select lat or lon box than the keyboard still appears(Just open the Dialog and close it without changing the focus

[2015-07-02 07:51] Hauwertlhaufn commented on #5070
I've tried it on my device for about 20 times now, but it never happened.
Owned Caches are also saved in list and
mobile data is also avaliable.

--- System information ---
Device: Nexus 5 (hammerhead, google)
Android version: 5.1.1
Android build: LMY48B
Cgeo version: 2015.06.30-NB-51ac2bc
Google Play services: enabled
Low power mode: active
Compass capabilities: yes
Rotation sensor: present
Geoma

[2015-07-02 07:51] Lineflyer opened #5072 "Support import of GGZ files"
From support mail:

Some applications (like GSAK and Garmin tools) support a compressed GPX format named GGZ.

While this officially is a propriertary solution for Garmin devices, it seems to be just a zipped GPX with a small folder structure inside (containing a XML file specific to Garmin(?) and a normal GPX).
As it seems to be a valid ZIP archive, might it be possible to enable c:geo to import

[2015-07-02 08:14] mucek4 commented on #5072
.zip or .gz?

[2015-07-02 08:37] bafa1012 opened #5073 "NPE in ViewTarget"
Happened with Android 4.2.2, 4.3 and 4.4.2 on following devices:
- Samsung GTN7100
- Samsung G350L
- Positivo Mini

java.lang.NullPointerException
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;at com.github.amlcurran.showcaseview.targets.ViewTarget.getPoint(ViewTarget.java:41)
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;at com.github.amlcurran.showcaseview.ShowcaseView$1.run(ShowcaseView.java:166)
&nbsp;&nbsp;&nbsp

[2015-07-02 08:42] bafa1012 commented on #5073
Nevermind, wrong project

[2015-07-02 08:42] #5073 closed

[2015-07-02 08:48] SammysHP commented on #5072
[code]

[2015-07-02 14:24] Lineflyer opened #5074 "Many crashes on map"
Each time i want to open a cache from the map cgeo crashes.
No further details as I am on the road.

At least nighty users are affected. No idea if release is also affected.

[2015-07-02 14:47] Hauwertlhaufn commented on #5074
Same here. It only happens, when I try to open a cache, that isn't saved offline.

[2015-07-02 15:37] mucek4 commented on #5074
You can open a cache from map in release.

[2015-07-02 20:50] Lineflyer commented on #5074
I did now reach a state where I can no longer open any unsaved cache.
Falling back to release for this weekend.
Can someone provide a log for this...I can only do that next week

[2015-07-02 21:26] rsudev commented on #4978
@kumy I had to revert you implementation as it caused #5074
Unfortunately I didn't have the time to dig deeper here...

[2015-07-02 21:28] rsudev commented on #5074
Probably caused by side-effect of implementation for #4978, should be fixed in next nightly as I reverted the change.

[2015-07-02 22:12] kumy commented on #4978
@rsudev ho sorry! Thanks for taking time to revert.
I'll not have time to look soon. I'll be at http://coord.info/GC5DMA1 ;)
Can someone catch a stack trace?

[2015-07-02 22:13] kumy commented on #4978
"Same here. It only happens, when I try to open a cache, that isn't saved offline."
Hum, never check that :( All my tests were on saved caches.

[2015-07-02 22:16] kumy commented on #4978
[code]

[2015-07-02 22:19] kumy commented on #4978
GKM response arrives before cache has been loaded, and try to add the inventory page. Error is coming while trying to find page order.

[2015-07-02 22:20] kumy commented on #4978
Ra-Assign to me, but if someone would like to look, feel free to do.

[2015-07-03 13:32] Hauwertlhaufn commented on #5074
With the newest nightly the problem is fixed on my device.

[2015-07-03 17:27] rsudev commented on #4873
@madankumarbaskaran Unfortunately I didn't have time to come back to you earlier. In a sense the capabilities of the opencaching sites are 'hardcoded', but only at initialization time.
In the ```ConnectorFactory``` you can observe the last parameter for the ```OCApiLiveConnector``` instances. It is either ```ApiSupport.oldapi``` or ```ApiSupport.current```. This setting is stored in the base class

[2015-07-03 20:21] rsudev commented on #5062
Any chance to have a look? Or anything I can do?

[2015-07-03 20:47] rsudev commented on #4978
The issue is, that ```CacheDetailsActivity.getOrderPages()``` can only be called, after the cache is loaded. Currently I have no clear idea how to achieve that...

[2015-07-03 20:51] rsudev commented on #5074
So I close this issue, needs to be considered when testing the next implementation for #4978

[2015-07-03 20:51] #5074 closed

[2015-07-03 21:10] Lineflyer commented on #4978
Some time ago I opened another issue that loading GKs is not fitting into our current strateg anyway. We load them on every opening of the cache details...This fact implies the problem described here. Maybe we should fit the Gk loading into the strategy that for an offline saved cache no online access should be necessary....so load Gk inventory while saving it but not updating it on the fly.

[2015-07-03 21:12] rsudev commented on #5063
Could be related to #4978
Some view, which normally is there is already destroyed it seems, but I couldn't find a clear scenario to reproduce this.

[2015-07-03 21:35] rsudev commented on #5069
Meanwhile the reported issues for this ceased again.
I would assume it was a change on the website in conjunction with #5051 - so should be fixed on master.

[2015-07-04 19:08] rsudev commented on #4733
Seems to be a side-effect of 56cefb30ade3425a0a45a266a5a4f90bb4399c30, specifically the change in GPXParser.java,434
No idea what this should achieve, reverting this specific change makes the import work again. Can also be related to #5065

[2015-07-04 19:21] rsudev commented on #4873
@madankumarbaskaran to answer you question from IRC:
- All sites which support the 'current' api should also support personal notes (AFAIK)
- in order to see how this is used, you can look at the watchlist feature

perhaps more tomorrow

[2015-07-04 19:24] madankumarbaskaran commented on #4873
Thanks rsudev. Got your point.

[2015-07-05 17:54] madankumarbaskaran commented on #4873
@rsudev Please review my PR.

[2015-07-06 18:49] kumy commented on #87
Someone at an event asked me about such a feature, "label" or "tag" would ideally fit his use case.

[2015-07-06 19:55] Lineflyer commented on #4607
This is done.
THanks to @madankumarbaskaran for your contribution

[2015-07-06 19:55] #4607 closed

[2015-07-07 07:03] Lineflyer opened #5077 "Support animated GIF in cache description"
From support mail:

The official app as well as some of the other available apps do support animated GIF in cache listings. Those might carry important information for some caches.

Example: http://coord.info/GC5D6AC

[2015-07-07 07:07] Lineflyer commented on #5069
I can still see some occurences on Google Play Console starting with yesterday.
What should be the visual difference on the website for this coordinate parsing failure?
Normally those are always shown as WGS84 on the website...

[2015-07-07 07:10] Lineflyer commented on #5070
I was also not succesfull in reproducing this.

[2015-07-07 07:11] Lineflyer commented on #4972
Closed due to lack of feedback.
Issue not reproducible for me.

[2015-07-07 07:12] Lineflyer commented on #4921
We have added a workaround description to the FAQ and (kind of) verified that it is not c:geo causing this.
So closing with "Wont Fix" for now.

[2015-07-07 07:14] Lineflyer commented on #4976
More complaints received by users who I met on Luxemburg MEGA for this.
Those users have been in roaming mode (no data connection) which leads to a delay of quite some seconds when clicking on an offline stored lab caches for that event.

[2015-07-07 07:22] Lineflyer commented on #5044
Details have been sent to @Bananeweizen via mail. (GPX example file from GSAK).
Might indeed be related to the general issue #5065 and therefore caused by 56cefb30ade3425a0a45a266a5a4f90bb4399c30 as @rsudev mentioned in https://github.com/cgeo/cgeo/commit/56cefb30ade3425a0a45a266a5a4f90bb4399c30#commitcomment-12003270

[2015-07-07 21:34] kumy commented on #4802
Collection request is implemented in GKM Api
Ex: http://api.geokretymap.org/export2.php?wpts=GC5GQXH,GC5QPBK,,GC5BYWV,GC2DX0V,FOOBAR

Request is limited to the first 20 tokens at the same time.

I have some test code in branches:
https://github.com/kumy/cgeo/commits/issue-4802
https://github.com/kumy/cgeo/commits/issue-4802-bis

[2015-07-07 21:40] kumy commented on #4823
Need #4991 for that

[2015-07-07 21:52] kumy opened #5078 "Upload picture while sending GeoKrety logs"
On GK website, once a log has been submitted, images could then be attached.
This is not yet implemented as an API at GK. So we cannot start working on that.

[2015-07-07 21:57] kumy commented on #4978
@Lineflyer  I agree, and the issue you mentioned is #4779.

[2015-07-07 22:00] kumy commented on #4779
I have some test code https://github.com/kumy/cgeo/commits/issue-4779
From memory, GenericTrackables are loaded while storing a cache. But this code wait for every connectors to finish. If one is down, I think delay/timeout will occur.

[2015-07-08 04:45] bfankd opened #5079 "Can't import 2 new geocaches, while other work"
HI
I received a mail anouncing a new GC. Normally importing from mail or by gc-code search works perfectly but for these 2 new GC:
GC5YR5P and GC5YR9B

Thanks for fixing.
My System: Samsung S4 GT-I9505 BE AUT, Android 4.4.2 stock rom, rooted. C:GEO 2015.06.19

[2015-07-08 05:24] rsudev commented on #5079
I was able to to reproduce this right now. It doesn't seem to be tied to these specific caches, but to a change on the website and the fact, that they contain waypoints.
Seems to be related to #5051. I was able to save a website with this content, will take a look.

[2015-07-08 06:37] Lineflyer commented on #5069
OK, there was a website change last night.
Now this is also appearing to me with 2015.06.07-NB when updating caches.
Refresh caches is hanging in "Creating waypoints".

So this one is an urgent one!

[code]

[2015-07-08 06:38] Lineflyer commented on #5079
Indeed. Duplicate of #5069 and related to a website change probably (as I just got release notes from the forum).

[2015-07-08 06:38] #5079 closed

[2015-07-08 06:42] Lineflyer commented on #5069
It seems all geocaches with waypoints are affected. Simple traditionals without any waypoint refresh and load OK.

[2015-07-08 06:46] rsudev commented on #5069
You can see in the waypoint table that the coordinates are now shown in dd.ddd format, no longer in dd° mm.mmm as before...

[2015-07-08 14:04] Lineflyer commented on #5069
Reopening for test.
@rsudev Will this fix work with both formats? (MinDec and Decimal)

[2015-07-08 14:22] Lineflyer commented on #5069
Confirmed working (while the website is using decimal format) with 2015.06.08-NB1:
Caches are loaded and refreshed without any exception and resulting waypoints have correct coordinates.
I cannot judge however if it will be still working in case they fall back to MinDec format on the website, but reading the geopointparser unit tests I assume it should work?!

[2015-07-08 14:38] #5069 closed

[2015-07-08 15:48] Lineflyer opened #5080 "Version 2015.07.08 has been released - Tasks left"
- [x] Tag the release on Github
- [x] Upload APK to Github
- [x] Remove problem notification and set release notification as soon as release is available

As I will be unavailable soon until tomorrow afternoon it would be good if someone can take care of that please.

[2015-07-08 15:53] Lineflyer opened #5081 "Fix legacy version?"
Issue #5069 would have to be fixed on `legacy` as well, if

- they are not going to revert that change on server side
- we still want to do maintain the legacy version

Just as a reminder to decide upon in some days.

[2015-07-08 20:02] Lineflyer commented on #5080
DONE

[2015-07-08 20:02] #5080 closed

[2015-07-09 07:19] Lineflyer commented on #5081
As the change causing #5069 was rolled back on the server side there is currently no need to fix something on `legacy`.

[2015-07-09 07:19] #5081 closed

[2015-07-09 07:19] Lineflyer commented on #5062
Seems solved.

[2015-07-09 07:19] #5062 closed

[2015-07-09 07:24] Lineflyer commented on #5065
@Bananeweizen I don't know exactly what's going on here but from what was written in other issue and commit message this seems somehow related to those terracaching import changes you made earlier. Can you take a look on that? We keep getting complaints for this regression as of course a basic function of GPX importing is affected.

[2015-07-09 11:27] Lineflyer opened #5082 "Managing fav points not possible"
From FB and verified with current nightly:
Not possible to add or remove favorite points.
An error toast is shown.

[2015-07-09 12:54] Lineflyer commented on #5082
Seems to be a website change:

[code]

[2015-07-09 13:16] Lineflyer commented on #5082
OK...some minutes later its working again for the same cache on the same device in the same session:
It seems not to be a stable thing.

[code]

[2015-07-09 13:37] MrYaz commented on #3581
Too bad this has been closed!
I totally agree with @Lineflyer on this one!

I have always missed to be able to see the D/T/Size directly in the Radar app.
With a very short term memory as myself I have to exit the app to see what D-rating it has, only to exit the app 20 seconds later to see what the T-rating is, and exiting again a few seconds later to refresh my memory what D-rating it has. And w

[2015-07-09 19:15] madankumarbaskaran commented on #3524
May I work on this feature request?

[2015-07-09 19:26] Lineflyer commented on #3524
AFAIR we agreed some time ago not to implement more dedicated social network support but to just keep Twitter (as it was there and also offers crossposting to other social networks). So, I vote for not implementing this.

[2015-07-09 19:38] SamuelPlentz commented on #5008
IMO it should be related to issue #2558.

[2015-07-09 19:50] SamuelPlentz commented on #5037
I also like option. (a)

Filters or lists have disadvantages on the live map that I use 90% of the time. The cache is either completely hidden [filter] or shown [list] on the live map. I want to decide for each tour I make if I have a ladder, a boat, other equipment, the time, etc. for the cache.

[2015-07-09 20:36] Lineflyer commented on #5008
@SamuelPlentz
No, not really.
This one is about the fact that waypoints of disabled caches do not give the information that the parent cache is disabled (but it is shown intentionally on the map) whereas the other issues deals with hidden caches where their waypoints are still being displayed.

[2015-07-09 20:36] SammysHP commented on #3524
Additionally I'm of the opinion that G+ is not the right platform for such automated status updates.

[2015-07-09 20:36] Lineflyer commented on #5082
Keeps happening randomly but 90% it fails

[2015-07-09 20:41] SamuelPlentz commented on #5008
I once looked into implementation details of #2558. IMO they should be technically related. The problem for both issues is that a waypoint has no direct access to the according cache. (AFAIR)

[2015-07-09 21:28] madankumarbaskaran commented on #4705
May I work on this request?

[2015-07-09 22:31] SammysHP commented on #4705
Sure, but please explain your ideas here first.

[2015-07-10 06:03] LeXeRLV commented on #5065
Yes, I agree with this problem too!
We thus week go for cache with hand written in 42 waypoints and it is
stupidly for now, that I can't give others my saved logs through GPX export
file of the cache, so each of them need to write points by himself.
Too old school :-D

-
Best regards,
LeXeR_LV
On Jul 9, 2015 10:24 AM, "Lars" <notifications@github.com> wrote:

[2015-07-10 09:20] rsudev commented on #5065
I basically reverted the change in GPXParser as discussed in 56cefb3 based on release but first merged to master as a preemptive measure to allow broader testing while this is still under consideration.

[2015-07-10 09:53] rsudev commented on #5082
It really looks like a server-side issue to me. This morning I tried - fail. Right now it works on the same cache...
Taking a look at the actual communication of the website, it still is the same AFAICS.
Not sure what we can do here...

[2015-07-10 10:43] Lineflyer commented on #5082
Strange is that it seems to work reliable on the website itself at all times....mmh.

[2015-07-10 17:25] rsudev commented on #5082
I tried to research a little more this evening and it really looks kind of strange.
Sometimes the userToken (after the ```u``` in the above log) stays the same, sometimes it changes within the page when requesting the fav-points or setting them.
And  right now I even had an instance, where the request failed on the website - the page came from the cache and the userToken was seemingly wrong and I

[2015-07-10 18:24] SammysHP commented on #5082
I observe this behavior already for some weeks. Most of the time the favorite statistics are not loaded.

[2015-07-10 19:44] SammysHP commented on #1036
Fixed by 71629eecbed3793ec62f1e769927d52b773e27a0

[2015-07-10 19:44] #1036 closed

[2015-07-10 20:56] SammysHP opened #5083 "Quick search with 6 characters interpreted as trackable"
In 71629eecbed3793ec62f1e769927d52b773e27a0 @Bananeweizen fixed #1036 unintentionally. Now every six character word is interpreted as a secret trackable code.

The downside of this (as remarked by @rsudev) is, that you cannot search for a keyword (that is no secret trackable code) with six characters anymore.

[2015-07-11 08:06] mucek4 commented on #5083
In this case I vote for doing 2 requests. If trackable is find display TB or show results.

[2015-07-11 08:41] Lineflyer commented on #5082
I think in this cas ewe should just wait and see how this develops. Also on FB people report, that the website has the same problems.

[2015-07-11 09:03] madankumarbaskaran commented on #4705
@SammysHP I read the requirement and thought to implement it. My understanding is to create a backup of CGEO database in google drive and  it can be implemented using Google drive API. Please correct me if I am wrong. Happy to take other ideas for adding cloud feature.

[2015-07-11 09:21] SammysHP commented on #4705
It is not only the database, also the data directory. Also there might be more than one database file.

Please explain a little bit more how you want to implement it. Classes, necessary modifications, …

[2015-07-13 01:26] akkatracker commented on #5083
@mucek4 that is probably the best way. If you're unlucky and the secret code is what you're looking for then I don't know.

[2015-07-13 06:53] kumy commented on #5083
In #4822 we have a similar problem. @Bananeweizen proposed: "I suggest not to do something automatically, but just to present a list selection to the user, where he needs to choose the wanted connector in case of multiple possible ones, and then we continue as of now."

[2015-07-13 08:32] Lineflyer commented on #4705
Maybe this should be postpones until we have a clear view on planned restructuring of the storage mechanisms? I am refering to #4957 and associated issues.

@marco-dev @madankumarbaskaran
Maybe it makes sense (given that you are interested) that you work together on these storage things (#4957)?

[2015-07-13 15:14] guettli opened #5085 "Please update FAQ: .cgeo directory fills up my internal sdcard: How to delete not needed data?"
Please update the FAQ:

The .cgeo directory fills up my internal sdcard of my android phone.

How to delete not needed data?

Thank you very much.

[2015-07-13 15:35] guettli commented on #5085
I helped me like this:

Install SSHelper. Start SSH-Server on android device.

Connect to the device:

[code]

This freed a lot of space.
But I guess there are easier and better solutions.
I am curious, please leave a comment if you know a better solution.

Thank you.

[2015-07-13 15:45] SammysHP commented on #5085
First at all, you don't need an SSH server. You can access the external storage with any file manager available for Android.

Second, usually every cache stores images, static maps etc in that directory. Once the cache is deleted from the device, the memory is freed three days later. There were some bugs in the past, but they are fixed. If you're unsure about it, there is a option in the preferenc

[2015-07-13 15:45] #5085 closed

[2015-07-13 17:27] TofLaBeuze opened #5087 "Keep same zoom level when switching between map and list"
Hi c:geo team,
when managing an offline list, I display it on a map (with "earth map" button), zoom one or several times, then I go back to the list (by mistake by touching "back" or by purpose - maybe filter), then back again on a map : Unfortunately, the last zoom level has been lost.
It could be an option, as each people could have his preference.
Thanks for considering this.

[2015-07-13 17:32] TofLaBeuze opened #5088 "Lost position in a list when opening and removing a cache"
Hi all,
a bit (but not so much) uncomfortable case : I am in a list, I open a cache, then inside the cache description, I remove it with button "remove" next to the "reload" one. Back to the list, I have lost the current position where I was...
Other case : If I open the cache, then press "back" without removing it, the current position is kept.
Other case : If I remove the cache directly in the l

[2015-07-13 20:30] Lineflyer commented on #5087
This map function does what it is intended to do, i.e. showing all the caches on a map and adjust the zoom level accordingly. We already remember the last zoom for some cases, this however is not one of them intentionally. I suggest you split your lists into matching geographical areas...c:geo can support a nearly unlimited number of lists.

I am against an options for that, because:
- More compli

[2015-07-13 20:32] Lineflyer commented on #3668
This did not reappear in the last months.
Closing for now.

[2015-07-13 20:32] #3668 closed

[2015-07-13 20:34] Lineflyer commented on #5088
That sounds like a valid UI improvement proposal to me.

[2015-07-13 20:37] TofLaBeuze commented on #5087
Thanks for your feedback, Lars.
Could you please explain why it is intentional in this case to not remember the last zoom, and to remember it in other cases ? (why this use case is different)
The option I suggested could maybe related only to last list used (last map-last zoom level-last list consistency).

[2015-07-13 20:38] TofLaBeuze commented on #5088
Thanks Lars.

[2015-07-13 21:21] madankumarbaskaran commented on #4873
@rsudev Updated as you suggested. I raised the new PR. Sorry for the confusion. Please advice for any changes.

[2015-07-14 09:44] Lineflyer commented on #4976
More complaints coming in on support mail:
In fact this is not only happening for lab caches but it seems for all unknown caches (e.g. also self created GPX with waypoints in it).

Renaming the issue accordingly.

Without knowing the code at that point, it seems that the "filter" used to check for which caches a request to gc.com shall be send is faulty in a way that it lets cache from unknown sou

[2015-07-14 12:11] kumy commented on #4976
I've quickly looked at the issue, and proposed two way of fixing.
May someone have a look at those commits? Which one do you prefer?

https://github.com/kumy/cgeo/commit/800f15b6507fd5538c895325dae21820a7d01018
https://github.com/kumy/cgeo/commit/3c8bf180c02571d2f5045e7877f4b4dcae74af70

[2015-07-14 18:20] Bananeweizen opened #5090 "Don't update to AndroidAnnotations 3.3.2"
There was an update from 3.3.1 to 3.3.2. For me, the new version does not work in the main project. So please don't attempt an upgrade on your side.

[2015-07-14 18:42] #5090 closed

[2015-07-14 18:43] Bananeweizen commented on #5090
problem solved: Maven delivers a bundle without dependencies, so AndroidAnnotations can no longer be upgraded via the Maven script. It must be downloaded manually.

[2015-07-14 19:21] madankumarbaskaran commented on #4705
@Lineflyer Sounds good. Happy to work with @marco-dev on storage issue

[2015-07-14 19:22] webmicha commented on #4705
👍
Am 14.07.2015 21:21 schrieb "MadanKumarB" <notifications@github.com>:

[2015-07-14 19:29] Bananeweizen commented on #5044
I think this is fixed with the reversal. At least in my current version I can import the test file I got via mail, and have final location waypoints at some of the mysteries (assuming this is what was previously missing).

[2015-07-14 19:29] #5044 closed

[2015-07-14 19:30] Bananeweizen commented on #5065
To me this looks okay with the reverse by @rsudev. I've not seen such issues since then.

[2015-07-14 19:46] kumy commented on #4779
I think I will need some help here. I've made multiple attempts to implement this issue and each time I cannot achieve something I'm happy with.

Here are the main problems I encounter:

1. Load Trackables Asynchronously while cache is loading and do not block displaying CacheDetailsActivity in case of upstream outage (30 seconds timeout).

2.  Load trackables while:
 - consulting 'a never visited

[2015-07-14 21:22] Lineflyer commented on #1317
Just for info.
I think this topic was mentioned today on IRC: http://irclogs.cgeo.org/?year=2015&month=7&day=14

[2015-07-14 21:24] Lineflyer commented on #4930
Link to #1317 somehow

[2015-07-14 21:34] madankumarbaskaran commented on #4957
Hi @marco-dev. Please let me know if you like to share some work on storage issue. Happy to work with you.

[2015-07-15 10:52] Lineflyer opened #5091 "IllegalStateException short after editing personal note"
2015.07.13-NB but not clearly reproducible
- Open a saved cache
- Edit existing personal note and save it
- Select Upload

When selecting upload or short before just after saving the note c:geo crashes sometimes:
[code]

[2015-07-15 17:42] Bananeweizen opened #5092 "Use one dialog for username and password"
For services which need username and password, we should use a single dialog combining both. This should help in getting the credentials right for new users.

[2015-07-15 17:44] Bananeweizen opened #5093 "Automatically check login after first credentials supplied"
For a new installation, we should automatically trigger the "check login" functionality after the login credentials for geocaching.com have been supplied. The login needs to be executed anyway during the next steps to get some data, but it would be good to detect errors early, while the user is still in the settings.

[2015-07-15 19:24] Hauwertlhaufn commented on #5093
Imho that is a good idea, 'cause many users may think, that if there is no problem after you saved them, any problem afterwards couldn't be 'caused by the login-information.

[2015-07-15 19:53] kumy commented on #4933
Thanks to @mucek4 we've set up a new url on `cgeo.org` domain.
Note, this doesn't support SSL **yet**.
[code]

[2015-07-15 20:47] kumy commented on #4933
@rsudev I've wrote an very simple Api to trigger the update.
See https://github.com/GeoKretyMap/api-fdroid

I've allowed ci.cgeo.org IP to access the script.
Let me know how to transfer the secret code securely :)

[2015-07-16 07:05] Lineflyer commented on #5065
THanks for testing @Bananeweizen. Is was missing the time for that.
@rsudev You could/should merge that to release as well then.

[2015-07-16 07:21] mucek4 commented on #4933
OK @kumy I have send you SSL certificate you just need a key. Meet me on IRC.

[2015-07-16 07:53] MacGyver-NRW opened #5094 "OC Cachelist import"
I request a new feature wich can import cachelist from opencaching.de
It would be great to import GPX on my c:geo.
Cachelists may be available by OKAPI.
Save my own list or public listings on c:geo.
Thanks!
You will find any support at OC you need ;)

[2015-07-16 08:01] rsudev commented on #5094
@MacGyver-NRW GPX-import should work for any gpx, regardless of the source.
Do I understand correctly, that you would like to select a cache list you created on oc.de directly and download that into c:geo?
Can you give a hint, which OKAPI-method allows to access those cache lists?
Another question (to the broader audience) would be, whether to implement this sided with the gc.com PQ feature or in

[2015-07-16 08:10] rsudev opened #5095 "Open opencaching id-urls with cache/by_url method"
Some cache links from opencaching are sent suing the internal cache id instead of the waypoint (geocode). With the OKAPI-method 'by_url' it is possible to resolve those as well.

[2015-07-16 08:34] Lineflyer commented on #5094
We do not support the gc.com bookmark lists up to now (only indirectly if a PM creates a PQ for one of his lists. So for the way of implemenation it would need a new UI (which I agree could be used later on for lists from other sources as well).

[2015-07-16 08:39] Lineflyer commented on #5065
Reopening and assigning to @rsudev for merging into `release`

[2015-07-16 08:56] MacGyver-NRW commented on #5094
You can add it on Import Process...
"Import ->"
"-> Importiere aus GPX Datei"
"-> Aus dem Internet importieren"
"-> Import von Android"
"-> Import aus OC.de Cacheliste"
For method, i'm going to ask "following" as the developer on this feature.

[2015-07-16 09:53] kumy commented on #4933
@mucek4  thanks

New SSL certificate is installed.
[code]

@jspricke may you test the new urls please?

[2015-07-16 10:32] samueltardieu commented on #5091
Reopening and assigning to @Lineflyer for field testing before merge into `release`.

[2015-07-16 10:38] samueltardieu commented on #5064
I vote against it too. I propose closing this issue as this is solved easily by creating several accounts on the phone as indicated by @SammysHP. Please team reopen if you don't agree.

[2015-07-16 10:38] #5064 closed

[2015-07-16 10:59] samueltardieu opened #5096 "NPE in speech service"
From Google Play console for cgeo 2015.07.08:

[code]

[2015-07-16 11:01] samueltardieu commented on #5096
Reopening for field testing and inclusion in `release`.

[2015-07-16 11:06] Lineflyer commented on #5096
Can you give a test case for that or is it device depending?
Speech compass was working normal for me in the recent past.

[2015-07-16 11:11] Lineflyer commented on #4976
@samueltardieu
Any opinion from your side regarding the proposals by @kumy ?
I cannot judge the code based things however the first one is quite straight forward.

[2015-07-16 11:24] samueltardieu commented on #5096
There exists a race condition (exhibited in the stack trace) where the service was started before the target is set. I can't reproduce it either, but from the code the race condition exists.

[2015-07-16 11:27] samueltardieu commented on #4976
I prefer https://github.com/kumy/cgeo/commit/8c5dcd3128c7eb7a3242151c36b156b48c331f27 with maybe `size() == 0` replaced by `empty()` if that is available.

[2015-07-16 11:33] kumy commented on #4976
Thanks, I'll update patch this evening.

[2015-07-16 11:39] jspricke commented on #4933
Working fine, thanks a lot guys!

[2015-07-16 12:06] kumy commented on #4933
Still need to implement:
* trigger update from CI side
* maybe put the repo information on the website?
* fill the FAQ

[2015-07-16 12:16] samueltardieu commented on #4978
Can someone please have a look at 456abe438117dffebd46b0bce2d850b2b0be8038? It replaces the use of the loader by the use of an observable. If it appears that the result sometimes comes too soon, we can cache it very easily and have it handled only later (by virtually zipping it with a signal saying "UI is ready").

[2015-07-16 12:53] #4891 closed

[2015-07-16 17:58] kumy commented on #4976
@Lineflyer assigning for testing

[2015-07-16 20:30] Bananeweizen opened #5097 "evaluate nearby api"
https://developers.google.com/nearby/

would this make sense for cgeo? or is it as awkwards as creating a blutooth connection for sharing a cache?

[2015-07-16 20:34] rsudev commented on #5097
As far as I understood the feature-set, you will not be able to send larger amounts of data over this, just several kinds of 'indicators', like a url or a UUID. But it could be very worthwhile to take a closer look, as smartphones will be able to act as 'senders' as well.

[2015-07-16 20:38] samueltardieu commented on #5097
There are two things we would be able to use the new APIs:
- share caches, lists, with other people around (like at a mega);
- detect BLE beacons in caches.

[2015-07-16 22:13] Lineflyer commented on #4976
With 2015.07.17-NB1 I do no longer see requests send for lab caches.
The normal requests for GC-caches are still send. Looks fine for me to merge into release.

[2015-07-16 22:17] Lineflyer commented on #5091
With 2015.07.17-NB1 I could at least no longer provoke the problem by the steps written above.So OK for me to merge it into release.

[2015-07-16 22:18] Lineflyer commented on #5096
Are there maybe points in the app where a navigation can be started on a cache which has no coords?

[2015-07-17 07:36] #5091 closed

[2015-07-17 07:43] samueltardieu commented on #5096
Maybe.

[2015-07-17 11:15] steve8x8 opened #5099 "Export GPX - pass through gpsbabel - import GPX - fail"
I think the XML parser is a bit on the strict side: If I
  * export a GPX
  * run "gpsbabel -i gpx -o gpx -f export.gpx -F import.gpx"
  * try to import the resulting file

I get the famous XML parsing error.
gpsbabel 1.5.0-3 (Debian Jessie)

[2015-07-17 11:18] steve8x8 opened #5100 "GPX export doesn't contain "unlocated" waypoints"
Additional Waypoints besides their coordinates carry some more information ("Note:" text, waypoint type). Wpts with lat=lon=0 should not be excluded when exporting GPX.
(c:geo 2015-07-16 nightly)

[2015-07-17 11:19] rsudev commented on #5099
This is not too helpful - could you post the exported and mangled gpx? Everything else would mean fumbling in the dark.

[2015-07-17 11:22] rsudev commented on #5100
Just a remark: Waypoints without coordinates are, besides their frequent occurrence in the geocaching context, in violation of the specification.
Regarding your request: Do you really mean lat=0/lon=0 or lat/lon empty?

[2015-07-17 11:40] steve8x8 opened #5101 "Don't "flag" as solved if final loc is zero"
After importing a (crafted) GPX that contains a lat=0 lon=0 "Final Location" waypoint for a mystery cache (which is required because there's a note containing a hint and a formula), the blue symbol gets a flag added - despite the fact that the coordinates of the waypoint are zero. This is misleading. Can the flagging condition be changed to exclude wpt stubs like this?

[2015-07-17 11:44] rsudev commented on #5101
lat=0/lon=0 is a fully valid coordinate, so I am personally reluctant to introduce such a special case. Can't you put the information into the personal note instead? Or leave out the coordinates (I assume c:geo is able to at least import such a gpx)

[2015-07-17 16:01] Bananeweizen commented on #5094
There is no OKAPI method to get cache lists. And we surely will not start spidering the OC websites for this. Feel free to reopen, once OKAPI supports this.

[2015-07-17 16:06] Bananeweizen commented on #5099
If this is about empty lat/lon like in some other issues of yours, I'm tempted to close the issue. The GPX schema does not allow empty coordinates, and we are parsing this by means of XML parsing, not by means of String manipulation.

[2015-07-17 17:21] steve8x8 commented on #5099
@Bananeweizen: It's not - we're talking c:geo only here.
Let me start with a fresh c:geo (07-16 nightly), and fetch GC2WYQH. This doesn't even come with waypoints.
Store it to "Stored" which is otherwise empty. (Still no wpts.)
Enter cache description, select "Export > GPX", GC2WYQH.gpx gets written.
"adb pull" that file.
Run "gpsbabel -i gpx -o gpx -f GC2WYQH.gpx -F newGC2WYQH.gpx".
"adb push" th

[2015-07-17 17:39] steve8x8 commented on #5100
I saw this - with 07-16 nightly - for cache GC3TWEM, which has a Start (S1, with coordinates) and a Final (Z1, no coords as this is a multi-cache) waypoint when loaded from gc.com.
Exporting this cache results in a file GC3TWEM.gpx http://steve8x8.faehrwiese.selfhost.me/cgeo/issue5100/GC3TEWM.gpx which contains S1 but not Z1.
In this case, Z1 doesn't carry any extra information though - but if it

[2015-07-17 17:46] steve8x8 commented on #5101
OK, this seems to be related to issue 5100 - in a sense that there must be a difference between an undefined location (??? in GC cache listing) and a (0, 0) location (something that fits into a GPX properly).
Would c:geo be able to read a <wpt> that doesn't come with lat="..." and lon="..."? (In that case, it should also be able to write one!) Trying... indeed, that seems to work! (and gpsbabel do

[2015-07-17 18:02] #5072 closed

[2015-07-17 18:33] rsudev commented on #5099
This looks like a bug. The gpx from gpsbabel is GPX 1.0, something we should read as well, shouldn't we?

[2015-07-17 19:31] lukeIam opened #5102 "Support import of personal notes from GCComment"
It would be cool if c:geo could import comments from GCComment.
Since I am not a Premium Member at Groundspeak anymore, it has become indispensable for me. But I always missed the the sync of them to c:geo.
### GCComment
[GCComment](https://github.com/Birnbaum2001/GCComment) is browser extension for managing your personal cache notes for basic and premium members (option to sync them with GS's per

[2015-07-18 10:09] steve8x8 commented on #5101
Since importing waypoints without coordinates (using &lt;wpt&gt; tags without lat and lon info) works, I'd agree to close this issue.
Since exporting waypoints without coordinates doesn't work yet, it might rather be merged into issue 5100?
Thank you for your patience.

[2015-07-18 13:59] Bananeweizen commented on #5099
I have not verified if gpsbabel is still confused, but I'm quite confident that it will now work with schema valid GPX files.

[2015-07-18 19:29] triakcz opened #5103 "Nearby search when offline"
Hi,

I discovered, that when I go offline, nearby search feature is unusable at all. I would recommend showing 20 nearest caches from local storage with warning that it's only from local storage, because internet connection was not sucessfull.

What do you think about this ?

Sometimes it will help users with many lists of caches, to just see what's around (using offline list with 3000 caches from

[2015-07-18 19:48] Lineflyer commented on #5103
This is a duplicate AFAIR.

[2015-07-18 19:49] triakcz commented on #5103
So I'm sorry for that, because I already tried to find it, and I was not
successful.

2015-07-18 21:48 GMT+02:00 Lars <notifications@github.com>:

--
Ondřej Kunc

[2015-07-18 19:56] rsudev commented on #5103
Duplicate of #734

[2015-07-18 19:59] triakcz commented on #5103
Ok, do you want me to implement it ? I hope that it will not be so
difficult.

2015-07-18 21:56 GMT+02:00 rsudev <notifications@github.com>:

--
Ondřej Kunc

[2015-07-18 20:10] rsudev commented on #5103
The main issue IMO would be,.to consistently detect the 'offline' state. The search and result handling itself shouldn't be a big deal.
So, from my point of view you would be very welcome!

[2015-07-18 20:41] #5103 closed

[2015-07-19 09:49] Lineflyer opened #5104 "Unavailable picture URL blocks cache refresh/loading"
This is somehow similar to #4074:

2015.07.18-NB

- Open GC2G9AJ or OCF19C
- "Render view" takes 30 seconds to complete because of:

[code]

Couldn't we do this in the background not blocking the UI?

Looking back at #4074 I tend to remember that the unavailable pictures was not blocking the UI in the past but did "only" prevent all other pictures from beeing shown. So I would assume (although I d

[2015-07-19 09:52] samueltardieu commented on #5104
I'm not quite sure I understand what you would want. Right now, such an error would not prevent other caches from refreshing when you refresh in batch (other caches will still progress, as this is done in paralllel). But we indicate the end of a refresh to a user only when everything is finished. Here, clearly, we cannot do that while it is still trying.

If some day we implement background refres

[2015-07-19 10:02] Lineflyer commented on #5096
Voice compass is working normal for me in 2015.07.19-NB. I will probably not able to enforce the mentioned race condition, however OK for merging to release.

[2015-07-19 10:20] #5096 closed

[2015-07-19 15:54] steve8x8 commented on #5099
I'm sorry but the bug apparently hasn't been fixed in 2015-07-19 nightly build (as there was a change between 18 and 19 NB from /1/0 to /1/0/1 in two places I presume the patch was incorporated into the build)
New files (same cache) have been uploaded to the same place...

[2015-07-19 17:17] rsudev opened #5106 "opencaching.us: Error when retrieving cache"
Currently there seems to be an issue in the oc.us OKAPI.
Login and search seems to work, but when downloading a cache I get:
[code]

[2015-07-19 17:41] rsudev commented on #5106
I sent a note to the oc.us team, asking for comments here...

[2015-07-19 19:18] SammysHP commented on #5099
@Bananeweizen
I'm not really sure what you've fixed, but definitely not this issue. There is a bug during import, not export.

Btw: you forgot the `xmlns:groundspeak="http://www.groundspeak.com/cache/1/0/1"` (and the same for GSAK), so it's still not valid.

[2015-07-20 06:50] Lineflyer commented on #5104
OK.. I was not precise enough.
Actually if you make a single refresh for this cache or store it initially, the UI will be blocked until that timeout occurs. My question is: Was it like this ever since or is this a new behaviour? Can we do something about it or do we have to stick with it until we have something like you mentioned (full background refresh)?

[2015-07-20 06:55] Lineflyer commented on #5101
One question while reading this:
Why do you need a waypoint of the type `Final Location`. Would any `Reference Point` do the job here (which would also avoid the cache from being flaged as "Final coords available")?

Anyway closing upon request.

[2015-07-20 06:55] #5101 closed

[2015-07-20 07:02] Lineflyer commented on #5094
@Bananeweizen
I think @MacGyver-NRW is not requesting for web spidering  but asking if we would support it in c:geo as soon as the OKAPI supports it as he has the direct connection to OC.de developers.

[2015-07-20 07:08] Lineflyer commented on #3528
From Google Play with version 2015.07.08, this seems to be similar/the same (?):

[code]

[2015-07-20 07:10] Lineflyer commented on #3532
This error can no longer be seen on Google Play now for a long time. Additionally there was a change done by @samueltardieu with respect to the problem.
Feel free to reopen if you disagree or it appears again.

[2015-07-20 07:10] #3532 closed

[2015-07-20 07:16] Lineflyer commented on #4978
@kumy @samueltardieu
Was something merged here in the meantime?
Reading the comments of 456abe4 I thought it would, but can't find anything related in the commits.

[2015-07-20 07:18] Lineflyer commented on #4978
OK, found that PR #4908 is merged.
Can we consider this issue fixed then?

Should this be merged to release as well or do you consider the change to be too dangerous for a bugfix release?

[2015-07-20 07:27] Lineflyer commented on #4976
@kumy Is this patch mergeable to `release`? That was the reason why I reassgined you. If not, please feel free to close this (as it has been fixed on master).

[2015-07-20 08:07] kumy commented on #4978
@Lineflyer I'm not sure this has been fixed with PR #4908

[2015-07-20 08:08] kumy commented on #4976
@Lineflyer diff should apply on `release`. To merge into release, should I `cherry-pick` the commit, or is there a better way?

[2015-07-20 08:16] rsudev commented on #4976
@kumy Normally the flow for a bugfix to be expected on release is, to develop it on a branch created from release and first merge to master for testing. Then it can be easily merged back into release anytime.
When this was not done (for whatever reason), cherry-pick onto release and then merging into master (resolving any upcoming conflicts) is the only way.

[2015-07-20 08:19] kumy commented on #4976
@rsudev thanks. I didn't mind this would be included in `release` when coding, that's why I've worked on `master`. @Lineflyer Maybe we could in the future set the `milestone` field accordingly on bug creation?

I'll try the method you mentioned.

[2015-07-20 08:20] Natureshadow commented on #5094
+1 once OKAPI supports it. Of course, -1 to spidering.

[2015-07-20 08:34] Natureshadow commented on #4752
I see owned OC caches not being recognised as owned even when I am usccessfully logged in.

[2015-07-20 08:35] #4976 closed

[2015-07-20 08:36] kumy commented on #4976
@rsudev done. Could you please check if I've done things right? (Hope that's the case ;))Thanks

[2015-07-20 08:37] Natureshadow commented on #4137
OKAPI does not seem to support this feature currently.

[2015-07-20 08:44] rsudev commented on #4976
@kumy Everything looks fine! Thank you :)

[2015-07-20 08:49] Lineflyer commented on #4976
@kumy I don't think setting the milestone according to the desired branch is meaningful. At the end the one debugging and fixing it has to decide whether it is suitable to be based on `release` or not. We probably can not judge this by the symtpoms itself.

Here is some info about the normal working mode we apply:
https://github.com/cgeo/cgeo/wiki/How-to-get-a-bug-fix-into-the-release

So fixing b

[2015-07-20 08:50] kumy commented on #4976
Ok, thanks both.

[2015-07-20 09:03] kumy commented on #4976
I forgot. I didn't update the `changelog_*.xml`. Am I right if I add the line only in `changelog_release.xml`?

[2015-07-20 10:00] Lineflyer commented on #4976
Correct.

[2015-07-20 15:07] Bananeweizen commented on #5099
@SammysHP Please run the files through an XML schema validation (like validome), for me the currently exported files validate fine, even though they don't explicitly put the namespace to the prefix (and I'm not an expert, so I have no idea when exactly that must appear in the XML file).

I'm also not sure, where you miss the namespace, as it is contained even in the empty export file, see https://

[2015-07-20 15:16] SammysHP commented on #5099
Hmm… I used the file from @steve8x8.

[2015-07-21 08:31] Bananeweizen opened #5109 "Microsoft Android emulator"
If any of our devs is running Windows 8.1 64 bit, you may want to try Microsofts new Android emulator: https://www.visualstudio.com/msft-android-emulator-vs.aspx I don't meet those requirements, so I can't test myself, but I would expect it to be a fast emulator.

[2015-07-21 08:56] Lineflyer commented on #4873
Implemented into `master` and tested and working in 205.07.21-NB.
@madankumarbaskaran Thanks for your contribution!

[2015-07-21 08:56] #4873 closed

[2015-07-21 09:00] Lineflyer commented on #5106
@rsudev Did you get any feedback or shall we post here:
http://forum.opencaching.us/viewforum.php?f=31&sid=b5ef87200c85a1fb12406982c94e3800

[2015-07-21 10:57] MacGyver-NRW commented on #5094
Absolute right. As i spoke with "following5" as our developer on "cachelist" feature, he thought about implementing this in OKAPI. But the high level on coding needs a lot of time to develop this. I think we can reopen this request an soon as OKAPI supports "cachelist".

[2015-07-21 10:57] #5094 closed

[2015-07-21 18:58] TofLaBeuze opened #5110 "Possibility to filter caches with no "found" logs in an offline list"
I did not see this filter in an offline list : considering and filtering caches with zero found log (as possible FTF to do). Of course, this is the cache state according to the last refresh, but it's user responsibility to update it.
I know this has been already asked with a marker on a map, but the cache details are not downloaded in this case, so it has no sense. But in an offline list, we have

[2015-07-21 20:18] smico opened #5111 "Android Material Design"
Would be nice if c:geo gets Android Meterial Design:
https://www.google.com/design/spec/material-design/introduction.html

[2015-07-21 20:33] SammysHP commented on #5111
That's not done with some lines of code, it requires a major rewrite of the whole app. We are working on design issues in little parts. See "frontend design" tag: https://github.com/cgeo/cgeo/labels/Frontend%20Design

[2015-07-21 20:33] #5111 closed

[2015-07-21 23:18] MrYaz commented on #3954
What is the status of this issue?
Is c:geo still using Google Maps API v1?

I see a great use for this feature in c:geo since google maps are lacking a lot of details in Sweden.
We have a lot of better maps that I would like to be able to use in c:geo.
Eniro.se, Hitta.se, Ekonomiska kartan to name a few.

I actually believe that the lack of custom maps in c:geo might soon result in a lot of users

[2015-07-22 15:47] smico opened #5112 "new icons"
The cache-icons on the map look a little frayed. Sharper modern icons would be great.

The icons on startpage also look like from 1990s.
c:geo works great but i think it needs a bit more stylish 2015 design.

[2015-07-22 16:50] mucek4 commented on #5112
You know any designer?

[2015-07-22 16:50] Lineflyer commented on #5112
If you can contribute for that, please feel free to provide proposals.

[2015-07-22 19:19] rsudev commented on #3954
We still use google maps api v1, as the shift to v2 is an undertaking nobody had the resources for yet. Unfortunately there is no way to do this stepwise incremental (at least I see none), which would make it more manageable.

[2015-07-23 05:50] rsudev commented on #5106
I got a response from one of the oc.us admins and asked for more detailed information and that he responds here as well.

[2015-07-23 12:32] Opencachingna commented on #5106
Sorry, this is now fixed. When we updated OKAPI a couple weeks ago, we were missing a table in the database, cache_mod_coords. We had to await guidance from OCPL, and they solved the issue for us.

[2015-07-23 15:15] #5110 closed

[2015-07-23 15:18] rsudev commented on #5106
Thanks for the feedback! Cross-checked, works.

[2015-07-23 15:18] #5106 closed

[2015-07-23 16:35] Opencachingna commented on #5106
I apologize again for not coming here sooner. I imagine you can close this issue. Thanks!

[2015-07-23 17:03] TofLaBeuze commented on #5110
Thanks a lot !

[2015-07-23 18:37] Bananeweizen commented on #5099
To me this is an error in gpsbabel. Your cgeo produced input file is valid and contains this namespace declaration: xmlns:groundspeak="http://www.groundspeak.com/cache/1/0/1"
The output file from gpsbabel misses that namespace and promptly every XML parser throws "Namespace prefix groundspeak on cache is not defined". You just need to open the second file in Chrome or Firefox to see this.

[2015-07-23 18:37] #5099 closed

[2015-07-24 08:15] ecornely commented on #5109
It looks really good, thanks for the information.

I'm running Windows 8.0 64bit and started the emulator with cgeo in it this morning. It's much faster than the android sdk emulators I tried.

[2015-07-24 08:52] Bananeweizen commented on #5109
Have you ever run a genymotion emulator? Because that is what I used since a while instead of the default Android emulator. Both genymotion and the Microsoft emulator are x86 native executables, while the standard emulator is really emulating ARM code (using qemu, if I remember right).

I guess I might have another machine in 2 weeks, so I might be able to report back on the differences, too.

[2015-07-24 10:14] ecornely commented on #5109
I never heard about Genymotion before but it seems to be based on VirtualBox which I know can be in conflict with my existing and used Hyper-V virtual machines.

I wonder if you wouldn't encounter problem having both the Microsoft Hyper-V VM and a VirtualBox installed at the same time especially with networking, but you'll see

[2015-07-24 10:23] LeXeRLV opened #5115 "Refreshing of caches stored on list failed"
Today after installing latest Nightly build found error, when trying to refresh all stored caches on selected list. c:geo stopped working.
Today after installing latest Nightly build found error, when trying to refresh all stored caches on selected list. c:geo stopped working.
My device info from app:
https://www.dropbox.com/s/1vnmr7wok5y8vts/2015-07-24%2013.13.21.png?dl=0
https://www.dropbox.com/

[2015-07-24 10:30] Hauwertlhaufn commented on #5115
Same here. Also described it on the irc today.

--- System information ---
Device: Nexus 5 (hammerhead, google)
Android version: 5.1.1
Android build: LMY48B
Cgeo version: 2015.07.24-NB-d4367c5
Google Play services: enabled
Low power mode: inactive
Compass capabilities: yes
Rotation sensor: present
Geomagnetic rotation sensor: present
Orientation sensor: present
Hide own/found: false
Map strategy:

[2015-07-24 12:30] Lineflyer commented on #5115
- Refresh list of 15 stored caches

2015.07.21-NB = OK
2015.07.24-NB = Partly NOK

List with 15 caches was OK, list with 18 caches failed:

[code]

[2015-07-24 12:37] Lineflyer commented on #5115
Release version 2015.07.08 is OK, so the problem is most probably on master only.

[2015-07-24 13:00] rsudev commented on #5115
RxJava has been updated yesterday, so this is likely a side effect.

[2015-07-24 13:14] #5115 closed

[2015-07-24 13:33] LeXeRLV commented on #5115
What does it mean, if issue now closed? Will it be ok with next nihgtly build?

[2015-07-24 13:36] samueltardieu commented on #5115
It should. The next one has already been prepared, you can update right away (by either visiting http://status.cgeo.org/ and selecting the APK or by forcibly killing cgeo and restarting it, it should propose an update).

[2015-07-26 10:58] madankumarbaskaran commented on #5024
I just tried to get waypoint in maps.me, selected waypoint - Navigate - Maps.me; waypoint is shown in maps.me. Is this what user wants?

[2015-07-26 11:58] SammysHP commented on #5024
No, the original request was to show all waypoints of a cache on the external map. Which is not possible unless there's a special API. For Locus it should be already implemented.

[2015-07-26 15:04] #4996 closed

[2015-07-26 17:48] Bananeweizen opened #5117 "Log counts not updated"
Gc5w7ag. We have just refreshed this cache on 3 devices. Only on one of them the log counts at the to of the log book were correctly updated.

[2015-07-27 06:07] #5024 closed

[2015-07-27 10:15] Lineflyer opened #5118 "Option for hiding specific waypoint types"
Quite often users ask to add more customization to the live map by being able to hide some types of waypoints:

Original Coordinates:
Most of the time the listing coords of mystery caches are "meaningless". It is good to have them as a waypoint (also for the function to restore them) but they might clutter the map

Parking waypoints:
While those are meaningful if you use a car and watch a single c

[2015-07-27 10:16] Lineflyer commented on #1530
See #5118

[2015-07-27 10:16] #1530 closed

[2015-07-27 10:18] Lineflyer commented on #4947
@djtooley
Did this problem reoccur in the current version of c:geo 2015.07.08?
Otherwise I would like to close this, as I assume some database corruption (or just an issue displaying the list) happend, which is not reproducible.

[2015-07-27 10:28] Lineflyer commented on #3213
According to my experiences this problem does no longer happen on the live map popup.
Feel free to reopen if you disagree.

[2015-07-27 10:28] #3213 closed

[2015-07-27 10:32] Lineflyer commented on #2249
There was no other request or report by users in th past 3 years that would need a proxy configurable for c:geo. Closing as "not needed". Feel free to reopen if you disagree,.

[2015-07-27 10:32] #2249 closed

[2015-07-27 10:34] Lineflyer commented on #2977
#2257 contains more information and is the same problem. Closing here.

[2015-07-27 10:34] #2977 closed

[2015-07-27 10:35] Lineflyer commented on #3448
Duplicate of #2100.

[2015-07-27 10:35] #3448 closed

[2015-07-27 10:38] Lineflyer commented on #3344
Assigning myself for a retest.

[2015-07-27 10:40] Lineflyer commented on #3711
Working perfect now with 2015.07.08 (maybe as we introduced the larger heap request in our manifest).

[2015-07-27 10:40] #3711 closed

[2015-07-27 10:49] Lineflyer commented on #3772
Assigning myself for a retest/detailed test.

[2015-07-27 10:55] Lineflyer commented on #3710
I can not see this specific problem on GooglePlay anymore.
 @samueltardieu @Bananeweizen OK with closing it or is there still a task to do?

[2015-07-27 10:59] Lineflyer commented on #3724
My conclusion of this would be that we don't have other options than to hand over a empty value here.
So closing this, as we can not fix it and handing over "0" would be incorrect as explained above.
Please feel free to reopen if you disagree.

[2015-07-27 11:02] Lineflyer commented on #4040
Retest with 2015.07.27-NB shows that this seems to be solved.

[2015-07-27 11:02] #4040 closed

[2015-07-27 11:04] Lineflyer commented on #4054
This is working flawless for me the last months.
Closing due to non-reproducibility.

[2015-07-27 11:04] #4054 closed

[2015-07-27 11:07] Lineflyer commented on #4134
According to http://www.opencaching.de/okapi/services/logs/submit.html this seems not supported by the current OPKAPI version.
Closing until this feature is available via OKAPI.

[2015-07-27 11:08] Lineflyer commented on #4153
Assigning myself for a retest.

[2015-07-27 11:32] Lineflyer commented on #4431
No checker seems to have an API. So the current implementation of offering a direct link to open the webpage is the best we can do.

[2015-07-27 11:32] #4431 closed

[2015-07-27 11:41] Lineflyer commented on #3782
Assigning myself for a retest.

[2015-07-27 11:47] SammysHP commented on #4431
Btw: Only some "big" checkers are allowed by gc.com. See https://forum.geoclub.de/viewtopic.php?f=136&t=76684

[2015-07-27 11:48] Lineflyer commented on #4614
I almost forgot about this.
I submitted a report to Google for that "c:geo Review" stating illegal use of name and logo.

[2015-07-27 11:48] Lineflyer commented on #4614
[code]

[2015-07-27 11:50] Lineflyer commented on #4218
Refer to  #4662

[2015-07-27 11:50] #4218 closed

[2015-07-27 11:54] Lineflyer commented on #4682
@samueltardieu How to continue with this? Seems to be Android related and nothing to fix in c:geo...

[2015-07-27 11:55] Lineflyer commented on #4754
Closing due to lack of feedback (see also comments above regarding a workaround).

[2015-07-27 11:55] #4754 closed

[2015-07-27 12:36] Lineflyer opened #5119 "Favorite point can be added although no favorite point left"
From support mail (2015.07.08):

Trying to add a fav to a cache with c:geo while there a no favorite points available on my account it returns a sucesful outcome and only after refreshing the cache I do see that the button again says "Add".
There is no error message

--

This used to work i.e. a error toast is shown (I remember I tested it some months ago). Currently I have 12 favs remaining, mayb

[2015-07-27 13:52] ecornely commented on #3724
Reading the XSD I would have imagined that it is impossible to have founder without having its ID.
You can have no founder minOccurs=0 but if you have one it has to have an ID in form of a string.

Reading the informations provided as JSON by geocaching.com (http://pastebin.com/KeiHUY2V), I think we should take the JSON path "AccountID" as founder ID.

I never understood exactly why in GPX format

[2015-07-27 14:05] samueltardieu commented on #4682
Yes, let's close this.

[2015-07-27 14:05] #4682 closed

[2015-07-27 14:23] Lineflyer commented on #4947
Feel free to reopen if it occurs again.

[2015-07-27 14:23] #4947 closed

[2015-07-27 14:25] Lineflyer commented on #5034
While there was an initial high amount of users reporting problems in this scenario, it has now dropped to zero.
I assume (without having it seen myself) that this was a general problem on some devices caused by the Lollipop upgrade but later solved (maybe either by another update or users making a factory reset).
I have recently added a short info to our FAQ and don't think any other activity is

[2015-07-27 14:25] #5034 closed

[2015-07-27 14:29] samueltardieu commented on #5117
Cannot reproduce on my device.

[2015-07-27 16:11] Bananeweizen commented on #5117
On my device it also worked fine. But at 2 friends, for one of them the numbers were not shown at all after refreshing, for the other one the "old" numbers from before the refresh remained, such that the numbers were smaller than the actual number of log entries.

I wonder whether our regex is not fitting sometimes.

[2015-07-27 18:17] Lineflyer commented on #3724
Reopening for further clarification

[2015-07-27 19:01] madankb commented on #5093
May I work on this request?

[2015-07-27 20:22] Lineflyer commented on #5093
@madankb I think so if not @Bananeweizen already started something?!

[2015-07-27 20:56] samueltardieu commented on #5093
This should be done after #5092 or at the same time.

[2015-07-27 20:59] SammysHP commented on #3724
Do we need that ID somewhere else? If not, why clutter the DB? Apropos DB: I cannot see where you write the value to the database.

[2015-07-27 21:02] madankb commented on #5093
Just to confirm, after user supplies credentials for geocaching, Check login should be triggered automatically. I believe same needs to be done for GCVote and Extremcaching. For #5092, please clarify what is single dialog for both username and password. Appreciate your help.

[2015-07-27 21:04] samueltardieu commented on #5093
Please ask questions you might have about #5092 in the corresponding issue.

[2015-07-28 08:17] Lineflyer commented on #5092
@madankb
SIngle dialog means, that the user does not need to select one menu item to input his username and just another menu item for the password, but have one dialog which offers two input fields for username and password and can be ended by the user by pressing "Check Login" (see #5093).

If implemented it should be the same method for all services.

[2015-07-28 08:24] Lineflyer commented on #3879
Just for information:
According to http://www.opencaching.de/okapi/services/logs/submit.html this is supported by the latest API version (but requires to be done while submitting the log itself (so this would need #4347 to be implemented at first).

[2015-07-28 08:26] Lineflyer commented on #4347
@madankb
In case you look for more requests you are willing to work on, I would really like to see this being implemented as many users fail to recognize that c:geo can mange favorite points due to our current implementation.
So...just a small hint in case you are interested in this.

[2015-07-28 09:59] ecornely commented on #3724
In my patch I don't. I stopped my investigation when I realized the large impact it would have to add that information to the LogEntry class.

Personnaly I can live with an ID always set to 0 so that we comply with the XSD of groundspeak namespace (though an id should probably be unique). On the version 1.0.1 (http://www.groundspeak.com/cache/1/0/1/cache.xsd), it's clearly stated that this owner i

[2015-07-28 19:11] madankb commented on #4347
@Lineflyer I can work on this request. Just recap of the issue, add to favorites option is available in detail page, it will be user friendly to include add to favorites in "log visit" (may be below log text and rating). Please correct me if my understanding is different.

[2015-07-29 09:49] Meybux commented on #4961
In the FQA is written : "You can specify the GPX import and export folders in the settings of c:geo:
Menu → Settings → System → “GPX Export Directory” / “GPX Import Directory” "

This is not possible because there is no button to verrify the change

[2015-07-29 13:27] Lineflyer commented on #4961
As soon as a directory is selected the OK button should appear.

[2015-07-29 15:27] #4614 closed

[2015-07-29 15:34] Lineflyer commented on #4347
That is correct.
IMHO a good option could be not to apply the current server side implementation (apply the fav point via the cache details page) into the logging activity but to "use" the checkbox which is available on the logging page of gc.com (checkbox below log text window) and just send the request alongside with sending the log.

[2015-07-29 21:08] Hauwertlhaufn commented on #2424
With 2015.07.29-NB-76b4276 the progess window still vanishes, and the download still continues, but c:geo doesn't crash anymore.

[2015-07-30 21:43] madankb commented on #4347
![screenshot_2015-07-30-22-31-15](https://cloud.githubusercontent.com/assets/2402373/8995744/4e6621ec-370b-11e5-8c19-90a82300eac2.png)

Thanks for clarification. Please find the UI for adding cache to favorites, I believe server side part needs to handled in LogCacheActivity.java to send favorite option while logging. Please share your thought.

[2015-07-31 10:49] Lineflyer commented on #4347
UI is looking good for me (the screen for sure needs a general redesign but thats another issue).
If you retrieve information from the webpage you could also include the amount of favorite points available from there and show it inline (e.g. "9 remaining").

For the question where the server side needs to be implemented I can not help you but someone else needs to tell. It should be IMHO at the sa

[2015-07-31 10:52] Lineflyer opened #5121 "Next bugfix release"
The `release`branch contains quite some important fixes. Therefore I suggest to release after this weekend. I just built a RC version for me to test (and maybe to share on FB later on).

Changes so far:
- Fix: Possible crash while editing personal notes
- Fix: Waypoints of caches may be missing on GPX import
- Fix: Crash if talking compass is started without target
- Fix: Request to gc.com tile se

[2015-07-31 10:58] mucek4 commented on #5121
@samueltardieu is off, I am off till end of weekend and we don't wanna screw weekend. Put RC to FB, and if all goes ok, we go live on monday?

[2015-07-31 10:58] SammysHP commented on #4347
Regarding "n remaining": The option should be disabled if no favorite points are left.

[2015-07-31 11:38] Bananeweizen opened #5122 "Use the new full backup facility"
http://android-developers.blogspot.de/2015/07/auto-backup-for-apps-made-simple.html

[2015-07-31 13:53] steve8x8 commented on #5100
I found that this is a duplicate of issue #2490 - and while wpt elements without lat and lon indeed violate the standard, c:geo happily imports them (which I consider a Good Thing), preserving notes attached to them. Absolutely essential for paperless geocaching.
Speaking of cgeo extensions to the GPX format, is there a canonical path to the corresponding xsd file? The one suggested by the file in

[2015-07-31 18:10] Bananeweizen commented on #5121
+1

[2015-07-31 19:07] steve8x8 commented on #5099
You may be right :( gpsbabel 1.5.2 behaves completely different but again produces a file that doesn't pass an XML validator. The good old days when one could combine geocaching gpx files using gpsbabel seem to be gone :'(

Sorry for the spam.

[2015-07-31 19:12] steve8x8 commented on #5101
It was the existence of (zero) coordinates that made c:geo believe it had final coordinates. A "final" waypoint without coords would not result in a flag (e.g. if loaded from GC).
I agree that the gpx specs don't allow such wpts, but: As long as c:geo accepts "locationless" waypoints on import, everything is fine with me. I don't want to lose wpt notes!

[2015-08-02 08:26] madankb commented on #4347
Regarding "n remaining", Is that text message shown when check box is selected?. I believe it should be hidden after sometime (Just like "Personal messages successfully uploaded"). Please correct me if I my understanding is not right.

[2015-08-02 09:51] madankb commented on #4347
Is favorite points mean number of favorites for the cache? Eg:- GC2KYH6 has 2 users added to favorite. Is it number of favorite points of premium user?. Please clarify about favorite points. Appreciate your help.

[2015-08-02 12:33] kumy commented on #4347
I think it's the number of favorites point a premium member has left to distribute.

(The number of attributed favorites points to a cache is already displayed in lists and caches details)

[2015-08-02 20:52] Lineflyer commented on #5121
Tested over the weekend and it was OK.
Published RC link on FB now.

[2015-08-02 21:35] Lineflyer commented on #4347
Thats how it looks like on gc.com:

http://i.imgur.com/b3u2Tru.png

[2015-08-03 19:50] Lineflyer commented on #5121
No negative feedback.
So we can release tomorrow if no one objects.
Staged or not?

[2015-08-03 20:14] madankb commented on #4347
@Lineflyer Thanks for the clarification. I am not sure what is the http request to find favorite points of premium users. Is there any API document like http://www.opencaching.de/okapi/introduction.html for Geocaching?. Appreciate your help.

[2015-08-03 20:28] SammysHP commented on #4347
We parse the website.

[2015-08-03 20:40] Lineflyer commented on #5121
Published to 10% as agreed on IRC:

[2015-08-04 16:11] Lineflyer commented on #5121
No relevant crashes visible on the Google Play Console and >500 users online.
If someone with access to Google Play reads this and agress, he should set the release to 100% then.

[2015-08-04 16:41] SammysHP commented on #5121
Done.

[2015-08-04 19:59] Lineflyer commented on #4933
@kumy

What would need to be added to our FAQ for that, I don't understand?

[2015-08-04 20:47] Lineflyer commented on #5121
Thanks.
Release notification posted via status as the release is available to me on Play now (and wasn't during the staged phase).
However tagged it on Github and uploading the APK here is still missing, therefore reopening.
Maybe someone can tag it so I can attach the APK accordingly.

[2015-08-04 20:52] Lineflyer commented on #5121
By the way: FB posting scheduled for 08:40 GMT+2 tomorrow morning,

[2015-08-05 11:39] madankb commented on #4347
Thanks Sammy. I believe we haven't parsed the favorite points available to premium users before . Do we have sample source code containing favorite points of premium user? I can code based on it to parse the favorite points. Appreciate your help. I tried to upgrade my account to premium in Geocaching.com and find how favorite points are available , but it is quite costly upgrade I can't afford.

[2015-08-05 12:47] SammysHP commented on #4347
I think a premium membership is necessary to implement this feature. You cannot test it without a premium membership.

[2015-08-05 13:09] madankb commented on #4347
I can work on this request. Someone with premium membership can test it before deploying it in production. If I have source code sample of favorite points, it will be helpful to implement parsing.

[2015-08-05 13:42] kumy commented on #4933
@Lineflyer Could be some lines explaining how to add the repository ; ex: http://geokretymap.org/configure-f-droid-for-cgeo-repo/

[2015-08-05 16:35] nagisml opened #5123 "Reload deletes coorected coords"
When I change the coordinates of a cache and choose to change it only locally a refresh of the cache erases that correction.
This is for me not expected as I had chosen to keep that change locally.
The waypoint itself which was created during that change is not removed and stays.

Simular issue:
If I import a cache with corrected coords from GSAK there is no additional wp created so after a refres

[2015-08-06 09:05] kumy commented on #5121
@Lineflyer I'll add the tag market_20150803 and do "Update Github releases and milestones" from doc https://github.com/cgeo/cgeo/wiki/Prepare-a-release

[2015-08-06 09:18] kumy commented on #5121
Done.
@Lineflyer I think it's good, I'll let you check, then close.

[2015-08-06 09:59] kumy commented on #4933
Trigger automatic updates is on the way.
I've added a new shell command to the Nightly CI job.

Need @mucek4 to create a new file on the CI server. (Informations passed by PM to @mucek4)

[2015-08-06 10:47] mucek4 commented on #4933
File created. Just tell me what have you done on CI to keep in loop.

[2015-08-06 12:25] kumy commented on #4933
@mucek4 thanks

I've added a new "Execute shell" at the end of the job `c-geo-nightly`:
[code]
I'm testing with the newly created file, then add the same script to `c-geo-RELEASE`

[2015-08-06 12:35] kumy commented on #4933
seems ok for nightly job.

I'll add the same to `release` job once current update to CI job has been approved.

[2015-08-06 12:46] kumy commented on #4933
hum, multiple NB cannot be indexed in the repo, as the build number doesn't change (NBx, not part of the build number?).

[code]

[2015-08-06 13:00] SammysHP commented on #4933
Version is always an integer. We use the date + some 1\d+.

[2015-08-06 13:47] kumy commented on #4933
Here are the `aapt dump` for today's builds.

I think that the matched field is `versionCode`. If another package comes with the same version (eg NBx), he isn't indexed. (and old builds are even rotated! (bug?))
Would it be possible to set `versionCode` the same as `versionName` ?

[code]

[2015-08-06 14:48] SammysHP commented on #4933
`versionCode` is an integer as I said above.

[2015-08-06 16:51] yellowduck opened #5124 "Dropped caches are not deleted from device if an offline log is associated with the cache"
I have many caches in c:geo that have long been deleted from my device, yet remain as persistant when I select live mode. The images below show a before and after when selecting live mode (without any access to the website - both wifi & data connectivity disabled).

All of the caches in the second view without a 'saved' icon are finds, so they should not be visible because the 'hide finds' is set,

[2015-08-06 17:48] SammysHP commented on #5124
AFAIK caches with an offline log are never deleted (or is only the log kept?). Nevertheless I never observed such a situation.

[2015-08-06 20:47] Lineflyer commented on #5124
I think those might all have an offline log stored.
@yellowduck Can you please check the histors if those are listed there and some of them still have an orange (or an orange/green) marker?

[2015-08-06 20:49] Lineflyer commented on #5121
Looks perfect to me. Thanks @kumy
You did take the APK from the website not something self compiled, etc...?

[2015-08-06 20:49] #5121 closed

[2015-08-06 20:57] kumy commented on #5121
@Lineflyer APK was taken at download.cgeo.org/cgeo-release.apk (seen that in CI ;))

[2015-08-07 08:24] yellowduck commented on #5124
Yes, I use offline logging, however as a user I have 'dropped' the caches, so they should be removed from the database and storage.

[2015-08-07 09:10] SammysHP commented on #5124
With loosing all your offline logs before you are able to upload them?

[2015-08-07 10:34] Lineflyer commented on #5124
My assumption would be that if you now go to the history and select Menu -> Clear offline logs all those cache should vanish after three more days. Can you test and confirm?

[2015-08-07 11:16] yellowduck commented on #5124
I see that as an unsatisfactory workaround. As a user, I have requested that the caches be 'dropped', and I should not need to be aware of subtleties like being aware that offline logs cause different behaviour. If I remove all offline logs, then I also lose information that I may want to keep (for caches that I have not yet 'dropped').
I use offline logs to mark that I have found a cache. I then