[2016-07-29 18:34] #5859 closed

[2016-07-29 18:35] Bananeweizen commented on #5859
The missing image was of "bmp" format, which we simply did not expect.

[2016-07-29 18:37] alan666notb commented on #5859
Should c:geo at least indicate that there's an image present that it can't display?

[2016-07-29 19:03] Bananeweizen commented on #5859
It did not recognize that there _is_ an image. It can display bmp formats.

[2016-07-29 19:09] Bananeweizen opened #5860 "Run filter async"
There are multiple filters which can block the application long enough to cause ANR. The calculation of the filter result must therefore be moved into some asynchronous pattern, e.g. an asynctask plus progress dialog.

[2016-07-29 19:25] Bananeweizen opened #5861 "Do not store last log for reuse if it is empty"

[2016-07-30 11:18] #5849 closed

[2016-07-31 16:44] kumy opened #5863 "GK wrong log author for logs with attached comment"
##### Detailed steps causing the problem:
- Open GKB3F8
- Swipe to Logbook

##### Actual behavior after performing these steps:
Log from 2016/01/30 is authored by "kumy"

##### Expected behavior after performing these steps:
Real author is "nocybe1810"

##### Version of c:geo used:
master

##### Is the problem reproducible for you?
Yes

##### System information:
N/A

##### Other comments and remar

[2016-07-31 16:55] MrYaz opened #5864 "Language change when rotating the device - again"
Before reporting this bug I did a search on issues and found that issue #2343 seems to fit my problem as well.

##### Detailed steps causing the problem:
- Device language is Swedish
- c:geo is using device language by default
- Select "Använd engelska i c:geo" in Inställningar/Utseende ("Use English in c: geo "in Preferences / Appearance)
- Kill the app and restart it.
- Open Live Map and tap on

[2016-07-31 17:01] kumy commented on #5864
Confirmed.
Thanks for the detailed report.

[2016-07-31 17:02] kumy commented on #5864
@MrYaz did you check if this also happens on current release 2016.06.09?

[2016-07-31 17:13] MrYaz commented on #5864
Yes @kumy, it also happens on release 2016.06.09.

[2016-07-31 17:26] MrYaz opened #5866 "Own caches are not marked with a star, or hidden using "Hide own/found caches" in the map."
This bug has been present in the NB:s for maybe a week.
##### Detailed steps causing the problem:
- When opening any map view my own caches are not marked as a star
- They are not hidden when "Hide own/found caches" is checked.
##### Version of c:geo used:

2016.07.31-NB-cec02b1
##### Is the problem reproducible for you?

Yes
##### System information:

[code]

Device: ONE E1003 (onyx, OnePlus)
And

[2016-07-31 19:57] kumy commented on #5850
@Bananeweizen I this this is triggered by the Unit tests

[2016-07-31 20:08] kumy opened #5868 "Unit tests are failing"
##### Detailed steps causing the problem:
- Checkout master
- Launch unit tests

##### Actual behavior after performing these steps:
[code]
http://ci.cgeo.org/job/cgeo%20continuous%20integration%20-%20manual%20build/119/consoleFull#-109812861545fc375f-a63e-468b-8450-76255356fdf9

##### Expected behavior after performing these steps:
No failure

##### Version of c:geo used:
`cec02b1`

##### Is the

[2016-07-31 20:20] kumy commented on #5868
In page source https://www.geocaching.com/geocache/GC3XX5J_zarascen-tir related part is:
[code]

I don't know how/why it has changed. A cache adoption?

[2016-07-31 20:39] mucek4 commented on #5868
The user changed it's username.

[2016-08-01 16:11] Georgiel opened #5871 "when are we going to get a design overhaul?"
The app is lovely and far more functional than alternatives,  but good God, the visual design looks like it's from 2005.

Would it be a major project to update to look more modern?

[2016-08-01 16:33] SammysHP commented on #5871
When someone starts working on it. Everyone can work on it, you too. Changing the design requires lot of work and we have not enough active developers.

This is a duplicate, so I'll close it.

[2016-08-01 16:33] #5871 closed

[2016-08-01 21:25] Lineflyer commented on #5536
@samueltardieu Not for me right now, but I also changed my phone to a new one (Samsung S4 to S7). Not sure if tracking this any further make sense, because we might not get a real clue.

[2016-08-01 21:27] Lineflyer commented on #5637
I agree to @Bananeweizen for branching.
But due to the fact that we have huge differences between current `master` and `release` and the fact that due to private issues my testing time is quite limited I suggest (if technically possible) to branch now but at least save the current `release` code somewhere (another branch) for an emergeny solution in case we still have regressions after branching b

[2016-08-01 21:33] Lineflyer commented on #5637
From IRC:
[code]

[2016-08-01 21:42] Lineflyer commented on #5866
You mean **not** hidden?

[2016-08-01 21:45] Lineflyer commented on #5855
- Was the related cache stored at the time of logging?
- DId you log it using the map popup instead of going to log from the cache details?

[2016-08-01 21:46] Lineflyer commented on #5854
AFAIR there is an issue about unnecessary duplication of the note...have to look it up as time permits.

[2016-08-01 21:48] Lineflyer commented on #5852
An interesting idea.

Pro:
This would make the logbook(Friends) more usable

Con:
Users might not understand why some logs are shown to them as friends logs as they are used to another implementation.

[2016-08-02 05:15] MrYaz commented on #5866
Yes, sorry for the typo. Edited the post.

[2016-08-02 09:23] cuberik commented on #5855
Sorry, I do not remember that anymore.

I think it was not stored at the time of logging, and that I logged it online at geocaching.com, and that I stored it in cgeo after logging. But again, I'm not sure anymore.

I never had this problem with caches or other events. But I will attend another CITO in september, so I can try it again then.

Is there any prefered sequence in storing and logging?

[2016-08-02 13:57] #5868 closed

[2016-08-02 18:55] SammysHP opened #5872 "History sorted incorrectly"
History is sorted by the time when the offline log was created, not the date that was set for the log.

[2016-08-02 18:57] GodfatherThe commented on #5861
Maybe just do not allow to save log if it's empty?

[2016-08-02 21:05] rsudev commented on #5842
@GodfatherThe What platform do you use? Uploading field-notes is no option for you?

[2016-08-02 21:15] rsudev commented on #5842
For the uploading of offline logs see: #1786.

[2016-08-02 22:08] alex9099 commented on #5842
Yup is exactly that, so this issue is duplicated

[2016-08-03 09:38] Bananeweizen commented on #5861
At least I regularly log by storing an empty offline log and finally upload field notes with empty text. Therefore storing an empty text is surely a necessary use case. We just should not overwrite the log in the "clipboard" when mixing real log text and empty log text.

[2016-08-03 09:42] pstorch commented on #5839
I have a look at the first item

[2016-08-03 10:26] GodfatherThe commented on #5861
I just have observed the case when c:geo hanged during sending empty log. Although it was the only case, I thought that it's not allowed to send empty logs, but error handling was missed for this case.

[2016-08-03 11:22] samueltardieu opened #5874 "Intermittent crash when switching to Locus"
With current `master`. I may have switched to another application in the meantime, and then switched back to cgeo. I'm not certain.

[code]

[2016-08-03 12:09] Bananeweizen commented on #5861
I have recently seen an error message stating that I cannot send an empty log. However I don't know of that was an error message of our app or a server error message. In the latter case we should introduce a new method in the connector interface to validate logs before sending and disallow empty logs in the default implementation and in the GC implementation.

[2016-08-03 12:20] #5863 closed

[2016-08-03 12:23] Bananeweizen opened #5875 "Lint error in unit tests"
Current unit test errors are caused by lint crashing. Someone please check the changes on the mentioned file or disable that specific test for that specific file. We have the lint settings checked in.

[2016-08-03 12:58] samueltardieu commented on #5637
I'll take care of branching and creating `old-release` from the current `release`.

[2016-08-03 13:03] samueltardieu commented on #5637
Branching done and milestone changed for fixed issues and release planification.

[2016-08-03 19:16] Lineflyer commented on #5637
Great @samueltardieu

Now everyone should take care, that late incoming fixes/improvements for new features might be meaningful to be based on `release`

[2016-08-03 19:42] Lineflyer commented on #5536
Lets close it for now.
We might reopen once we get new clues when the release is out (hopefully not).

[2016-08-03 19:42] #5536 closed

[2016-08-03 19:45] Lineflyer commented on #5797
@rsudev Can you implement the needed strings (maybe as suggested above) on`release`?

[2016-08-03 19:47] Lineflyer commented on #5638
I will remove this issue from the ToDo for next release as I don't consider it critical.
Lets however keep it open in general as I can't see a majority for leaving it as it is.

[2016-08-03 19:48] Lineflyer commented on #5637
Removed #5638 Prompt user when unassigning cache from last list? from the ToDos (see comment in this issue)

[2016-08-03 19:50] Lineflyer commented on #5636
According to the last clue and the test results above...I think its fine like it is to prevent the user from using modified data.
The remaining issue should be covered with #5353

Feel free to reopen if you disagree.

[2016-08-03 19:50] #5636 closed

[2016-08-03 20:11] Lineflyer commented on #5866
It is not reproducible for me.
Are those owned caches saved on the device?

[2016-08-03 20:13] Lineflyer commented on #5861
AFAIK we have an own errormessage for that which was implemented some months ago.

[2016-08-03 21:59] rsudev commented on #5797
What about this:
![device-2016-08-03-235728](https://cloud.githubusercontent.com/assets/780005/17383435/43249324-59d6-11e6-9b19-bce846cc8ed6.png)
and this:
![device-2016-08-03-235817](https://cloud.githubusercontent.com/assets/780005/17383443/4edabe0a-59d6-11e6-9aa4-037786cdfe2b.png)

[2016-08-04 09:05] Lineflyer commented on #5797
Perfect!

[2016-08-04 09:16] Lineflyer commented on #2788
After posting to FB regarding the RC-version a user suggested to better use the beta feature.
I will try to see if I can give it a try unless someone stops me, saying that the use of this beta channel is not wise for some reason.

In a first step I might upload the RC and it should be invisible for everyone until we share the opt-in link with users.

[2016-08-04 11:26] samueltardieu commented on #2788
I was going to suggest that.

We could share the enrolling link on our site, or even in the description on the Play Store (as is done for Google Maps).

[2016-08-04 11:37] samueltardieu opened #5877 "Use better filter selection"
Here are screenshot of Locus Map Pro (with Geocaching add-on) for filter selections (in French). I think they are much easier to use than what we have in cgeo.

![screenshot_20160803-140158](https://cloud.githubusercontent.com/assets/44656/17400476/668547b0-5a48-11e6-915a-a8218bca7883.png)

![2016 aug 03 14-03-19](https://cloud.githubusercontent.com/assets/44656/17400475/66841566-5a48-11e6-9b25-be

[2016-08-04 11:39] samueltardieu opened #5878 "Add latest log information in cache preview"
Locus Maps Pro (with Geocaching add-on) adds a preview of what the 5 latest log types were when logs are available. This allows the geocacher to quickly determine if a cache might be worth it or if there is a good chance that the cache is not there anymore. We should do the same thing in cgeo.

![screenshot_20160803-142018](https://cloud.githubusercontent.com/assets/44656/17400539/cf198f98-5a48-11

[2016-08-04 11:46] SammysHP commented on #5878
Duplicate of #1801.

[2016-08-04 11:46] #5878 closed

[2016-08-04 11:47] samueltardieu commented on #1801
Add screenshot from Locus Map Pro.

![screenshot_20160803-142018](https://cloud.githubusercontent.com/assets/44656/17400539/cf198f98-5a48-11e6-9bbf-649218486c81.png)

[2016-08-04 11:49] rsudev commented on #1801
This is for stored caches, right? (otherwise we don't have the information, I guess). We might also want to check how fresh the information is before showing (I sometimes have caches on my device which I updated 100+ days ago last time)

[2016-08-04 15:43] Lineflyer commented on #2788
I did now upload the current RC to the beta channel and have following things to clarify:- For some reason the console already reports 261 testers although we never shared the link- The console offers to publish the current beta into production. That is not the way we want to go...so I need to check if there is any influence on publishing in production and how to depublish the beta. Maybe its not

[2016-08-04 18:36] pstorch commented on #5839
I'm still thinking about number 2. The list selection dialog is used in two cases, when the cache is stored the first time and to manage the lists, if it is already stored.
The solution with the longpress on an item to select it and confirm the dialog would only make sense on the first store, when the cache is not on any list yet. It would be confusing when managing the lists.

But there is anothe

[2016-08-04 19:39] SammysHP commented on #5839
I think this is something that one can get used to. So I'd like to get some more feedback from other users for number 2.

[2016-08-04 20:09] pstorch commented on #5839
There are some more rough edges on the **move** feature: Besides the title when the cache is not stored yet, the `Drop` button (or Trashcan) is not shown after it is stored.
And the **move** feature is missing on the map popup.
Regardless what we decide here, the **move** feature needs some polishing.

[2016-08-04 20:29] Lineflyer commented on #2788
Thats how it looks:
![screenshot_20160804-190105](https://cloud.githubusercontent.com/assets/949669/17417274/c547cd00-5a92-11e6-98ac-728259e39994.png)
![screenshot_20160804-190116](https://cloud.githubusercontent.com/assets/949669/17417276/c548cbec-5a92-11e6-86ed-1bb23c0b06ef.png)
![screenshot_20160804-190002](https://cloud.githubusercontent.com/assets/949669/17417275/c547f7ee-5a92-11e6-906d-2df4f

[2016-08-04 20:29] Lineflyer commented on #2788
Where shall we publish the link?
I suggest social networks and in our PlayStore description.

[2016-08-04 20:36] Lineflyer commented on #5855
I was asking these questions as we do have a known bug here: #4086

My guess is, that it is the same problem here but only a coincidence that it was a CITO.

I am closing this one for now. Feel free to reopen if there are new clues.

[2016-08-04 20:36] #5855 closed

[2016-08-04 20:39] Lineflyer commented on #5637
btw @samueltardieu  Are all these branches needed anymore?
I gues those `issue` branches might be oudated as well as the `cgeo-legacy` which was depublished quite some months ago. Maybe you want to clean up?

[2016-08-04 20:45] Lineflyer commented on #2788
I think our version coding is fine for RC and production releases.
According to https://support.google.com/googleplay/android-developer/answer/3131213 the beta apk will be automatically removed once a version with hiher version code is uploaded to the production version.

(Same method applies for alpha testing which will not work if we would use that for nightlies).

[2016-08-04 20:47] Lineflyer commented on #5877
Linked to #135 #995

[2016-08-04 20:59] #5797 closed

[2016-08-04 21:03] samueltardieu commented on #5637
I've removed the `issue-`* branch as the corresponding issues have been closed. We can keep `bb10` and `cgeo-legacy` for historical purpose.

[2016-08-05 10:04] Lineflyer commented on #2788
I have made the link public now, so the beta channel is now officially open:
[code]

[2016-08-05 11:23] Lineflyer opened #5879 "Cache doubled after refresh"
New beta feedback (will translate later)

Hallo. Ich habe einen Cache in 2 Listen gespeichert. Anschließend habe ich ihn in Liste A aktualisiert mit der Folge, dass er in Liste B zwei Mal erscheint. Einmal mit Speicherzeit und einmal mit der Zeit der Aktualisierung.

[2016-08-05 12:30] Lineflyer commented on #2788
I did now also update the Google Play description (first row in change log) with a short link to the beta testing opt-in page.
Furthermore I included info about beta testing on the website.

I think we can close here.
Using the alpha channel for nightlies does not look like the way to go for the moment.
Beta testing is enabled and will be used for RC-versions from now on.

[2016-08-05 12:30] #2788 closed

[2016-08-05 13:52] naoliv opened #5880 "Option to use OpenStreetMap instead Google maps for offline storage"
Could we have an option to generate the offline map using OpenStreetMap instead Google maps?

For example, this stored cache:

![](https://cloud.githubusercontent.com/assets/982338/17438676/7b51c378-5afa-11e6-98b0-bbc0117ddd70.png)

Is much better represented in OSM:

![](https://cloud.githubusercontent.com/assets/982338/17438681/8529b6d0-5afa-11e6-9f73-abcb606164f9.png)

c:geo version is 2016-08-

[2016-08-05 17:09] rsudev commented on #5880
Wouldn't be an option to use an OSM-based offline map instead? These static maps came from a time, when there were no other offline map options, which I would consider much superior nowadays.

[2016-08-05 20:34] Lineflyer commented on #5879
System information:
[code]

[2016-08-05 20:52] pstorch commented on #5879
Tried to reproduce it, but couldn't. Anyone else tried it?

[2016-08-05 20:57] Lineflyer commented on #5879
I can also not reproduce.. might be connected to a special condition (e.g. the only cache on list A or B?!)

[2016-08-05 21:36] Lineflyer commented on #5880
Is there a OSM source for static maps?

[2016-08-05 21:46] Lineflyer opened #5882 "Refresh icon in popup for unsaved caches"
From IRC:
[code]

##### Version of c:geo used:
2016.08.04-RC

##### Is the problem reproducible for you?
Yes

[2016-08-05 21:50] Lineflyer commented on #5882
![screenshot_20160805-234923](https://cloud.githubusercontent.com/assets/949669/17451468/5fbbc998-5b67-11e6-9fd2-6441bdc9b6a4.png)

[2016-08-05 21:54] pstorch commented on #5882
Just checked it with commit `c2b0661` (the last text version): it showed both buttons there, too. `Refresh` and `Store`.

[2016-08-05 21:56] pstorch commented on #5882
It is similar to the CacheDetails page. I guess you can refresh the cache details (logs etc.) without storing the cache on any list.

[2016-08-05 21:57] Lineflyer commented on #5882
Interesting... I only actively recognized it right now but you are right. Lets close this.

[2016-08-05 21:57] #5882 closed

[2016-08-05 22:22] naoliv commented on #5880
Is the offline image generated in the client when the user asks to store the cache? (ie, it downloads only a small area)
I guess it's possible to use the default OSM tiles http://wiki.openstreetmap.org/wiki/Tile_usage_policy

[2016-08-05 22:37] naoliv commented on #5880
Or maybe we can see if we can get a permission to use OSM Landscape or OSM Outdoors tiles:

![](https://cloud.githubusercontent.com/assets/982338/17452266/e01b535c-5b43-11e6-8c57-125dfaa6d075.png)

They look nicer.

[2016-08-06 07:07] pstorch commented on #5880
If an offline map is available and configured I would prefer to see it there, too.

[2016-08-06 07:09] SammysHP commented on #5880
Tiles won't work. We need a static map provider with marker support. I know only mapquest and that is not free anymore AFAIK.

[2016-08-06 07:29] kumy opened #5883 "New map, no more "show as list"?"
##### Detailed steps causing the problem:
- Use the new live map
- Wait until load finish
- Open context menu

##### Actual behavior after performing these steps:
No more "show as list" menu

##### Expected behavior after performing these steps:
Show as list should be available

##### Version of c:geo used:
master from 07-31

##### Is the problem reproducible for you?
Yes

##### System information

[2016-08-06 08:30] speedy-1702 opened #5884 "Found date not shown with friends log disabled and list of logs very big"
Found date is not shown when  found was a leap day See screenshot.
![screenshot_2016-08-06-10-26-12](https://cloud.githubusercontent.com/assets/1996354/17455708/c68dbd58-5bc0-11e6-856f-678d9acf8abf.png)

[2016-08-06 09:26] Lineflyer commented on #5884
Can you please tell us the version of cgeo you are using?

[2016-08-06 09:32] Lineflyer commented on #5884
Not reproducible for me with 2016.08.06-RC1

Tested with GC6AQ29 which I found at 29.02.16

[2016-08-06 10:02] speedy-1702 commented on #5884
2016.06.09 on samsung s4-mini
Interesting....
This is the only found cache out of 1600, which resists to show me the found date.
I guessed because of the leap day. This is the only particularity.
Any suggestions?

[2016-08-06 10:06] speedy-1702 commented on #5884
--- System information ---
Device: GT-I9195 (serranoltexx, samsung)
Android version: 4.4.2
Android build: KOT49H.I9195XXUCNK1
Cgeo version: 2016.06.09
Google Play services: disabled
Low power mode: inactive
Compass capabilities: yes
Rotation vector sensor: present
Orientation sensor: present
Magnetometer & Accelerometer sensor: present
Direction sensor used: rotation vector
Hide own/found: true
Ma

[2016-08-06 10:38] #5875 closed

[2016-08-06 11:03] Lineflyer commented on #5884
Did you try to refresh it?

[2016-08-06 11:50] speedy-1702 commented on #5884
Yes, sure. I had it since leap day on the device and refreshed it today.

[2016-08-06 16:54] rsudev commented on #5883
Another 'missing feature' of the new map. I'll see what I can do.

[2016-08-06 18:37] rsudev opened #5885 ""Show Circles" missing"
One more thing still missing to bring the new map on par with the old one is the ability to display circles around caches and physical waypoint stages.

[2016-08-06 20:32] rsudev commented on #5884
The question is, whether it fails to read the date from the page or if the date is in the database and fails to get displayed.
To check this, my first suggestion would be to log-on to geocaching.com in the browser, open the cache page, save the page source and then send it to our support mail. We could then check if the parser can detect the found status and date.

[2016-08-06 20:41] SammysHP opened #5886 "Attribute filter does not list all attributes"
Only attributes listed in [res/values/cache_attributes.xml](https://github.com/cgeo/cgeo/blob/master/main/res/values/cache_attributes.xml) are shown, but there are more attributes defined in [src/cgeo/geocaching/enumerations/CacheAttribute.java](https://github.com/cgeo/cgeo/blob/master/main/src/cgeo/geocaching/enumerations/CacheAttribute.java) (e.g. OC only).

[2016-08-06 22:03] speedy-1702 commented on #5884
Done

[2016-08-07 09:27] rsudev commented on #5884
@Lineflyer @samueltardieu @mucek4 Could you forward the mail to the dev group? Thanks!

[2016-08-07 10:02] Lineflyer commented on #5884
Done!

[2016-08-07 14:19] Bananeweizen commented on #5884
Do you have the option for "Show own/friends logs" disabled (Preferences -> Cache details)? Can you please enable it and refresh the cache?

I currently suspect that we _only_ parse the log date from the log entries, not from the cache web page itself. Therefore this can be reproduced with the above mentioned option disabled and your own log entry not being in the first 35 shown log entries of the

[2016-08-07 14:48] speedy-1702 commented on #5884
option for "Show own/friends logs" is always enabled. Even disabled , refreshed, enabled and refreshed has no effect. Stall I delete my log and post a new attended log to come on top of the list?

[2016-08-07 15:03] Bananeweizen commented on #5879
I have a hard time getting any clue how this could happen. Looking at the references of dbTableCachesLists in our code, I only see 2 prepared statements actually dealing with updating that table. ADD_TO_LIST should not be able to create 2 identical rows, since the tuple of updated values is also the primary key. MOVE_TO_STANDARD_LIST would have to update the list_id to the standard list for creati

[2016-08-07 15:07] Bananeweizen commented on #5884
That might help for confirming the root cause, although I'm confused by the option not having any effect for you. I can reproduce the missing log date for my own account using the above procedure with mega events that I attended.

[2016-08-07 15:32] speedy-1702 commented on #5884
Verification is done.
After deleting and re-entering my attended log,the found date appears. See screenshot

Very nice workaround. Thank you for the support

[2016-08-07 15:32] speedy-1702 commented on #5884
![screenshot_2016-08-07-17-28-42](https://cloud.githubusercontent.com/assets/1996354/17463412/f4172124-5cc4-11e6-9af0-4f602ddbec55.png)

[2016-08-07 16:03] rsudev commented on #5884
When looking at you your stored page I was suspecting a glitch due to the date format (on geocaching.com), but I guess you didn't change that before your final test, so this option is ruled out.
Quite strange...

[2016-08-07 17:02] pstorch commented on #5879
I doubt that this is possible in the DB.   Any possibility of a UI glitch? List adapter not refreshing properly? Can we ask the user if it is still the case? Maybe a restart solves it. Even if this is not a satisfying explanation.

[2016-08-07 17:38] kumy commented on #5850
Don t know if it was already reported/fixed

[code]

[2016-08-07 17:43] speedy-1702 commented on #5884
".... but I guess you didn't change that before your final test,...."

Of course, I didn't

[2016-08-07 18:00] rsudev commented on #5850
This call-chain should come from the trackable download. Is it necessary to actively stop this when you leave the activity? Or might that come from a time-gap and those will be freed eventually?

[2016-08-08 22:05] frodeseverin opened #5887 "Better url for Google Translatebgiving mobile version"
I propose to use the mobile version of Google translate in c:geo.

##### Detailed steps causing the problem:
- Step 1
Open log of a cache
- Step 2
Long press a log in a forreign language.
- Step 3
Select to translate into your native tongue
- Step 4
Observe that you are taken to the desktop version of Google translate.
- Step 5
Append /m/translate to the URI path, prior to the GET varisbles, to go

[2016-08-08 22:11] Lineflyer commented on #5887
Why dont you install the app?

[2016-08-09 05:20] frodeseverin commented on #5887
Which app?

c:geo offers Google translate through a browser, but not on a mobile friendly way.

[2016-08-09 05:42] mucek4 commented on #5887
https://play.google.com/store/apps/details?id=com.google.android.apps.translate

[2016-08-09 07:25] kumy commented on #5887
+1 our target is mobile devices, not desktop. And personally I want to avoid installing "many" apps on my devices.

[2016-08-09 08:00] hevanw opened #5889 "Compass with phone in vertical position is erratic"
##### Detailed steps causing the problem:

Start navigating with the compass while the phone is held horizontally. This works very well. Now move the phone to a vertical position. The goal is to keep the phone in my shirt pocket while having spoken instructions on.
##### Actual behavior after performing these steps:

The direction (x o'clock) is often totally off (EDIT: actually it is probably off

[2016-08-09 08:24] #5887 closed

[2016-08-09 09:47] Lineflyer commented on #5889
Well, how could a magnetic compass in a smartphone work any better than a classic compass. Both will only work in horizontal position.

For your usecase it would be a suitable solution to use the GPS walking direction instead of the magnetic compass.
This can be easily done by switching off the magnetic compass on the compass screen before placing it into your pocket.

[2016-08-09 09:52] hevanw commented on #5889
Unlike a real compass, a smartphone has magnetometers in all 3 directions, so a compass app can perfectly work in positions other than horizontally. If you want to learn more, just check the free 'Physics Toolbox' app and play around a bit with the included Magnetometer.
Like I said, other compass apps have no problem when holding the phone in a vertical position.

[2016-08-09 10:19] samueltardieu commented on #5889
@Lineflyer: @hevanw is right, a MEMS compass has nothing to do with a physical one.

@hevanw: putting the phone vertical in your shirt pocket and expect the compass to work is difficult. As your phone will tilt forward and back, the calculated direction facing the phone will switch 180° at once. You can test with, for example, GPS status. If the upper side of your phone is slightly farther from yo

[2016-08-09 11:22] hevanw commented on #5889
Thanks for the explanation. I tried out several other compass apps and it appears there are different implementations/behaviors. It basically all comes down to whether the compass shows (a) your own orientation, or (b) the orientation of the phone. So, like you explained in case (b), as soon as you tilt the phone beyond 90 degrees, the phone is now pointing at your own 6 o'clock and the compass ch

[2016-08-09 12:45] samueltardieu commented on #5889
Speaker facing up is the easy one :-) What about the screen? In your shirt pocket, the screen will either point towards your destination, or to your body (more likely as to protect the screen). In your pants pocket, it will globally either be pointing to your left or your right. That's why in this mode, where you do not look at the screen, it is best to enable GPS-based orientation which considers

[2016-08-09 13:16] hevanw commented on #5889
Yes, those are things that I did think about already :). I would always have to put my phone in my pocket with the screen facing my body (unless there would be an option to reverse that). You are right about pants pockets that then the phone probably won't even be perpendicular to my facing direction anyway.

Correct me if I'm wrong, but GPS based instructions are only usable if there are actual s

[2016-08-09 13:20] samueltardieu commented on #5889
You're wrong. It works as long as you receive the GPS signal, which is needed anyway to compute the distance and the direction of the cache. No need for a street, for a map, or anything else. You might as well be offline without any network connection.

[2016-08-09 17:34] Bananeweizen commented on #5889
Use the GPS signal with the compass (i.e. NOT only the magnetic sensor), and walk with normal walking speed. The spoken instructions for navigating to the cache will be correct, independent of the positioning of your device. That is because the GPS receiver calculates the direction of travel by sampling your position over time. As long as you are fast enough (and to my experience normal walking is

[2016-08-09 17:43] Bananeweizen commented on #5884
@rsudev I'm rather sure of my investigation that we simply don't parse the date from the cache page, but only from the log book. And the friends log enabled will fix this _only_ if there less than 35 friends logging after you. So even with the option enabled I still see how it could not work (while in most cases the option enabled will hide the bug).

[2016-08-09 17:45] Bananeweizen commented on #5879
I'm also thinking this can only be caused by something wrong in the loader, adapter, or view holder.

[2016-08-09 18:57] speedy-1702 commented on #5884
"...  And the friends log enabled will fix this only if there less than 35 friends logging after you.  ..."

There were less than 35 friends in the log list after me. The option was enabled as it always is, but it didn't help.

[2016-08-09 20:06] rsudev commented on #5884
@Bananeweizen Regarding the found date I came to the same conclusion in the meantime. From what I read filing through the code of getExtraOnlineInfo in the GCParser it seems to me, that own logs are requested separately from friend logs (with the same count of 35 :) ) which makes it even more mysterious.

[2016-08-09 20:36] pstorch commented on #5850
I don't know if we can do anything with this:

[code]

[2016-08-09 20:40] pstorch commented on #5850
Here is another one, this time about CoordsGeocacheListLoader:

[code]

[2016-08-10 15:22] #5886 closed

[2016-08-10 20:31] rsudev commented on #3962
Today I cross-checked this issue and it seems to be gone. @Lineflyer: Can you confirm?

[2016-08-11 05:39] Lineflyer commented on #3962
I can also no longer reproduce it, but was there something changed regarding network on main thread?

[2016-08-11 08:22] rsudev commented on #3962
As this is quite old and there were several changes in the area of login and network access, I assume it was fixed/prevented implicitly and just wanted an independent confirmation.
So I guess we can close this.

[2016-08-11 12:41] naoliv commented on #5880
I will see if @mapbox can help us and provide this

[2016-08-11 13:30] SammysHP commented on #5880
Free Mapbox plan has a limit of 50,000 mobile users / month (using the Mapbox Android SDK).

[2016-08-12 09:59] Lineflyer opened #5892 "Progress spinner shown also for each movement"
##### Detailed steps causing the problem:
- 2016.08.06-RC1
- Have beta map as default
- Open live map
- Wait for loading complete (spinner in action bar no longer shown)
- Start moving a short distance
##### Actual behavior after performing these steps:

On each position update/map movement the progress spinner appears for splits of seconds
##### Expected behavior after performing these steps:

Pr

[2016-08-12 10:09] Lineflyer opened #5893 "Different arrangement of new icons in cache details"
Feedback from beta user:
Icons instead of text buttons are nice as they are bigger and clearer, however IMHO the delete button is at the wrong place (also compared to where the textual buttons have been).
I suggest to have only regresh in upper row and lower row should be edit left and delete right.
This also helps in accidently not tapping delete instead of refresh.

[2016-08-12 10:11] Lineflyer commented on #5893
I do agree.
In case of unsaved the save button is lower right. It should stay there and "change" to the delete button once saved.

So:
Upper row: Refresh
Lower row left: Edit (if saved)
Lower row right: Save / Delete

[2016-08-12 10:18] Lineflyer opened #5894 "Better visualisation of HTML tables"
Frequently we get questions if we can visualize tables in cache descriptions any better than we currently do.
On quite some caches those tables are used for e.g. calculations or collection of values while caching.

Will add an example later.

[2016-08-12 14:16] Lineflyer commented on #5637
I think the RC behaves really good and until now (still need to check support mails tonight) we did not get any major negative feedback.

From my perspective it would make sense to optimize the sorting of the new icons as suggested in #5893 before release if you agree.

[2016-08-12 15:19] samueltardieu opened #5896 "Send installer package name to status manager"
Right now, the status manager displays warning that a new release or release candidate is available and links to the Google Play Store regardless of how the user installed the application.

We can retrieve the name of the application that installed the current application from the package manager. This should be sent along with the version code and the version name to the status manager at `status

[2016-08-12 16:11] #5896 closed

[2016-08-12 16:50] pstorch commented on #5893
I remember changing the arrangement in #5873 to make them the same in the Map Popup and the CacheDetails. Unfortunately it was the wrong way around.
I can take this issue.

[2016-08-13 07:21] #5864 closed

[2016-08-13 07:21] #5893 closed

[2016-08-13 12:52] kumy commented on #5850
[code]

[2016-08-13 15:42] Bananeweizen commented on #5850
@samueltardieu The last one by kumy looks like a memory leak in rxandroid to me. rx.android.app.AppObservable.bindActivity(Activity, Observable<T>) directly uses the activity as member in the Binding. Should that be reported over there?

[2016-08-13 18:59] samueltardieu commented on #5850
No, as we use a very old version of RxAndroid and the new ones don't have this. I'll try to have a look.

[2016-08-14 09:47] Lineflyer commented on #5637
Is there any fix which shall be included on 'release'?

[2016-08-14 19:13] Lineflyer opened #5899 "Coords not sendable to mapy.cz"
From support mail:

 2016.06.09

[2016-08-14 19:29] Lineflyer opened #5900 "Waypoints hidden on map even below selected limit"
##### Detailed steps causing the problem:
- Use "Beta Map" as a live map
- Waypoint limit is set to e.g. 20 caches (or even more)
- Open live map showing caches and its waypoints
##### Actual behavior after performing these steps:

While scrolling on the map it often happens that the waypoint suddenly vanish even if the selected limit of shown caches is not reached.
Its not clearly reproducible bu

[2016-08-14 19:49] Lineflyer commented on #5637
I prepared the release and have built it.
Some translations might be not included (catalan, spanish addons) but we can still do that later on (with next bugfix release or replace staged release before going to 100%).
I will publish 2016.08.14 to 20% of users in the next minutes.

- [ ] Tag release on Github
- [ ] Publish to Fdroid
- [ ] Communicate on social networks (once it is available)
- [ ] R

[2016-08-14 20:03] Lineflyer opened #5901 "Next bugfix release"
Issues to be solved for the next bugfix release after 2016.08.14 feature release:

- [x] #5910: java.lang.IllegalArgumentException: credentials are not valid in Credentials.guard
- [ ] #3528 : Longer existing NPW which now shows up more frequently
- [x] #5916: Intworking with newest maps.me not working
- [x] #5913: NPE/Illegal State Exception

[2016-08-15 05:46] Lineflyer opened #5902 "Cache location/icon not updated by nearby search result"
##### Detailed steps causing the problem:
- Premium member
- New map
- Open live map
- Scroll to new position to trigger loading and wait until fully loaded
- Note that all caches have orange circles although acc. to log a nearby search has been done in addition to live map loading
- Click on a cache next to map center
##### Actual behavior after performing these steps:

Cache jumps to correct pos

[2016-08-15 08:56] Lineflyer commented on #5899
Steps:
1) Cache details
2) tap on a map
3) "Other external maps" from the menu -> Mapy.cz app
4) problem described below.

[2016-08-15 09:05] kumy commented on #5637
Nice work!
Btw release changelog is missing #4865 "Show logbook of GeoKrety trackables"

[2016-08-15 09:21] Lineflyer opened #5903 "Invalid Argument Exception"
Google play report with 2016.08.14:

[code]

[2016-08-15 09:34] Lineflyer commented on #5637
We do now have approx. 5% user on new release and no critical or mass crash reports.
Lets wait one more day and then decide on going to 100%.

[2016-08-15 09:38] Lineflyer opened #5904 "No such method error"
New error first reported with RC and now with 2016.08.14:

[code]

[2016-08-15 10:06] UniQP commented on #5904
Duplicate of #5766.

[2016-08-15 16:21] Bananeweizen commented on #5637
@kumy that's why it is best to include a change of changelog_master/changelog_release.xml directly in every bugfix commit. I also have a hard time remembering what needs to be added otherwise before starting a release.

[2016-08-15 16:41] Bananeweizen commented on #5899
I don't understand where the bug shall be in this case. If you open mapy from cgeo, it points to the exact coordinates (by extending the label with a triangle shape). That is exactly the same behaviour as for all other positions that I can tap on the map. I only get a pin when I start the navigation inside mapy.cz.

Since I've never used that app before, I cannot be certain, but I guess this is th

[2016-08-15 17:48] Lineflyer commented on #5904
Closing here then.

[2016-08-15 17:48] #5904 closed

[2016-08-15 17:52] Lineflyer commented on #5766
With the ongoing staged release of 2016.08.14 we get more of this via Google Play.
Affected devices are also Xiaomi (MI 4c, MI 3w, Redmi 3s, HM Note 2) with Android 4.4, 5.0, 6.0

[2016-08-15 17:58] Lineflyer commented on #5903
Another one from today:
[code]

[2016-08-15 18:21] Lineflyer commented on #5766
Another user from support mail with this device and same problem:
[code]

[2016-08-15 18:22] UniQP commented on #5766
Should I create a workaround?

[2016-08-15 18:25] Lineflyer commented on #5766
Well...no idea how many devices are affected.
But as the app is useless with this device bug, we should IMHO consider a workaround.

I found something here:
https://github.com/AntennaPod/AntennaPod/issues/884
http://stackoverflow.com/questions/29491443/xiaomi-hm-1sw-java-lang-nosuchmethoderror

[2016-08-15 19:25] samueltardieu commented on #5766
Thanks @UniQP for the fix. Merged in `release`.

@Lineflyer You may want to cut a new release.

[2016-08-16 06:47] Lineflyer commented on #5766
I found a user on support mail, who might be willing to test the workaround.
I produced a RC version and will send the APK to him for testing.

[2016-08-16 10:57] Lineflyer commented on #5766
We mailed to two users, we have now feedback from one of them:

So it seems to look good.
I will wait until this evening to check if there is more feedback and then push the new release in case it is OK. Until then I stay with 20% staging.

[2016-08-16 11:05] Lineflyer commented on #5766
I just learned that Google Play allows to freeze the staged release, which I now activated.
This means, that no more new installations of 2016.08.14 will happen but already upgraded users stay with the version until we release a new one.

[2016-08-16 19:40] Lineflyer commented on #5766
New release 2016.08.16 pushed to 50%

[2016-08-16 19:40] #5766 closed

[2016-08-16 20:06] samueltardieu opened #5906 "Concurrent modification exception"
The use of `caches` in `CGeoMap` threads naturally leads to `ConcurrentModificationException` being thrown.

From 2016.06.09 (and thus also present in 2016.06.14).

[code]

[2016-08-16 21:12] Lineflyer commented on #5637
FYI:
2016.08.14 has been replaced by 2016.08.16 and staged to 50% for now.
Remaining items as listed above are still open.

Lets wait 1-2 days and then go to 100% if no more critical issues arise.

[2016-08-17 08:57] samueltardieu opened #5907 "Concurrent modification exception in new map"
It looks like the old  bogus unthread-safe model has been copied there (see #5906).

With release 2016.08.16.

[code]

[2016-08-17 17:02] rsudev commented on #5907
While I copied quite some things from the CGeoMap implementation I specifically tried to address these concurrency topics - and obviously failed :-1:

[2016-08-17 20:31] rsudev commented on #5900
On the old map, the waypoints intially get on the map, if the cache is loaded for display as well (IIRC screen size + 20 % or so). If the cache is not on the map to begin with, the don't come up either. They stay on the map, as long as the cache is in the LRU list (and the limit is not reached of course. Normally they will not vanish at all).
On the new map the are tight to the visibility of the c

[2016-08-17 20:34] rsudev commented on #5892
On the old map, there might have been a larger distance to cover before a refresh was triggered or the progress. I need to re-check this.

[2016-08-17 21:14] rsudev opened #5908 "NullPointerException in onFinishEditNoteDialog"
Stack trace from play console:

[code]

App-Version: 201608161
Android-Version: Android 6.01
Gerät: Galaxy S6 Edge (zerolte)

[2016-08-17 21:18] rsudev opened #5909 "NewMap: IllegalArgumentException in v6.layers.PositionLayer.draw"
[code]

App-Version: 201608161
Android-Version: Android 2.3.3 - 2.3.71
Gerät:  Galaxy Y (GT-S5360)

[2016-08-17 21:18] Lineflyer commented on #5637
Release 2016.08.16 set to 100%

[2016-08-18 07:51] Lineflyer commented on #5637
Release is available. FB is posted, G+ not working for me.
Notification sent.

So we are done!! Thanks to all!!

[2016-08-18 07:51] #5637 closed

[2016-08-19 18:04] chicogh commented on #5728
The same problem also happens to me.
I found 72 Geocaches in c:geo and save them offline when I trying to sort by Log date they appear disordered.

**System information**
--- System information ---
Device: SM-N910F (trltexx, samsung)
Android version: 6.0.1
Android build: MMB29M.N910FXXS1DPG1
Cgeo version: 2016.08.16
Google Play services: enabled
Low power mode: inactive
Compass capabilities: yes
R

[2016-08-21 18:28] rsudev opened #5910 "java.lang.IllegalArgumentException: credentials are not valid in Credentials.guard"
Stacktrace from google play (sample, there are quite a number of them recently):

[code]

[2016-08-21 18:39] kumy commented on #5910
hum, I think this should fix the issue,
[code]

[2016-08-21 18:49] rsudev commented on #5910
Looks plausible IMO from a technical perspective.
The context seems to imply, that we have a non-empty username, but an empty password.
Can that be possible?

[2016-08-21 18:50] kumy commented on #5910
I think that was possible with the previous implementation.

[2016-08-21 18:51] rsudev commented on #5910
That would explain it.

[2016-08-21 19:10] kumy commented on #5901
Added #5910

[2016-08-21 20:14] rsudev opened #5913 "IllegalStateException: Fatal Exception thrown on Scheduler.Worker thread"
This is also a new issue on play, but I currently have no idea how it can happen:

[code]

[2016-08-21 20:51] kumy opened #5914 "Live map is not loading any caches"
##### Detailed steps causing the problem:
- Open Live map
- move...
##### Actual behavior after performing these steps:

Caches are not displayed
##### Expected behavior after performing these steps:

Caches should be shown
##### Version of c:geo used:

Lasted `release` (self build)
##### Is the problem reproducible for you?

This happens without any apparent reason
We have some reports on from Pl

[2016-08-21 20:56] Lineflyer commented on #5914
Interesting....so have been finally able to reproduce it?!

Symptoms for me have been the same. After rebooting my DSL it worked again (Change of IP?)

[2016-08-21 21:33] kumy opened #5915 "Static map load forever"
##### Detailed steps causing the problem:
- Open a cache
- Store it
- Slide to "Details" tab
- Scroll down until map
- Tap the map
- Select "Static Maps"
##### Actual behavior after performing these steps:

Activity change, and "Loading static maps..." message is displayed forever.
##### Expected behavior after performing these steps:

Message should disappear, and map shown. Or at least if there

[2016-08-21 21:40] kumy commented on #5914
In fact, the map display correctly (via https://tiles.geocaching.com/map.png), but all other requests for map popup fail to load too (via https://tiles.geocaching.com/map.info)

[2016-08-21 21:53] kumy commented on #5914
I've forced all my traffic to pass via another route this restored the service, then back to my standard routing, and the service still works.

I suspect one of Groudspeak server behind a load balancer to be faulty... And not a bug with cgeo or rate limiting.

[2016-08-21 22:29] kumy commented on #5850
**cgeo.geocaching.maps.mapsforge.v6.NewMap has leaked**

[code]

[2016-08-22 13:50] Bananeweizen commented on #5914
Can we specify it clearly enough to forward this issue to them?

[2016-08-22 17:17] Lineflyer commented on #5914
I remember that in the initial discussion with one member of their team we asked about that load sharing mechanism....and he told us to use another url than on the website (something like tile.geo.... instead of tile2.geo...). How is it handled on the website itself?

[2016-08-22 17:40] Lineflyer commented on #5914
As support mails and bad ratings keep coming I will add a temporary FAQ entry and a note on the main web page.

[2016-08-22 17:41] kumy commented on #5914
@Lineflyer Check lead to at least 4 urls `tiles01` to `tiles04` (it could be more) which all resolves to the same IP 63.251.163.200 (as for `tiles.geocaching.com` which we use.)

@Bananeweizen I'm not sure how can we do more test on our side. The LB should stick user on one server for a time, and can't do something to use another server (at least without changing client IP).

I wasn't able to prov

[2016-08-22 17:44] kumy commented on #5914
It could be nice to contact them with precise requests and time, so they can check their logs...

[2016-08-22 17:53] Lineflyer commented on #5914
Lets wait some more days to see if they also recognized the problem and are about to fix it.

Question:
I added a warning to www.cgeo.org and a [FAQ-entry](http://www.cgeo.org/faq.html#5914).
Should we additionally use the notification system to inform the users (and link to this FAQ entry).

Additionally:
If you have a better proposal for the wording of the FAQ entry...feel free to change it.

[2016-08-22 18:16] Lineflyer commented on #5914
FYI:
Notification posted after short agreement on IRC.

[2016-08-22 19:05] kumy commented on #5914
There seems to be some similar issues reported on groundspeak forum.
Main thread -> http://forums.groundspeak.com/GC/index.php?showtopic=340961

other references...
-> http://forums.groundspeak.com/GC/index.php?showtopic=340952
-> http://forums.groundspeak.com/GC/index.php?showtopic=340969

main forum page: http://forums.groundspeak.com/GC/index.php?s=b046b9510033f7615f8910ec5b62f691&showforum=139

[2016-08-22 19:31] Lineflyer commented on #5914
Interesting info.But what could we change in FAQ based on this info?Linking to that forum might confuse users as it deals only with browser issue (of course its the same technical issue but most users wouldnt understand the connection to cgeo). I would also avoid linking there in order not have cgeo discussions in the groundspeak forums,

Von Samsung-Tablet gesendet

-------- Ursprüngliche Nachric

[2016-08-22 19:37] Lineflyer opened #5916 "Maps.me interworking broken"
From FB and support mail:
Navigating using maps.me from cgeo is no longer working (no target shown in maps.me).

Happens if both apps are on latest available release, works again when downgrading maps.me to previous official version.

So either an API change on maps.me which we need to follow or simply a bug of maps.me.

[2016-08-22 19:41] rsudev commented on #5914
We could of course mention that all users of gc.com are randomly affected, but I think we can leave as it is for the moment.

[2016-08-22 19:46] Lineflyer commented on #5914
Mentioning that all users are affected is a good idea IMHO.Maybe you could add this to the FAQ entry as I am off for today.

Von Samsung-Tablet gesendet

-------- Ursprüngliche Nachricht --------
Von: rsudev <notifications@github.com>
Datum: 22.08.2016  21:41  (GMT+01:00)
An: cgeo/cgeo <cgeo@noreply.github.com>
Cc: Lars <gc@droescher.eu>, Mention <mention@noreply.github.com>
Betreff: Re: [cgeo/cge

[2016-08-22 20:10] Lineflyer commented on #5916
@Bananeweizen
Is it possible that maps.me reverted their API change which you recently adapted c:geo to?

[2016-08-22 20:48] kumy commented on #5850
**cgeo.geocaching.MainActivity has leaked**
[code]

[2016-08-23 05:44] mucek4 commented on #5914
I still have contact to Raine shall I forward the thread to him?

[2016-08-23 07:20] Lineflyer commented on #5914
I think Raine is no longer working for them.

[2016-08-23 07:24] papenmap opened #5917 "Popup menu for text selection too narrow"
##### Detailed steps causing the problem:

Using c:geo on Android (Samsung Galaxy 7) in portrait lay-out (vertical)
- View details of a cache
- Select part of the text. Popup menu 'share' appears.
- Touch dots on the right ":" to open the deeper menu (copy, share, select all, assistant, search wikipedia, translate).
##### Actual behavior after performing these steps:

The menu is too narrow. Most

[2016-08-23 07:25] Lineflyer commented on #5910
I pubslihed a RC version on the beta channel which includes this fix. IMHO this is the best thing we can do do get an impression.

[2016-08-23 07:50] SammysHP commented on #5917
Can you show us a screenshot?

[2016-08-23 07:55] papenmap commented on #5917
Sure. See attachment. One is in portrait mode (the bug) and the other in landscape mode.

I hope that you have a solution.
Vriendelijke groet,
Martin van Toll

Op 23 aug. 2016 09:50, bij 09:50, SammysHP <notifications@github.com> schreef:

[2016-08-23 08:03] mucek4 commented on #5917
Attachments from email don't post here.

[2016-08-23 08:20] dcj99b opened #5918 "C:Geo does not work with Maps.me 6.3.6"
##### Detailed steps causing the problem:
- Upgrade Maps.me to 6.3.6

##### Actual behavior after performing these steps:
Selecting "Show on a map" in C:Geo, and chosing Maps.me
The map appears, but no caches come across
Their cursor is stuck in the search box.

##### Expected behavior after performing these steps:

Full display of caches onto the map

##### Version of c:geo used:

2016.06.16

###

[2016-08-23 08:21] SammysHP commented on #5918
Duplicate of #5916.

[2016-08-23 08:21] #5918 closed

[2016-08-23 08:23] dcj99b commented on #5916
I'm ANNOYED YOU CLOSED THIS AS THE PREVIOUS SUPPORT ENTRY LACKED DETAIL.  I HAVE HELPED PEOPLE GET THINGS WORKING AGAIN.

[2016-08-23 08:24] papenmap commented on #5917
Did you get the screenshots?  I just received a message that "attachments don't post here".

Vriendelijke groet,
Martin van Toll

Op 23 aug. 2016 09:50, bij 09:50, SammysHP <notifications@github.com> schreef:

[2016-08-23 08:25] dcj99b commented on #5916
Deleting Maps.me VERSION 6.3.6 and loading version 6.2.5-Web  using their downloadable .apk file restores full functionality.

[2016-08-23 08:59] mucek4 commented on #5917
No. We did not got screenshot. You need to attach it on github page.

[2016-08-23 10:06] papenmap commented on #5917
I can't send pictures through github.com. Here is a link to my two sreenshots:
http://www.vantoll.nl/download/CGEO_menu_too_narrow.zip

[2016-08-23 10:17] Lineflyer commented on #5916
Hi @dcj99b
The other issue was closed in order not to have a duplicate issue. As you can see above the duplicated issue is linked, so we won't miss any information.

[2016-08-23 10:39] Lineflyer commented on #3528
With 2016.08.21 we already have 13 reports this week:

[code]

[2016-08-23 10:43] Lineflyer commented on #5901
I added three more ToDo which seem relevant/significant from my perspective:
- Maps.me problem
- Two crashes which occur rather frequently on GooglePlay

[2016-08-23 12:13] jovars opened #5919 "Livemap crash"
In rare cases starting the (live) map freezes or crashes c:geo permanently. This is a rare problem we were not yet able to debug.

If this happens to you please send us a log (as described in this FAQ).

##### Detailed steps causing the problem:
- Start c:geo on my xperia Z3 compact
- Enable live-map ( google-map )
-Zooming in or zooming out ( even occours when i turn the device from portrait to l

[2016-08-23 12:37] jovars commented on #5919
Trying to log via aLogcat, but did not get a lot of info:

Log from aLogcat

first try:

--------- beginning of main
W/ResourceType( 7820): Found multiple library tables, ignoring...
I/Timeline( 7820): Timeline: Activity_idle id: android.os.BinderProxy@37ee0d76 time:115254

2nd try :

--------- beginning of main
I/Timeline( 7820): Timeline: Activity_idle id: android.os.BinderProxy@37ee0d76 time:14

[2016-08-23 13:41] papenmap commented on #5917
Did you succeed in viewing the screenshots?

[2016-08-23 13:57] SammysHP commented on #5917
![1 menu too narrow portrait](https://cloud.githubusercontent.com/assets/922874/17894601/35064048-694a-11e6-8067-90aa7a562296.png)
![2 menu correct landscape](https://cloud.githubusercontent.com/assets/922874/17894606/3a35b0bc-694a-11e6-94d3-d3d243c2f14c.png)

[2016-08-23 15:33] Lineflyer commented on #5919
Please not that you have to have root access on your device and cgeo debug logging enabled in the settings.
One of these conditions seem to be missing.

[2016-08-23 20:20] Lineflyer commented on #5919
Do you get the option to send a crash report when this message is shown?
If yes, please do so each time it happens.

[2016-08-23 20:25] Lineflyer commented on #5916
@Bananeweizen
I guess maps.me reverted their change of callback format in the newest version.
So maybe we need just to revert this change: https://github.com/cgeo/cgeo/commit/147efba1615e704ef2c99bb6fb025635902e015a

[2016-08-23 20:40] Lineflyer opened #5920 "GPX format issue cgeo -> Garmin etrex 10"
From support mail:

[code]

[code]

<groundspeak:type>Found it</groundspeak:type> or <groundspeak:type>Didn't find it</groundspeak:type>
[code]
<groundspeak:type>found it</groundspeak:type> or <groundspeak:type>didn't find it</groundspeak:type>
[code]

[2016-08-23 20:47] kumy commented on #5916
@Lineflyer I'm not sure the commit you mention has something to do with our issue. It seems to be the way around. Click on a cache from Map.me (I didn't know it was possible).

[2016-08-23 22:35] kumy commented on #5916
The problem is on MWM side. I get the same problem with an old version of cgeo (tested with 2016.14.12).
Now let's find what has changed on their side... :(

[2016-08-24 19:18] rsudev commented on #5910
The closing happend because I merged release to master. Checking Play console reveals ~540 beta installs, only one crash so far, but not this one. So I guess this is solved.

[2016-08-24 20:50] rsudev commented on #5914
Found some occurences of this in play console. Quite telling, if you ask me.
[code]

[2016-08-24 21:28] rsudev commented on #5913
I now found a way to reproduce:
* open the map and find some unstored cache
* tap it to open the popup
* tap on the store button
* select some target list and tap ok
* while the cache details are still loading, tap on back twice quickly

Remember that with debug log enabled the exception that is thrown leads to an ANR. The exception is nevertheless visible in the log.

This also leads to possible

[2016-08-25 21:27] Lineflyer commented on #5901
Based on Play Store comments and support mail there seem to be three large areas of concern for our users after the feature release:

- Maps.me problem --> Shows up to be a maps.me problem. Probably nothing we can do?!
- Crash in Settings ---> Most likely fixed already on `release` branch
- ANR and Crashes on Map --> Here it is unclear for me, whether this is already included in the topics listed

[2016-08-25 21:30] rsudev commented on #5901
I am right now cross-checking Play. For everything besides the maps.me issue which is listed here I have created PRs. I can merge those to put out another beta.

[2016-08-25 21:33] Lineflyer commented on #5901
As I think we need a rather quick way forward and those issues are hardly testable by myself, I agree to put these fixes on `release` branch and have a broader test via beta.
@rsudev: Feel free to do as proposed from my point of view.
@samueltardieu By the way: You might need to check the notification system. It seems to be stuck in the RC-deployment as the RC notification is not working (I create

[2016-08-25 21:51] #5907 closed

[2016-08-25 21:51] #5913 closed

[2016-08-25 22:05] Lineflyer commented on #5901
After chat on IRC changes have been made on `release` and a corresponding RC 2016.08.25-RC pushed to Google Play Beta channel.

[2016-08-26 19:17] kumy commented on #5914
Lasted comment from an admin at GS forum

[2016-08-26 20:49] Lineflyer commented on #5916
Not a problem on our side. Therefore closing. Still we might post updates here as soon as we know it is solved.

[2016-08-26 20:49] #5916 closed

[2016-08-26 20:49] Lineflyer commented on #5901
Anyone with on opinion whether we should release the current beta? Not much time since we published the beta... I used it myself and it is working normal for now. IMHO things can only get better with the update.

[2016-08-26 21:07] Lineflyer commented on #5919
@jovars
Can you please test the newest beta version we published and check if it is working better?
You can receive it via normal Play update if you first register here:
http://goo.gl/g7NhzY

Alternatively you can directly download and install the app from: http://download.cgeo.org/cgeo-RC.apk

Your feedback is highly appreciated!

[2016-08-26 22:10] Lineflyer commented on #5901
I will build a release and publish based on best knowledge and test results (for me OK, no critical feedback on beta channel).

- [ ] Publish release on Google Play
- [ ] Rework milestones on Github
- [ ] Tag release on Github
- [ ] Push notification as soon as available
- [ ] Post to social networks

[2016-08-27 03:28] EeLingChow opened #5923 "Execution failed for task ':main:verifyCgeoKeys'. > You must provide keys in main/res/values/keys.xml for cgeo to compile successfully. You can copy from main/templates/keys.xml and just add the necessary values."
##### Detailed steps causing the problem:
- Step 1
- Step 2
- ...

##### Actual behavior after performing these steps:

##### Expected behavior after performing these steps:

##### Version of c:geo used:

##### Is the problem reproducible for you?
Yes/No

##### System information:
[code]

##### Other comments and remarks:

[2016-08-27 06:10] UniQP commented on #5923
Please do so. See https://github.com/cgeo/cgeo/blob/master/README.md#api-keys for details.

[2016-08-27 07:07] SammysHP commented on #5923
Just read the error message, it tells you the reason and what you can do to fix it.

[2016-08-27 07:07] #5923 closed

[2016-08-27 09:26] Lineflyer commented on #5901
@rsudev Do you think #3528 should be solved as well (it is listed above)

[2016-08-27 11:32] Bananeweizen commented on #5916
I assume it will work in 6.3.7, judging by this somewhat related comment: https://github.com/mapsme/api-android/issues/21#issuecomment-242118383

[2016-08-27 12:16] rsudev commented on #5901
No, #3528 is not yet addressed.

[2016-08-27 12:35] Lineflyer commented on #5916
Yes, I also received positive feedback on support mail. 6.3.7 is working again.

[2016-08-27 12:38] rsudev commented on #5901
I have yesterday evening done some analysis on the crashes on play.

In the last week we had (according to play) 57 different crashes with together 193 occurences.
The largest group is associated with network problems WRT geocaching.com. 62 crashes can be attributed to this in different forms (connection timeout, ssl handshake failures, host not found). A small group of these (9 occurences) are na

[2016-08-27 13:05] Bananeweizen opened #5925 "auto accept android licenses"
The most recent beta releases of the android tooling require to accept licenses for the SDK components even on build servers. I've implemented this by our build script automatically writing the necessary file, see http://stackoverflow.com/a/38381577/44089

That works. However, I was wondering if other developers would prefer this to be part of our gradle script directly, to make it work everywhere

[2016-08-27 13:10] rsudev commented on #5925
I would prefer to have to accept those licenses manually/personally.

[2016-08-27 19:20] #5925 closed

[2016-08-27 21:35] Lineflyer commented on #5901
@pstorch I have seen you asked on IRC if there are urgent tasks. Do you have access to the c:geo Google Play Console (crash reports, etc.)?
It might be helpful if more people crosscheck the crash reports there....if you want.
If you don't have access I think @mucek4 needs to enable your gmail account for it.

[2016-08-27 21:36] Lineflyer commented on #5901
All things done here. Closing.

[2016-08-27 21:36] #5901 closed

[2016-08-27 21:37] Lineflyer opened #5926 "Next bugfix release"
Issues to be solved:

- [x] Placeholder

[2016-08-27 21:38] Lineflyer commented on #5919
@jovars Instead of the above mentioned beta/RC version you can also please retest with the latest official release 2016.08.27

[2016-08-27 21:39] Lineflyer commented on #5915
@kumy Do you have static maps disabled by default? Because if I try this the static maps open instantly as they have been saved while saving the cache.

[2016-08-27 21:45] pstorch commented on #5901
@Lineflyer I don't have access to the Google Play Console, yet.

[2016-08-27 22:54] kumy commented on #5915
"Static map" is enabled in settings. "Static map (WP)" isn't.

On August 27, 2016 11:39:41 PM GMT+02:00, Lars <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-08-28 06:11] Bananeweizen commented on #5917
duplicate of #5623. solution would be to shorten the translation string for netherlands this time

[2016-08-28 07:19] #5920 closed

[2016-08-28 08:03] SammysHP commented on #5920
What is with the second issue?

[2016-08-28 10:10] Bananeweizen commented on #5920
As proven with this test https://github.com/cgeo/cgeo/commit/d7a2b965b60104c259584c6a91b91f0130bc3b5d#diff-102599b870a0d15634a96ca211cf225bR152 it works fine. Was fixed some time before.

[2016-08-28 12:29] Pixelfahnder opened #5927 "UI / UX overhaul - The big picture"
After reading through the issues regarding UI stuff I was slightly shocked how many issues exist and how many people in here are willing to change the UI and the user experience.

The main points I identified reading through the ideas / bug report issues are the following:
# Customer onboarding

cgeo has many users new to Geocaching so they have to be introduced to the game / sport. Therefore issu

[2016-08-28 14:36] SammysHP commented on #5927
Sadly I cannot agree with your priorities and plans (although I really appreciate your effort in this topic).

### Customer onboarding

Yes, we had (and have) some issues with new user introduction / tutorials / help. As a power-user and developer you have a totally different view of things. IMHO an app must be usable without tutorials and help, just by using it. This is definitely not the case wi

[2016-08-28 18:21] Bananeweizen opened #5928 "Need graphics for developer page"
I've enabled a developer page for the team in Google Play. You can see the web version here: https://play.google.com/store/apps/dev?id=7945466068179931672. This should also be reflected after a day in the play store app.

Obviously this needs a better header image, since I just took the (old) app header image and resized it. Can someone provide a good 4096 * 2304 image representing the team (or th

[2016-08-28 18:54] Pixelfahnder commented on #5927
@SammysHP I don't aggree with that. First of all you need a UI concept. To create such a base list of features supported in this new UI is nessesary as this list affects the overall concept of the interaction model as whole. Implementing is not the big problem of all of this, but the concept is! As you mentioned the target group is divers: power users vs. first timers. Out of a concept the small s

[2016-08-28 18:56] Pixelfahnder commented on #5927
@SammysHP by use case driven conceptioning I mean that we should look at the use cases users with different experience backgrounds have and try to find a way for them to achieve them.

[2016-08-28 19:28] SammysHP commented on #5927
Have you used c:geo? If yes, you should be able to create a list yourself. We can extend it afterwards if something is missing.

PS: I've studied this sort of stuff and I know that it might work in theory, but also might fail if it is forced for something that did it in a different way.
You try to create a new app, not to change c:geo. Just looking at the kloc and changes during the years it shoul

[2016-08-28 20:52] SammysHP commented on #5927
Just FYI: we talked about this issue in the IRC: http://irclogs.cgeo.org/?year=2016&month=8&day=28

[2016-08-28 21:38] Pixelfahnder commented on #5927
@SammysHP all good. I guess you got my point wrong. I just wanted to come with a concept first before triggering all other things. I just wanted to throw it in for discussion. Maybe I was too ambigous for the first start.

Let me come up with something and we see where it all goes.

Btw. I used the APP for several years so I can and will do some of the analytics.

[2016-08-29 07:09] papenmap commented on #5917
Sounds risky. Is this the only solution???

[2016-08-29 09:50] jovars commented on #5919
@Lineflyer :
I have tried the cgeo-RC.apk during this weekend, and I have had no crashes, so it seems to be working much better now, thanks!

[2016-08-29 11:05] papenmap commented on #5917
I tried, but no result. With APK Editor I could open the APK of c:geo. Choosing 'full edit' I get a long list of Dutch texts. There is "vertalen naar Engels" (= translate to english) and "vertalen naar %s" (= translate to %s). The advise in #5623 is to shorten the text.
I tried to change it to "naar Engels" and "naar %s" (or even %s) and pressed SAVE. There was a confirmation that APK had been sav

[2016-08-29 11:30] rsudev commented on #5917
The translations for c:geo are maintained on crowdin (https://crowdin.com/project/cgeo). You can suggest shorter translations there, get them approved by one of the Dutch proofreaders (or may do so for testing ourselves if you notifiy us here) and then we will move them into the next nightly, to let you cross check whether it works.

[2016-08-29 11:31] kumy commented on #5917
Did you installed the resulting apk?

The "normal" way would be to compile cgeo by yourself...

On August 29, 2016 1:05:53 PM GMT+02:00, papenmap <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-08-29 11:34] Bjurran commented on #4086
It's been more than 2 years since I started this thread. Any progress here?
Version 2016.08.27, same issue still.
Downloaded two caches (one traditional, one mystery) to a list to be certain I had all data. Saved the logs as offline logs, and none of them are visible from found caches. If I go to the live map they are shown with a red smiley.

[2016-08-29 12:35] papenmap commented on #5917
@rsudev: Sorry, I am new here. I just created an account for crowdin.com, but is not very clear what to do. Is this the only way to suggest approvements in c:geo? I hope someone can take care of this.

[2016-08-29 12:38] kumy commented on #5917
@papenmap All localizable strings are uploaded to crowdin, cgeo is there https://crowdin.com/project/cgeo. Our wiki page is https://github.com/cgeo/cgeo/wiki/Translation-%28L18N%29

[2016-08-29 19:43] kumy commented on #5915
It doesn't happens on **Nexus 10**
[code]

[2016-08-29 20:06] kumy commented on #5850
**cgeo.geocaching.maps.mapsforge.MapsforgeMapActivity has leaked**
[code]

[2016-08-29 20:25] kumy commented on #5928
@Bananeweizen I feel the actual picture is quiet blurry. Please find attached a temporary background image which is less pixelized than the actual one, so we can wait for a nice one from someone else (maybe from @brainscript ;) )!
![back](https://cloud.githubusercontent.com/assets/176794/18065979/a16d0758-6e36-11e6-85ce-47d5c55118fd.png)

[2016-08-30 05:32] rsudev commented on #5919
Thanks for the feedback!

[2016-08-30 05:32] #5919 closed

[2016-08-30 05:47] rsudev opened #5929 "Live caches vanish when disabling updates"
When you open the (new) live map, wait for caches to load and then switch to offline, the downloaded caches are removed from the map.
They should stay, obviously.

[2016-08-30 05:48] rsudev commented on #5917
I validated the suggestion you made and imported the changes today. @papenmap please check the next nightly.

[2016-08-30 06:22] brainscript commented on #5928
@Bananeweizen @kumy I'd be glad to help, but I have no clue how a Google Play team page should look like/normally looks like. Could you send me an example of a (good looking) team page?

[2016-08-30 06:24] papenmap commented on #5917
"The next nighty" means "the next automatic update"?

Vriendelijke groet,
Martin van Toll

Op 30 aug. 2016 07:48, bij 07:48, rsudev <notifications@github.com> schreef:

[2016-08-30 07:15] kumy commented on #5917
Current code from the master (unstable) branch is built each night. See page http://www.cgeo.org/development.html for more informations and download links.

On August 30, 2016 8:24:34 AM GMT+02:00, papenmap <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-08-30 07:16] kumy commented on #5928
I must admit, I have no idea of a "good dev page". Maybe browsing the Play Store to get some idea...

On August 30, 2016 8:22:31 AM GMT+02:00, brainscript <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-08-30 10:02] k3b opened #5930 "Mapsforge Offline germany.map missing some tiles for zoomlevel 5-7"
I am using the offlinemap germany.map from  http://ftp-stud.hs-esslingen.de/pub/Mirrors/download.mapsforge.org/maps/europe/

With zoomlevel 5-7 some tiles are left blank.

Cause: some map segments of germany.map are to large.

How to fix:

     ReadBuffer.setMaximumBufferSize(6500000);

For details see https://github.com/mapsforge/mapsforge/issues/868

I am using

* c:geo version 2016.08.16 (dowlo

[2016-08-30 12:31] Buntbart commented on #5143
Please put the latest update to the F-Droid-Repo.
TIA!

[2016-08-30 12:34] kumy commented on #5143
@Buntbart I'll do, thanks for pointing this :)

[2016-08-30 12:37] kumy commented on #5143
@Buntbart `cgeo 2016.08.27` should be available

[2016-08-30 16:25] Pixelfahnder commented on #5927
I started to collect the current functionality and will post it as an iterative list in here:

# Screen "Dashboard" (main APP entry point)

**Navigation links**
- Live-Map
- Nearby caches
- Saved caches
- Search
- Go to
- All caches

- About c:geo (twice)
- quick search
- history
- settings
- helpful APPs
- scan geocode
- invite friends

**Information**
- no. of current sattelites
- walking speed

[2016-08-30 18:06] pstorch commented on #5927
@Pixelfahnder: when you are premium member you have the menu entry "Pocket queries" between history and settings. There are some menus which change depending on current context.
Also long click on some UI elements are used at some places to provide extra features.

[2016-08-30 19:33] Pixelfahnder commented on #5927
@SammysHP the above list is far away from beeing complete but I think of how to prepare the next steps therefore it would be good to know the oldest API level to be supported by c:geo. Is it the one mentioned (9) in the manifest / gradle build file?

[2016-08-30 19:34] Pixelfahnder commented on #5927
@pstorch I added it to the comment above.

[2016-08-30 19:39] pstorch commented on #5927
@Pixelfahnder Map strategy is explained here: http://www.cgeo.org/faq.html#map-strategy

[2016-08-30 20:08] frodeseverin opened #5931 "Not possible to search for GeoKrety code by scanning QR code from GK label"
##### Detailed steps causing the problem:
Use case 1
- Tap search box on front page of c:geo
- Enter GeoKret Reference Number, i.e. GKE830, into search box

Use case 2
- Select 'Scan geocode' from droplet menu on frontpage
- Scan QR code from GeoKret label
    - Test label available [here](https://geokrety.org/labels.php?id=59440&nr=X534GL), just hit OK button on linked page.

Use case 3
- Scan QR

[2016-08-30 20:17] SammysHP commented on #5927
@Pixelfahnder
I'm not really sure about the required version. We have some compatibility code for older versions, but I don't know what is actually working.

[2016-08-30 20:25] pstorch commented on #5927
`minSdkVersion="9" ` is mentioned in the `build.gradle` and the `AndroidManifest.xml`
This corresponds to Android 2.3 which is mentioned on Google Play.

[2016-08-30 20:58] kumy commented on #5931
Doh! I've never tested point 2!
Here, case 3 just hang the application :/

I'll look soon what's wrong here...

[2016-08-30 21:07] Lineflyer commented on #4086
Hi @Bjurran

No, sadly no one of our small team had the time to research/debug this issue.

That is strange compared to the latest clues we had on this issue:
IMHO only unsaved caches should be affected and only if the are logged from the popup window on live map. In your case non of these conditions apply. Are you sure...I am doing the same thing all the day when caching and don't miss a cache in

[2016-08-30 21:10] Lineflyer opened #5932 "Install Java 8 on "master" slave"
Refer to IRC logs for details: http://irclogs.cgeo.org/?year=2016&month=8&day=30

By the way:
That reminds me of the plans to rent a server capable of all our needs (like Jenkins, Status, IRClogs and potentially even more (like Go4Cache)). What was the last status of that?

[2016-08-30 21:25] Lineflyer commented on #5201
Addition to this issue:
It is also not possible to mark a cache as ignored for oc.de with c:geo. I will open a new issue for that

[2016-08-30 21:25] Lineflyer opened #5933 "Support ignoring and watching caches"
It should be possible to watch or ignore OC cache listings with the same UI as for gc.com caches.
API: http://www.opencaching.de/okapi/services/caches/mark.html

[2016-08-30 21:52] Bjurran commented on #4086
I had to read my old posts regarding this and as far as I can tell, I've had issues with caches saved back in 2014. This time, I know for a fact that the traditional was saved from the live map, and the mystery was saved by searching for the GC and saving it. I know I had all the data as it was shown on the correct position on the map as I was close enough to use the live map while driving towards

[2016-08-30 22:09] pstorch commented on #4086
Interesting bug. Just did some short investigations.

The History list searches for geocaches in table `cg_caches` with `visiteddate > 0` and `detailed = 1` (optionally filtering by cache Type).

If saving an offline log without prior saving the cache only an entry in table `cg_logs_offline` is added. So it can't find it.

If you save the cache and the offline log from the Map popup the `visitedda

[2016-08-31 06:48] Lineflyer commented on #4086
That would be great. It seems detailed=1 is the first problem as unsaved caches with offline los might be missing on history then.
-------- Ursprüngliche Nachricht --------Von: Peter Storch <notifications@github.com> Datum: 31.08.16  00:09  (GMT+01:00) An: cgeo/cgeo <cgeo@noreply.github.com> Cc: Lars <gc@droescher.eu>, Mention <mention@noreply.github.com> Betreff: Re: [cgeo/cgeo] Cache not added t

[2016-08-31 12:40] mucek4 commented on #5932
Somewhere, somehow JAVA_HOME on Jenkins is still using java 1.7.0_04. Jenkins in current state (32 bit server, Jenkins 1.xxx) will have to be upgraded at some point. To restore building nightly builds I remove java 7 and linked on FS java 8 to java 7 folder. It would be nice if @Bananeweizen could check why we still use old java_home and where.

[2016-08-31 12:46] papenmap commented on #5917
I installed the latest nighty. Problem has been solved now. Thanks!

[2016-08-31 13:25] kumy commented on #5932
isn t it set on jenkins executor properties?

On August 31, 2016 2:40:06 PM GMT+02:00, mucek4 <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-08-31 15:47] kumy commented on #5932
@mucek4 I've looked at Jenkins `master executor` configuration, and it didn't contains any override of JAVA_HOME. However I imagine you could set it there, have a look at other [executor](http://ci.cgeo.org/computer/kumy-1/configure)s. Did you also updated java alternatives on your system? ex: `update-java-alternatives -l` ; `update-java-alternatives java-8-oracle`

[2016-08-31 18:22] kumy commented on #5931
[code]

[2016-08-31 19:17] Bananeweizen commented on #3962
@rsudev If you feel like that, just close issues. Don't wait for confirmation. Since everything can be re-opened there is no real problem if something is closed "to early". And you are doing us all a favor with closing an issue. :)

[2016-08-31 19:17] #3962 closed

[2016-08-31 19:22] Bananeweizen commented on #5894
The most simple solution for this (and several other use cases) would be having an additional tab on the cache details showing an embedded browser with the cache details markup. I' quite sure we discussed this before, but I don't find any related issues using "browser" or "tables".

[2016-08-31 19:28] Bananeweizen commented on #5928
@brainscript Meanwhile it is live in the Google Play App. Just open the cgeo page in the Google Play app and scroll down below the comments. There you see a new section "c:geo team" with some background image (which is the above mentioned one). And clicking the button leads to a page with more space essentially showing the same.

You can do the same for many other popular apps, to see _their_ deve

[2016-08-31 19:31] Bananeweizen commented on #5928
@kumy Your image is not big enough. The app store requires the above mentioned dimensions. And I don't want to make it blurry again by enlarging your image myself. :)

[2016-08-31 19:35] kumy commented on #5928
@Bananeweizen I thought the dimensions where recommended not mandatory. I can't produce a larger image with my tablet (maybe an emulator would help). Let's wait for @brainscript work :)

[2016-08-31 19:42] Lineflyer commented on #4086
Just some more thoughts:
It might be a straight forward plan to trigger saving the cache as soon as an offline log is added. That will avoid any necessary case destinctions.
AFAIR we do the same if personal notes are added on an unsaved cache

[2016-08-31 19:45] Lineflyer opened #5934 "NPE after editing personal note"
From Google Play starting with version 2016.08.16:

User comments:
Crash when saving personal note

[code]

[2016-08-31 19:46] Bananeweizen opened #5935 "versioneye in pull requests"
I've now disabled all versioneye webhooks and deleted the project and my account there. The recent participation of versioneye in our PRs was not intended, and their website kept adding webhooks again and again.

Should you see more versioneye participation in PRs after this message, please notify me.

[2016-08-31 19:51] Lineflyer commented on #3833
Assigning myself for a retest of this rather old issue.

[2016-08-31 19:52] pstorch commented on #4086
@Lineflyer I was thinking about that, too.

[2016-08-31 19:52] Lineflyer commented on #3883
Seems this animation is no longer used (or at least I cant spot any difference when changing lists between "history" and other lists.
Tested with 2016.08.27

[2016-08-31 19:52] #3883 closed

[2016-08-31 19:58] Bananeweizen commented on #3883
that was never an animation, but just an activity restart. :)

[2016-08-31 20:02] Lineflyer commented on #3908
IMHO we can close this:
1. The usage of the three-dot menu is now well known to users
2. New devices since some >1 year wont have a menu button any longer

So its unlikely that it is worth to fix it. Better to go with other UI ideas as mentioned in #3932

[2016-08-31 20:02] #3908 closed

[2016-08-31 20:06] Lineflyer commented on #3136
@pstorch This might be related to #4086

[2016-08-31 20:08] kumy commented on #3883
@Bananeweizen is right, and there isn't any app restart since resolution of #4969

[2016-08-31 20:09] Lineflyer commented on #3225
I just retested this with the scenario described above, and the correct error message ("Cache could not be found") is shown. Seems gc.com do now send a proper result or at least something we parse correctly.

[2016-08-31 20:09] #3225 closed

[2016-08-31 20:11] Lineflyer commented on #4692
Closed due to no feedback.
I assume it was a single case.

[2016-08-31 20:11] #4692 closed

[2016-08-31 20:12] Lineflyer commented on #4699
@pstorch Might also be related to #4086

[2016-08-31 20:14] Lineflyer commented on #4790
AFAIK we changed the dialogues here and on one hand replaced the progress dialog by a progress spinner in the actionbar. On the other hand if the user tries to send the log while the background loading is still running an improved text is shown.

[2016-08-31 20:14] #4790 closed

[2016-08-31 20:15] rsudev commented on #4086
There is unfortunately a fundamental difference between the personal note and the popup case - in the personal note case we have the full details (even already in the database if I am not mistaken) and we just need to 'store' it (assign the standard list). In the case of the popup this might not be true and AFAIK is our code tailored to expect only caches with full details in the database.
So for

[2016-08-31 20:17] Lineflyer commented on #4770
Yes, we should remove the possibility to enable the Recaptcha.
If there are complaints on support mail they are always about the unreadable captcha...not about not having the features behind.

[2016-08-31 20:18] Lineflyer commented on #4770
Link to #4304

[2016-08-31 20:19] Lineflyer commented on #4941
Duplicate of #3136

[2016-08-31 20:19] #4941 closed

[2016-08-31 20:21] Lineflyer commented on #4997
This bug is no longer reproducible with 2016.08.27
Seems to have been solved implicitly at some point.

[2016-08-31 20:21] #4997 closed

[2016-08-31 20:25] Lineflyer commented on #5063
No more crash reports received which match to this in the last published releases.
Therefore closing. Might be fixed together with the fix for #4978

[2016-08-31 20:25] #5063 closed

[2016-08-31 20:28] rsudev commented on #4699
I guess the ```visiteddate``` is just not cleared alongside...

[2016-08-31 20:33] Lineflyer commented on #5166
Unable to reproduce.

[2016-08-31 20:33] #5166 closed

[2016-08-31 20:36] Lineflyer commented on #5445
Opening the mentioned caches does now work for mw with 2016.08.27.
It takes rather long and scrolling might be not smooth due to the high amount of data (but you can work with it, at least on my device).

[2016-08-31 20:37] Lineflyer commented on #5445
Seems I need to reopen...seconds after I wrote it I experienced the crash while going to the image tab of that cache.

[2016-08-31 20:38] Lineflyer commented on #4903
@kumy Aren't we now on a newer version already?

[2016-08-31 20:40] Lineflyer commented on #5473
@andrixnet Any success in getting a log or can we close this issue?

[2016-08-31 20:42] Lineflyer commented on #5672
Closing due to lack of feedback / reproducibility

[2016-08-31 20:42] #5672 closed

[2016-08-31 20:42] #5624 closed

[2016-08-31 20:44] Lineflyer commented on #5719
Closing. Implemented.

[2016-08-31 20:44] #5719 closed

[2016-08-31 20:45] Lineflyer commented on #5818
Closing as unreproducible.

[2016-08-31 20:45] #5818 closed

[2016-08-31 20:47] Lineflyer commented on #5286
Refer to #5854 (Closing as this is more or less a duplicate)

[2016-08-31 20:47] #5286 closed

[2016-08-31 20:48] kumy commented on #4903
@Lineflyer I don't think we've upgraded the dependency and mostly the code. We're still using [com.android.support:appcompat-v7:20.0.0](https://github.com/cgeo/cgeo/blob/master/main/build.gradle#L254)

[2016-08-31 20:58] Bjurran commented on #4086
Glad to see that you are getting closer. I just wanted to ask if any of you have experienced this after importing a gpx? I haven't had time to test that myself.
(just in case there's any difference between importing or saving from the map or searching)

[2016-08-31 21:03] kumy opened #5936 "Transaction not rollbacked, when cancelling while storing cache"
##### Detailed steps causing the problem:
- Open livemap
- Tap on an un-stored cache
- Tap the save button (floppy)
- While storing press cancel

##### Actual behavior after performing these steps:
Some informations are stored, and it leave to some un-consistencies. Floppy disk on live map sometimes shown, wrong stored date in device ("about 17044 days ago"), ...

##### Expected behavior after per

[2016-08-31 21:04] pstorch commented on #4086
I made a small test with saving the cache if not saved yet, before writing the log. I had to use the `Geocache.store()` method which also downloads the details if necessary. `DataStore.saveCache()` which is used in `CacheDetailActivity.ensureSaved()` wasn't sufficient.

Open issue: when the Phone has no internet connection (e.g. Airplane mode). Then we can't download the missing details and are no

[2016-08-31 21:16] pstorch commented on #4699
@rsudev you are right, setting `visiteddate = 0` is missing.

[2016-08-31 21:17] rsudev commented on #4086
@pstorch Downloading the details in case of offline logging is IMO not an option. It just takes too much time when it works and has a high chance of not working at all. Of course this is true whenever you download a cache 'in the field', but then it is an explicit action/choice made by the user, not something that just happens.
And writing an offline log for a cache which is just in memory doesn't

[2016-08-31 21:28] pstorch commented on #4086
@rsudev yes, it needs some time. Maybe too long to be acceptable. I've done it Async at the moment, but this has other drawbacks.

What else can we do?
Forbid offline Logs if the cache has not been saved before? Not user friendly either.
Redesign the offline logs table to also contain some basic information about the Cache (e.g. title, type, ...) to be able to show it in the List activity.

Other

[2016-08-31 21:31] kumy commented on #5931
Not a cgeo bug, but an api.geokretymap.org bug.
Closing here, and fixed there.

[2016-09-01 03:53] frodeseverin commented on #5931
@kumy : Thank you for fixing this.

Use case 3, Scanning with external app now works.

However, use case 2, scanning via 'Scan geocode' from droplet menu does not
work.

Internal parsing of URI, i.e. improper handling of domain name?

[2016-09-01 04:16] frodeseverin opened #5938 "Czech opencaching?"
Any chanse of adding Czech opencaching site to c:geo services?
http://opencaching.cz

[2016-09-01 06:11] SammysHP commented on #5938
AFAIK it does not use the OKAPI, so it is not possible.

[2016-09-01 06:31] rsudev commented on #5938
There seems to be some sort of API (http://opencaching.cz/articles.php?page=api) which seemingly allows to search for and download caches (looks sufficiently simple and clear, even though the description is only in czech). So some limited sort of integration seems technically possible. Whether this  is feasible is a different story of course.
Do you have any relations/contacts to opencaching.cz? D

[2016-09-01 07:14] andrixnet commented on #5473
Still unable to login to geokrety from c:geo, including after the recent update.
I have the geokrety logger app working though.

There are still some other ways I want to try to obtain a system log.
Meanwhile, would a packet log (captured with tcpdump) be useful?

[2016-09-01 07:59] SammysHP commented on #5938
And just three caches published this year.

[2016-09-01 08:27] kumy commented on #5473
For me the problem should be the ssl certificate chain at geokrety.org which isn't trusted on older devices. In https://github.com/cgeo/cgeo/issues/5473#issuecomment-188458604 I proposed to disable SSL for older devices. Should we prefer functionality over security?

https://www.ssllabs.com/ssltest/analyze.html?d=geokrety.org&hideResults=on

[2016-09-01 08:55] brainscript commented on #5928
@kumy I finally came up with this design (It looks way better if you look at it in full size):
![c geo-banner](https://cloud.githubusercontent.com/assets/8706734/18161105/c22d9b96-7030-11e6-8572-9271cf953f9f.png)
## Sources
[The font I used for "c:geo"](https://www.fontsquirrel.com/fonts/cantarella)
[The font I used for "Geocaching for Android"](http://www.fontsc.com/font/advent-pro)
[The backgrou

[2016-09-01 08:58] kumy commented on #5928
@brainscript I really like it! Thanks.

[2016-09-01 09:04] brainscript commented on #5928
Here's version 2:
![c geo-banner](https://cloud.githubusercontent.com/assets/8706734/18161729/80d78e38-7033-11e6-9fa1-10f338564e80.png)
I put the shine effect on top and fixed some gray borders
(caused by the screenshot that was cropped wrong).

[2016-09-01 09:05] UniQP commented on #5928
Yes, looks great (both version).

I personally don't like the "Geocaching for Android" font (especially the letters 'G', 'a', 'g' are hard to read). I would prefer the "c:geo" font (or some other font) instead.

[2016-09-01 09:15] andrixnet commented on #5880
these maps could be generated directly from mapsforge data (same as used for the map screen with offline maps), right?

[2016-09-01 09:15] andrixnet commented on #5883
subscribe

[2016-09-01 09:16] andrixnet commented on #5931
subscribe

[2016-09-01 09:17] kumy commented on #5883
@andrixnet no need to post to subscribe, this feature is on the right column here on github :)
![screenshot from 2016-09-01 11-17-15](https://cloud.githubusercontent.com/assets/176794/18162220/a96736ee-7035-11e6-8b8e-c778ef388640.png)

[2016-09-01 09:23] brainscript commented on #5928
@UniQP I tried multiple fonts and this one fits perfect because when I use the "c:geo" font the text  goes over the trees of the background ... I hope you understand what I mean.

[2016-09-01 09:34] SammysHP commented on #5880
No, we talk about online services. Static maps from offline vector data does not make sense.

[2016-09-01 09:39] andrixnet opened #5939 "blurred text, new behaviour - or HW accel setting changed/reset by update"
##### Detailed steps causing the problem:
- Open the map screen
- Use Google Map or Google Satellite
##### Actual behavior after performing these steps:

some or all the characters on the map scale indicator are blurred. (ie 300m)

same happens with some characters in cache description.
##### Expected behavior after performing these steps:

text is properly displayed on all OSM layers and on all o

[2016-09-01 09:41] brainscript commented on #5928
Here's version 3:
![c geo-banner](https://cloud.githubusercontent.com/assets/8706734/18162882/890df3f8-7038-11e6-98ca-65ac3d6290d5.png)
I readded the phone shadow (forgot that in v3), made the "Geocaching ..." text more readable by making its color a bit darker, added a gradient to make the bottom darker and adjusted the phone's gradient to have less contrast (by changing the black color to some s

[2016-09-01 09:47] andrixnet commented on #5473
Results show A- which is a pretty good grade for SSL.

I understand there may be a problem for Android 2.3 devices, considering the history of SSL in recent years, however :
My problem happens using a device with Android 4.2.1...

I'm not sure how much of GeoKrety Logger code was shared with c:geo (I've been collaborating with it's author for translation and testing), and how it does the auth on g

[2016-09-01 11:45] kumy commented on #5473
I'm quiet sure GeoKretyLogger doesn't use SSL. I'll have a look at code.

On September 1, 2016 11:47:22 AM GMT+02:00, andrixnet <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-09-01 13:24] frodeseverin commented on #5938
I am going to Prague this month.

I thought it used OKAPI, like the other opencaching sites. Then it would require minimal work, I suppose.

I think I shall drop this one for now. Perhaps I or someone else should contact them or opencaching network to advocate a standard API.

[2016-09-01 18:29] Lineflyer commented on #5938
I agree, but I think this is an opencaching internal thing then.
Once they support OKAPI we might come back to this.

[2016-09-01 18:29] #5938 closed

[2016-09-01 18:30] Lineflyer commented on #5939
The screenshot show the typical symptoms we have in c:geo ever since when using HW-acceleration on some devices.
Let me check if I can reproduce the reset of that setting during version upgrade.

[2016-09-01 18:46] Lineflyer commented on #5928
Nice work @brainscript
My personal opinion: Really good, just the green text looks blurred / not sharp. Is that intentional?

Maybe we could use something similar or exactly this one also for the social networks to replace this one: https://www.facebook.com/android.geocaching/photos/a.10150686000550091.446649.297269860090/10152942996130091/?type=1&theater

[2016-09-01 19:07] Lineflyer commented on #5930
@k3b Did you encounter this issue with the normal Mapsforage implementation in c:geo or (also) when using the Mapsforge beta map (Menu -> Settings -> System -> Mapsforge beta map)
@rsudev Did you read this?

[2016-09-01 19:25] SammysHP commented on #5928
@brainscript Can you try to remove the shadow from the text? Everything else looks great!

[2016-09-01 19:43] rsudev commented on #5930
Have read this now. The linked issue states mapsforge 0.6.x, so it is the new map (but I didn't encounter it yet). I will cross-check and fix accordingly.

[2016-09-01 20:58] brainscript commented on #5928
@SammysHP I don't have to try. I can just do it. :smile: Here you go:
![c geo-banner](https://cloud.githubusercontent.com/assets/8706734/18184078/9bbc8028-7097-11e6-9bd9-1ddde41118c8.png)

[2016-09-01 21:02] pstorch commented on #4086
Why do we only save caches where `detailed = true`? We have this flag in the DB and can react on it.
I've made some tests and allowed to save the cache without detailed information. Then the save is fast (doesn't need to download anything) and it shows up in the History.
The CacheDetails can still be opened and details loaded afterwards with `refresh`.

Still sometimes the `visiteddate` is not set

[2016-09-01 21:11] rsudev commented on #4086
The history behind this is, that initially all caches were saved in the database always, even the live-map caches. This led to performance issues, and I assume one of the ways to avoid accidental save of a cache to the database was, to explicitly require ```detailed = true```.
It is good to hear that it does not lead to immediate problems, if this restriction is lifted, but we should be careful, t

[2016-09-02 06:16] SammysHP commented on #5928
Perfect!

[2016-09-02 09:46] k3b commented on #5930
I discovered it with the non-beta but it was also visible with the beta version

[2016-09-02 10:28] Lineflyer commented on #5928
Is there any copyright for the background image? https://unsplash.com/photos/OmelL9tVVno

[2016-09-02 10:32] brainscript commented on #5928
@Lineflyer Unsplash is royalty free.

[2016-09-02 11:51] SammysHP commented on #5928
Looks like there is a layer style enabled for the background. Can you check to border?

[2016-09-02 14:10] brainscript commented on #5928
@SammysHP Do you mean that I used a simple blur filter?
Or that I added a gradient from the bottom upwards?
Or what do you mean? o.O

[2016-09-02 14:22] SammysHP commented on #5928
@brainscript There is a bright border, only a few pixels thick.

[2016-09-02 14:42] brainscript commented on #5928
This is an Inkscape bug. Maybe I can fix it somehow or I have to remove the border manually.

[2016-09-02 22:44] kumy commented on #5931
(I've missed today's Nightly build for some minutes.)
@frodeseverin may you try next NB-2016-09-04 please?

[2016-09-03 08:20] Bananeweizen commented on #5928
Uploaded the version with border for now. Will redo with new image.

[2016-09-03 09:37] Lineflyer commented on #5928
I did also upload the latest version to Google Play, FB and G+.

[2016-09-03 09:58] kumy commented on #5473
I've have checked GKLogger code, and I can now confirm they are not using SSL at all for accessing GeoKrety.org service (https://sourceforge.net/p/geokretylog/code/HEAD/tree/trunk/src/pl/nkg/lib/gkapi/GeoKretyProvider.java#l54) even for authentication :'(

That explain why it's still working on older devices.

[2016-09-03 10:07] kumy commented on #5473
It can be easy to add an (advanced) option in GK service settings to "force disable SSL usage". Doing so, user will know his credentials are send in clear text over the net. That is IMO a good compromise over security / feature and doing things on behalf of the user. What do you think?

[2016-09-03 10:27] kumy commented on #5212
AFAIK there is no option on geocaching.com to log a trackable to/from a geocache other than using the logging view.

In this context, it is only possible to log "Note" logtype.

[2016-09-03 10:54] brainscript commented on #5928
@SammysHP I found the the bug report for this annoying bright border on Launchpad. They somehow released a fix in 2010 which obviously didn't solve the issue. I you have a UbuntuOne account please [follow the link](https://bugs.launchpad.net/inkscape/+bug/165529) and click on "Does this affect you?" and then on "Yes, it affects me". Thanks.

@Lineflyer Cool. I really appreciate the positive feedba

[2016-09-03 11:53] kumy opened #5942 "Unable to run gradle on master branch"
##### Detailed steps causing the problem:
- checkout master branch
- launch gradle via: `./gradlew clean` or `./gradlew installBasicDebug`

##### Actual behavior after performing these steps:
I got error:
[code]

##### Expected behavior after performing these steps:
Gradle should run without error

##### Version of c:geo used:
master branch

##### Is the problem reproducible for you?
Yes

##### Sy

[2016-09-03 11:53] kumy commented on #5942
Full log:

[code]

[2016-09-03 11:59] kumy commented on #5942
@Bananeweizen Bisecting between `upstream/release` and `upstream/master` lead to a2f505917b491e1580270ffc53c9fcc66b382a9f being the faulting commit.

[code]

[2016-09-03 12:06] UniQP commented on #5942
This seems related to #5932. Installing java 8 should solve the problem.

[2016-09-03 12:11] kumy commented on #5942
Thanks @UniQP it now works on shell command, but still problems with Idea... I'll look later.

[2016-09-03 13:37] Bananeweizen commented on #5942
Did not see any related announcements in the Android Gradle plugin changelog, so I was not aware of this additional requirement.

[2016-09-04 07:07] spinnekopje opened #5943 "feature request: option to allow caches in only 1 list"
Feature request: add an option to bring back the old behaviour for the lists: each cache can only be part of 1 list. (an option, because I do understand the new way of handling lists and its advantages for lots of users.)

Use case:
create a pocket query (or run an existing one) and add the caches to a new list. A couple of days later you run the same PQ and also add those to a new list. So you ge

[2016-09-04 07:41] samueltardieu commented on #5943
Your usage is very specific. I don't think adding the complexity of another option in cgeo to handle this would be wise. Maybe this should be integrated with some pocket query tool instead.

I am against adding such an option.

[2016-09-04 07:42] samueltardieu commented on #4699
Maybe we should stop calling "history" something which is in fact "caches with offline logs" then.

[2016-09-04 07:45] Bananeweizen commented on #5943
I could rather imagine to have a command "Make list unique", which just removes the contained caches from all other list. That would fulfill the actual needs, should be simple to implement, and might be useful for others too.

[2016-09-04 07:47] andrixnet commented on #5473
IMO is just fine.
Geokrety website by default presents a non-SSL login page as well:
type geokrety.org, go to login and you are here: http://geokrety.org/longin.php
A plain and simple page.

[2016-09-04 07:48] pstorch commented on #4699
Good point, I was wondering about the exact purpose or meaning of "history" myself. But it's not only about offline logs, right? The normal logs (posted via c:geo) show up in "history", too.

[2016-09-04 07:55] pstorch commented on #5943
Maybe the already existing "move" feature can be used for that.

[2016-09-04 08:23] samueltardieu commented on #5473
Would not it be much better to tell the geokrety people to fix their certificate chain by putting the intermediate certificate before the site certificate? As shown by https://www.ssllabs.com/ssltest/analyze.html?d=geokrety.org&hideResults=on they don't use the right order.

[2016-09-04 08:30] kumy commented on #5942
I also had to force `gradle` to use Java 8 in Idea.

`File > Settings > Build,Execution,Deployment > Build Tools > Gradle`. And Changed `Gradle JVM` to Java 8.

[2016-09-04 08:30] #5942 closed

[2016-09-04 08:35] kumy commented on #5473
Damned, how could I have missed that! I'll ping @filipsPL

[2016-09-04 08:42] Lineflyer commented on #5943
I had a similar request from a user as he has special usecases to easily seperate e.g. archived caches no longer contained in a weekly imported GPX. Those remained on list A when he imported the GPX to list B as the remaining were pulled from list a to b.

[2016-09-04 08:45] Lineflyer commented on #4699
In another issue I suggested to name it "Last logs" instead.

[2016-09-04 08:56] pstorch commented on #4699
That would be more explicit.
On Geocaching.com there is also some kind of History, the "Recently Viewed Caches". I mixed up this one with the cgeo History in the beginning.
So, a +1 for renaming to "Last logs" or "Recent logs".

[2016-09-04 10:10] pstorch commented on #5943
@Lineflyer what does he do the week after? Import to list C and check the remaining on list B, and so on? It's always interesting what different "ways of working" users evolve.

[2016-09-04 12:09] andrixnet commented on #5473
If that is the problem and solution, then it would be great.
Hope it works, I haven't been able to get in touch the the people behind GK this year for some opencaching.ro related stuff :(

[2016-09-04 13:24] Souldrinker commented on #1286
+1 on this request. When I used Neongeo back in the day I often used the Eniro aerial view which seemed more detailed than google satelites and for example today I just solved a myst that is located in an area where Eniro have paths marked on their maps, but Google/OSM doesn't, so this would be appreciated.

Since NeonGeo stopped being developed like three years ago and it doesn't support hi-res s

[2016-09-04 18:28] Lineflyer commented on #5943
@pstorch:

Here it is (@all sorry for no translation):

Mit dem "New: Allow caches to be stored on more than one list" muss ich mich jedoch von einer lieb gewonnenen Gewohnheit verabschieden.

Ich habe für meine Homezone eine Liste "Home". In diese importiere ich in regelmäßigen Abständen meine 9 Homezone-Pocketquery-GPX-Dateien.
Da die GPX-Dateien keine archivierten Caches enthalten, werden diese

[2016-09-04 18:28] Lineflyer commented on #5943
A perfect solution for this user would be to offer a `Pull from other lists` option during GPX import, but many other solution are also possible as discussed above.

[2016-09-04 19:23] spinnekopje commented on #5943
After reading the way the other user works I think something like "Make list unique" suggested above would certainly help us both and also make other use cases possible.
Basically we both do almost the same thing. Main difference is that he uses a 'home' list and I use the date/time that the pocket query creator app gives to the PQ by default.

[2016-09-04 20:32] Lineflyer commented on #5939
I retested this on some devices and the setting is always kept on version upgrade.
The only things I can imagine is, that:
- You upgraded your phone from a Android version 4.x to a newer version (as we disable it by default on low Android versiond below 4.something but enable it above)
- You reinstaled c:geo recently which makes the setting return to default.

@andrixnet
Can you please give us the

[2016-09-04 20:37] Lineflyer commented on #5914
No further occurences for me and also no new postings to the official gc-forum.
Removing the notification for now...

[2016-09-04 20:46] Lineflyer commented on #5932
Its building now. Can we close this`?

[2016-09-04 20:48] Lineflyer commented on #5926
I have the following proposal:
We currently have some small changes (new features) on `master`.
Given that:
- I/we want to push faster release cycles
- nightlies look stable
- we have the beta channel

I suggest to merge `master` to `release` and have a RC for our beta testers.
This will possibly allow us a longer beta testing period and smaller difference between `master` and `release`.

Opinions

[2016-09-05 03:21] samueltardieu commented on #5926
+1

[2016-09-05 07:19] mucek4 commented on #5928
I like the image too, the only thing that bothers me is a tiny inconsistency between map of city and nature in background. But if we add a map of "middle of nowhere" it's not interesting :)

[2016-09-05 07:41] mucek4 commented on #5932
Technically yes, but it's a "temporary" hack. I would try to solve it so build would use Java 8 for real.

[2016-09-05 07:47] samueltardieu opened #5944 "Remove special "master" slave for Jenkins"
The following actions need to be performed before we can replace the special "master" slave with a regular docker slave:
- [ ] allow to upload the build result from anywhere to the website, or have it done via Jenkins if it can transfer files from a slave to the master and then upload the artifact to the website
- [ ] install file upload credentials to other slaves
- [ ] propagate master signing k

[2016-09-05 07:47] samueltardieu commented on #5932
The proper way to do it would be to remove this "special" master node. I have opened a new issue for this, assigned to you @mucek4 at the moment as some things need to be done on your side: #5944.

[2016-09-05 07:54] mucek4 commented on #5944
Upload to webpage is currently done via FTP. FTP server is not opened to public network for obvious security reasons. If you have any better idea, please share it.
Also, if you think master signing keys shall be public, then Yes, I can send them. Ok. It's not a problem of stealing them via special job on Jenkins too.

[2016-09-05 08:01] samueltardieu commented on #5944
ftps is ftp over ssl. `curl` supports file upload over ftps, and a ftps server can be opened to the public network (as a ssh server can), especially if the directory the user can upload to is restricted (as it should be).

Does your current ftp server support ftps?

[2016-09-05 10:14] frodeseverin commented on #5931
Tested.

Use case 2 works with NB-2016-09-04.

Now, for completeness, is it possible to search for the GeoKret by
'Tracking Code', e.g. X534GL, and not just 'Reference number', e.g. GKE830
from the search box on the top of the frontpage in c:geo?

Searching for X534GL yealds a toast saying 'c:geo can't find trackable
X534GL...' Seaching for Reverence number works fine.

[2016-09-05 10:23] andrixnet commented on #5939
I have reinstalled c:geo after installing an optimized ROM, after my original one become troublesome. I was going from 4.1.2 to 4.2.1. I disabled then HW accel because I already knew the problems with the MTK CPU.
However this was in early march. Since then c:geo got updated a few times.

There may also be other factors involved.
Question: if database is stored on sdcard (not internal memory), if

[2016-09-05 10:55] filipsPL commented on #5473
Sorry for that issue, should be OK now:

https://www.ssllabs.com/ssltest/analyze.html?d=geokrety.org&hideResults=on

[2016-09-05 11:22] kumy commented on #5473
@andrixnet may you please, check the behavior, with the updated configurations from geokrety.org?
@filipsPL Thanks!

[2016-09-05 11:32] rsudev commented on #5939
Regarding the flipping of the setting - we had some issues with it (#5582, #5598) and did a change to address some of the circumstances (seemingly different than yours) in f24b844. Perhaps this is a side-effect.
But settings are always stored in internal memory, regardless of the database position, so loosing the .cgeo-folder does not affect them.

[2016-09-05 11:35] prmtl commented on #5473
I had the issue with geokrety.org and now, after changes to the ssl certificates it works like a charm - I'm able to authenticate within application again. Awesome!

[2016-09-05 11:42] kumy commented on #5473
@prmtl Thanks.

Let's close.

[2016-09-05 11:42] #5473 closed

[2016-09-05 12:15] andrixnet commented on #5473
I have successfully authorized geokrety in c:geo.
Thanks to the c:geo and geokrety team for the help.

[2016-09-05 16:20] Bananeweizen commented on #5942
added to setup https://github.com/cgeo/cgeo/commit/2fb0d4cf38d01ed71cc86bc9e0e8b2fddb5de5eb

[2016-09-05 19:55] kumy commented on #5931
It is technically possible to search GeoKrety by Tracking Code. The code is there but just "disabled" (it's just a matter of [regex](https://github.com/cgeo/cgeo/blob/master/main/src/cgeo/geocaching/connector/trackable/GeokretyConnector.java#L89)). However it's not sufficient to activate as is, as patterns for GK Tracking and other connectors like Travel Bugs may overlap, see #4822.

Closing here.

[2016-09-05 19:55] #5931 closed

[2016-09-05 20:10] pstorch commented on #5926
+1

[2016-09-05 20:13] Lineflyer commented on #5926
@samueltardieu Go for it then!

[2016-09-05 20:55] samueltardieu commented on #5926
Done.

[2016-09-07 12:45] Lineflyer commented on #5926
RC smoke tested yesterday and published to beta channel last evening.

[2016-09-07 13:22] Lineflyer opened #5945 "Modified coords not shown"
Beta feedback:

Mapsforge BETA glitch? Sunday entered corrected cords for a puzzle cache but didn't move the cache marker just kept it as the red reference point mark. When flipped back to original maps and cache location had moved to new corrected coords but going back the icons had swapped again. PS love the new Mapsforge much clearer detail.

[2016-09-07 20:09] #5759 closed

[2016-09-07 20:09] #5883 closed

[2016-09-07 20:09] #5903 closed

[2016-09-07 20:11] rsudev commented on #5759
based on release and merged to master for testing

[2016-09-07 20:11] rsudev commented on #5883
based on release and merged to master for testing

[2016-09-07 20:11] rsudev commented on #5903
based on release and merged to master for testing

[2016-09-08 14:04] Pitel commented on #5193
Just noticed it, after upgrading to Nexus 5X. I never noticed it on my Nexus 4 but now I know about it, it's there too, just less noticable. So I guess it's display density related.

![Nexus 4](https://cloud.githubusercontent.com/assets/113248/18352195/b549c870-75dd-11e6-8353-e70e218709f2.png)

![Nexus 5X](https://cloud.githubusercontent.com/assets/113248/18352196/b54a2202-75dd-11e6-88bd-45722100c

[2016-09-08 16:49] rsudev commented on #5926
Round about 820 beta users, no crashes on play yet.

[2016-09-08 16:54] rsudev commented on #5874
We have similar crash reports on Play as well. As this exception is out of our reach (either in the Android system or in the Locus api code) I would suggest to just catch it in ```isInstalled``` and return with false in this case?

[2016-09-09 16:06] #5102 closed

[2016-09-09 16:18] Bananeweizen commented on #4770
I'm also in favor of removing it. Nobody of us developers uses this and therefore it is basically always untested. If I remember right, this would also remove one architectually rather confusing callback in the connectors, which is only for recaptchas.

[2016-09-09 20:06] Lineflyer commented on #4770
@Bananeweizen If you find the time: Remove it!

[2016-09-09 21:14] Lineflyer opened #5946 "Samsung multi window no longer working"
##### Detailed steps causing the problem:
- Use Samsung device support multi windows (e.g. all Galaxy S since S3)
- Try to start multi window mode while c:geo is running

##### Actual behavior after performing these steps:
"c:geo does not support multi window" (or similar) is displayed

##### Expected behavior after performing these steps:
Multi window mode should be started

##### Version of c:ge

[2016-09-09 21:20] Lineflyer commented on #5946
Well, this might need more investigation because after coming back from the RC version to nightly it works again without a problem.
Setting to "Unverified" and "Fieldtest". Maybe a pure device problem.

[2016-09-10 04:28] Pixelfahnder opened #5947 "Remove globally available dependencies from project"
I wonder if globally available dependencies like the android-support-v7-appcompat library should be removed from the source as they are available during the build process.

I see commits there but don't fully understand why they are done. As part of my starting UI overhaul I want to remove as much complexity as it could. So maybe I miss something here why this is needed.

Can someone clarify why w

[2016-09-10 04:30] Pixelfahnder commented on #5947
The reason seems to be "include appcompat in repo to ease the build" why does it do so? The problem is, that also this library has been patched by Google and was actively developed by Google so I also guess this version may be completely outdated and not bug patched.

[2016-09-10 04:36] Pixelfahnder commented on #5947
Also this may fix #4903 and #5602

[2016-09-10 04:51] Pixelfahnder commented on #5947
I also discovered that the main project uses "compile 'com.android.support:appcompat-v7:20.0.0'" so it seems not to rely on the module in the repo.

[2016-09-10 04:56] rsudev commented on #5947
The appcompat is in the repo for the sake of the Eclipse users.
As you just discovered, it has no bearing on the actual software or on anybody working with IntelliJ or AS.

[2016-09-10 05:06] Pixelfahnder commented on #5947
@rsudev when is support for eclipse removed? cgeo supports so many IDEs / build system combinations; wouldn't it make sense to lower this down to have a cleaner codebase?

[2016-09-10 05:11] rsudev commented on #5947
Likely not before I and @Bananeweizen stop contributing.
I seriously tried to switch to AS or IntelliJ for more than half a year. My productivity considerably raised again after switching back to Eclipse...

[2016-09-10 05:16] Pixelfahnder commented on #5947
OK, then stop contributing :) Understandable; good point. Anyhow I had the same problems in the first hand but I more or less switched to IntelliJ completely for Android as well as for other Java / Python / ... stuff. I got completely used to it even if I suffer some problems.

I just wanted to remove code that is there from official sources to prevent beeing tied to old code. Have you tried to us

[2016-09-10 06:05] rsudev commented on #5947
Of course can the AppCompat in the repo be updated once we can switch to a newer version. Unfortunately does this have some not so nice side-effects due to our usage of GoogleMaps v1/Mapsforge 0.3. If you want to get an impression of what such a switch needs to address you can take a look at the branch https://github.com/cgeo/cgeo/tree/target_sdk_23. That worked basically, but some style issues, e

[2016-09-10 07:09] #4770 closed

[2016-09-10 07:10] Bananeweizen commented on #4770
I've not removed the related strings, since that should rather be done in a generic cleanup of no longer used strings.

[2016-09-10 08:26] Pixelfahnder commented on #5947
@rsudev Styling should not be the problem as I plan to lift the design to a modern look and feel that can addres that maybe. What are the problems with the GMaps and Mapsforge APIs?

[2016-09-10 08:36] Pixelfahnder commented on #2222
I had a look at this. So the latest SDK version supported seems to be 9 meaning there definitely is no 1.6 support any more in this. Is there still a userbase on that version?

[2016-09-10 08:36] SammysHP commented on #2222
No, min version is 2.3.

[2016-09-10 08:38] Pixelfahnder commented on #2222
Also this is a requirement for #5947 and further steps. I guess it is worth it.

[2016-09-10 08:40] Pixelfahnder commented on #2222
@SammysHP API level 9 is Android 2.3; sorry I was unclear: I meant that the latest vesion c:geo supports is API level 9

[2016-09-10 09:55] rsudev commented on #2222
Interesting way to phrase it :)
I would have said, that the minimum API level c:geo supports is 9, the maximum we checked is 23 (not sure if someone already tried N).
So from that perspective, we in the meantime aligned with the requirements for GoogleMaps v2, technically.

[2016-09-10 10:00] rsudev commented on #5947
That they require the implementing activity to derive from their MapActivity (an IMO very stupid semantic introduced by GMaps v1 and mf was initially modeled after that).
This means, you cannot derive from the current ActionBar/AppCompat-Activity classes, thus have no ActionBar support for older Android versions and therefore need to fall back to the old implementation we still provide for older v

[2016-09-10 10:26] Bananeweizen commented on #5935
Closing since new PRs did not have versioneye anymore.

[2016-09-10 10:26] #5935 closed

[2016-09-10 10:40] rsudev commented on #5926
I had to check the live stats today to believe it: 1.500 installed, 70 people using the beta right now, still no crashes reported at all!

[2016-09-10 10:48] Bananeweizen commented on #5933
Watching is possible, according to the code.

[2016-09-10 10:48] rsudev commented on #5933
And also according to the UI - was checking right now :)

[2016-09-10 10:55] Bananeweizen commented on #5933
And ignoring is possible in 5 minutes...

[2016-09-10 11:02] #5933 closed

[2016-09-10 11:32] #5201 closed

[2016-09-10 11:35] Bananeweizen commented on #5201
I've implemented it now such that the ignored caches are always not retreived. This is the normal behaviour on both GC and OC. Ignored caches are basically only listed in the ignore list or on direct geocode search. We should not change that.

[2016-09-10 13:10] Bananeweizen commented on #5926
So crash reporting is broken now? ;)

[2016-09-10 15:30] Bananeweizen commented on #5946
Our implementation has not changed for 2 years:
        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />

That's why I can't imagine something to be wrong on our side.

[2016-09-10 15:39] Bananeweizen commented on #5947
There is _absolutely no relation_ between sources in the repository and the version of dependencies (in fact, the library sources and the gradle versions are not even identical). I update dependency versions of libraries and gradle plugins roughly every 2 weeks, where possible. Just check the git log of the main gradle file.

@Pixelfahnder If you can fix the mentioned incompatibilities between map

[2016-09-10 16:20] #5943 closed

[2016-09-11 07:17] akkatracker commented on #5928
@mucek4 yeah I see what you are getting at but as you say a map of the middle of nowhere is boring. A background image of New York wouldn't capture the essence of geocaching either so I think it's good the way it is 😆

[2016-09-11 07:23] akkatracker commented on #5077
To implement this would using the android.graphics.Movie class be the best bet?

A few other solutions tossed around here: http://stackoverflow.com/questions/3660209/display-animated-gif?noredirect=1&lq=1

[2016-09-11 07:25] akkatracker commented on #2524
Just going through some old issues and seeing how this is sort of linked to #5928 may be worth having a look at again.

[2016-09-11 08:28] SammysHP commented on #2524
I uploaded our SVG logo (which sadly has a different font than the original PNG logo).

[2016-09-11 08:28] #2524 closed

[2016-09-11 10:55] Lineflyer opened #5948 "Live map crashing"
Sine this morning we get complaints about freezing/crashing live map.
I can reproduce this after short usage of the live map.

As it wasnt the case last days I assume we have a server issue one again (or still) where cgeo crashes instead of catching the error and giving a proper error message.
Maybe someone can reproduce and provide a log.
IMHO we should urgently fix this because people blame cgeo

[2016-09-11 11:07] rsudev commented on #5948
I just cross-checked (old mapsforge map), no crash for me. I see sometimes errors in the log, but those are in principal handled.
How this can lead to a crash of the application , I currently have no idea.
There are some instances of crash dumps in Play, where the crash is in the native SSL library. AFAIK we have no chance to catch those.

[2016-09-12 16:21] gcPhil opened #5949 "Deleting geocache in "History" don't work (+related problem)"
##### Detailed steps causing the problem:
- open history
- long press on a cache
- press "drop" > Message "Deleted 1 Cache"
##### Actual behavior after performing these steps:
- Cache is still stored (in history and everywhere else)
##### Expected behavior after performing these steps:
- Cache should be deleted (in all lists)
##### Version of c:geo used:

2016.09.06-RC
##### Is the problem reprodu

[2016-09-12 17:30] kumy commented on #5914
From a Groudspeak admin:

http://forums.groundspeak.com/GC/index.php?showtopic=340961&view=findpost&p=5609047

[2016-09-12 20:16] pstorch commented on #4699
"Last logs": #3891

[2016-09-12 20:24] pstorch commented on #4699
There is also #4672 to make the "history" more intuitive

[2016-09-12 20:26] pstorch commented on #3891
Another idea to improve the "history" #4672

[2016-09-13 05:50] rsudev opened #5950 "Close cache selection by tapping outside"
When you tap on an area where there are sevaral caches located (new map) a list for selecting one of them pops up.
It should be possible to close this by tapping outside the list, as with the popup itself, not only through the back button.

[2016-09-13 07:25] Lineflyer opened #5951 "Map tiles flickering when moving"
##### Detailed steps causing the problem:
- Use beta map (In my case with germany.map from Openandromaps.org)
- Happens indepdently of used theme
- Open map
- Activate follow me
- Start moving (walking or cycling)
##### Actual behavior after performing these steps:

When the map is updated (due to movement) some tiles are flickering (i.e. short time diappearing and reappering) randomly
##### Expec

[2016-09-13 09:33] Lineflyer commented on #5948
Still happening on my tablet device. Need to take a log for that, which I can only do tomorrow evening earliest.
The complaints on support mail and social media did not raise again. Seems for now it was something different (e.g. glitch on server side once again) or is unrelated to my finding.

Setting to Fieldtest for myself.

[2016-09-13 11:13] SammysHP opened #5952 "Rename "spoiler image""
We got a complaint from a user who expected a spoiler image at the end of the cache description. Actually even gc.com does not write "spoiler images" anymore above the list of attached images.

[2016-09-13 11:49] gcPhil opened #5953 ""Navigation (Driving/Walking/Bike/Transit)" use wrong destination"
##### Detailed steps causing the problem:
- open a cache in lists or map
- tap on (menu >) navigation > Navigation (Driving/Walking/Bike/Transit)
- app Navigon Europe is starting
- Navigon wants to navigate to france instead of germany
- Each Menu entry (Driving/Walking/Bike/Transit) will navigate to a diffentent destination!

... a tap on "(menu >) navigation > Navigon" it will navigate to the ri

[2016-09-13 11:59] Lineflyer commented on #5953
I think Navigon does not fully support the content we deliver when selecting the general navigation menu entries (these are mainly designed for google maps).
AFAIR this was the reason we established a dedicated Navigation menu for Navigon.
So I am not sure, it is a fault of c:geo.

[2016-09-13 12:07] gcPhil commented on #5953
Originally I was searching for the new possibility to select between navigation to cache or parking waypoint like mentioned in the release notes of Version 2016.08.16. Where can I find this? With "(menu >) navigation > Navigon" I get no selection.

[2016-09-13 12:35] Lineflyer commented on #5953
Can you provide an example GC-code?

[2016-09-13 12:50] gcPhil commented on #5953
Shure, GC6PA85 is one with parking coordinates.

I try to navigate to this event with "(menu >) navigation > Navigon" but I am not able to select between navigation to event-cache or parking waypoint then. Of course I could navigate to the parking coordinates by open the waipoint and select Navigon there but I guess that's not the new selection-support mentioned for Version 2016.08.1.

[2016-09-13 12:56] gcPhil opened #5954 "map popup sometimes shows incomplete or wrong information"
##### Detailed steps causing the problem:
- open offline map OR map a list of stored caches (my list have around 3500 caches)
- zoom and scroll a bit (don't know if thats necessary to reproduce)
- tab on a random STORED cache (with floppy-icon) to watch its popup-info-box
##### Actual behavior after performing these steps:

a)
- sometimes (around every 5th try) "saving-"information of cache is mis

[2016-09-13 13:24] Pixelfahnder commented on #5947
OK @Bananeweizen I thought it was only an issue wiht the GMAP thing but also with the mapsforge APIs?

[2016-09-13 13:25] Lineflyer commented on #5953
You are right. It seems the dialog is only implemented for "Navigation*" menus but nothing else.

@Bananeweizen
AFAIR you implemted the original feature. Could you include other navigation targets into this (like Navigon, maps.me, Google Maps Directions, Other external apps)?
Of couse not for all (IMHO it is useless for Compass, Radar, etc.)

[2016-09-13 13:30] Lineflyer commented on #5949
Confirmed.
Are you sure this behaviour changed only recently.
It would be possible it changed starting with release 2016.08.14 due to the multi-list feature.

[2016-09-13 13:31] Lineflyer commented on #5952
Renaming to "Attached images" would be the correct wording IMHO.
Still I would keep it in the section "Hint" of the cache description tab as users are used to finding it there.

[2016-09-13 13:35] gcPhil commented on #5953
Maybe it also make sense to rename the "Navigation *" menus to something like "Google Navigation *". I know that would a very long name but otherwise it seems to be dangerous if someone tries to use it with apps like Navigon and will end on the way to france instead of the next village.

[2016-09-13 13:40] gcPhil commented on #5949
Yes, you are right the not working "drop" menu changed with 2016.08.14 due to the multi-list feature.

I am not sure if the missing "drop" or "delete" for selected caches also appeared with that version or even before.

[2016-09-13 14:16] gcPhil opened #5955 "Folder ".cgeo" keeps large amounts of data of deleted caches"
##### Detailed steps causing the problem:
- use c:geo regularly with "many" caches (at once or over the time. I import and delete around 2500 caches/month but I always stay under 6000 on the device at the same time. Simetimes I also import log photos)
- delete every cache and every list (database contains no cache)
- just for sure: go to "settings > system > delete orphaned files"
- just for sure:

[2016-09-13 15:47] Lineflyer commented on #5955
Might this be remainder of a previous installation?

[2016-09-13 15:51] gcPhil commented on #5955
No, I need to delete this folder by hand regularly once or twice a year so that my phone don't stop working because of small storage. The folder gets so big every time again.

[2016-09-13 16:03] samueltardieu opened #5957 "Duplicate classes"
The current invocation used on the CI to build and test cgeo appears to trigger various (maybe severe) warnings, such as duplicate definitions for almost every class in proguard.

[code]

Assigning to @Bananeweizen in case this is due to recent Gradle upgrades and he knows how to fix this.

[2016-09-13 17:00] lukeIam opened #5958 "Route to waypoints"
## Idea
Use streets and paths to draw a route to the destination waypoint instead of drawing a straight line.
It would be useful in cities as well as in rough terrain.

## What I've done so far
I'm using [BRouter](https://play.google.com/store/apps/details?id=btools.routingapp&hl=de) for offline navigation in Locus and OruxMaps - I thought: why not using it in c:geo, too?

I've implemented a simpl

[2016-09-13 17:05] SammysHP commented on #5958
Interesting idea. Otherwise we decided to make our map not too complex.

If you're working on this, please keep in mind that we are working on the new Mapsforge 0.6 implementation that is in an early stage and will change. You can help us (or better: help @rsudev) and afterwards work on the routing for the new map implementation.

[2016-09-14 12:26] gcPhil opened #5959 "Provide a filter for caches stored before >6 days"
##### Feature Request:

Please provide a filter for caches stored before more than 6 days

I use a list in that I import my homezone-PQ every week. For not loosing downloaded images, markings of caches with deposited final-coordinates and other data which is not included in GC.com-PQs I don't delete the old caches before and just import the new PQ in the same List. A "problem" is that every old ca

[2016-09-14 18:58] Lineflyer commented on #5955
I tested exactly this some months ago without any finding.
Can you trace down the useless stored data to something common (e.g. all from one list, all fro
m on caching platform, etc.)?

Can you perhaps test it by storing a lot of caches in a fresh installation and afterwards deleting them, wait for >3 days and see whats remaining?

[2016-09-14 19:06] Bananeweizen commented on #5928
Closing since there have been no further requests regarding the image. Thanks @brainscript

[2016-09-14 19:06] #5928 closed

[2016-09-14 19:16] brainscript commented on #5928
@Bananeweizen No problem. :smiley:

[2016-09-14 20:08] gcPhil commented on #5955
Yes, I will try this completely as soon as possible.

What I can can say today is that I use gc.com only. In ".cgeo" stays many folders which are named with gc-codes and with many image files (and others) inside.

By the way: this three day rule is a strange solution when your smartphone gives you a massage that it can't work correct any more because of small storage after importing new caches.

[2016-09-15 08:09] Lineflyer commented on #5948
@rsudev
You mean e.g. regarding this reported crash there is nothing we can catch or work around?
[code]

[2016-09-15 08:38] samueltardieu opened #5960 "Add online mode to the new Mapsforge map"
We should promote the new Mapsforge map out of beta. To do so, it needs to support online maps.

[2016-09-15 09:25] ControlTheBit commented on #5959
OR it would be great to use the PQ as an "Update" instead of an "Import".

Some function like "Update caches in list", which updates existing caches and adds new ones. It should then ask you what to do with the ones that were not updated. E.g. "There are 12 caches in the list which were not updated. Do you want to keep them?" Yes/No

[2016-09-15 10:29] gcPhil commented on #5959
Yes, that would be a nice other solution for my problem. Maybe such a funktion could better be called "Update by GPX" or something like that so that it's clear that it will not do an (online)-refresh of the data.

[2016-09-15 12:09] samueltardieu commented on #5958
In particular, the route computation must not depend on any particular map, so that we can use it with every map implementation (existing or future).

[2016-09-15 12:57] samueltardieu opened #5963 "Gradle build daemon crash (or kill)"
This also seem to make builds fail as tests are interrupted and no results are gathered.

[code]

@Bananeweizen Any idea of what might be wrong?

Would there be a timeout somewhere in the Jenkins configuration that would kill the gradle daemon process?

[2016-09-15 13:02] rsudev commented on #5948
This stacktrace is not from the live map per se, but from the map popup (I know, that is a technicians distinction, not a user one). There we seemingly do not have the exception handling in place we use for the core map tile download.
So this is definitely something we can address (with the result that the user sees missing info on popups) and I need to re-check whether the observations I made rea

[2016-09-15 13:06] gcPhil opened #5964 "Support new map-themes with overlays/stylemenus in new map"
I had a look on the map-beta and I noticed that it supports new mapsforge maps but until now not overlays and stylemenus which came with rendertheme-V4 / mapsforge 0.5. With rendertheme-V4 one map-theme-file can include multiple different themes with the possibility to be switched on and off.

It's already used by map-providers like OpenAndroMaps which latest renderthemes (Elevate 3&4  published f

[2016-09-15 13:07] samueltardieu commented on #5963
Mmm, it looks like the process might have been killed because the emulator needs more memory. I'll try to increase the alloted resources.

[code]

[2016-09-15 13:09] kumy commented on #5963
HUm, looks like what's wrong with executor running on my nas. with limited ram.
Build and tests are passing, but all the stuff to get the "results" fails...

[2016-09-15 13:42] rsudev opened #5965 "java.lang.SecurityException accessing location through gms"
We regularly get such crashes fro Android 6.0 and 7.0 devices. I could reproduce it by denying location access for c:geo in the app settings.
Perhaps we should try to expect this, capture it and inform the user accordingly.

[code]

[2016-09-15 14:17] rsudev commented on #5926
In the meantime, we have to crash-reports on the beta, but nothing specific. One I noted in #5965, the other one is seemingly somewhere in the mapsforge 0.3 code. Six reports seemingly from one user (Moto G (3rd Gen) (osprey_umts)). Can we reach out to the beta testers, to maybe get some clues?

[2016-09-15 14:34] rsudev commented on #5958
Initially I was a little reluctant, as we already have a huge load of features which makes it sometimes hard to understand and maintain everything.
OTOH can this be very welcome in some cases and the implementation surface is really small and nicely separated. Putting this into a 'routing' layer on the new map as well should be a snap.
I'd say if we can keep this to short-distance routing and stil

[2016-09-15 15:56] rsudev commented on #5947
Both APIs (mapsforge v3 and google maps v1) have the same implementation semantics, where you have to derive from the respective MapActivity in order to use them. Therefore is our central map activity (CGeoMap) not even an Android activity at all.

[2016-09-15 16:37] samueltardieu commented on #5965
And we should use the new priority model.

[2016-09-15 16:39] lukeIam commented on #5958
My code is independent from the map type. The most of it is used for accessing the service from BRouter app.

BRouter basically takes start and destination coordinates and returns a list of coordinates for the route.
The only thing a map system must support is drawing the lines between those points.

[2016-09-15 18:32] samueltardieu commented on #5963
Fixed by increasing memory from 4GB to 8GB per slave.

[2016-09-15 18:32] #5963 closed

[2016-09-15 18:33] samueltardieu commented on #5932
Renaming so that its current purpose does not get lost.

[2016-09-15 19:44] #5965 closed

[2016-09-15 21:33] #1914 closed

[2016-09-15 21:48] #4699 closed

[2016-09-16 14:10] samueltardieu opened #5971 "Include information on granted/denied permissions in system information"
This is a feature requested by @Lineflyer.

[2016-09-16 14:36] samueltardieu commented on #5971
@Lineflyer Please test and advise whether you want it in the `release` branch or not.

[2016-09-16 18:58] Bananeweizen commented on #5957
Even our oldest CI logs from March 2016 contain these lines, so that is surely not related to any recent changes.

[2016-09-17 10:19] KoalaBear84 opened #5974 "Cannot login Android app (beta)"
##### Detailed steps causing the problem:
- Changed password a week ago
- Get message in app that it cannot login anymore, correct
- Enter new credentials, cannot login
- Tried to make it 4 characters shorter, from 20 to 16, nope
- Tried 12 and 8 characters, no. Changed password back to old password, still no
- Cleared cache and data, still not
- Uninstalled app, reinstalled, unfortunately still c

[2016-09-17 10:22] KoalaBear84 commented on #5974
I removed myself from the beta program, uninstall and reinstalled and that works!

Now trying again to join beta and see if it is a problem.

[2016-09-17 10:32] KoalaBear84 commented on #5974
This is very strange. Rejoined beta program. Reinstalled. Everything working again. Changed password again. Get message that it cannot login. Filled in new password, working!

And no, it wasn't a user input problem. Password is stored in KeePass and using app on Android to copy it to clipboard and paste it. So no manual input.

Strange, but solved! If anyone have this problem:
- Leave beta program

[2016-09-17 10:32] #5974 closed

[2016-09-17 16:03] samueltardieu commented on #5974
Your proposed solution looks like black magic, I do not advise to follow it blindly.

The user input problem may have been on the username instead of the password for example. Did you by chance retrieve and save any log from the problematic login sessions?

[2016-09-17 16:04] samueltardieu commented on #5971
@rsudev Can you also confirm that you see the DENIED permission?

[2016-09-17 16:08] KoalaBear84 commented on #5974
I don't think I have that. Didn't know there were logs. It will be removed when you uninstall the app I think?

[2016-09-17 16:09] KoalaBear84 commented on #5974
And for the username part, also came from KeePass, unfortunately not 100% sure.

[2016-09-17 16:16] rsudev commented on #5971
I am on the road right now so to speak. I will cross-check as soon as possible.

[2016-09-17 20:28] SammysHP opened #5975 "Remember last list selection"
Sometimes I store caches one by one from the live map. Every time I have to select the same list(s) again and again.

Previously we had the "ask for list" option, now I suggest to add an option to remember the last list selection for storing a cache.

This is somehow related to the requested long-press in #5839 as it removes the additional work for selecting a list.

[2016-09-17 22:06] Lineflyer commented on #5975
But how to change the desired list once you activated the option?

[2016-09-18 05:43] rsudev commented on #5975
What i could imagine is to perhaps list the last used one at the top - so you can quickly use but als easily switch to another one.

[2016-09-18 06:53] SammysHP commented on #5975
No, no. The list dialog should be shown, but the ckeckboxes should remember their states. For the second cache it would be just a press on OK.

[2016-09-18 07:30] pstorch commented on #5975
But only for new caches (not on any list yet). And what if the last cache was stored on more than one list? Preselect all of them?

[2016-09-18 08:39] Bananeweizen commented on #5975
+1, since I just wanted to suggest the same feature, without knowing this issue exists. However, I would change the implementation:
* Do not have any new option.
* Remember the selected lists only for "the session".

However, there is no real session for apps in Android, so we might need to fall back to something like a simple timeout.

So for me it would be: If the "Select lists" dialog is opened

[2016-09-18 11:29] Bananeweizen opened #5976 "Non GC search limited to 20 results"
Enable only OC. Any search returns only 20 results, no chance to fetch more.

[2016-09-18 11:58] #5976 closed

[2016-09-18 19:00] Lineflyer commented on #5926
FYI: As there is a change on `release` branch, I created a new RC 2016.09.18-RC, smoke tested and just published to the beta channel on Play.

@rsudev:
AFAIK we cannot identify the user from the crash report. We can only see the optional message text he passed along with the report (if any).

[2016-09-18 19:07] Lineflyer commented on #5926
If there is nothing critical on the play console with this RC I suggest to publish the version before the end of the week.

[2016-09-18 20:51] Lineflyer opened #5977 "Nightly not building since 15.09.16"
CI says:
[code]

[2016-09-18 20:52] samueltardieu commented on #5977
First assigning to @Bananeweizen as he put the approval system in place.

[2016-09-18 20:55] Lineflyer commented on #5971
@samueltardieu Will test this as soon as the nightlies are building again.

[2016-09-18 20:57] Lineflyer commented on #5946
I can confirm the bug seems to be my device not enabling the function randomly for some strange reason.

[2016-09-18 20:57] #5946 closed

[2016-09-18 21:02] mucek4 commented on #5977
I have seen it but I only came home tomorrow evening. Will take a look.

[2016-09-19 06:11] Bananeweizen commented on #5977
I know how to fix the issue but I can't. When opening the configuration of the nightly job, Jenkins crashes. @mucek4 Please update the plugins on Jenkins.

Afterwards, these 3 lines need to be added to the nightly job, somewhere before starting gradle.
[code]
Unrelated to this license issue, the master also has some broken files in the SDK:
[code]
I've seen the same issue on my local machine after

[2016-09-19 14:33] SammysHP opened #5978 "live map → store offline just one list"
At the live map select "store offline" in the menu. The list of lists is not checkbox based.

[2016-09-19 17:48] mucek4 commented on #5977
I had to disable "Flexible Publish Plugin" in order to get to Nightly config. I can't get to plugins config as Jenkins still crashes. I'll try to update Jenkins

[2016-09-20 06:31] #5978 closed

[2016-09-20 19:15] samueltardieu opened #5980 "cgeo on devices without GPS"
Starting October 15th, application with no explicit `android.hardware.location.gps` use in the manifest and requiring high precision location will be able to get installed on devices without a GPS.

It means that cgeo will be installable on devices where only network-derived location is available. Do we want this, or do we want to restrict (as I believe it is right now) cgeo to platforms with a GP

[2016-09-20 19:37] Lineflyer commented on #5960
You mean adding the ability to use the "normal" Google and OSM:Online or somethign else?

[2016-09-20 19:38] Lineflyer commented on #5964
I figured out the same today while installing maps and themes for my planned scandinavia trip.
In fact the "Elevate" theme of openandromaps is really cool but you can't use the style settings thus its overcrowded.
@rsudev Are you planning to include style selection support?

[2016-09-20 19:42] Lineflyer commented on #5980
AFAIR we had this discussion in the past already where we introduced the explicit requirement.

From the support point of view I strongly vote for limiting the availability to GPS enabled devices due to:
1. In the past we always had users on support claiming c:geo not working, where it finally turned out, that the device did not have GPS. In addition we had quite a bunch of bad ratings on Google P

[2016-09-20 19:55] gcPhil commented on #5955
I did the complete test in the meantime.
- preparation: first I deleted all caches, deinstalled the app and deleted the full .cgeo-folder
- I made a clean install and imported 1000 caches with images (after that ".cgeo" contained 1583 folders, 290,07 MB)
- I deleted all caches, deleted "orphaned files" and waited four days >> folder  contained 11 folders, 2,85 MB

[2016-09-20 20:15] Lineflyer opened #5981 "Refresh caches on history will store them to default list"
##### Detailed steps causing the problem:
- Log some caches from different lists
- Delete some of them from all lists, let some remain on the different lists
- Open the history
- Select "Refresh all"

##### Actual behavior after performing these steps:
- All refreshed caches are now stored on the default list (whereas caches still stored on a random list will additionally appear on the default lis

[2016-09-20 20:33] mucek4 commented on #5980
+1 to lineflyer's comment

[2016-09-20 20:33] Lineflyer opened #5982 "Create CNAME for Crowdin page"
Just a cosmetical thing:
According to the Crowdin project settings [here](https://crowdin.com/project/cgeo/settings#general) we can use our own domain/subdomain to redirect/point to crowdin.
So we could use e.g. translate.cgeo.org to refer users to our Crowdin page if I understand this correctly. Would IMHO be a nice shortcut which can easily be recognized as I always struggle to remember the corr

[2016-09-20 20:37] samueltardieu commented on #5980
Not using "reactions" is so 2015 :-)

[2016-09-20 20:39] mucek4 commented on #5982
Will take a look

[2016-09-20 21:11] Lineflyer opened #5983 "Dont show final marker (on map) for final waypoints without coords"
##### Detailed steps causing the problem:
- Open GC4C67W
- It has a final waypoint without valid coords (as the owner probably decided to make it visible but hide its coords)
- Store the cache
- Open the (live) map of that region
##### Actual behavior after performing these steps:

The cache is shown with the final marker on the map
##### Expected behavior after performing these steps:

The final

[2016-09-20 22:01] Lineflyer commented on #5955
What is the content of these folders?

[2016-09-20 22:21] gcPhil commented on #5955
It's four gc-number-named folders with images inside, the folder "shared" and two files called "data" and "data-journal". Must also be sub-folders somewhere. I remember that some of the folder related caches was marked as found before, so maybe there is a relationship.

I am not sure if this can cause the large amount of "lost" data I noticed before but I have no other idea how to reproduce withou

[2016-09-21 06:43] samueltardieu commented on #5960
The ability to use a tile server so that we can remove the older Mapsforge code.

[2016-09-21 08:21] Bananeweizen commented on #5958
Basically I've seen everyone here agreeing, reluctantly. Since I wanted to play around more with the new github boards, I've created one just for the routing integration: https://github.com/cgeo/cgeo/projects/3

Feel free to add more tasks, reorder etc. All the _notes_ can be converted to real issues using their chevron menu, to actually have an assignee etc.

[2016-09-21 10:22] gcPhil commented on #3215
I don't saw this problem any more in the in recent months. Maybe its just my current smartphone that have more performence than the older one but I guess the problem is solved in the meantime.

[2016-09-21 10:22] #3215 closed

[2016-09-21 10:34] #5980 closed

[2016-09-21 10:50] Bananeweizen opened #5985 "Remove store offline menu"
I was just approached with the following request: In the logging activity menu the menu items for saving the log and for deleting the log are directly besides each other, therefore leading to frustrating when hitting the deletion menu item unintendedly.

I'll add undo to the log deletion operation, to take the pressure out of this.

I still suggest to actually remove the "store log offline" item,

[2016-09-21 14:57] Lineflyer commented on #5985
I do agree to remove that option.
I would even go one step further and in the same step implement that the "one-click offline log" option is always shown and no longer depending on whether "offline logging" is active in the setting.
That would enable a faster way to produce a field note while also it requires one less option in the settings.
AFAIR I opened an issue for that already.

[2016-09-21 14:57] Lineflyer commented on #5985
Found it: #3856

[2016-09-21 18:00] Bananeweizen commented on #3215
In fact, this looks _somewhat_ like the Mediatek bug: http://www.cgeo.org/faq.html#osm-mediatek-problem. When this was reported previously, all caches were shown on a vertical line in the middle of the screen. Maybe yours was a variation of that, where coordinates were not clipped to a single value, but instead were clipped to an open (left side) interval.

[2016-09-22 06:02] Bananeweizen commented on #5971
For me this doesn't work. I took a Nougat emulator, installed cgeo, revoked both the fine location and disk permission in global app settings and started cgeo. Shows "granted", expected "denied".

[2016-09-22 06:21] Bananeweizen commented on #5077
Given the answers in the above stackoverflow question, I want to avoid using the Movie class, since it doesn't work correctly. Looking at the comments for the libraries, I'd rule out everything except Ion. However, Ion again seems a rather big solution for networking and images, and I want to avoid developers using the network functionality of Ion, when we already have other libraries for the netw

[2016-09-22 08:17] Lineflyer commented on #5926
Due to the change for #5980 and the RC on Beta channel running smoothly I suggest to release today.
Any objections?

[2016-09-22 08:18] Lineflyer commented on #5926
To Do would be:

- [ ] Smoke test release before uploading
- [ ] Publish release on Google Play
- [ ] Rename milestones on Github / Create new bugfix milestone
- [ ] Tag release on Github
- [ ] Push notification as soon as available
- [ ] Post to social networks

[2016-09-22 09:44] samueltardieu commented on #5971
It doesn't for me either I should add. We should test this again when we increase the API.

[2016-09-22 09:46] Lineflyer commented on #5971
For me neither on Android 6. Also after removing permissions both show as granted.

[2016-09-22 11:39] akkatracker commented on #5077
What are the benefits of the current system vs a webview?

How would offline caches work with the webview (or should they just be ignored)?

[2016-09-22 13:12] Bananeweizen commented on #5077
The current approach is parsing all small details out of the webpage and rearranging everything in native Android widgets for easier usage than looking at a huge webpage directly. While those native widgets can render some HTML (bold, italic, colors, images) they cannot render more advanced things like tables.

A webview would allow using the power of an actual browser to display even complicated

[2016-09-22 13:19] akkatracker commented on #5077
Sounds good

On Thu, 22 Sep 2016, 23:12 Michael Keppler <notifications@github.com> wrote:

[2016-09-22 13:58] Bananeweizen opened #5986 "webview of cache"
For working around limitations of the textviews in our cache details, I suggest to add a webview tab (as the last tab). This could either show the stored HTML page from download (which we currently don't store) or the online page. This browser based tab is then able to show tables, animated gifs and other things which are missing in the normal text view.

I've implemented a prototype, accessing th

[2016-09-22 23:18] Lineflyer commented on #5926
Release has been smoke tested and uploaded to Play.
@team: Please kindly check the above list and help to complete it (e.g. tagging)

[2016-09-23 06:00] kumy commented on #5914
Some users on the GS forum report today that the "bug is back"

[2016-09-23 07:17] ControlTheBit opened #5988 "Graphical Glitch: Actions-Popup opens partially outside of the visible area depending on the cache name length"
##### Detailed steps causing the problem:

Here is what I did:
1. Enable "Offline Logging" in the settings (problem also reproducible without this settings, but the problem can be seen better when this is enabled)
2. Open the Live View
3. Click on a cache
4. Click the three dots in the top right corner of the cache
5. Have a good look at the action-popup

(I didn't try this in landscape mode yet)

[2016-09-23 07:31] ControlTheBit commented on #5834
Alright, thanks for the FAQ improvement . Makes it more clear to me 👍

[2016-09-23 08:10] samueltardieu commented on #5926
Tagged pushed. Also, I don't think at-team is doing what you expect :-)

[2016-09-23 17:51] lukeIam commented on #5958
I can't comment or edit the the tasks in the project...

- "Derive from DefaultHandler instead of ContentHandler in the XML parsing" -> https://github.com/lukeIam/cgeo/commit/8d5bfba24f0c30189568ebed1b46fb42e4ea1bdc
- "initialize BRouter on demand only (not in main activity)" -> https://github.com/lukeIam/cgeo/commit/60e32b74bd702eb4a258912ba67ef74a04e01ae2
(Haven't used `MapActivity` as it seems

[2016-09-24 06:58] Bananeweizen commented on #5926
Not sure what the notification task means. Besides that, everything seems finished.

[2016-09-24 07:08] Bananeweizen commented on #5958
Looks quite good to me. Can you create a pull request from your branch?

[2016-09-24 09:30] Bananeweizen commented on #5986
Session sharing is now implemented, therefore the feature seems usable from my point of view. The tab has been renamed to "Online" to clearly indicate that data will be transferred. Would be happy about feedback from someone trying PR #5987.

[2016-09-24 10:18] SammysHP commented on #5986
There's not much CSS involved in cache descriptions. Should be easy to create some defaults. I'd prefer the offline version.

[2016-09-24 12:36] Bananeweizen commented on #5958
I added the necessary menu items and reworked the code quite a bit. For me it is working fine locally. The only missing thing is the porting this to the new map, and describing the usage in the FAQ.

[2016-09-24 14:24] SammysHP opened #5991 ""Invite friends" in cache menu"
I just noticed that the menu of the cache details includes the "invite friends" feature. Is that intended? The menu has already many entries and IMHO the entry in the main menu is enough.

[2016-09-24 19:28] Lineflyer commented on #5914
Lets hope so.
I suggest to remove the warning from our homepage but keep the "current issues" in FAQ for some more days.

[2016-09-25 15:20] Bananeweizen opened #5992 "Cache name rendered multiple lines in cache list"
Have GC6T86J in a cache list. You will notice that its name is rendered in 2 lines (the second clock of that name is visible partly). Probably that happens for all caches, we just did not notice yet.

[2016-09-25 15:35] Bananeweizen commented on #5992
I should have taken a screenshot. I can't reproduce this. And I have no clue how I managed to have a cache list where the cache list items where all _not_ using the marquee=ellipsize and the maxLines=1 attributes from our XML layout.

If anyone of you ever notices that long cache names in the cache list are all not ending in "...", but instead stop after a full word and leave much space at the end

[2016-09-25 15:57] Bananeweizen opened #5993 "Routing breaks when switching map provider"
Switch between Google and mapsforge. Routing is broken afterwards. Only restarting navigation may fix it.
2 theories:
the restart of the activity due to provider switching reconnects to the service to fast.
We cannot disconnect from the service fast enough of it is currently doing a routing calculation.

[2016-09-25 16:01] Bananeweizen commented on #5991
This is intended. Just did not implement the deep linking to the cache itself. The intention is to have a deep link to the cache details from the message.

[2016-09-25 20:18] Bananeweizen opened #5994 "Route not displayed in high zoom"
When using a longer route then it is not displayed in high zoom levels. I guess the path is simply to huge in it's full pixel bounding box. Therefore we need to clip the path. Haven't found a suitable clipping method yet, will probably remove all out of bounding box segments manually instead.

[2016-09-26 18:27] Bananeweizen opened #5995 "adopt rebase strategy for pull requests"
github has finally introduced a [rebase strategy for pull requests](https://github.com/blog/2243-rebase-and-merge-pull-requests). Last time when we discussed whether squasing would be an option, most developers voted for not destroying the history of the atomic commits. Rebasing would completely fit to that requirement and still give a more clear history view.

Unfortunately there is no option to

[2016-09-26 18:50] Lineflyer opened #5997 "Save for offline from map not working"
Short version as I am on mobile only:
- Current nightly
- Searched for an address
- Mapped the result
- Selected "Save for offline" from map menu

Result:
Toast is shown with something like "Nothing to save" although unsaved caches are on the map

Might be related to new map (did not test old map/google map)

[2016-09-26 19:06] rsudev commented on #5995
I am a big fan of rebasing when maintaining a 'single source of truth' master branch. History gets very hard to understand otherwise.

[2016-09-26 19:07] UniQP commented on #5995
I'm also in favor of making the rebase strategy our default. It leads to a clean history and does not change the proposed commits (in constrast to squashing).

[2016-09-26 19:09] pstorch commented on #5995
Yes, rebasing

[2016-09-26 20:14] Lineflyer commented on #5926
Notification pushed.
Thanks to all. Good work once again.

[2016-09-26 20:18] kumy commented on #5926
The apk isn't published to github, and IIRC it is the source of data for F-droid publish task (Release)

[2016-09-26 20:28] pstorch opened #5998 "Copy coordinates from waypoint has superfluous middle dot"
##### Detailed steps causing the problem:
- open Cache Details
- long Press Coordinates to copy them into clipboard
- go to some other app and paste the text
- result: coordinates are pasted WITHOUT middle dot (OK)
- Open Cache with extra waypoints
- long press on waypoint to open context menu
- choose `Copy coordinates`
- go to some other app and paste the text
- result: coordinates are pasted WI

[2016-09-26 20:31] kumy commented on #5926
Added task "Publish release on Github", and re-do "Publish on F-Droid"

[2016-09-26 20:31] #5926 closed

[2016-09-26 20:34] pstorch commented on #5998
I think it's a small thing to do. I'll try to solve it right away.

[2016-09-26 20:40] pstorch commented on #5998
Looks like a leftover from #5809

[2016-09-26 21:01] #5957 closed

[2016-09-27 04:57] #5998 closed

[2016-09-27 04:58] Bananeweizen commented on #5995
Okay, rebasing is now the only available strategy in our repository.

[2016-09-27 04:58] #5995 closed

[2016-09-27 15:14] knoepfchendruecker opened #6000 "send2cgeo website refers/includes outdated send2cgeo script"
##### Detailed steps causing the problem:
- A user wanting to install the send2cgeo userscript may launch a google search for "send2cgeo". A Google search for "send2cgeo" does list https://send2.cgeo.org/howto.html as one of the first results.
- The "script installation with..." sections in https://send2.cgeo.org/howto.html do refer the user to https://send2.cgeo.org/script.html.
- The link "Start

[2016-09-27 16:14] Lineflyer commented on #6000
Thanks for reporting this!
@mucek4: Is there a way to enforce redirect to the github io also if users request another page than the index on send2.cgeo.org?

[2016-09-27 16:15] Lineflyer commented on #6000
Or simply remove all those old pages from the server?!

[2016-09-27 18:06] knoepfchendruecker commented on #6000
send2.cgeo.org claims to be an Apache webserver, so something like

RewriteRule   "(.*)"  "http://www.cgeo.org/send2cgeo.html"  [R,L]

should do the trick.

[2016-09-28 06:48] mucek4 commented on #6000
RewriteRule was a little bit more complicated, as script itself uses same URL. I have added rewrite rule for those 3 pages mentioned. @knoepfchendruecker can you please try if everything works as expected.

[2016-09-28 06:53] mucek4 commented on #5982
I can't see the settings page. Can any of @Lineflyer @Bananeweizen @rsudev or @samueltardieu add me to managers :)

[2016-09-28 07:13] knoepfchendruecker commented on #6000
@mucek4 the redirect for https://send2.cgeo.org/howto.html works fine.

I just came across a specific cornercase around the userscript, so the redirect for https://send2.cgeo.org/send2cgeo.user.js probably should point to https://github.com/cgeo/send2cgeo/raw/release/send2cgeo.user.js.

Why: script monkey/tamper monkey do remember the location where they originally downloaded a userscript from and

[2016-09-28 08:33] mucek4 commented on #6000
You might be right. I have redirected script as suggested. Technically scripts have download and update URL set.

[2016-09-28 08:36] knoepfchendruecker commented on #6000
Verified both https://send2.cgeo.org/howto.html and https://send2.cgeo.org/send2cgeo.user.js to be okay. Thanks for the quick fix!

[2016-09-28 08:36] #6000 closed

[2016-09-28 08:36] mucek4 commented on #6000
Thank you for reporting.

[2016-09-28 13:47] lukeIam commented on #5958
I used my debug build for a quick cache tour yesterday and I found a problem:
If the destination (or the start point) is not on a road the line is starting on the next road and there is no connection to/from the destination (start).

This could be fixed by always adding the start point at the beginning and the destination point at the end of the calculated route.

But there is maybe an other probl

[2016-09-28 14:57] #5994 closed

[2016-09-28 15:06] Bananeweizen commented on #5958
I've just added the missing 2 segments in another fix. I'm not convinced yet, that what you show actually qualifies as a problem or bug. In the images shown above, you _can_ take the direct route, although no routing data is available to prove that. But you can also imagine to stand in front of a house, the cache is at the back of the house and there _really_ is no other way than walking/driving 1

[2016-09-28 15:14] Bananeweizen opened #6002 "wrong icon when navigating to parking lot"
Have a cache with a parking lot waypoint. Open the map for the cache and look at the final and the parking lot icons. Everything fine.

Now open the map from the parking lot waypoint instead. The icon is no longer a parking icon, but a reference point icon.

[2016-09-28 15:37] Bananeweizen commented on #5977
Fixed with the steps taken by @mucek4 and the accepting of licenses. If those licenses change in the future, we have to update this job and the shared build script on Jenkins separately (i.e. we have code duplication here).

[2016-09-28 15:37] #5977 closed

[2016-09-28 15:53] rsudev commented on #5982
@mucek4 I have made you a manager.

[2016-09-28 16:21] Bananeweizen commented on #5130
@samueltardieu Can you please look at this again? I just tried for an hour to get my head around the changes, but I can't make much out of it.

[2016-09-28 16:26] samueltardieu commented on #5130
Don't sweat over it. RxJava 2.0.0 will be released very soon (RC3 in progress), and while upgrading to it we'll get a new RxAndroid (if needed) as easy to use as RxJava.

[2016-09-28 16:41] #6002 closed

[2016-09-28 16:56] #5950 closed

[2016-09-29 09:14] mucek4 commented on #5982
http://translate.cgeo.org/

[2016-09-29 09:17] SammysHP commented on #5982
Works!

[2016-09-29 09:17] #5982 closed

[2016-09-29 15:42] Bananeweizen commented on #5958
I'm going to close this issue, since all open points have been clarified (and the new map is getting routing right this minute). Feel free to open additional issues.

[2016-09-29 15:46] #5958 closed

[2016-09-29 19:01] Lineflyer commented on #5958
Just a question from my side:
I would call myself a rather experienced c:geo and Android user, but up to now I did not manage to get this running.
I installed the needed app, downloaded what it told me, opened a cache in c:geo and selected Navigate -> Map.
It shows a straight line only.

I think this is not really selfexplanatory...can someone write a draft HowTo which we can later host somewhere

[2016-09-29 19:48] Bananeweizen commented on #5958
Currently the distance is limited to 5 kilometers. I completely forgot to lift that limit, now that the path rendering is working without bitmap out of memory.

[2016-09-29 19:53] Bananeweizen opened #6004 "calculate routing asynchronous"
Test bigger distances and lift the 5 kilometres limit.

[2016-09-30 06:58] Bananeweizen opened #6005 "Cleanup package structure"
I intend to cleanup our package structure. Over time, we have grouped classes mostly by what they _are_, not by what they _do_. This leads to the situation that we have to make many classes and methods public, since we spread one piece of functionality between "models", "ui", "files" and so on.

The goal of my refactoring is to actually reduce package cycles, visibility scopes and package coupling

[2016-09-30 07:20] rsudev commented on #6005
I welcome every effort to structure the sources in a more consistent fashion. Of course there will be different opinions on detail level, but I surely can live with that in exchange for an overall more concise structure.

[2016-09-30 07:24] rsudev commented on #5958
@Lineflyer Are you sure all the files were downloaded successfully? I had to do it three times to have them finally downloaded and recognized within brouter. After that it worked right away like a charm (I tested with below 5km though)

[2016-09-30 07:26] Lineflyer commented on #5958
5km might have been the issue. Currently I am mostly offline as I am in Scandinavia. Will give it another try once back home in a week.
Still I am unsure about what exactly I have to prepare in brouter itself to get it working. It does not have a very good UI IMHO.

[2016-09-30 10:25] Bananeweizen opened #6006 "time delay for routing"
With high travel speed, the routing is updated multiple times per second. We need to have a delay of some seconds before updating again.

[2016-09-30 11:51] Bananeweizen commented on #5958
I also had to download 2 of the 4 German tiles twice. The color seems to indicate the download state, but there is no legend for the colors, so I'm also a bit clueless. I find it helps to re-open the brouter app after a download to see which squares are really checked now.

[2016-09-30 11:52] #6006 closed

[2016-09-30 12:34] Bananeweizen commented on #6004
To really increase this limit, we have to change the way we call the routing service. Right now, we do a synchronous call during the drawing of the map. Of course, with longer distances, this leads to notable delays when opening/refreshing the map. I've therefore left the limit at 10 kilometers for now, that was still just a slight initial delay on my phone.

[2016-09-30 12:52] akkatracker commented on #5010
This bug has been fixed through another issue.

@Lineflyer can we close?

[2016-09-30 12:55] akkatracker commented on #5952
I agree with @Lineflyer . All that needs to be done is a simple reword of the string.

[2016-09-30 18:02] Bananeweizen commented on #5952
I must admit I neither get the original complaint (posted by @SammysHP) nor do I understand why you want to rename stuff. [Spoiler](https://en.wikipedia.org/wiki/Spoiler_(media)) is a long established term (not only in geocaching) which indicates that this really gives you a clue and you should not read it/look at it, if you want to solve the riddle on your own. "Attached images" could be anything

[2016-09-30 18:46] Lineflyer commented on #5952
It is the fact that this item does not only contain spoilers but maybe also other needed images from the listing....simply everything what is attached to the listing by the owner.

[2016-10-01 07:56] Lineflyer opened #6007 "Brouter does not work on new map"
Don't know whether it should or not.
So either a feature request or a bug.

As long as Mapsforge beta is activated in settings it will only show a straight line.

[2016-10-01 07:58] Lineflyer opened #6008 "Broute lost on changing map source"
- Map route to a cache
- Change map source e.g. from Google to OSM

Result:
Line changes from route to straight line

[2016-10-01 07:59] Bananeweizen commented on #6007
Was only added 2 days ago.

[2016-10-01 08:14] Lineflyer commented on #6007
Yeah. Tested ok with 2016.10.01-NB.
Sorry for the noise :)

[2016-10-01 08:14] #6007 closed

[2016-10-01 08:15] Bananeweizen commented on #6008
Duplicate of #5993

[2016-10-01 08:15] #6008 closed

[2016-10-01 15:35] pstorch commented on #5010
The other/similar issue was #5643 and has been fixed.

[2016-10-01 15:41] Bananeweizen opened #6009 "use cache icon in logging activity"
Use the cache icon instead of the normal icon for the logging activity. Requested during an event.
There might be more activities where this would be useful.

[2016-10-01 15:49] Bananeweizen opened #6010 "don't store log if it is identical to signature"
We store the log even if it is just identical to the signature. This leads to offline log markers in lists and on the map and may confuse people.
Requested on event.

[2016-10-01 15:59] #5010 closed

[2016-10-01 16:03] SammysHP commented on #6010
… but only when leaving the logging activity with up/back. Fast logging stores only the signature.

Also the user might want to store only the signature explicitly using the store button. In #5985 you suggested to remove that menu item.

[2016-10-01 16:37] Bananeweizen opened #6011 "doesn't respect big font setting"
When I enable big fonts in cyanogen mod accessibility settings, this has no effect on the app. I'm rather sure that we respected the global accessibility settings for font size before.

[2016-10-02 07:02] #6009 closed

[2016-10-02 07:30] Bananeweizen commented on #6011
I'm out of clues here. My understanding is that using the "sp" font sizes should be sufficient to scale all our texts automatically with the system setting. However, that doesn't happen. What am I missing?

[2016-10-02 19:46] SammysHP opened #6014 "Export OC caches in field notes"
Currently the field notes feature is tested on opencaching.de and will be released soon. c:geo does not export logs of OC caches.

[2016-10-02 19:47] MacGyver-NRW commented on #6014
Remark: There is no OKAPI Support for our Field-Notes Section. This feature is our first one - based on Symfony.

[2016-10-03 03:50] akkatracker commented on #2226
Is go4cache dead? If so I vote to close this.

[2016-10-03 06:17] Bananeweizen commented on #6014
I must admit I totally don't care what underlying technology you use to implement field notes support. I _do_ care about splitting your API of the opencaching websites into multiple, unrelated, and incompatible partial APIs, as long as there is no compelling argument for that.

[2016-10-03 06:41] Lineflyer commented on #2226
Go4cache is dead. Thats why this is about a new go4cache!

[2016-10-03 06:43] akkatracker commented on #2226
Sorry I misunderstood. All good

On Mon, 3 Oct 2016, 17:41 Lars <notifications@github.com> wrote:

[2016-10-03 18:08] pstorch commented on #5850
Looks like a new one:

[code]

[2016-10-03 18:52] Bananeweizen commented on #5850
I would really like to replace the Undobar library by the Snackbar from the support design library. But tje support design library itself depends on appcompat 22+, which in turn conflicts again with our actionbar requirements in the maps.

[2016-10-03 20:39] pstorch commented on #5955
There is a rule in c:geo that Caches with offline logs are skipped from permanent removal:
https://github.com/cgeo/cgeo/blob/master/main/src/cgeo/geocaching/storage/DataStore.java#L2474

[2016-10-04 14:43] Lineflyer opened #6017 "Brouter: Distance shown is not the routed distance"
- New map active
- Open live map
- Select a cache to show its popup
- Press the "route button"

The route is shown instead of the direct line (correct) but the distance shown on the upper right is not the length of the route.
At this point I would expect to see the routing distance (if available) or we should ommit this information.

Found this today while routing to a cache on the other side of a

[2016-10-04 14:53] Lineflyer opened #6018 "WhereYouGo not listed in Navigtion for a specific cache"
- Open GC6B4TH

Although it contains a link to the cartridge the WhereYouGo option is missing in the navigation menu.

[2016-10-04 14:55] Lineflyer commented on #6018
Mmh...same here for me with this cache: GC6ARDT

Am I missing something or is this a general bug?

[2016-10-04 14:59] Bananeweizen commented on #6018
the link is in the short description, the check looks only in the long description

[2016-10-04 15:05] #6018 closed

[2016-10-04 15:25] #5981 closed

[2016-10-04 18:18] #6010 closed

[2016-10-05 05:46] #4564 closed

[2016-10-06 04:58] rsudev commented on #6017
I wouldn't call it a bug, rather an implementation omission. I was thinking about showing both, as the route might not be the way you want to follow, especially in the countryside (as I observed last weekend)

[2016-10-06 05:00] rsudev commented on #6014
Should we export a field-notes file per connector? Or go back to the initial implementation, put everything into one file and let the target site pick the ones that belong to it?

[2016-10-06 05:05] rsudev commented on #5997
I cross-checked and it happens reproducible and only on the new map for me.

[2016-10-06 06:14] #5997 closed

[2016-10-06 14:53] samueltardieu opened #6022 "Failing test "testSearchTrackable""
[code]

It looks like the travel bug type can now contain HTML.

[2016-10-06 15:08] #6022 closed

[2016-10-06 15:14] #5872 closed

[2016-10-06 15:37] k3b commented on #5930
I have just checked in my android-4.4 handset:

* Version 201609.22
* these same issue with the old-mapsforge and with the new -mapsforge

[2016-10-06 15:37] #5948 closed

[2016-10-06 15:55] Bananeweizen commented on #6014
If I remember the comments from the OC forum right, they also accept a "mixed" file, like GC. And that probably makes sense for every website, since many dedicated GPS devices probably can't do more than generating such a complete file.

We probably need to change our implementation to care for the fact that the file needs to be uploaded to multiple sites then.

[2016-10-06 16:00] Bananeweizen commented on #6017
I thought about this too, when I started exploring the feature, but I'm hesitant. All places in cgeo just deal with the straight distance to the cache. And I would rather leave it like that, especially since calculating the  correct distance gives some overhead and relatively little benefit.

And especially in a case like you described I would want to know that I _am_ near the cache already, even

[2016-10-06 17:44] SammysHP commented on #6014
The OKAPI does not support field notes. So we would need to find a way to authenticate to opencaching.de. For the beginning it should be enough to export all logs, but do not implement the upload to OC.

[2016-10-06 17:54] rsudev commented on #6014
Just exporting the field notes for all connectors that support it would be a good start IMO as well (we did that back then, and the oc.pl users were not too happy when we removed it...)
If uploading support comes to OKAPI, we than can directly tap into that.

[2016-10-06 20:58] SammysHP commented on #6014
So why did we remove it then?

[2016-10-07 16:52] Lineflyer opened #6024 "Log picture upload ends with error message although OK"
##### Detailed steps causing the problem:
- Log a cache find and attach picture with the log (GC.com)
- Send the log

##### Actual behavior after performing these steps:
An error message is shown, that sending seems failed and user shall check on website (retry/cancel/offline).

##### Expected behavior after performing these steps:
This occured to me on the last 14 days for each picture I attched,

[2016-10-07 20:13] rsudev commented on #6024
I can reproduce this

[2016-10-08 09:43] morice-net opened #6025 ""Make list unique" menu makes cgeo crash in nearest cache list"
Hello Cgeo team !!

##### Detailed steps causing the problem:
- Launch the app
- Click on "Nearest cache list"
- Click on menu (top right)
- Click on "Make list unique"

##### Actual behavior after performing these steps:
CGeo **crashes**

##### Expected behavior after performing these steps:
CGeo doesn't crash

##### Version of c:geo used:
Master

##### Is the problem reproducible for you?
Yes, s

[2016-10-08 10:43] Bananeweizen commented on #6025
Thanks for the nice report.

[2016-10-08 10:43] #6025 closed

[2016-10-08 20:10] pstorch commented on #5952
Geocaching.com doesn't distinguish between Spoiler and "normal" images. So from this point of view they are just images.
But opencaching does distinguish them: e.g. https://www.opencaching.de/viewcache.php?wp=OC1EE5
So we could handle them differently here.

Some GC geocache owner name real spoiler images something with "spoiler", but I don't know if this is good enough for c:geo to "guess" it.

[2016-10-09 12:50] ControlTheBit commented on #5988
Related to #3932

[2016-10-10 01:19] akkatracker commented on #5535
I can't reproduce this anymore. @kumy can you?

[2016-10-10 05:22] rahu commented on #5535
On my phone issue is still existing.

[2016-10-10 16:13] Bananeweizen commented on #5930
however, I have no idea where to configure the buffer with the old mapsforge implementation.

[2016-10-11 05:18] bfankd commented on #5951
Hi, same issue here.
I'm using openandromaps + elevate4 on a Sony Xperia Z5c.
Moving the livemap slightly the caches are disappearing and showing up again after a short while.
Also opening the caches directly from the map takes long. The first one is fast, all the others takes long.. And only when using Mapforce Beta.

[2016-10-11 05:33] rsudev commented on #5951
@bfankd From @Lineflyer s description I would have said that rather the map tiles themselves flicker, not the caches, so this would be a new/different issue. I checked after your description and could not reproduce it right away. Could you describe perhaps in more detail? Are the flickering caches stored or not? Do you move the map or are you moving and the map is in follow mode? Which version are

[2016-10-11 05:58] bfankd commented on #5951
Hi
I'm doing the following:
- Having some caches saved in a list
- open the list and open the map (Beta defined as standard in Settings + Elevate4)
- Activate "Enable live"
- new caches appearing
- moving the map or touching a unsaved cache - unsaved caches are vanishing and reappearing
- also unsaved caches become "very touch resistant" - means, do not react properly when touching to open.
- the

[2016-10-11 07:46] alan666notb opened #6026 "Strip EXIF data from uploaded images"
I think it would be nice to have the option to strip Exif data from uploaded images, and I think it should be the default action.

I've logged a couple of FTF's recently which were the finals of puzzle caches. I usually post a picture of the logsheet in these cases. I've just realized that anyone viewing the image in the log entry can see the location where I took the photo and so deduce where the

[2016-10-11 09:25] SammysHP commented on #6026
As we already resize the image and the EXIF information is rarely needed,  I suggest to remove it always without adding an option. But then we should respect the orientation tag and rotate the image if necessary.

[2016-10-11 09:32] pstorch commented on #6026
Interesting, this Groundspeak bug is still present. I thought they have fixed it some time ago. But apparently not.

[2016-10-11 10:03] SammysHP commented on #6026
I wouldn't call this a "Groundspeak bug". Usually the user is responsible for what he uploads. ;)

[2016-10-11 10:21] pstorch commented on #6026
I know some Mystery Owner who complained at GS because of this and I think there is also a Ticket in their bug tracker.
Normally I'm with you, that the user should know what he is doing. But I doubt that in this case all users are aware of this.

[2016-10-11 11:58] Bananeweizen commented on #6026
I'm also in favor of removing that without any option. It is generally useful to avoid uploading more privacy related data then the user intended.

[2016-10-11 16:35] Lineflyer commented on #6024
Setting this to "Regression" as I just looked into support mails and found quite some users complaining about the problem also with the Play version.
Can someone look into it??

[2016-10-11 19:35] pstorch commented on #6024
I can have a look

[2016-10-11 20:24] #6024 closed

[2016-10-12 08:03] Lineflyer opened #6028 "Next bugfix release"
A RC 2016.10.11-RC has been uploaded to the beta channel.
Changes:
- Fix for TB type containing HTML
- Fix for picture upload

[2016-10-12 08:04] Lineflyer commented on #6026
After thinking about it, I would also vote for stripping EXIF during upload by default (no option).

[2016-10-12 08:08] Lineflyer commented on #6017
I do think different:
If the user actively decided to use the routing feature (which he did by installing Brouter) I think he would like to see the routed distance in that screen described. There are lot of other places, where the straight line distance is shown, but at this screen distance and route should be matching.
In my example I would have loved to see the routed distance instead as it was

[2016-10-12 09:42] SammysHP commented on #6017
Is the distance updated when you move?

[2016-10-12 20:16] pstorch commented on #6026
Just a comparison to other apps:
- Official GC App keeps the Exif data as is
- Locus: strips out Exif data and scales the image, too

[2016-10-12 21:25] rsudev commented on #5930
I browsed a little through the sources of the old mapsforge version and found there:
[code]
Should we really try to intervene here?

[2016-10-13 05:41] Bananeweizen commented on #5930
If the API was not made for changing the value in earlier versions, then I'm with you to not change anything there.

[2016-10-13 05:42] #5930 closed

[2016-10-13 05:53] Bananeweizen commented on #6026
I was browsing the web a little to see how this can be done. The most clean solution seems to be using yet another apache library: http://stackoverflow.com/a/31117888/44089

[2016-10-13 10:41] samueltardieu commented on #6026
Removing exif information by default is fine, however I would like to be able to keep it (using a checkbox). I have already navigated to the place where pictures were taken because there was a beautiful point of view or point of interest near the cache revealed through the photo.

[2016-10-13 10:49] Lineflyer opened #6029 "No coords on nearby search"
This has major impact to our users as an important function is lost:

##### Detailed steps causing the problem:
- Premium member
- Have no caches stored/caches
- Search nearby caches
- Alternatively: Search by location (where you have no caches stored)

##### Actual behavior after performing these steps:
- Caches do not have coords (approximated distance shown)

##### Expected behavior after perfo

[2016-10-13 10:51] Lineflyer commented on #6029
After a quick look on the website the "Download Waypoints" button is there on the old search but selecting it leads to an empty list to select the desired caches to be included in the LOC.

Website broken? How to adress it?

[2016-10-13 17:34] rsudev commented on #6029
I checked the search as well.
The caches to be included have to be selected before clicking the download, then it still works.
So likely rather a small change in the interface.

[2016-10-13 18:26] Lineflyer commented on #6029
At the point of time when I checked the website they also shall be selected but the table was empty after clicking once on the download button.

[2016-10-13 19:11] Lineflyer commented on #6029
Log:
[code]

[2016-10-13 19:24] pstorch commented on #6029
Debugging it right now. The `<td>` Element with the `CID` is empty. Don't know why yet.

[2016-10-13 19:31] Lineflyer commented on #6029
Added a message to c:geo Homepage and a FAQ entry for temporary issue.
I did not yet sent any notification to the users as we might probably be able to fix it short termed.

@pstorch :
Great! If you find a solution please put it to the `release` branch.

[2016-10-13 19:40] pstorch commented on #6029
Unfortunately there are more errors. Can't login anymore via c:geo.

[2016-10-13 20:02] mucek4 commented on #6029
For me c:geo says login OK.

[2016-10-13 20:05] pstorch commented on #6029
Somehow it changed my username to `c:geo` ;)
Now I'm at a point where it doesn't find the html form element to post the CIDs for loc download.

[2016-10-13 20:13] Lineflyer commented on #6029
For me all is normal with the login. Maybe you changes something to be worse during debugging?
I am also on IRC.

[2016-10-13 20:20] pstorch commented on #6029
The `name` attribute was removed from the `<form>` element on the page, so our Pattern didn't match anymore.

Old: `<form name="aspnetForm" method="post" action="..." id="aspnetForm">`

New: `<form method="post" action="..." id="aspnetForm">`

[2016-10-13 20:26] #6029 closed

[2016-10-13 20:58] Lineflyer commented on #6028
Meanwhile we experienced #6029 and @pstorch provided a fix tested (in NB) as working.
I created a new release and will smoke test it .
Due to the impact of the mentioned issue I suggest to release asap if no one objects.

[2016-10-13 21:47] Lineflyer commented on #6028
Release pushed to Google Play.

To Do:
- [x] Smoke test release before uploading
- [x] Publish release on Google Play
- [x] Rename milestones on Github / Create new bugfix milestone
- [ ] Tag release on Github
- [ ] Publish release on Github
- [ ] Publish on F-Droid
- [ ] Push notification update via status.cgeo.org as soon as Play version is available
- [ ] Post to social networks

[2016-10-13 21:53] samueltardieu commented on #6028
Tagging done

[2016-10-13 21:54] Lineflyer commented on #6028
Documented the relase on Github and triggered fdriod build.
Remaining things tomorrow.

[2016-10-14 05:01] rsudev commented on #6028
status notification done.

[2016-10-14 11:27] Lineflyer commented on #6028
Posted to G+ / FB.
We are done, thanks to all of you!

[2016-10-14 11:27] #6028 closed

[2016-10-14 11:28] Lineflyer commented on #6017
Yes, but of course only showing the direct line distance.

[2016-10-15 08:18] Bananeweizen commented on #6029
@pstorch Please don't create the bugfix twice in separate unrelated commits. Just commit to release, afterwards merge release into master (which @samueltardieu did after your changes).

[2016-10-15 08:43] pstorch commented on #6029
@Bananeweizen umm, that was unintentionally. I guess I know how it happened. I merged via GitHub. Opening a PR from release to master and merged it right away. And PR merging is configured to do a rebase.  I do local merging next time.

[2016-10-16 06:20] andrixnet opened #6032 "Problems with the new Mapsforge Beta"
##### Detailed steps causing the problem:
- Upgraded to version 2016.10.13
- go to settings, system, check mapsforge beta
- go to live map
##### Actual behavior after performing these steps:
1. c:geo responds horribly slow and I get the OS warning "application not responding, do you want to wait or close?"
   This happens for click on live map, until live map is actually shown.
2. Live map has onl

[2016-10-16 06:53] andrixnet opened #6033 "BRouter integration suggestions"
I've seen the info (and some new strings, as I am translator as well) for the integration of BRouter as routing service. Here are a few suggestions from user point of view:
- [ ] Make checks that app is installed
- [ ] enable/disable BRouter functionality from Settings
  (if app not installed, disabled and control not changeble)
- [ ] configure BRouter router calculation options
  (possible under

[2016-10-16 06:56] andrixnet commented on #6033
Note: BRouter service can be started even if not running (checked using it as route provider in OSMand)

[2016-10-16 07:05] Bananeweizen commented on #6033
Requirements in software development are meant to solve _problems_ the user has, not to implement everything developers can come up with. So could you please describe the _problems_ of an end user which need to be solved, instead of listing 20 (seemingly) random implementation solutions? I don't care if Locus or any other app has these 20 items. I care about solving user problems.

Besides that, y

[2016-10-16 09:29] andrixnet commented on #6033
Yes, I can:
Having routing is a good idea and I've seen the new partial features so far.

User issues that are addressed as solution suggestions:

1. user completely unaware of this feature and nothing from the GUI helps intuitively
_(current GUI incomplete, hence the GUI suggestions)_
2. lack of available knowledge and guidance for the user on how to deploy the necessary dependencies
_(c:geo FAQ

[2016-10-16 09:33] SammysHP commented on #6033
The FAQ is hosted on GitHub. The link to the source is shown at the end of the page.

[2016-10-16 09:47] andrixnet commented on #6033
I totally missed that. Thank you.

[2016-10-16 10:55] andrixnet commented on #6033
See https://github.com/andrixnet/cgeo.github.io/commit/306b543cf2a29712d0e55533d71e7563f0a63edb for an initial BRouter FAQ draft.

[2016-10-16 12:42] Bananeweizen opened #6034 "Always show voting in log activity"
I'm wondering if we should always show the voting stars in the logging activity, if a GC cache is logged. For People without enabled voting it would basically be the trigger for enabling it.

[2016-10-16 19:13] Lineflyer opened #6035 "Create groundspeak contact mail-in"
As discussed on [IRC](http://irclogs.cgeo.org/?year=2016&month=10&day=16) it would be good to have a contact address where Groundspeak can contact us in case of need.
@mucek4 Could you create e.g. groundspeak@... and make it forward all to cgeo-dev@.... and my gc@... mail address?
@SammysHP Can you allow this mail address to post to cgeo-dev@...

[2016-10-16 20:30] SammysHP commented on #6035
As I already said in the IRC, groundspeak@ suggests that you can reach groundspeak with that address. Better use something else.

[2016-10-17 11:39] samueltardieu opened #6036 "Use status.cgeo.org instead of the Heroku address"
Heroku now lets us use a SSL certificate for our custom domain (status.cgeo.org). We got one from StartSSL and installed it for API calls.

In order to be able to migrate away from Heroku to a hosted server, we now need to replace API calls from `https://cgeo-status.herokuapp.com` to `https://status.cgeo.org`.

After this, we can freely move `status.cgeo.org` to another host. Note that older insta

[2016-10-17 11:46] #6036 closed

[2016-10-17 15:47] Lineflyer commented on #6035
How about groundspeak-link@... or gs-link@... ?

[2016-10-17 16:06] Bananeweizen commented on #6035
I think what @SammysHP is trying to say is that the name should relate to _us_. Like team AT cgeo ORG, since that could be used for contact with other parties than groundspeak and really addresses us as a group. Calling it groundspeak AT cgeo ORG will not make it any more easy for groundspeak to actually remember this for the seldom case it might be used.

[2016-10-17 16:23] pstorch commented on #6035
team@ sounds good to me

[2016-10-17 17:05] Lineflyer commented on #6035
ok. team@... sounds reasonable.

[2016-10-18 07:32] Lineflyer commented on #6034
Good idea, but clicking should bring them to a good explanation of what they need to do.

[2016-10-20 15:34] kington93 opened #6039 "Listing background not shown in gallery if hosted externally"
**Feature request**

Hi guys,

thanks for your great job!
It is possible to display the background-image of a cache-listing in c:geo? If the picture is in the gallery than its shown in cgeo. But often the background is not in the gallery and in this case it will not be shown.

I hope that will be possible.

Thanks and best regards
king-ton

[2016-10-20 16:23] Lineflyer commented on #6035
@mucek4 Are you alive?

[2016-10-20 16:25] Lineflyer commented on #6039
It should be included in the pictures link under "Hint" in the cache description AFAIR.

[2016-10-20 16:26] gcPhil commented on #5955
I see no good reason to keep found caches and all of their data (images, ...) forever. When I clear a cache from history and delete it from all list him I don't want him to stay on my device forever and let it stop working because of low storage some day. Remember: for me its regularly 3-4GB of data by this not deleted caches. **In my eyes this is a big mistake and should be changed qickly.**

[2016-10-20 16:26] Lineflyer commented on #6032
@andrixnet What mapfile are you using? Can you specify the URL / source?

[2016-10-20 16:35] pstorch commented on #5955
You have removed them from history, but not (explicitly) removed the offline log? I guess here is the problem. When a cache is removed from History, the offline log stays and prevents the cache from final removal.
I think we should also delete the offline log, when the cache is removed from history.
We also had the discussion to rename History to "Recent Logs" or so, to make it more clear. Then we

[2016-10-20 16:41] gcPhil opened #6041 "URL in hint gets convertet to "visit link" but it is not clickable"
##### Detailed steps causing the problem:
Some Cacheowners, especially in the US, are writing URLs in the hints of their listings. Here is an example: https://coord.info/GC4W4BP
cgeo recocnise this links and shows a blue "visit link" instead. But its not clickable. if you click on the link the whole hint is only getting en/decrypted

##### Actual behavior after performing these steps:
"visit link"

[2016-10-20 16:55] gcPhil commented on #5955
Yes, you are right, I just removed them from history. I can not imagine anybody is acting different because removing the offline-logs would mean very much work. you must do it separately for every cache in the moment and users can hardly know this rule and its consequences.

I can not overview all effects and say if its better to _delete the offline-logs with erasing history_ or to remove/bypass _

[2016-10-20 17:04] SammysHP commented on #5955
You can remove all offline logs at once via the list menu.

[2016-10-20 17:10] rsudev commented on #5955
I for example act differently. I remove offline logs (after uploading field notes, logging online and updating stored caches), but not one-by-one, just using the menu-entry in the history.
While I understand that the current behaviour is a big issue for you (and I am also not too happy with it) it is not easy to just change. We have no good way to understand how many people might suffer by loosing

[2016-10-20 17:10] gcPhil commented on #5955
@SammysHP OK, sorry I don't realised that. But its still not intuitive.

What you want is to simply delete the cache from the device after exporting field notes.
What you must do is to delete it from history, delete its offline log and delete it from all lists.
No user knows about that rules and the remaining data if one step is missing.

[2016-10-20 17:12] pstorch commented on #5955
I guess this "rule" was introduce to prevent a user from accidentally deleting his Logs. But currently the history is a bit confusing. See other Issues regarding history.
In your described situation the caches are removed from history, but still have offline logs. So it is not visible anymore that the caches are kept.
We could solve it in many ways.
I think "remove from history" should either also

[2016-10-20 17:28] gcPhil commented on #5955
I understand that people maybe get used to some side-effects like keeping their stored waypoints forever and that it is very difficult to change such things. But at the point when cgeo is stopping the phone working it is a big bug.

What I would like is a menu-entry in history where I can do all three deletions at one. Detete Logs, History-Entry and Stored Cache (immediately or if you prefer after

[2016-10-20 21:16] Lineflyer commented on #5955
My few cents:
Couldnt we change the "Delete orphaned files" function in that way that those offline logged caches no longer saved and removed from history get revycled?

[2016-10-21 06:07] pstorch commented on #6041
confirmed

[2016-10-21 06:22] pstorch commented on #5955
@Lineflyer that is one possibility. From my point of view If the user doesn't have the cache on any list, we can assume it can be safely deleted.
And we should "cleanup" the History view as well. I think one remove action is enough here. Maybe with a warning about available offline logs, but we don't want more dialogs, right?

[2016-10-21 08:57] andrixnet commented on #6032
romania.map from here: http://download.mapsforge.org/maps/europe/
I downloaded it on jan 16th 2016.

[2016-10-21 10:48] Pitel commented on #5915
It's happening to me. Static maps for both caches and waypoints are enabled in settings.

[code]

[code]

[2016-10-21 10:51] Pitel commented on #4710
Now, on Nexus 5X with Android 7.1.1, it look ok.

[2016-10-21 10:51] #4710 closed

[2016-10-21 12:51] Lineflyer opened #6042 "Home coords parsing broken?"
FB reports tell, that people are located in Iran by default when GPS is not available.
I can reproduce by switching off GPS and starting c:geo twice (because home coords are only used after second login AFAIR).

It seems either the home coords are not working on the website or we fail when parsing them.

[2016-10-21 15:40] rsudev commented on #6042
I assume a website change. I am on a trip right now and observed the same behaviour this morning. And I am pretty sure it was OK yesterday (same version of c:geo)

[2016-10-22 10:19] Lineflyer opened #6043 "Support user modified coords from/to server for all cache types"
According to the latest release notes gc.com now supports this function for all cache types, thus c:geo should do.

[2016-10-22 10:39] Lineflyer commented on #6042
Seems a lot if people use cgeo without GPS  or phones are behaving different. Many mails and posts regarding this problem.

Is someome available and willing to check and fix?