[2020-07-14 21:02] bekuno commented on #8620
The implementation for OC attributes (and probaly all not GC attributes) does not work in the current implementation.
This needs a bigger rework.

[2020-07-14 21:02] Lineflyer commented on #3824
No longer reproducible.

[2020-07-14 21:02] #3824 closed

[2020-07-14 21:04] MagpieFourtyTwo commented on #8631
This weekend I mainly used offline OSM v5 (from openandromaps.org),
but following my tests right now (with a history line resulting from signal jumps :) ),
Google Maps, Sat view, OSM.org, OSM.de and CyclOSM behave in the same way, too.

[2020-07-14 21:05] Lineflyer commented on #6479
I am sure the message center will never been implemented into c:geo as of now.
There are other issues dealing with workarounds such as detecting unread messages and offering to open the message center in a browser. That should be the compromise here.

[2020-07-14 21:05] #6479 closed

[2020-07-14 21:09] Lineflyer commented on #5112
Closing here due to no acceptable way of implementing and IMHO the cache icons are fine.

[2020-07-14 21:09] #5112 closed

[2020-07-14 21:11] Lineflyer commented on #1732
This has been kind of solved by the ability for the user to export logs directly.

[2020-07-14 21:11] #1732 closed

[2020-07-14 21:12] Lineflyer commented on #4610
@cgeo/team Is this still valid?

[2020-07-14 21:26] bekuno opened #8641 "Avoid duplicate cache positions"
It is possible to have caches at (almost) the same position, especially if more than one geocaching connector is used. (e.g. in a situation as described in #2349)

A way to not have 2 cache symbols on the same map position could be to use a pin and move the symbols a few points away from each other. But then we need a general collision detection and movement for all caches within a defined distanc

[2020-07-14 21:26] bekuno commented on #2349
For me it makes no sense to build a somehow "merged" cache. Instead we have since a while the possibility to have a selection list.
So I think we should close this issue.

[2020-07-14 21:30] Lineflyer commented on #2349
I agree. As posted above we do have a visual solution for the map in order not to miss duplicates. That should be implemented for GMaps as well which is another issue (which should be already listed here somewhere).

[2020-07-14 21:30] #2349 closed

[2020-07-14 21:31] Lineflyer commented on #8641
As also mentioned in that other issue we do alread have a solution for the map (implemented for OSM). All we need to do is to apply this to Gmaps as well.

[2020-07-15 00:30] MagpieFourtyTwo commented on #8633
Tested - works. At least in in the above mentioned scenarios.  ;)
Great - thx!

[2020-07-15 07:55] kumy commented on #7403
I'll make some test to check/find the right directory structure.

[2020-07-15 09:39] jakedot commented on #3346
I agree, it is quite tedious to always have to say "show as list" on the map to apply filters, only to then have to open a new map activity and with only the caches in the viewport at the initial map. This should be fixed by changing the global "cache type" filtering to a modern, new filter activity imo.

[2020-07-15 09:44] jakedot commented on #8561
Where would we get this info from? Project GC has it, but I don't believe they are allowed to give API access to it given that they comply with GS policies.

[2020-07-15 09:47] RedAnarchy commented on #8561
GSAK / FindStatsGen3 has also these Infos, don't know exactly where they get it from, but it seems they receive it from several sources.

[2020-07-15 09:57] RedAnarchy commented on #8561
https://gsak.net/help/hs23730.htm

It seems that polygon files are necessary to identify the counties. That would increase the app size or the network traffic. So i think, a field that is shown always would be bad. But maybe these files are anywhere online, so maybe it would be possible to synchronize a list or the saved offline caches with a button to get counties for a selection of caches

[2020-07-15 10:58] jakedot commented on #6964
Seems to be working now (tested with the referenced app), guess this can be closed?

[2020-07-15 11:07] jakedot commented on #7667
This isn't very relevant as the discussion showed. And there are the "store unsaved" menu options as well as the filter menu when showing the map as a list.

[2020-07-15 11:07] #7667 closed

[2020-07-15 11:13] jakedot commented on #6528
Is this issue still unresolved?

[2020-07-15 11:39] jakedot commented on #8561
If it's realized by polygon data, maybe the Project GC team does have an API for those. As the data isn't geocache related, it should not infringe on Groundspeak copyright/licensing

[2020-07-15 12:52] MagpieFourtyTwo commented on #8631
Checked again on the way to work: Yes, it's definitely the same with all maps.

*BUT* it may just be a display/drawing problem *AND* it may possibly be context dependent:

Cause while driving I noticed that (although the described error happened to the recently recorded parts again) parts of yesterday's history line (which vanished, too) are on display now - but this yesterday's line got shorter a

[2020-07-15 14:36] fm-sys commented on #3346
@jakedot Are there any more specific plans?  I think the current UI is anything but user-friendly...
If there's nothing else, I'd like to draw a first sketch!

The new user interface should solve the following issues:
- multiple filters at once
- better usability
- combination of values for D/T filtering (enabled by from-to-sliders)
- combine cache type and property filter
- Usage also directly in

[2020-07-15 15:01] jakedot commented on #3346
thanks for listing all those points, they're all valid imo. I have looked through the various existing issues that mention "filter" and I think most of them have popped up somewhere before.

I think we could use the filter activity in the GS official app as a possible design template, and add our more complicated filters. The most unclear for me is what a UI that allows chaining filters together m

[2020-07-15 15:29] Lineflyer commented on #8561
As stated above, see #4457. This can be realized by a reverse geocoding service/API. No idea however if there is any free to use API available on the net.

[2020-07-15 15:32] Lineflyer commented on #3346
@fm-sys If you browser our issues (e.g. for keywords "filter" or "UI design") you will probably find a bunch of issues, some with a specific request, others which discuss the big picture of a UI overhaul and the corresponding discussion.

None of these however are currently ongoing.
I guess it will make sense to first of all start with a generic new UI approach (following Android style guidelines)

[2020-07-15 16:23] fm-sys commented on #3346
I don't want to change the whole UI.  The dark mode from Android 1 - 4 is now modern again 😁

I think it is difficult to redesign an app that has been growing for over 10 years. Already in 2011 there were ideas that were never implemented except for small selective changes...

So i don't think we should wait to restructure the filters. The problem is to find someone who can & wants to implement th

[2020-07-15 16:29] jakedot commented on #3346
I want to, but I haven't been able to do much more but wanting since I (partly) implemented the country filters. so I don't know about "can"

[2020-07-15 17:08] Lomanic commented on #8561
There is [Geonames](http://www.geonames.org/export/web-services.html#countrysubdiv), but cgeo will easily exhaust its [free daily/hourly tokens](http://www.geonames.org/export/#terms).

There's also [Nominatim](https://nominatim.org/release-docs/develop/api/Reverse/), similarly it has big limitations ([no more than 1 call per second](https://operations.osmfoundation.org/policies/nominatim/)), thou

[2020-07-15 17:09] jakedot commented on #8561
I don't think the discussion about changing the city when setting final coordinates is very useful. if anything matters, then it will be the location that shows up in statistics such as PGC, and it will usually be about the header coordinates anyway - PGC are a kind of authority on that matter being the only org administering the challenge checkers etc where this will be relevant. That's why I'd p

[2020-07-15 20:10] jakedot commented on #8561
they do have an API for this. I just remembered the userscript they offer for geocaching.com which replaces the country/state by country/state/county on the listing pages. https://project-gc.com/Home/UserScript - https://github.com/magma1447/greasemonkey-geocaching-projectgc

[2020-07-15 20:54] moving-bits commented on #8631
The only thing I could find was this: There was a mismatch between `Settings` (configurable max. trail length) and `rememberTrailPosition()` (still cutting off at 700 entries), which led to those illusion. Directly after opening a map (which loads the history track) you could see the whole path, but after first drawing it got cut. After setting `rememberTrailPosition.MAX_POSITIONS = Settings.getMa

[2020-07-15 20:57] Lineflyer commented on #8457
Info:
Workaround tested by fresh install of 2020.07.15-NB on my Android 10 , Samsung Galaxy Tab S4.
Everything fine: `User storage c:geo dir: /storage/emulated/0/cgeo` is being used.

[2020-07-15 20:59] Lineflyer commented on #8615
For #8457 I tested the workaround on Android 10 and its working.

So @cgeo/team please double check if there is anything to do on `master` before merging branches (potentially tomorrow).
What about #8597?

[2020-07-15 21:17] Lineflyer commented on #8632
Never seen that. How do you save the offline log (pressing back from logging view, Menu -> Save, or using the one click offline logging)?

IMHO it could only take longer than just the system reaction time, AFAIK there is no online action associated with it.

And not reproducible here: 2020.07.25-NB, Android 10, Samsung S10
Whats your device?

[2020-07-15 23:17] MagpieFourtyTwo commented on #8632
Hamburger menu => "Save offline" (cause just leaving via back button sometimes gave problems in the past)

Huawei P30 Pro with Android 10.1.0

[2020-07-16 06:56] eddiemuc commented on #5854
Created #8643 for this

[2020-07-16 11:14] eddiemuc commented on #7729
Since this bug is already quite old, I assume you already gathered info about it. It looks like the related bug might not be closed by Google yet. Have you already onsidered using the Geocoding API Webservice instead?
https://github.com/googlemaps/google-maps-services-java

Gradle e.g.
`api 'com.google.maps:google-maps-services:0.10.2'`
Code e.g.
`val geoApiCtx = GeoApiContext.Builder()

[2020-07-16 12:07] bekuno commented on #7729
The google mals services is no solution:
[code]

[2020-07-16 13:14] eddiemuc commented on #7729
In that case I would consider accepting the failing test case as "ok" until the issue is solved on Google side (after all, same test also accepts if in executing environment the Geocoder service is simply not available)

[2020-07-16 15:48] eddiemuc commented on #5906
Is this still an issue? It is quite old but nevertheless Labels as high prio

[2020-07-16 16:17] bekuno commented on #5906
@eddiemuc This is for the v3 map. I think this won't fix (or is somehow). See the discussion in #7836.
This label is not ok anymore, will remove it.

[2020-07-16 18:35] eddiemuc commented on #7729
Added PR #8645 to fix

[2020-07-16 18:37] Lineflyer opened #8646 "Mass warnings: java.lang.NullPointerException: Attempt to invoke virtual method"
On my Samsung Galxy Tab S4, Android 10 I recognized, that c:geo got a bit slower than usual, so I just took a look into the logfile.
Not sure if these warnings are of any relevance and not sure whether they cause the slowness.

I was using an offline map to browser caches stored on a list and some time later activated map update at the time of log.

However I think those warnings should not be the

[2020-07-16 18:42] Lineflyer commented on #8646
Similar but not same warning on my other device:
Samsung Galaxy S10, Android 10, 2020.07.16-NB, Same scenario

[logcat_2020-07-16_08-09.txt](https://github.com/cgeo/cgeo/files/4933505/logcat_2020-07-16_08-09.txt)

[2020-07-16 18:44] Lineflyer commented on #8632
Today I had problem to enter settings, which also took up to 3 seconds.
After device reboot it was gone....maybe we really do have something under the hood, which sometimes eats up resources?

[2020-07-16 18:49] Lineflyer commented on #7729
Thanks @eddiemuc for addressing this inconvenient issue on our CI.

[2020-07-16 18:53] fm-sys commented on #3346
Negate filters and use and/or is not needed everywhere...

- Type (checkboxes - or)

- Size (checkboxes - or)

- Terrain (only 1 or 5 doesn't makes sense, so you don't need negating - you would just have the slider)

- Difficulty (same as terrain)

- Attributes (and - but here maybe an and/or switch and also negating for each Attribute would be useful - this could be tricky to design)

- Status (c

[2020-07-16 19:07] moving-bits commented on #6964
@jakedot Thanks for testing. Closing this issue then.

[2020-07-16 19:07] #6964 closed

[2020-07-16 19:10] moving-bits commented on #8641
This would be #7511 then. Marking this issue as duplicate and closing it.

[2020-07-16 19:11] #8589 closed

[2020-07-16 19:55] bekuno commented on #8641
My idea pointed to another problem. If both caches are on the same position then only the random top most is visible. if we move both a little bin away from each other then you see that there  are more than one.

[2020-07-16 19:57] siggel commented on #6964
Sorry, I forgot to mention here, that the app does not demonstrate the behavior anymore. Lacking a reply, I implemented a dirty workaround in Coordinate Joker, figurativeley speaking: I provide something like "any" instead of "gpx file" and then detect whether c:geo is among the "100" apps apps that serve that "any"-intent.
So probably the original gpx file intent mentioned here still is not serve

[2020-07-16 20:06] moving-bits commented on #8641
Ah, then I misunderstood you. Personally I'm not too fond of moving caches around, displaying them at a different position, but I'll reopen this issue anyway for further discussion.

[2020-07-16 20:09] moving-bits commented on #8632
Do the logfiles show anything useful for this?

[2020-07-16 20:17] Lineflyer commented on #8641
I would not move icons for this but maybe define an icon representing multiple icons on same position. e.g. a circle with the amount.

[2020-07-16 20:38] Lineflyer commented on #8632
No, while looking for it I only discovered #8646 which looks unrelated.

It behaves like an ANR, meaning the app is unresponsive during that time.

@MagpieFourtyTwo Can you judge whether c:geo hangs in that waiting time or is just busy doing something but reacts to e.g. back key.

[2020-07-16 21:14] moving-bits commented on #8615
#8597 is merged meanwhile.

I'm unsure about #8646:
- First set of errors *MAY* be related to #8631 - please crosscheck with today's nightly, as I've merged a possible fix for #8631 today.
- Second set of errors look vaguely familiar, but could not find the issue for that quickly.

No idea for #8632 yet, but for a beta we may continue for now.

#8647 should be included - avoids painting OSM histor

[2020-07-16 22:24] MagpieFourtyTwo commented on #8632
The answer is a definite "it depends".  But I don't really know on what ...  :/

So, after the very first test I did a minute ago I would have said, back key is working, as I *thought* c:geo changed screens immediately, esp. as a second or so *after* the screen changed, the toast "Log has been successfully saved" appeared.
But: In this test the keyboard was still active when I hit the back button,

[2020-07-16 22:33] MagpieFourtyTwo commented on #8632
Afterwards I also restarted the phone, but this gave no improvement regarding the response times.

[2020-07-17 05:35] eddiemuc commented on #7729
You're very welcome, I hope it helps

[2020-07-17 07:38] Lineflyer commented on #8646
Both types of warnings still shown with todays nightly 2020.07.17-NB

[2020-07-17 07:46] Lineflyer commented on #8602
@kumy Do you remember the logic here (in case you were involved last time?)?

[2020-07-17 08:28] kumy commented on #8602
Sorry I missed your last mention.

@Lineflyer from what I understand, the gradle target in the old [legacy job](https://ci.cgeo.org/view/Release_Nightly/job/cgeo%20legacy/) was wrong. ie `assembleBasicRelease` instead of `assembleBasicLegacy`.

The source code related to this:
https://github.com/cgeo/cgeo/blob/93350adcaac9d44924513d154bf89de10b429aba/main/build.gradle#L224-L233

I've made the chan

[2020-07-17 12:30] MagpieFourtyTwo commented on #8631
Seems to work. Great. Thanks!
Nevertheless I have another strange effect now - will open a new issue for this.

[2020-07-17 12:49] MagpieFourtyTwo opened #8648 "[Nightly] History line draws senseless connection"
**Describe the bug:**
When you open the map and history line recording *continues(!)* to log your track, a senseless line will be drawn (and stay fixed) from the position you have been in the moment you opened the map to the very first point of your entire history line.  After that, recording goes on as expected, but when you leave the map for a short time and re-enter it, there will again be such

[2020-07-17 13:01] MagpieFourtyTwo commented on #8648
Just updated to 1b61537 - same same.

[2020-07-17 20:09] MagpieFourtyTwo commented on #8648
Noticed this afternoon: To "create" a new "connection" (like in step 10 to 12). it's even sufficient to just switch the phone's display off and on again.

[2020-07-17 20:22] Lineflyer commented on #8648
This is the limitation we have had ever since. If the map or your GPS is off it wont record the track.
Once its active again it continues drawing from present position.

Maybe we could find a way to stop drawing these connections.

[2020-07-17 21:11] moving-bits commented on #8648
This has been there ever... since storing the history track to the database:
- Adding a new location to the track was done at the end,
- but at reloading the track got returned in reverse order.

This explains the superflous connection line (as the first added point after reloading was the current location, which was also the last point saved, thus now being at the beginning end at the end of the

[2020-07-17 21:19] moving-bits commented on #8646
Hm, I'm still unable to reproduce either of those errors.
- opened a map
- activated live map and stored all caches for this area
- disabled live
- moved map around a bit
- enabled live
- moved map around a bit

nothing unusual happened

Are you using any specific settings?
Following the error message I had activated general proximity notification.

[2020-07-17 21:35] Lineflyer commented on #8646
@moving-bits I send you my app settings an whatsapp channel.

[2020-07-17 21:59] #8648 closed

[2020-07-18 01:43] GeoGhostHunter opened #8650 "App has stopped working"
The App has stopped working.
when I run the app and then pick Live Map. It dose not display any caches, only found ones and they are marked with a circle with question marks inside. It will not display any type of cache.
It will show my location.
When I click on Nearby it says no caches here.
When I go to search and enter in cords it says nothing here.
It also says I am not logged in and GC login

[2020-07-18 07:24] Lineflyer commented on #8650
That sounds as if you use a really very old version of c:geo. Please update first.

[2020-07-18 07:49] eddiemuc commented on #2553
I took a look at this. It seems to me that:
* the image data is simply not saved in the offline log. To do this, however, the database would need to be extended by fields "image_uri", "image_title", "image_descr" and maybe "selected_scale_factor" (the later to restore the dialog
* moreover, right now cgeo does not support uploading multiple images for a log. If this should ever be supported, then

[2020-07-18 07:59] moving-bits opened #8651 "Add "old version" warning"
From time to time we get reports which seem to be related to very old versions of c:geo, like feedback on Play Store or (maybe) #8650. I would like to avoid (or at least reduce) this in the future, therefore

I propose to add a warning message showing up when you c:geo version is more than one year old (to be detected by comparing our version string against system date). This could be shown in the

[2020-07-18 08:07] moving-bits commented on #2553
Thanks for looking into this.

this would be a nice extension

There is a cleanup task in `storage/DataStore.java:cleanIfNeeded()`, but that does not seem to cover those pics.

Generally speaking: Why not? For extending database structure please use the procedures in `storage/DataStore.java` (defining table structure; create/delete table routines; settings version number etc.).

An alternative cou

[2020-07-18 08:09] moving-bits commented on #8650
To see which version you are using currently go to c:geo's main screen, three dot menu, "About c:geo".

[2020-07-18 08:09] eddiemuc commented on #2553
Additional notes: it seems that when I select an image as well as a scaling factor (e.g. 512px) and I jump forth and back between "image select dialog" (closing it with "ok") and "log edit dialog" (selecting "add image" from there), each time I save the (same) image (again), a new (scaled) copy of this pic is created in "pictures/cgeo"

IMHO it would make sense not to solve this issue singulary bu

[2020-07-18 08:11] eddiemuc commented on #2553
@moving-bits : thanks for hinting to extension tables, I will look into this

[2020-07-18 08:26] moving-bits commented on #8646
Thanks, but still no luck.
This time tried with a list of a bit more than 1000 caches and offline map.
Started in offline mode, moved around a bit, enabled live mode, moved around a bit more. Still nothing unusual and no runtime exceptions.

[2020-07-18 08:34] bekuno commented on #8650
For this message see the FAQ point https://www.cgeo.org/faq#login-failed

[2020-07-18 08:40] bekuno commented on #8651
I would additional add a version check. If no newer release exist than the message is senseless.

[2020-07-18 08:54] moving-bits commented on #8651
I would like this message to be able to work offline. Also, for a full version check you would need to take Android version into account etc. And even if there is no new version available for your specific device you should get to know that your version is pretty old, possibly making some things fail.

Version check should check for "more than one year", eg.
- version string is `2018xxxx` and syst

[2020-07-18 09:55] bekuno commented on #8651
The text needs carfully defined to cover 'legacy' devices.
Can we request somehow which c:geo release supports a specific android version?

[2020-07-18 09:58] moving-bits commented on #8651
Currently I have this one, which should cover `legacy` devices as well:

![image](https://user-images.githubusercontent.com/3754370/87850114-ea2f6380-c8ed-11ea-867d-2351f4e1deee.png)
(Text is linked to c:geo FAQ)

Not that I know of.

[2020-07-18 10:34] moving-bits commented on #7729
Workaround seems to work fine, therefore closing this issue.

[2020-07-18 10:34] #7729 closed

[2020-07-18 12:42] Lineflyer commented on #8651
Why should we need that?
Only for offline cases? We do already have a version check and message system.

[2020-07-18 13:11] bekuno commented on #8650
Please hit this point and then (re)authorize.

[2020-07-18 17:50] moving-bits commented on #8651
- Offline use cases
- Add some "sense of urgency" by explaining what may happen

it's integrated into that message system as extra default message (like the "Android 4 closeout message" was)

[2020-07-18 18:09] Lineflyer commented on #8651
mmh...This probably means it will be overwritten by the status system as a new version will most likely be available in "online case" and only be shown in "offline case". Thats how I would prefer it, as the trigger to update is more accurate, than just saying "Your version does not work".

[2020-07-18 18:11] Lineflyer commented on #8615
I left yesterday for vacation.
This means I could still merge branchs, but beta version only next week.

Just tell me, when you think everything is in.

[2020-07-18 20:02] moving-bits commented on #8651
That's the way it's implemented.

If an online message is available, take it.
If none is available (yet), check for deprecated version, then for Android system version.

[2020-07-18 21:09] Lineflyer commented on #8651
Thumbs up!

[2020-07-18 21:14] Lineflyer commented on #2553
@eddiemuc Looking forward to it. 👍

[2020-07-19 07:33] #8651 closed

[2020-07-19 07:33] moving-bits commented on #8627
@fm-sys
Can you provide me with some sample files containing GPX routes? Preferably with different combinations of the allowed attributes / generated by different tools. Thanks.

[2020-07-19 10:09] bekuno opened #8658 "have 'show QR Code' on waypoints"
From FB https://www.facebook.com/groups/cgeo.fangruppe/permalink/2410848359213730/

Add the possibility to present a coordinate as QRCode text.
(The import from the clipboard should be enough)

[2020-07-19 11:21] moving-bits commented on #8615
Without further information I cannot reproduce #8632 nor #8646, so I'm a bit lost. Are those two affecting other people as well, anything on support? Shall I implement mitigations (null checks avoiding the NPE)?

Other than that nothing urgent left on my radar currently (but I may have missed something), so IMHO branches could be merged any time now.

[2020-07-19 11:50] Tokolino commented on #8658
I am the one who created the FB post, and I want to give some more details.

The use case would be a group of cachers who are doing a multi cache together and want to share the coordinates for the next waypoint among all the running instances of c:geo (after they are determined). The existing possiblities of saying them out loud or sharing in a messenger group are either error prone, tedious or ne

[2020-07-19 12:22] moving-bits commented on #8658
Just for info: long tap on waypoints / caches is already in use (for adding waypoint to / removing it from an individual route), so we would need a different way - maybe a menu entry in the waypoint/cache popup's hamburger menu.

[2020-07-19 12:32] Tokolino commented on #8658
![Screenshot (19 07 2020 11_24_14)](https://user-images.githubusercontent.com/52600698/87874749-a9f2e280-c9cc-11ea-9de9-59422fdfd8fd.jpg)
I meant to add it in this menu. Or somewhere where it makes sense ;-)

[2020-07-19 12:35] Tokolino commented on #8658
When you open a waypoint and click on the coordinates, then you get a short menu having only 2 entries. A 3rd one would not bother there ;-)

[2020-07-19 12:38] Tokolino commented on #8658
When you open a waypoint and click on the coordinates, then you either get a dialog for entering them or a short menu with the possiblity to copy the coordinates. Both cases can have the possibility to display it as qr code, the first one should have the possibility to scan as qr code.

[2020-07-19 19:08] fm-sys commented on #8627
I've created 2 example files using two different online tools and than I found some more files on github. All files you find listed in this [repository...](https://github.com/fm-sys/sample-gpx)

[2020-07-19 21:21] bekuno opened #8659 "Use new logo on other cgeo project websites"
The (old) c:geo logo is also used on the github project site, the both crowdin projects, the codacy organization, maybe more.
Do we want to replace the old logo with the new one, create a dedicated project logo or use the old one?

[2020-07-19 22:20] Lineflyer opened #8661 "Replace logo in About section?"
Shall we also replace the logo in "About c:geo" with the new one?
While I also like the "old" it would only be consistent to also use the new one here.

[2020-07-19 22:22] Lineflyer commented on #8615
Ok, will do it and publish beta either after vacation or if I find time and technical possibility before. Will report back here.

[2020-07-19 22:24] bekuno commented on #8661
+1

[2020-07-20 07:51] Lineflyer commented on #7998
Friendly reminder for this regression.
If there is no time to fix / to complicated to fix, I suggest to revert the change which lead to this regression. (This way it would work again on GC but fail on OC. Not nice, but GC is used way more often).

[2020-07-20 08:00] bekuno commented on #7998
I will prepare a PR to at least revert the change.

[2020-07-20 08:25] jakedot commented on #8409
As far as I can remember,  I've experienced issues also in regards to changed coordinates, as importing solved mysteries a friend exported from c:geo didn't include the "final waypoint" flag and the original position waypoints. I'm not sure if they aren't exported or not imported correctly, but I think gpx from e.g. GSAK worked fine so it's probably the export.

[2020-07-20 10:58] MagpieFourtyTwo commented on #8648
Works - thanks!

But now I have the effect that the position marker constantly looses the connection to the track ... i. e. the position marker moves forward, but leaves a gap between current position and the most recently recorded (and poss. stored) point ...
This may be considered as a minor issue, but in fact it looks as if recording is interrupted.
Would IMHO be better, to always additionally

[2020-07-20 12:56] jakedot commented on #3346
Right now if we choose to just implement the current behaviour in the lists for the map also, I think we have enough to worry about:

- the "global" cache type filter, which is applied and displayed additionally to the selected filter in a list
- only one filter concurrently applicable in the lists
- what about map being opened from a filtered list, do we display those filters?
- interactions of e

[2020-07-20 18:14] fm-sys commented on #3346
I'm currently working on the new OFFLINENUM signature variable, but when that's done we could try to develop this new activity together, if you like.

Unfortunately I have never coded for Android before, so I'm not sure if we will manage it. But maybe also other developers would like to help us, if we have a specific problem...

[2020-07-20 19:13] moving-bits commented on #8648
Ah, I probably deleted too much from the old code. I create a PR "to close the gap".

Cannot reproduce it here. Feel free to open a separate issue if you find a way to reproduce it.
Is there anything in the log files?

[2020-07-20 19:32] moving-bits commented on #8627
Thanks for providing the files. Will put routes into my personal backlog...

[2020-07-20 19:45] moving-bits commented on #8661
Easiest way would be to replace `android:src="@drawable/cgeo_logo" />` in `about_version_page.xml` with a different but existing logo. If we choose the new `@mipmap/ic_launcher` result depends on the system version and configuration.

New logo gets shown on API 26+ only, and it's shape depends on the system settings:

![image](https://user-images.githubusercontent.com/3754370/87979187-f6741600-cad

[2020-07-20 19:47] MagpieFourtyTwo opened #8663 "[Nightly] History line not drawn properly (or not at all)"
**Describe the bug:**
History line is not drawn properly if map view is closed and re-opened again.

**To Reproduce:**
1. open map view (no matter if live or cache context, tested with GM and OSM v5)
2. move - around corners (to produce edges) ... and watch history line growing ...
3. leave map view (not matter if via switching display off or changing to cache detail page or to a different app)
4.

[2020-07-20 21:46] fm-sys commented on #2288
Logging a PM cache is possible by long click in list view, so this issue could be closed...

[2020-07-21 01:27] MagpieFourtyTwo opened #8664 "[Nightly] crash with any OSM v5"
**Describe the bug:**
c:geo crashes in map view with any OSM v5
Guess it's related to latest history line fix ...?

**Version used**
2020.07.21-NB

[logcat_2020-07-21_03-19.txt](https://github.com/cgeo/cgeo/files/4950729/logcat_2020-07-21_03-19.txt)

[2020-07-21 14:36] MagpieFourtyTwo commented on #8664
FYI: Downgraded to 2020.07.20-NB-33a57ef (which BTW worked like a charm ;) )

[2020-07-21 20:29] moving-bits commented on #8664
Very strange. I can see the errors in the logfile, but I cannot find a clear cause, code looks inconspicuous. And cannot reproduce in the emulator - map is stable there and works like a charm.

Can you describe the specific steps you did, until that error occurred?
Does it happen directly on map startup, or when moving pretty fast/slow, or anything other "special"?

Besides that: I adapted the alg

[2020-07-21 21:04] MagpieFourtyTwo commented on #8664
Perhaps because of a different constellation of options and/or data?
Over here there's nothing special, piece of cake:

With OSM activated ...
- open c:geo, open live map - crash.
- open cache detail page, show cache on map - crash.
- set map to GM (in options), open live map, switch to OSM - crash.

Maybe deletion of history track may "fix" this, but I did not try yet, cause a) did not want to de

[2020-07-21 21:09] moving-bits commented on #8664
I had tested with both a grown history track as well with a freshly cleared one - made no difference. Maybe it's some timing thing, which does not happen in the emulator, because that one's so slow...

[2020-07-21 21:10] MagpieFourtyTwo commented on #8664
Ok so I should re-check the crashes with this night's nightly?

BTW: You have in mind that #8663 happens with GM, too?

[2020-07-21 21:29] moving-bits commented on #8664
yes, please

no, hadn't. but #8663 confuses me anyway :-)

[2020-07-21 21:43] MagpieFourtyTwo commented on #8664
Then, please let me know what I can do to eliminate (or at least shrink) confusion ... ;)
The scenario itself is clear?  Or is there even need of add. explanation?

[2020-07-21 21:50] moving-bits commented on #8664
Scenario is clear, but could not reproduce until I had set max. length to minimum allowed value (100).

Meanwhile I've debugged much deeper, and I think I have an idea what's happening. Trail gets truncated on startup only, but reloaded frequently on map restart/resume. So let's imagine you have accumulated A-B-C-D-E, but max length set to three, then on resume it will load A-B-C only (after #8649

[2020-07-21 21:55] MagpieFourtyTwo commented on #8664
Sounds elaborated enough to possibly be correct and perhaps even work. ;)
Good luck!

[2020-07-21 23:59] MagpieFourtyTwo commented on #8663
@moving-bits wrote in #8664 :

Wouldn't it be easier to limit in-memory recording to max length, too ...?  As meanwhile this limit can easily be set to a higher value anyway, there should be no reason anymore for a (seemingly) extended recording ... even more as it is temporary anyway.

Nevertheless, although I don't expect a change with regard to this topic (as GM did it wrong, too), I will re-ch

[2020-07-22 10:06] moving-bits commented on #8663
This is already done, AFAIK, although not on every GPS signal.

I don't expect a change here regarding #8663, the mitigation with #8665 is for #8664 only.
Couldn't finish debugging #8663 yesterday, will continue today or tomorrow, as time permits.

[2020-07-22 15:41] Lineflyer opened #8666 "Brouter - Routing mode "Car" draws straight line"
Can someone check if there is a problem with brouter integration in c:geo or my device has some problem:

Whenever I select "Car" as routing mode on cgeo map options it draws a straight line only.
Other routing modes (bike, walk) work normal, which proofs that the navigation tile is available im brouter.

2020.07.19-NB

Sorry for the brevity, only on mobile.

[2020-07-22 21:08] moving-bits commented on #8664
Thanks :-)

Added this + a second fix with #8667, which in conjunction try to fix #8663. Will merge to master after successful tests in CI.

[2020-07-22 21:21] moving-bits commented on #8666
At least with current master and OSM offline map routing works in all modes for me (tested only this combination; in emulator on API 29 with freshly installed brouter and routing file containing NRW).

Maybe wrong routing information in brouter files? You could try to update them.

[2020-07-22 21:23] moving-bits opened #8668 "certificate expired on ci.cgeo.org"
eg.: https://ci.cgeo.org/job/cgeo%20pull%20request/3210/

Browser reports "Warning: Potential Security Risk" and on pressing "advanced" reveals that our certificate is outdated:

`Websites prove their identity via certificates, which are valid for a set time period. The certificate for ci.cgeo.org expired on 7/22/2020.`

[2020-07-22 21:39] #8663 closed

[2020-07-22 21:40] Lineflyer commented on #8666
Already updated.
Will check back at home end of this week.

[2020-07-22 22:01] MagpieFourtyTwo commented on #8664
Looking forward ...  ;)

BTW: I'm pretty sure I wrote that the crashes don't happen anymore with 2020.07.22-NB-26fd1cb ... but I can't find it anymore. Strange.

Nevertheless, let's close this issue now ...

[2020-07-22 22:01] #8664 closed

[2020-07-22 22:05] MagpieFourtyTwo commented on #8666
WFM, too - is one of your points possibly too far away from a car-allowed point?

[2020-07-22 22:09] MagpieFourtyTwo commented on #8666
Perhaps you can provide two points which do not work for you, so we can test these ...

[2020-07-24 14:17] moving-bits commented on #8663
@MagpieFourtyTwo
Did you happen to have a chance to test if the fix works for you?

[2020-07-24 15:58] MagpieFourtyTwo commented on #8663
YESSIR!  ;)

Works surprisingly well!  ;)

No, seriously: Did not notice any peculiarities anymore.

Esp. the "leave map, re-enter map" stuff, where the most recent parts of the history line were displayed as a straight line instead of following the trail after re-entering, seems to work flawlessly now, moreover, the connection between history line and current position does not get lost anymore ..

[2020-07-24 16:02] MagpieFourtyTwo opened #8670 "Add "Delete via point" button to "Individual Route" => "Sort""
Would be great to be able to [Trash] a via point from the list of via points in "Individual Route" => "Sort".

[2020-07-24 19:46] moving-bits commented on #8663
That's good news! Thanks for testing.
We can closing in on a beta then, IMHO.

Haven't seen that myself so far, but if you find anything reproducible for that, I would be happy to try a fix for it.

[2020-07-24 19:49] moving-bits commented on #8670
Yeah, I'm sort of longing for that myself. I've only been reluctant so far as to where to put that third button. If I put it in the same row as the sorting buttons, screen space for name etc. would get reduced significantly. Not sure, if that would work for all devices. (Other than that probably the easiest to use solution.)
OTOH I would not like to open a second row of buttons for that, as this w

[2020-07-24 19:50] moving-bits commented on #8650
@GeoGhostHunter
Any news on this from your side?

[2020-07-24 19:54] moving-bits commented on #8615
AFAIC we seem to have a pretty stable version now, after #8663 and #8664 having been fixed.
Only #8661 and #8670 left on my mind, but both non-critical, and both could be added during a beta phase, IMHO.

[2020-07-24 19:59] Lineflyer commented on #8615
I will try to look on it this weekend when back from vacation.

[2020-07-24 20:22] bekuno commented on #8615
I have to test the reverts for #7998. I hope that it is finished tomorrow.

[2020-07-24 20:26] MagpieFourtyTwo commented on #8670
What about just swiping it away (system conform to the left) ...?
Possibly there even can appear a trash can like with Android's notifications?

[2020-07-24 22:41] MagpieFourtyTwo commented on #8663
Agreed.

[2020-07-25 06:46] fm-sys commented on #8661
Or we could use the design of our website...

![Screenshot_20200725_084351](https://user-images.githubusercontent.com/64581222/88450939-1ea5a100-ce53-11ea-965c-c3ed7f9a1402.jpg)

[2020-07-25 09:13] Lineflyer commented on #8661
I think the proposal of @fm-sys looks even better. Any more opinions?

[2020-07-25 10:29] Lineflyer commented on #8615
OK, so lets wait for:
- Revert for ä7998
- PR for #8861

[2020-07-25 10:30] Lineflyer commented on #8661
@fm-sys Feel free to provide a PR for this.
This would then be the last commit before merging branches.

[2020-07-25 10:39] moving-bits commented on #8661
I was already working on it. PR follows.

[2020-07-25 10:40] Lineflyer commented on #8668
I informed @mucek4

[2020-07-25 10:48] moving-bits commented on #8615
I'm receiving an NPE in Routesort view when loading has not yet finished. Will create issue + PR for that.

[2020-07-25 10:51] moving-bits opened #8672 "NPE in routesort view when loading not yet finished"
**Describe the bug:**
I'm receiving an NPE in routesort view, when the individual route contains caches not yet loaded.
This can happen if you add caches in live view, which have not been stored locally. If you open the map the next time, and those caches have not been loaded yet again, routesort will crash with NPE.

**Version of c:geo used:**
Current master branch version.

**Is the problem repr

[2020-07-25 10:56] steve8x8 opened #8673 "GC: Changed attribute description texts"
**Describe the bug:**
Groundspeak changed the description texts for a couple of cache attributes.
For example, "available during winter" became "available in winter", and "hike shorter than 1km" became "<1 km hike".
This may result in translation issues.

[2020-07-25 11:06] SammysHP commented on #8673
Why will this result in translation issues? We use our own text.

[2020-07-25 11:47] mucek4 commented on #8668
I have fixed it. Sorry.

[2020-07-25 11:47] #8668 closed

[2020-07-25 11:49] moving-bits commented on #8668
@mucek4
Thanks for fixing it.

[2020-07-25 13:54] #8672 closed

[2020-07-25 14:04] #8661 closed

[2020-07-25 14:27] moving-bits commented on #8615
@Lineflyer
I've merged the open issues I'd been working on for master branch (including the fix for the NPE mentioned above), updated changelog accordingly, and added a warning info about Android 11 (due to #8457).
From my side "ready to go" except maybe reverting #7998.

[2020-07-25 14:36] moving-bits commented on #4663
Does work on both Google Maps and OSM NewMap, therefore closing the issue.

![image](https://user-images.githubusercontent.com/3754370/88459330-deffa900-ce94-11ea-998a-d7315a4ed8da.png)![image](https://user-images.githubusercontent.com/3754370/88459333-e45cf380-ce94-11ea-8a63-98b7a65c5950.png)

[2020-07-25 14:36] #4663 closed

[2020-07-25 14:43] moving-bits commented on #4673
With the new map downloader (which I will integrate after merging branches for the upcoming release) there will be a new menu entry in the map selector, labelled "Download offline map", which opens the new map downloader. Therefore closing this old issue here for now.
If we want to have more visibility for other "hidden" features we can/should open separate issues for each of them.

[2020-07-25 14:43] #4673 closed

[2020-07-25 19:01] moving-bits commented on #8670
Closed with https://github.com/cgeo/cgeo/commit/fd0728343ceaaee7ecfc5288ae540df52f9e4878

[2020-07-25 19:01] #8670 closed

[2020-07-25 19:12] moving-bits commented on #7732
Site is back running. Can we close this issue?

[2020-07-25 19:15] Lineflyer commented on #8615
Perfect. thanks.

OK, I will  merge branches now.
@bekuno For reverting #7998 please submit PR towards `release`.

[2020-07-25 19:16] moving-bits commented on #6971
@KoalaBear84
With the introduction of "individual routes" in version 2020-04-25 and the upcoming feature to sort this list manually (see #8569, coming with the next release): Is everything of your use case covered by this?

[2020-07-25 19:18] KoalaBear84 commented on #6971
@moving-bits Yes, that would be great! Thanks!

[2020-07-25 19:22] moving-bits commented on #6971
FYI: Creating an individual route (= an ordered list of waypoints and/or caches) is already included in c:geo since version 2020-04-25. You have to activate "long press on map" in settings => map, then you can add/remove waypoints and/or caches by long tapping on them on the map.

The upcoming release adds a view (reachable via map => individual route => sort route) in which you can rearrange the

[2020-07-25 19:22] #6971 closed

[2020-07-25 19:24] KoalaBear84 commented on #6971
Thanks for being so helpful, all clear 👍

[2020-07-25 19:25] moving-bits commented on #8467
Regarding this point:

I'll open a new issue and close this one to allow for easier tracking.

[2020-07-25 19:25] #8467 closed

[2020-07-25 19:27] moving-bits opened #8676 "Recognice local .map files, move them to c:geo dir and activate for map"
From https://github.com/cgeo/cgeo/issues/8467#issuecomment-658380633 by @Lineflyer:

Still it would not be so bad also to have an intent catching *.map files on the system, to allow clicking on them to use c:geo to move or copy them to the defined map directory.

[2020-07-25 19:30] moving-bits commented on #8676
Re-activate c:geo's local file handler for locally stored files having a ".map" extension:

On tapping such a file do a light content check whether it is an OSM offline map file, and if yes: move this file to c:geo map dir + activate it as current map.

[2020-07-25 19:35] Lineflyer commented on #8615
Be aware: Branches have been merged

We do now have:
`release` = Currently equals `master` and base for upcoming beta version, any fixes for regressions should be merged here until release is ready
`master` = Free for new developments
`cgeo-legacy`= Contains status of previous release for reusing as a legacy version parallel to next release

I will try to build, test and publish beta tonight or to

[2020-07-25 19:53] Lineflyer commented on #8615
@moving-bits
While smoke testing the possible RC/beta version I stumbled upon an empty changelog page in About c:geo.
While merging branches I exchanged the changelog content between `changelog_master`  and `changelog_release` and hopefully did everything right.
The content of `changelog_release` was previously appended below the `changelog_master` on the "Changes" tab in About c:geo.
Can you plea

[2020-07-25 19:55] moving-bits commented on #8615
Thanks, @Lineflyer, for merging the branches and starting to prepare beta and legacy versions.
I will then start merging the PR currently being on hold into master over the next days, to get the queue freed up.

[2020-07-25 19:55] moving-bits commented on #8615
I'll look into it.

[2020-07-25 20:18] Lineflyer commented on #8602
@kumy
Thanks. Just tested it and works as expected. I also reenabled the ftp upload which also works well.
Thanks for your detailed report, which made me learn a lot for future.

[2020-07-25 20:27] Lineflyer commented on #8602
According to https://developer.android.com/guide/topics/manifest/uses-sdk-element using `maxSDKversion` is not mandatory but optional meanwhile.
As far as I understood the alternative logic regarding Google Play [here](https://developer.android.com/google/play/publishing/multiple-apks) we just need to make sure, that an APK with higher `minSDKversion` also has a higher version code, than the APK f

[2020-07-25 20:32] moving-bits commented on #8615
Does work here for both master and legacy branch. (Tested with emulator, API 29)

[2020-07-25 20:34] Lineflyer commented on #7732
I think so.

[2020-07-25 20:34] #7732 closed

[2020-07-25 20:37] Lineflyer commented on #8615
Release branch is the problem.
I tested on an Android 5.0.1 device.

[2020-07-25 20:39] moving-bits commented on #8602
After having read above articles I would agree.

[2020-07-25 20:50] moving-bits commented on #8615
Ok, I think I've found the culprit: The `\n` in the middle of the warning message regarding Android 11 confuses Android 5 (although it works on API 29). I'll replace it by " - " (on release branch).

[2020-07-25 21:05] bekuno commented on #8602
As discussed in https://github.com/cgeo/WhereYouGo/pull/183 - the `maxSDKversion` is optional, but we can/should set it to stay independent from release branch.

[2020-07-25 21:14] Lineflyer commented on #8602
Will do that.

[2020-07-25 21:56] Lineflyer commented on #8673
@steve8x8
As @SammysHP wrote, we use our own texts. I do assume, that the sense of the attributes will not change, only the wording.
Or do you have another reasoning for expecting problems here?

Another question would be, if they also changed the attribute IDs in their GPX.
But I don't think so as it would break compatibility with a lot of devices.

[2020-07-25 21:59] Lineflyer commented on #8666
The issue is not present in my homezone but only during my vacation in NoordHolland.

@MagpieFourtyTwo
If you still offer to verify:
Take GC55Y23 as target and N52° 53.489 E004° 43.646 as starting point

I currently assume some failure in the corresponding brouter data (which you might need to download before testing this).

[2020-07-25 22:05] Lineflyer opened #8678 "New UDC created from map should be saved to "User-defined caches" list"
AFAIR new user defined caches should be stored on the dedicatd "Internal caches" list upon creation by long clicking on the map.
For me they are always stored on the default list.

BTW:
Shouldn't we also rename the list "Internal caches" to "User defined caches" to be consistent?

@moving-bits
In case this is no bug it could be considered as a feature request. I meanwhile use the UDC quite a lot t

[2020-07-25 22:19] mirabilos commented on #8602
Doesn’t make this it difficult to test/use the legacy version
on a device with modern Android?

[2020-07-25 23:25] Lineflyer opened #8679 "OSM online maps not working with legacy version"
Found while smoke testing legacy version:
OSM.org and OSM.de tiles are not loading. CyclOSM however works.

Tested on Android 4.4.2 device.

Need to check logs tomorrow to find the problem. My guess would be a SSL issue if we use https here.

[2020-07-25 23:32] Lineflyer commented on #8602
No, AFAIK this is only evaluated by GooglePlay to distribute matching versions to different API versions. You can manually install any APK you want.

[2020-07-26 07:04] moving-bits commented on #8679
All three map sources use https, but there may be differences in the type of certificate their servers use, and the encryption protocols they support.

[2020-07-26 07:15] moving-bits commented on #8678
Current behavior is as follows:
- During migration of the "go to" history create a new list called "Internal caches" and store an internal "Go to history" cache in that list. (This will be one cache with several waypoints.) The id of this list may vary from installation to installation, depending on the amount of lists already stored on that device.
- If the user creates a user defined cache comin

[2020-07-26 08:05] Lineflyer commented on #8615
Did you already do that?
Afterwards I would push the beta versions.

[2020-07-26 08:08] moving-bits commented on #8615
Yes, had changed this yesterday on release branch.

[2020-07-26 08:52] Lineflyer commented on #8615
OK, I uploaded a new multiple APK beta version:
2020.07.26-RC / 2020.07.24-RC-legacy

It consists of our normal RC from `release` branch and the legacy version from `cgeo-legacy` branch.
Beta users on API 16-20 should receive the legacy version, API 21+ should receive the normal RC.

I will update versions on status.cgeo.org in a few minutes so that we can see user counts.

[2020-07-26 08:55] Lineflyer commented on #8602
A release candidate for a new legacy version has been published as beta version on Google Play: 2020.07.24-RC-legacy
Android 4.1 - 4.4 devices from users on beta channel should receive this update normally now.

@mirabilos
Feel free to try it out via Google Play (might need some hours until available).
There is no fix for https issues yet included, just a proof of concept for the legacy branch as

[2020-07-26 09:14] Lineflyer commented on #8615
I just triggered some proofreadings on crowdin to get more translations in.
Please kindly wait with further updates to `master` until #8677 is tested and merged. Then I will again fast-forward `release` to the head of `master` to have these translations included in the upcoming release.

[2020-07-26 10:10] MagpieFourtyTwo commented on #8666
Yep, your starting point is on a classified road ("open voor bewoners"), at least as OSM says. And Brouter does not route in or through roads that are not allowed for public use with the chosen strategy.

Use a starting (or additional via) point at e. g. N 52° 52.944' E 004° 43.572' (best with an individual route) and everything will be fine.

This is BTW the same over here in .de - just look in O

[2020-07-26 11:30] Lineflyer commented on #8615
Please kindly wait with further updates to master until #8677 is tested and merged. Then I will again fast-forward release to the head of master to have these translations included in the upcoming release.

DONE!

[2020-07-26 11:31] Lineflyer commented on #8666
I thought it would just draw a straight line until the next suitable road and route from there (at least I have seen this in the past AFAIR).

[2020-07-26 12:15] MagpieFourtyTwo commented on #8666
That's right - but therefore the point in the "forbidden" area must be close enough to the next "allowed" point.

In these cases I usually look for the best entrance to the "forbidden" area, set a waypoint there (via long click on map), and then use the new waypoint's popup to let Brouter route me to this point.

[2020-07-26 12:48] moving-bits commented on #8615
Next thing I would like to merge is #8611, as this is the base for two other PR, but CI constantly fails with an error message I do not know the reason for, see my note in #8611. (Something like "no tests found" - looks to me like a problem with the CI.)

Any ideas?

[2020-07-26 12:51] moving-bits commented on #8615
@Lineflyer
Have you had a look at #8643 from qs & support perspective? (I'm not that deep into proceedings of personal note replication.) If ok, we can merge, but we need to squash the PR first.

[2020-07-26 15:19] mirabilos commented on #8602
Hi Lars,

thanks, nice, but, as I said, I cannnot run Google Play on my device
as it makes it too slow.

OK, works for me; as such, it’s not a regression against the Dec 2019 NB
I currently use.

Do I need to make a DB and settings dump, uninstall the old application,
install the new one, and import the dump to switch? Or are they using
different application names so I can install them in parallel

[2020-07-26 18:40] Lineflyer commented on #8666
Indeed, I never noticed before. Thanks for helping to clarify this.

[2020-07-26 18:40] #8666 closed

[2020-07-26 18:57] Lineflyer opened #8681 "Change to line color accepted although cancelled"
User report for 2020.07.26-RC:
- Go to Settings - Map
- Open color picker for one of the lines
- Click on a new color (which is then indicated in a circle instead of square)
- Press "Cancel"

Result:
The menu still shows the old color, however after leaving and entering the Map settings the cancelled selection is active

Expected:
Don't change the color if the user cancels the dialog.

[2020-07-26 19:27] Lineflyer commented on #8679
Seems like that, ADB log shows:

[code]

Can we use HTTP instead for legacy?

[2020-07-26 19:29] Lineflyer commented on #8679
Additionally we seem to continue the failing requests continously according to the ADB log.
The log is flooded with these exceptions and does not stop, although I do not even move the map.

[2020-07-26 19:37] Lineflyer opened #8682 "Live map is missing caches sporadically"
User report from 2020.07.26-RC and also coincidentally seen by myself today while caching:

- Open live map (in my case OSM offline), do not hide found caches
- Have map centered to your position and keep moving (in my case riding my bike)
- After a while I reached an area, where I know, that I found a cache there but nothing was shown on the map

- I moved the map manually, no change.
- I zoomed

[2020-07-26 19:46] Lineflyer commented on #8615
Well, for sure this problem should be solved.
But I am not sure, whether this PR fixes it, as according to PR description it handles merging between provider and local, whereas my experience shows, that the duplication happens while the cache is saved and without any server interaction.
But lets test it, if the code looks good to you. We do now have most possible time on `master`.

[2020-07-26 19:46] Lineflyer commented on #8615
I guess the CI failure is somehow related to your PR as it runs smoothly for other PRs.

[2020-07-26 20:07] Lineflyer commented on #8659
The new one everywhere would be my suggestion.
Lets make a list.

[2020-07-26 20:09] Lineflyer commented on #8659
- [x] Github organization icon
- [x] Avatar of c:geo-ci-bot
- [ ]  what else

[2020-07-26 20:20] MagpieFourtyTwo commented on #8670
Well done, works ... although I did not expect that I would have to additionally tap the trash bin.
Android 10's "delete notification swype" is different: You (really) swype the notification to the left, it in fact goes to the left as you do, then a trash appears - if you stop now, you can tap the can, but if you simply continue to swype, it will vanish immediately.
But, this is cosmetic, the real

[2020-07-26 20:32] MagpieFourtyTwo commented on #8666
You're welcome. Glad to be able to support our brilliant support.  ;)

Nevertheless, you're right in a kind of way, as this *was* different some versions ago ... maybe a year ago ... till then it has *always* routed up to the nearest "allowed" point and from there it just draw a straight line.
When this changed, I first was disappointed, too, but in the meantime experience showed that it is better

[2020-07-26 20:48] moving-bits commented on #8681
AFAICS the color actually does not change, but on reopening the dialog it still shows the old selection. Seems to be some kind of dialog caching. I'll try to intercept the cancel process to reset the selection to the original value.

[2020-07-26 20:55] Lineflyer commented on #8681
Not sure what you mean.
When trying to reproduce this report I had the impression that "Cancel" works like "OK", i.e. the new selected color is used but should not be used.
The fact, that the old color is still shown is a second problem IMHO.

[2020-07-26 21:00] moving-bits commented on #8681
I did the following steps:
- open settings => map
- chose color picker for direction line (current value is red)
- change this color to yellow, but close the dialog with cancel
- open the map
- chose a waypoint or cache and start navigation
- direction line is still drawn in red

but when instead of those steps I reopened the color picker directly after cancelling the previous dialog, the color is

[2020-07-26 21:23] Lineflyer commented on #8681
well, seems you are right at the end. I did not check the result on the map but made the failure to trust the menu content.

[2020-07-26 21:24] Lineflyer commented on #8681
BTW: How about a menu option to reset the line settings to "factory default". I just played around and really messed it up and don't remember the default values.

[2020-07-26 21:39] moving-bits commented on #8681
Behind the scenes all preferences objects get instantiated on opening the settings menu and live until the settings menu is closed, so on reopening a single color preference multiple times, it's always the identical object, not a newly instantiated one. I have prepared a small workaround for this, PR follows.

[2020-07-26 21:43] moving-bits commented on #8681
Good idea.

:-)

The default values are stored in `res/values/colors.xml`:

[code]

You can re-set them manually using settings => system => view settings, but you will have to convert them to an signed int first. Entries start with prefix `mapline_`:

![image](https://user-images.githubusercontent.com/3754370/88490149-bf05dd80-cf99-11ea-82fe-db55fc74b04d.png)

(Not sure how many of those values a

[2020-07-26 21:45] moving-bits opened #8683 "Add option to reset mapline colors to default values"
Taken from https://github.com/cgeo/cgeo/issues/8681#issuecomment-664042399 by @Lineflyer:

How about a menu option to reset the line settings to "factory default". I just played around and really messed it up and don't remember the default values.

[2020-07-26 21:46] moving-bits commented on #8683
@Lineflyer
Should this be prepared for release branch (as time permits), or for master anyway?

[2020-07-26 22:47] Lineflyer commented on #8683
Lets stay to the principle that release is reserved for bugfixes at this moment. So it should go to master.

I also always tend to provide such things faster, but we are changing and adding a lot of things in the past, so we should not forget quality. ;)

[2020-07-26 23:10] Lineflyer commented on #8678
I changed the topic accordingly.
In fact its my usecase causing this as I always start by long click on map to create an UDC.
So UDC created from map should end up in "Internal caches" list.

[2020-07-26 23:13] Lineflyer opened #8685 "List "Internal caches" should be named "User Defined Caches""
Spin off from #8678

As also the caches are named like that, we should name their default list (which is the default list where the "Go to" targets are saved to) accordingly "User defined caches"

[2020-07-27 05:22] MasterPlexus commented on #8682
I can confirm this behavior. Not a big issue for me, as I often zoom in out, but I recognized that sometimes not all caches are visible bevor zooming.

[2020-07-27 08:06] moving-bits commented on #8683
I know, and I really appreciate our focus on quality - that's one of the fundamentals for c:geo!

In this case I came from a user's perspective. Defining colors is a new feature, and you are probably not the only one who will start playing around a bit with it. So it might be useful to have a "reset to default" function integrated in the same release - that's why I asked for release branch.

Propo

[2020-07-27 08:51] alan666notb opened #8686 "Load individual track- no error message on loading route"
**Describe the bug:**
When using "Load individual track" to load a GPX file that contains a route, there's no error message, it just returns to the map. If you load a completely invalid GPX file, you do get an "Error Loading individual track" popup.

**To Reproduce:**
Steps to reproduce the behaviour:
1. Load cgeo and open the map
2. Click on 'Load individual track'
3. Choose a GPX file that conta

[2020-07-27 08:54] Lineflyer commented on #8683
We wont get translations into release from Crowdin. Thats another argument for going to master with this change.
But now you already merged it to release. So lets keep it in and add strings later.

IMHO no need for any second solution. The global reset entry should be fine.

[2020-07-27 08:55] alan666notb opened #8687 "After "Loading individual track" there should be a way to scroll to the track."
**Is your feature request related to a problem?**
Once you have loaded an individual track, there should be a way to easily find it on the map as the track may not be where you 'are'.

**Describe the solution you'd like**
A menu option to scroll+zoom the map to show the complete loaded track.
Maybe this should happen automatically on loading a track.

[2020-07-27 08:55] Lineflyer commented on #8683
Correction:

I mixed up the PRs... All is well, just merge a fix for this one to master.

[2020-07-27 08:57] #8681 closed

[2020-07-27 09:40] Lineflyer opened #8688 "Replace contacts plugin icon in "Useful apps""
The "Useful apps" screen still uses the old cgeo contacts icon. Should also use the new icon.

[2020-07-27 09:41] Lineflyer commented on #8688
Same for WhereYouGo.

[2020-07-27 09:48] Lineflyer opened #8689 "IndexOutOfBounds Exception in CacheListAdapter"
Google Play crash report for 2020.07.26-RC. Currently only one user (Moto G, Android 6):

[code]

  at android.widget.FrameLayout.layoutChildren (FrameLayout.java:336)

  at android.widget.FrameLayout.onLayout (FrameLayout.java:273)

  at com.android.internal.policy.PhoneWindow$DecorView.onLayout (PhoneWindow.java:2678)

  at android.view.View.layout (View.java:16646)

  at android.view.ViewGroup.

[2020-07-27 10:00] eddiemuc commented on #2553
For this item I could use a new button icon depicting a camera symbol (for short-cut to take a log picture via camera). Something similar in style to the following icons:
![image](https://user-images.githubusercontent.com/6909759/88529741-b4cafa00-d000-11ea-9cfc-feb97ef89d2e.png)

Is this somehow possible to get?

[2020-07-27 12:43] moving-bits commented on #2553
Have a look at https://material.io/resources/icons/?style=baseline

[2020-07-27 16:30] eddiemuc commented on #2553
Thanks a lot!

[2020-07-27 18:34] bekuno commented on #8688
We need also an updated icon for send2cgeo ,
see also https://github.com/cgeo/cgeo.github.io/issues/235

[2020-07-28 00:10] MagpieFourtyTwo commented on #8682
Possibly related:
- live map with some not yet found caches
- open popup of one of these
- close popup again
- the icon of this cache will vanish from map, until you either ...
   - zoom out (until new caches are loaded) or
   - select some other caches until it appears again ...

[2020-07-28 12:02] Lineflyer opened #8694 "GoTo waypoints lost after version upgrade"
A betwe user contacted our support with this statement:

[code]

I am waiting for feedback for more details (e.g. if all waypoints are gone or only 5 remaining).

[2020-07-28 13:30] Lineflyer opened #8695 "Reactivate and retarget "map download link" in settings to new map downloader"
According to our changelog

https://github.com/cgeo/cgeo/blob/b07ecda8ae59dc06734fb895f5f0a1e7cdd5468e/main/res/values/changelog_release.xml#L9

we should have that feature now in our beta. A user asked me, what is behind this change.

I somehow lost the overview regarding this enhancement: Where can the user find this?

[2020-07-28 13:45] moving-bits commented on #8695
This is in Settings => Map (the "map button" symbol)
In its current form it only opens a browser with the link to the Mapsforge server.

Second part of this change - c:geo local file handler - has been deactivated for now due to its side effects.

Upcoming in release (if I ever get #8611 merged :-)) is the new map downloader which offers a new menu entry in map view's map source selector, download

[2020-07-28 17:51] Lineflyer commented on #8695
Does this map button have some condition to be shown. Call me stupid....I don't see it. @moving-bits If you find time, could you provide a screenshot for stupid me ;)

[2020-07-28 19:05] Lineflyer opened #8696 "NPE in MapMarkerUtils"
Reported on GooglePlay as new problem in 2020.07.26-RC. Currently 2 users on Android 9 and 10.

[code]

ˋˋˋ

[2020-07-28 19:25] moving-bits commented on #8695
Oops. It should have looked like this:

![image](https://user-images.githubusercontent.com/3754370/88711551-9fe18a00-d118-11ea-9877-77aa6745593f.png)

But it looks like I have disabled this as well when disabling the c:geo local file handler. Sorry for the confusion!

Two choices:
- either reenable this (by uncommenting a few lines of xml)
- or deleting the line in changelog regarding the download

[2020-07-28 19:29] moving-bits commented on #8694
On migration of the old goto history we migrate only up to 5 waypoints, see `migrateGotoHistory()` in `DataStore.java`. But this is already some time ago, wonder if this can still be the cause, if the system got upgraded these days to a beta version...

[2020-07-28 19:31] Lineflyer commented on #8695
Oh...I am happy, that I am not totally off my mind :)
I know I tested it once but now was unable to find.

Lets reenable this on release branch and we can push another RC some time afterwards.

[2020-07-28 19:52] moving-bits commented on #8695
Maybe I understand now why I had disabled it:

![image](https://user-images.githubusercontent.com/3754370/88713819-28155e80-d11c-11ea-9580-c5e1589ab950.png)

We would need to shorten the text, as the part beginning with "When downloading has completed" is no longer true after having disabled c:geo file handler. It should read now something like "Move the downloaded file to the map directory, renam

[2020-07-28 19:58] moving-bits commented on #8670
Right now I have implemented the same "swipe" behavior as we have in cache list - having no animation, but enabling/disabling some additional UI element (select box there, delete button here). Without animation it's hard to recognize that you're going to do a significant operation like deleting an element, therefore I decided to go with the delete button first. (There's no built-it swipe functiona

[2020-07-28 20:08] Lineflyer commented on #8695
Ah yes, you are right.
Then we probably go for option 2. Remove it from changelog and elaborate an improved implementation on master.

[2020-07-28 20:19] moving-bits commented on #8695
Ok, updated release changelog accordingly.

I'll rephrase this issue to
- either remove this link and related code completely
- or target this link to the upcoming map downloader.

(Second option being preferred)

[2020-07-28 20:23] moving-bits commented on #8696
I can (and will) write a mitigation for this, but I still would like to see a way to reproduce it - haven't been able to do this so far :-(

[2020-07-28 20:32] #8683 closed

[2020-07-28 20:36] MagpieFourtyTwo commented on #8670
I would highly appreciate that!  :)
And if possible, same same in cache list ... ;)
BTW: Why not set the derivation to half of the row height ...?

[2020-07-28 21:00] MagpieFourtyTwo commented on #8683
What about widths and opacities?
Have seen in the diff that something happens to line width, too, but had not enough context to see where it came from ...
So, if not done anyway, I would suggest to add a possibility to revert the other values to default, too.

[2020-07-28 21:11] Lineflyer commented on #8683
Yep, as mentioned in my comment which lead to this issue I would also prefer that this reset button resets all the line parameters to defaults.

[2020-07-28 21:14] moving-bits commented on #8670
Hm, I need to correct my optimistic message above: Seems Android does not detect a fling gesture with "too much" deviation. We have an internal deviation limit, and I have increased it by factor three for testing purposes, but the `onFLing` method does not get called at all if I scroll/fling "too much diagonally". And when it's being called, values are way below our internal limit.

So, sadly, I c

[2020-07-28 21:16] moving-bits commented on #8683
Sorry, coming from the specific context I was too "color minded". I will open a separate issue to add line widths as well. (Opacities are already covered, as they are part of the color.)

[2020-07-28 21:17] moving-bits opened #8699 "Extend map lines reset function to cover line widths as well"
Taken from https://github.com/cgeo/cgeo/issues/8683#issuecomment-665279897 by @MagpieFourtyTwo:

What about widths and opacities?
Have seen in the diff that something happens to line width, too, but had not enough context to see where it came from ...
So, if not done anyway, I would suggest to add a possibility to revert the other values to default, too.

[2020-07-28 22:40] fm-sys opened #8701 "colorAccent at mainActivity"
@moving-bits implemented the new colorAccent in the logo's orange tone (see #8606)

So the blue line at the startscreen should be in orange to...

![signal-2020-07-29-003927](https://user-images.githubusercontent.com/64581222/88729357-fb6d4100-d133-11ea-8374-6a010168a24a.jpg)

[2020-07-29 00:23] MagpieFourtyTwo commented on #8683
BTW: When looking for the reset "Button", I first checked the map settings region ... was a little bit astonished, to finally find it in the map menu. YMMV, but I would say, settings would be the better place, cause a) you don't need this function every day and b) in the map menu it can easily be hit accidentally (although there's the "do you really" question).

[2020-07-29 00:29] MagpieFourtyTwo commented on #8670
Hmm. Bad news. Any chance to get an alternative way?
Cause with this limited swype you will not get it esp. on high res displays.
Tested again, but even with the shortest swype imaginable it's still just 1 out of 5.
What about a long tap ...?  Or a menu or button to activate delete-mode ...?

[2020-07-29 16:12] moving-bits commented on #8701
There are a couple of more places in c:geo where the default colorAccent is still visible.

Challenge is to find out, which style or theme is responsible for a certain layout element.
Only then I can add something like `<item name="colorAccent">@color/colorAccent</item>` to it.

[2020-07-29 19:58] Lineflyer commented on #8699
I would also have expected a reset of all the manual settings.

And (as I also read somewhere around):
I would also strongly suggest to put this reset switch (IMHO it can be a single reset for all custom values) into the map settingf rather than into the map UI. This is probably nothing you want to change on the fly but when you messed it up before in settings.

[2020-07-29 20:01] Lineflyer commented on #8694
I will additionally ask from what version the user updated to the current beta...maybe...

[2020-07-29 20:03] moving-bits commented on #8699
Question is: When / where do you recognize that you have messed up the map line settings? That's why I put it into a map menu instead of settings menu.

[2020-07-29 20:04] moving-bits commented on #8670
Long tap would be fine IMHO.

[2020-07-29 20:43] Swoddler opened #8704 "GPS and cgeo always on"
I'm sure this might be battery intensive but I believe cgeo can now have permission to access GPS even when the phone is asleep. Is it possible to keep the GPS always on so that cgeo can give proximity warnings even when the phone is asleep in the pocket?

[2020-07-29 20:46] Lineflyer commented on #8704
The ntofication in background requires more than just the location permission but also a programmed mechanism to perform actions in the background.

If it is just about avoid to keep loosing your GPS precision please consider GPS Locker as listed in the useful apps list of c:geo.

[2020-07-29 20:49] #8696 closed

[2020-07-29 20:50] moving-bits opened #8706 "Index creation issues in test cases"
Taken from https://github.com/cgeo/cgeo/pull/8611#issuecomment-665906109 by @moving-bits:

That's good news. I missed this, as I ran the code first (which created the table and the index fine), and run the test later (so table did already exist).

There seems to be a difference in test management compared to a regular installation - `createIndices()` called before db upgrade routines during testin

[2020-07-29 20:54] Lineflyer commented on #8706
I have no clear idea, as I know to less about emulator testing.
However as far as I understand the emulator freshly installs the app. So no DB upgrade should be involved here but an initial creation. Or do we provide an existing config and DB to the emulator while initialising tests?

[2020-07-29 21:01] Swoddler commented on #8704
No, it was the proximity alert which is the only real area where a Garmin
GPS outperforms cgeo when on a trail

On Wed, 29 Jul 2020, 21:46 Lars, <notifications@github.com> wrote:

[2020-07-29 21:08] Lineflyer commented on #8704
@moving-bits
Do you know, whether we already have an issue for the fact, that proximity notification only works if the device is active?
If not, we could take this one as a feature request.

[2020-07-29 21:15] moving-bits commented on #8704
Not that I know of, but we have related issues, eg. "talking stops when screen is off". AFAIK we need to implement a foreground service (with permanent notification and associated rights), and activate it in the right places (probably depending on config setting, as not everyone needs this function, and it's more battery consuming than standard).

[2020-07-29 21:34] Lineflyer commented on #8704
Lets use #7057 for this as it contains already some ressource links. I will close this as a duplicate and change the title of #7057 accordingly.

[2020-07-29 21:34] #8704 closed

[2020-07-29 21:36] Lineflyer commented on #7057
I changed the title of this issue to reflect the generic feature request to implement a location service which enabled to use the talking compass as well as the proximity notification on map also when the screen if off / device is in standby.
This is for sure a bigger task.

[2020-07-29 21:40] Lineflyer commented on #8477
@moving-bits This is solved, isn't it?

[2020-07-29 22:23] fm-sys commented on #8701
I found that: https://stackoverflow.com/questions/18736300/android-change-color-of-line-below-actionbar

[2020-07-30 00:14] Eselter opened #8708 "Fraction input field cut off when using Polish language"
**Describe the bug:**
Coordinates popup cut off piece of fraction input field when using Polish language.

**To Reproduce:**
Steps to reproduce the behavior:
1. Set Polish language,
2. Click on 'Go to' (PL: Idź do),
3. Click on 'Add Waypoint' (PL: Dodaj punkt nawigacji),
4. Click on coordinates field.

**Actual behavior/state after performing these steps:**
Fraction input field is cut off with ' m

[2020-07-30 00:22] Eselter opened #8709 "Option Use English not working"
**Describe the bug:**
Option 'Use English' doesn't work.

**To Reproduce:**
Steps to reproduce the behavior:
1. Set ex. Polish as system language,
2. Go to c:geo settings -> appearance,
3. Check option Use English,
4. Restart c:geo app.

**Actual behavior/state after performing these steps:**
Only few strings are replaced by English, most of them are still in Polish.

**Expected behavior/state aft

[2020-07-30 04:42] fm-sys commented on #8701
I will do a PR for this...

[2020-07-30 07:47] Lineflyer commented on #8708
I will alert our polish translation contributors to shorten the string.

@eselter
Do you have a proposal for a shorter polish word for this field. I am referring to the grey prefilled text in that field.

[2020-07-30 07:48] Lineflyer commented on #8709
see #7991

[2020-07-30 07:48] #8709 closed

[2020-07-30 08:03] Eselter commented on #8708
"cz. ułamkowa" or "cz. ułamk." we sometimes use these abbreviation in math, nothing better comes to mind.

[2020-07-30 08:06] Eselter commented on #8708
But I think placeholder string length shouldn't determine how long is field and cause overflow in layout.

[2020-07-30 13:18] MagpieFourtyTwo commented on #8699
@moving-bits:

Following this argumentation even all the line settings themselves should be placed in the map menu ...  ;)
As for me the rules for placing a menu entry should take into consideration ...
- how often an entry will be used
(the less, the more hidden it can be - and this one I will probably never ever use anyway ;) )
- how significant the evoked changes are
(one tap, a quick confirmat

[2020-07-30 13:29] MagpieFourtyTwo commented on #8477
I guess, this question can only be answered by a "real world user" with a fresh installation ... as e. g. the emulator seems to report a significantly different value for screen density, which results in way wider lines ...

As for me: I have set the lines configuration on an Xperia Z5 lately (a week ago or so), and I had to tweak all of them until they met the user's expectations ... but high den

[2020-07-30 13:33] MagpieFourtyTwo commented on #8670
So what's about activating "Select mode" and "Delete mode" by long tap?
Although I would really like a possibility to sort vias of individual routes by Drag & Drop ...
So, just in case Drag & Drop would be a possibility, I would suggest
- Drag vertically: Sort
- Drag horizontally: Delete

...?

[2020-07-30 13:36] MagpieFourtyTwo commented on #8670
Ooops ... already implemented ... sorry ... but perhaps you can nevertheless take this into consideration ...?  ;)

[2020-07-30 13:41] MagpieFourtyTwo commented on #8687
+1

As workaround till it hopefully will be implemented:
- set track color and width to *really* visible values
- load track
- select a map tile to be displayed which does most definitely *not* cover the region of the loaded track
- select one cache to be displayed on map (to declutter the map)
- zoom out ... and find the *really* visible track  ;)

HTH

[2020-07-30 20:17] moving-bits opened #8711 "Support drag & drop for route sort view"
Taken from https://github.com/cgeo/cgeo/issues/8670#issuecomment-666367675 by @MagpieFourtyTwo:

[2020-07-30 20:19] moving-bits commented on #8670
I created a new issue for this for easier tracking.

[2020-07-30 20:24] moving-bits commented on #8477
I'm in favor of closing this, as the original issue and most/all? of the subsequent issues have been taken care of. The last article IMHO points to a difference coming from the switch from fixed width line to density-related width which is a bit older than making the widths configurable, so strictly speaking no regression. - Let's see how the current setting works, and open fresh issues on demand.

[2020-07-30 20:24] #8477 closed

[2020-07-30 20:28] moving-bits commented on #8699
I think what he meant is "all custom values for line width / color".

[2020-07-30 20:32] moving-bits commented on #8699
Actually, I'm more in favor of integrating the "reset" function as a "default" button into the ColorPreference dialog - IMHO that would be the most logical / context aware position. This would include color and opaqueness.

IMHO we don't need a "default" setting for line widths. We don't have "default" buttons for any other setting (if I'm not mistaken), so that's not a requirement "per se", and h

[2020-07-30 20:33] #8610 closed

[2020-07-30 20:35] moving-bits opened #8712 "Evaluate moving downloaded file instead of copying"
For the map downloaded (#8610/#8707) see if downloaded file can be
- either moved to target destination (check this first)
- or copied + deleted (use this as fallback)

see discussion in https://github.com/cgeo/cgeo/pull/8707#pullrequestreview-457922739 and following article

[2020-07-30 20:38] moving-bits commented on #7125
reopened after #8703

[2020-07-30 20:38] moving-bits commented on #7818
reopened after #8703

[2020-07-30 21:02] Lineflyer commented on #8699
Yes, of course. I was only referring to the map lines.

Indeed.

[2020-07-30 21:29] #7998 closed

[2020-07-30 21:48] Lineflyer opened #8713 "Support certain coordinate format for import from clipboard"
I just now received the second user claiming, that a certain coordinate format is no (or no longer?) detected as valid coords from clipboard into c:geo.

This format is used by the app "mapy.cz", which is rather popular in Czech Republic.

The format is:
`51.3481209N, 7.0445565E`

Scenario:
- Have such coords contained in your clipboard
- Create new waypoint
- Open coordinate input

Result:
- Impo

[2020-07-30 22:01] Lineflyer commented on #8713
In fact mapy.cz offers three different WGS84 variants, but none of them are detected by c:geo after being copied to clipboard.

![Screenshot_20200730-235831_Mapycz](https://user-images.githubusercontent.com/949669/88978891-d65a0900-d2c0-11ea-8481-5b8e6970dca1.jpg)

[2020-07-30 23:17] Lineflyer opened #8715 "Using android language codes for translations?"
Recently I have seen, that Crowdin reports a problem, that not all target languages will be transferred due to a mapping problem.
As we use the "two letter code" for the language Crowdin states, that some dialects/language may not be transferred as this "two letter code" would be the same.
Crowdin recommends to use the "android code" instead.

This would result in this structure:
![image](https://

[2020-07-30 23:36] Lineflyer opened #8716 "Country filter should only offers countries contained in the list to be filtered"
- Have one list with caches from many countries
- Have another list with caches of one country
- Open the list with caches of one country only
- Select Filter - Country

Result:
Filter options show all countries contained in all lists

Expected Result:
Offer only those countries in the filter which match the list content

Note:
I came across this as a user reported, that calling the filter keeps c

[2020-07-31 07:30] rsudev commented on #8715
Do you know which languages would be affected?
In general I assume that such a structure would work, but we have to rename the folders in git to keep the history properly (and to avoid duplicate resources).
Generally I am not sure if this is a good idea, as this would IMO leave eg an Austrian user (de_AT) with c:geo in English.

[2020-07-31 08:30] Lineflyer commented on #8715
I am not sure why Crowdin now claims this problem.
For WhereYouGo I had a similar problem and solved it by adding a manual language mapping for Brazilian.

Maybe its related to the two Chinese dialects, in that case I could also try to add manual mapping of one of them. But I have no idea how those are mapped.

[2020-07-31 09:14] bekuno commented on #8715
A sample is at https://developer.android.com/guide/topics/resources/providing-resources#BestMatch
but the de_AT problem above is not covered.

[2020-07-31 09:17] moving-bits commented on #8716
Our current filter implementation is not suited for this, as the filters do not have any information regarding the current cache list and its contents.

Related to #8273

[2020-07-31 13:29] MagpieFourtyTwo commented on #8699
Even better.

[2020-07-31 13:56] MagpieFourtyTwo commented on #8670
Just tested the ``Long tap to delete`` and was in fact a little bit astonished that the tapped entry immediately disappeared ...  ;)
But then realized that there still is the ``Save`` button which can safely be ignored in order to get status quo antes. :)
Having this in mind I would say: Works. At least for now. Cause I'm really looking forward to the hopefully upcoming Drag'n Drop Sort. ;)

Never

[2020-07-31 14:57] IiroP commented on #8659
[Twitter page](https://twitter.com/android_gc) is also using the old logo

[2020-07-31 18:15] fm-sys opened #8717 "DBExtentions - c:geo crashes"
**Describe the bug:**
When trying to use the new DBExtentions c:geo crashes on my device.
At first I thought the error was in my implementation of the offlinenum variable, but the error also occurs at PendingDownload (OSM offline map files downloader #8707). To test the map files downloader i used 2020.07.31-NB-146e5f4

**To Reproduce:**
Steps to reproduce the behavior:
1. Go to Live Map
2. Click

[2020-07-31 19:16] moving-bits commented on #8717
This is strange. Looks like table `cg_table_extension` hasn't been created on your device. - But this is part of the database update routine. I have no idea how this could have been skipped or reverted.

Will test with a fresh install.

[2020-07-31 19:37] moving-bits commented on #8717
Still cannot reproduce. Have tried with backup / restore of an old database, both on API 29 and API 21 (Android 5) - works fine. (Table gets created, map downloader works, map file gets downloaded and received by c:geo)

Do you remember any specific steps you did between upgrading you c:geo version and the crashes? I'm looking for something to reproduce the error condition you've described.

[2020-07-31 21:00] fm-sys commented on #8717
maybe this is also related to the failing tests #8706

I tested this multible times without any specific steps. Just a fresh install and directly navigating to offline map. Same happens when I restore a backup.

So probably this is a device specific problem

[2020-07-31 21:08] fm-sys commented on #8717
on another device (also android 5.1.1 but emulated) everything runs without problems... Very strange!

[2020-07-31 21:26] ztNFny opened #8719 "Custom cache icons support"
Feature request for being able to use custom icons for geocaches.

Currently the icons are included in the apk only. Instead they could be loaded from a user-specific directory with predefined filenames.
This would allow users to set their own cache icons and shapes and allow the community to create icon packs.

Advanced custom icons could also include additional information as is currently possib

[2020-07-31 21:37] fm-sys commented on #8717
I have to correct me: I've uninstalled and reinstalled the NB and now it's not working any more. Same crashes as on the first device :-(
So it looks like upgrading works but restoring an old database or just whith a fresh install won't... So it looks like it is **not** device specific

@moving-bits Could you send me a backup containing the `cg_table_extension` from a fresh install. Let's see if th

[2020-07-31 21:54] Lineflyer commented on #8717
CI emulators run Android 6, yours Android 5.
Mine and others I have read around this topic are all newer.

@moving-bits
Are you sure there is not any SQL function you use, which is on a later API?

[2020-07-31 22:03] moving-bits commented on #8717
Not that I know of. `CREATE` statement is pretty standard:

[code]

and within the db upgrade routine we have

[code]
which is practically the same as for the last db update.

Also I had tested again today with restoring an old backup from within c:geo on Android 5 + Android 10 (both emulated). Haven't tested a complete fresh install yet, though.

[2020-07-31 22:04] moving-bits commented on #8699
See #8720

[2020-07-31 22:17] moving-bits commented on #8683
See #8721 (removal of this option) and #8720 (alternative implementation, integrated into `ColorpickerPreference`)

[2020-07-31 23:08] moving-bits commented on #8717
\*blush\*
AGAIN I forgot to add the create statement to `onCreate()`, I only added it to `onUpgrade()` - so upgrading did work, but a fresh install did not. => I'll create a fix for this.

[2020-08-01 09:20] moving-bits commented on #8497
Currently this test is failing pretty regularly...

Can someone with knowledge of JUnit have a look at this?

[2020-08-01 09:26] moving-bits commented on #8717
The attached file is an (nearly) empty c:geo db at version 82 - which is the current state on master branch:

[cgeo82.zip](https://github.com/cgeo/cgeo/files/5010125/cgeo82.zip)

Extract the file and put cgeo.sqlite into your backup directory, then start c:geo and do a db restore.

[2020-08-01 12:35] fm-sys commented on #8717
Thank you! Now I have no crashes anymore... :-)

[2020-08-01 13:21] moving-bits commented on #8695
See #8724.

[2020-08-01 14:19] moving-bits commented on #8627
Let's discuss some possible implementation alternatives:

- Do we need to distinguish between track and route in terms of UI? (eg.: separate menu entries for loading/unloading, map line colors, ...)
- If not: in what order should gpx files be analyzed - track first, then route?

[2020-08-01 15:15] moving-bits opened #8727 "Individual route: add export / import functions"
I'm pretty regularly using the individual route functions, especially for planning a tour. It would be very helpful if a carefully crafted individual route could be stored as a GPX file (export) and reloaded at a later time (import).

Export:
- Export file should use the standard GPX route format.
- Setting the name of a route point to the waypoint's geocode would allow for reattaching the data to

[2020-08-01 15:16] #8706 closed

[2020-08-01 15:16] #8717 closed

[2020-08-01 15:16] #8676 closed

[2020-08-01 17:18] Lineflyer commented on #8230
@winkamol
Can you please check whether you can still reproduce the problem?

[2020-08-01 18:53] fm-sys commented on #8627
I would say no. Let's keep the UI as simple as possible...

Yes, that would be ok. Otherwise if a file contains multiple tracks/routes a selection list like the "hide items" on livemap whould be cool to select which of the tracks/routes should be shown. But i think this szenario is quite rare...

[2020-08-01 19:02] winkamol commented on #8230
Hallo Lars,

ja ich erhalte folgenden Fehler in Gsak:

Es wurden keine Geocaches zum Abruf ausgewählt.
Eventuell muss das Datum "Ignoriere..." angepasst werden.

Fehler 307

⁣Viele Grüße

Patrick ​

Am 1. Aug. 2020, 19:18, um 19:18, Lars <notifications@github.com> schrieb:

[2020-08-01 19:15] fm-sys commented on #8627
During my search for suitable example files I also noticed tracks that are not routes but still have a very large distance between the individual points. Therefore a threshold would probably be useful, so that these tracks are treated like routes

[2020-08-01 19:47] Lineflyer commented on #8230
Verwendest du aktuell die c:geo Version 2020.07.02 oder die Beta-Version 2020.07.26-RC?

[2020-08-01 19:59] eddiemuc commented on #2553
While working on this I stumbled in the code over a c:geo-function which I didn't know exists up to now.
Apparently you can turn on "Offline Logging" in the LOgging setction. If you do, then the usual Log dialog is no longer accessible; in its place you can select "Offline Log" which opens a list offering you the different log types to select. From the log type, c:geo then "guesses" correct report

[2020-08-01 22:00] apachler opened #8728 "Support for OBF offline maps"
**Is your feature request related to a problem?**
No

**Describe the solution you'd like**
Do you have any plans to support the OBF map format that OsmAnd is using for offline maps?

[2020-08-01 22:04] winkamol commented on #8230
Erstere Version vom 02.07.2020

⁣Viele Grüße

Patrick ​

Am 1. Aug. 2020, 21:48, um 21:48, Lars <notifications@github.com> schrieb:

[2020-08-01 22:09] Lineflyer commented on #8230
Vielleicht könntest du dich für das Beta-Programm von c:geo anmelden (Link: https://play.google.com/apps/testing/cgeo.geocaching ) und danach über Google Play einmal unsere neue Beta-Version ausprobieren. Es gab eine Änderung, die das Problem evtl. behoben haben könnte. Es würde uns sehr interessieren, ob es nun funktioniert.

[2020-08-02 06:08] moving-bits opened #8729 "Cannot store waypoints into empty personal note"
**Describe the bug:**
Cannot store wapoints into empty personal note - will receive an error message "Waypoints could not be stored in note due to size limits":

![image](https://user-images.githubusercontent.com/3754370/89116644-af553000-d496-11ea-9a57-9bdc3a5cdcd2.png)

**To Reproduce:**
Steps to reproduce the behavior:
- open a cache (GC2BG6B in my case)
- go to waypoint page
- create a new way

[2020-08-02 06:13] moving-bits commented on #8728
Seems like OBF is a completely different file format for OpenStreetMap maps, which is not supported by the renderer library we use (Mapsforge), so chances are we won't support them (won't be able to).

[2020-08-02 06:53] SammysHP commented on #8728
There is no library for OBF rendering, so we cannot add support for it. Please see #2913 for more information.

[2020-08-02 06:53] #8728 closed

[2020-08-02 08:16] eddiemuc commented on #8729
I will handle this.

Retested this and works in my local emulator. So probably something is different in the envronment.
This function depends on the value delivered by provider-connector in the CacheDetailActivity. I might have made wrong assumptions about it.

@moving-bits  some questions so I can analyze this better:
* is your test device/emulator online and are you connected and logged-in to t

[2020-08-02 08:30] moving-bits commented on #8729
I'm using an emulator running on Android 7 in this case.
Emulator is connected, c:geo logged in as basic member.

Yes, it was stored ("16 hours ago"). But just retested it, and it still happens.

Can I help you with further information?

[2020-08-02 09:04] eddiemuc commented on #8729
Same setup as on my device. I am a bit stumped currently. My guess is that in some situations the maxPersonalNoteSize in CacheDetailActivity is not initialized when I use it, but I can't currently see how that can happen.
I wrote a fix (see linked PR) which either resoles the problem (if my guess is correctly) OR will give me more information in case it happens again.

[2020-08-02 09:06] winkamol commented on #8230
Hallo Lars,

nein leider klappt es nicht, es erscheint der gleiche Fehlercode wie unten bei der Release Version von Anfang Juli.
Dabei kommt mir eine Idee, die Fieldnotes zukünftig direkt an Gsak zu schicken. Ähnlich wie es möglich ist auf GC.com hoch zu laden könnte man eine Verbindung zu Gsak herstellen.

⁣Viele Grüße

Patrick ​

Am 2. Aug. 2020, 00:09, um 00:09, Lars <notifications@github.com>

[2020-08-02 09:23] eddiemuc commented on #8729
@moving-bits  in case PR does NOT solve the issue, I would ask you about more info how you create your waypoint (with or without coordinate, do you modify name/usernote etc). I think a screenshot for one example waypoint would do.

[2020-08-02 09:33] Lineflyer commented on #7404
According to feedback in #8230:

nein leider klappt es nicht, es erscheint der gleiche Fehlercode wie unten bei der Release Version von Anfang Juli.

Bug still present in 2020.07.26-RC which should contain the charset library changes done by @UniQP already.

[2020-08-02 09:53] moving-bits commented on #8729
The fix seems to work for the scenarios I'd tested it against - thanks for fixing.

As for how I created the waypoints: Nothing special involved:
- open waypoint page of a cache
- variation a)
  - "add waypoint"
  - click on coordinates
  - click on "cache coordinates"
  - change the content of one field and save
  - either do or do not change the waypoint type
  - save waypoint
- or variation b)

[2020-08-02 10:03] moving-bits commented on #8695
Fixed with #8724

[2020-08-02 10:03] #8695 closed

[2020-08-02 10:55] Lineflyer opened #8733 "Wrong saved date in popup on map"
I noticed this before and we even discussed this briefly in some older issue. AFAIR it is a side effect of merging of data retrieved from the live map to caches stored on the device and was introduced while implementing the new live map parsing:

- Have a cache stored e.g. 20 days ago
- Open the live map and scroll to the position of this cache icon
- Click to open the popup

Result:
- The popup t

[2020-08-02 10:57] Lineflyer commented on #5688
Fix has been merged. Thanks to @eddiemuc for this really nice contribution.

[2020-08-02 10:57] #5688 closed

[2020-08-02 11:05] moving-bits commented on #8733
Cache info of the stored cache is somewhat "hidden" by live map info - stored date is just one example for this. Hint / personal note is another example (which is the reason why with activated live map the "hint" button is not shown any longer even if there is hint/personal note data existing in the stored cache). And there may be more.

@jonas-koeritz
You have been working in the live map area be

[2020-08-02 11:06] #8729 closed

[2020-08-02 17:06] moving-bits commented on #8670
For

see #8737

[2020-08-03 07:27] jonas-koeritz commented on #8733
This really might be a problem in my code. AFAIK there is only an "updated" field, not a separate field for the time the cache has been stored on the device. The updated field gets set by my code IIRC, this would be wrong in that case.

[2020-08-03 07:34] jonas-koeritz commented on #8733
I've checked and it doesn't seem to be the case...I'm not setting the updated field :/

The Cache-Popup implementation is really convoluted and very abstract in my opinion. As it "only" serves a single purpose, maybe thes popup could be reworked to be more concise?

[2020-08-03 07:35] jonas-koeritz commented on #8719
This would require a complete rewrite of how we do cache map markers. The current solution is map view specific and kind of hard to grasp. Maybe someone wants to have a try on creating a central cache map marker factory or something like that.

[2020-08-03 07:40] jonas-koeritz commented on #8641
So we need a marker clustering algorithm and representation...maybe implementing the maps as fragments and doing a partial rewrite is worth the effort in the future.

[2020-08-03 07:41] jonas-koeritz commented on #8641
Or even my proposed solution that involved moving to GMapsv3 and embedding OSM is worthwhile. I understand the concern but this would remove loads of duplicate code and add additional features to the map view.

[2020-08-03 07:56] rsudev commented on #8641
For the code-duplication issue I'd rather drop GMaps in favour of OSM than requiring GMaps as prerequisite for c:geo.
Another solution is to again to implement the map functionalities in an abstract fashion as it was in the gmapsv1/mapsforgev3 version (but better).
My intention with the maspforgev6 version was to enable that, but unfortunately did the gmapsv2 implementation ignore all of that.

[2020-08-03 14:34] jonas-koeritz commented on #8641
Currently there is no official way to show a Google map outside of a Google Maps MapView. But there is a way to show OSM Maps inside that View as well.
That's why I've proposed that solution.

I definitely understand the concern that this leads to a Google library being included in c:geo but I think for the "average user" the solution might be the better one (rotatable maps, unified user interface

[2020-08-03 16:00] moving-bits commented on #8641
On a quick glance I really liked the implementation you had shwon us then, because of it's simplicity in maintenance, ease of use etc. - But then I also share the concerns about being dependant on a google maps lib. Not only because it's google, but because they may change their business model any time (and have done so for other components in the past).

From an implementation perspective I do se

[2020-08-03 16:03] jonas-koeritz commented on #8641
One of my concerns is that the Mapsforge MapView isn't very capable (e.g.
no rotation), Mapsforge rendering is nice but the MapView is very limited
IMO.

moving-bits <notifications@github.com> schrieb am Mo., 3. Aug. 2020, 18:00:

[2020-08-03 16:05] moving-bits commented on #8641
Though I understand (but not necessarily share in all aspects) the described user perspective, IMHO there's more to it we have to take into consideration (eg. volatile usage policies etc.)

But that would still leave us with having to implement / maintain two map implementations, in this case even divided into two apps. A support's and coding nightmare, I fear.

This discussion is very welcomed, t

[2020-08-03 16:08] moving-bits commented on #8641
Recent Mapsforge versions do support a lot more than what we use in c:geo today. Some things (eg.: multi map rendering, multilingual support etc.) have been added by us recently, others (eg.: POI search) not yet. There's even a rotation capable variant available, but I haven't compared the version we use with that. Sadly, documentation for Mapsforge is more of a "read the source" type :-)

[2020-08-03 19:49] fm-sys commented on #8685
Since I don't think that this change brings some real "advantages" I would suggest that it is ok to change only the list name in the strings. If the list already exists, it would not be renamed, but a renaming would probably irritate some users anyway. And an upgrade function that changes the list name on app upgrade would probably be a bit overkill...
If this simplification is ok i will create a

[2020-08-03 20:29] moving-bits commented on #8650
Closing due to lack of feedback.

Feel free to reopen and provide new info if problem persists.

[2020-08-03 20:29] #8650 closed

[2020-08-03 21:55] Lineflyer commented on #8685
Totally agree. Feel free to submit a PR for the string.

[2020-08-04 00:44] MagpieFourtyTwo opened #8747 ""Store waypoints to PN" does not save all (user maintained) WPs"
**Describe the bug:**
Predefined waypoints (i. e. added by cache owner when creating the listing) are not saved to personal note when clicking ``Store waypoints`` - which may be considered pretty logical (at first sight), because these are saved in the listing anyway ... one might think. But unfortunately(?) not all of these initially contain coordinates, which in these cases have to be added by t

[2020-08-04 09:34] Lineflyer commented on #8747
While we can for sure try to shorten some info, we cannot ommit things like the <type> as it has to be possible to restore it completely from the PN (what is already implemented in addition with the recent PR).

BTW:
I really appreciate your comprehensive and constructive feedback. As an improvement proposal: Please feel free to open an issue for each topic you describe. I would prefer to have sev

[2020-08-04 12:21] MagpieFourtyTwo commented on #8747
Ok - wasn't aware of that. Good idea, BTW, as at least the waypoint description will not be exported to the GPX, AFAIK.

Would have done it anyway - if it turns out to be reasonable. Talked about that with @moving-bits, too: If I do not immediately open a separate issue for every single thought I have (and, believe me, i have *plenty* of them ;) ), this is not meant to be offensive or because I'm

[2020-08-04 15:04] #8685 closed

[2020-08-04 19:44] Lineflyer commented on #8615
Ready to go:

- [ ] Check/Insert correct version name as headline in ```changelog-release.xml```
- [ ] Build release on CI server
- [ ] Perform smoke test with resulting ```cgeo-release.apk``` before continuing
- [ ] Upload and publish ```cgeo-release.apk``` to Google Play
- [ ] Tag the release on Github
- [ ] Publish the release on Github including upload of ```cgeo-release.apk``` to Github
- [ ]

[2020-08-04 20:20] Skinoku opened #8749 "Cannot login to opencaching.de on 4.4.2"
Dear developers,
I was trying to log in to opencaching.de on Android 4.4.2 and it is not working showing this error message.
"c:geo failed to initialize authorization process"
I repeated the test on multiple devices and VMs running kitkat with no success.
Are you aware of this issue and is it planned to be fixed?
Thanks this great app!
Cheers

[2020-08-04 20:59] Lineflyer commented on #8749
This is a known issue due to server SSL configuration not supporting older Android devices. We have plans for a workaround in future. See #7497

[2020-08-04 20:59] #8749 closed

[2020-08-04 21:04] Lineflyer commented on #8602
For information:
The first legacy release has been promoted from beta state on normal Google Play release and should be available soon.
Version name is 2020.08.04-legacy and it will be available for API 16-20 (Android 4.1 to 4.4).

Fix for https (see issue #7497) is not yet included.

[2020-08-04 21:04] #8602 closed

[2020-08-04 21:05] Lineflyer commented on #8602
@mirabilos Download is also possible outside of Google Play here:
https://github.com/cgeo/cgeo/releases/tag/market_20200726_legacy

[2020-08-04 21:25] mirabilos commented on #8602
Lars dixit:

OK.

My other questions (regarding installation/upgrade and data migration
method) was not answered yet though.

[2020-08-04 21:29] Lineflyer commented on #8602
Do I need to make a DB and settings dump, uninstall the old application,
install the new one, and import the dump to switch? Or are they using
different application names so I can install them in parallel (and if so,
do they use different locations for the DB and settings)?

It depends:
- If you currently use a nightly, you have to deinstall and install the legacy version (no upgrade path)
- If yo

[2020-08-04 21:36] Lineflyer opened #8750 "Legacy version on F-Droid"
Followup of #8602

We should add the newly established legacy version (and future updates to it) also into our F-Droid repository.

Mention @kumy

[2020-08-04 21:42] mirabilos commented on #8602
Lars dixit:

OK, thanks, this is exactly what I was needing, I’ll try this then.

bye,
//mirabilos
--
<diogenese> Beware of ritual lest you forget the meaning behind it.
<igli> yeah but it means if you really care about something, don't
    ritualise it, or you will lose it. don't fetishise it, don't
    obsess. or you'll forget why you love it in the first place.

[2020-08-05 08:09] eddiemuc commented on #8747
Hello,
let me apologize in case I did or do not yet follow correctly the formal/informal conventions for working in the c:geo project, since I am quite new to it. I promise I will try to learn and become better.

@MagpieFourtyTwo your remarks regarding the waypoint format are all valid and I would happily discuss them. In short, I tried to find a compromise between a short format but maintaining e

[2020-08-05 08:20] wizard4u commented on #7544
Reoccurring issue with new Chrome build: Version 84.0.4147.105 (64-bits):
sendto asks for registration first, cookie setting ok, scripts are running ok

[2020-08-05 08:20] kumy commented on #8750
I have to setup a new repository for the `legacy` versions. We only have `release` and `nightly` at the moment.

[2020-08-05 08:27] wizard4u commented on #7544
Works however ok in Firefox version 78.0.2

[2020-08-05 08:55] kumy commented on #8750
@Lineflyer done. I hope I did not forget anything ;)

And a new CI job has been created https://ci.cgeo.org/view/FDroid/job/Publish%20FDroid%20-%20LEGACY/

[2020-08-05 08:55] #8750 closed

[2020-08-05 09:40] fm-sys commented on #987
One last question: is there a function for getting the conector (or the cache object) from geocode?

[2020-08-05 09:59] Lineflyer opened #8751 "Place "New list" on top of list selector"
From support mail:

**Is your feature request related to a problem?**
Due to the fact, that I use many lists in c:geo I have the following problem:
- Save a cache
- List selection is shown
- I need to scroll down to the end of this list to be able to select "New list"

**Describe the solution you'd like**
Why not place the "New list" entry on top of the list

**Describe alternatives you've conside

[2020-08-05 11:47] Lineflyer opened #8752 "App not working (Freeze) on device with Sailfish OS"
From support mail:
A user contacted us, that c:geo stopped working for him. The problem probably started with an update of his device.
It is a bit of a special case, however maybe someone over here has an idea.

User mail (summary):
- The issue is most probably related to the underlying Android layer. The device
is running SailfishOS with AlienDalvik running the Android apps. But almost all
other

[2020-08-05 17:44] #8686 closed

[2020-08-05 17:50] moving-bits commented on #987
Look for the `canHandle()` method each connector supports.

(For trackables we even have a `getTrackableConnector()` method, but there does not seem to be an equivalent for cache connectors.)

[2020-08-05 17:56] moving-bits commented on #8747
No worries, I think @Lineflyer's comment was more into the direction of @MagpieFourtyTwo, but only to make it easier for everybody to track things, and to see, what is still open and what's closed.

But anyway, every feedback and every contribution is very welcomed, may it be testing, coding, documentation etc.

[2020-08-05 18:10] fm-sys commented on #987
Just read somewhere, that `ConnectorFactory.getConnector()` maby works... I will try it.

[2020-08-05 18:41] Vike91 opened #8755 "Clicked trackable link from Gmail message not recognized by c:geo"
**Describe the bug:**
Clicking the watchlisted trackable link in received Gmail message won't properly open it in c:geo

**To Reproduce:**
Steps to reproduce the behavior:
Get an email about watchlisted trackable.
Click on the trackable name (as you would similarly click cache name to open it in c:geo)

**Actual behavior/state after performing these steps:**
Received a popup message: `c:geo can't

[2020-08-05 19:06] #8701 closed

[2020-08-05 19:06] #8751 closed

[2020-08-05 19:34] Lineflyer commented on #8755
Maybe related to #4719 ?

[2020-08-05 19:36] Vike91 commented on #8755
Yes. Looks like the link is a coord.info link, which opens fine when you long press the link and open it in browser. Short tapping takes the link straight to c:geo and bounces it back with the aforementioned pop-up message.

For the information, on my phone I have set up all the coord.info links to open directly in c:geo.

coord.info links that link to geocaches are working properly.

[2020-08-05 20:39] Lineflyer commented on #8020
This is all done isn't it @moving-bits ?

[2020-08-05 20:59] Lineflyer commented on #987
I only recently found time to look through comments and ongoing PR-developments.
I do see, that @fm-sys PR is titled "Introcude [OFFLINESUM]". That reads like you want to introduce a new signature variable for offline counting finds.

@fm-sys
Maybe you can briefly draft here the implementation you are currently developing.
I would like to avoid, that you have more work if once it gets merged the t

[2020-08-05 21:24] Lineflyer commented on #8604
@MagpieFourtyTwo They are in the queue as they are open.  Closing this issue is not meant rude, but I only want to avoid duplicates and concentrate on existing issues (which might already have some discussion in their history).
As often on opensource project we need to wait for someone interested and capable to tackle this feature requests.

[2020-08-05 22:04] fm-sys commented on #987
When using the [NUMBER] Template there are tow main problems:
- Will not work if there is no Internet connection
- If you do not want to send log entries directly but would like to finish writing them (eg. at home) all next caches get the same (wrong) number

With the OFFLINENUM you can log caches alternately online and offline and the counter will always increase by 1 with every new cache (when l

[2020-08-05 22:32] Lineflyer commented on #987
Thanks @fm-sys for your explanation. Sounds reasonable, some questions though:
- Why not change the working mode of [NUMBER] instead of introducing a new variable for the signature. As you describe the working mode, [OFFLINENUM] would work same as [NUMBER] in case of online logging. So we could replace the working mode of [NUMBER] by the desired working mode of [OFFLINENUM], or not?
- Please keep

[2020-08-05 23:06] fm-sys commented on #987
With my implementation it theoretical could be that the foundnumber is not up to date when you are offline and you had done a log from an other device. Also the number could be higher than the online count on the website. So when you have old offline logs that you don't submit the number in your signature will be higher than displayed left from your log (geocaching.com).

But when you say it's OK

[2020-08-06 01:16] MagpieFourtyTwo commented on #8747
In fact, the names of WPs do not have to be unique. When creating a listing, you can even use the same name for all of them (sometimes they all are named "Virtual Stage", cause this is the default). BUT, there is a so called "Prefix", consisting of two letters, which is unique. And even if the CO enters the same Prefix in all his predefined WPs and ignores the inline warning, GS forces the Prefixe

[2020-08-06 04:58] rsudev commented on #8747
Each WP has a unique 'geocode' composed out of the prefix and the trailer of the gc-code of its cache. We create a prefix for user-defined waypoints internally. So this geocode (or the prefix) should be the unique id linking the waypoint information together.
You might also want consider the (rare) case, that the coordinates of a predefined waypoint change on the website.

[2020-08-06 07:43] eddiemuc commented on #8747
HI @rsudev, thanks, I didn't knew that. This is possible to use.

With this new information, my proposal would be as follows:
* Storing user-defined waypoints as today using the pattern `@ <name> (<typeid>) <coordinate> "<user note>"` (user note only if it is not empty, as today)
* Storing predefined waypoints as follows: `@[<prefix>] <coordinate> "<user note>" (user noteonly if it is not empty)
(

[2020-08-06 08:26] eddiemuc commented on #8058
Looking forward to this

[2020-08-06 10:13] moving-bits commented on #8020
Not for all aspects in the way originally described and intended, but as far as it will go for now. So I'm fine to close this issue.

[2020-08-06 10:13] #8020 closed

[2020-08-06 10:23] moving-bits opened #8759 "Use unique WP 'geocode' for internal representation of individual routes"
Taken from https://github.com/cgeo/cgeo/issues/8747#issuecomment-669694137 by @rsudev:

---

Use this information for storing, exporting and importing of individual route waypoints as well. (Currently the internal waypoint ID is used, but that is system-specific and should be avoided as we have a better ID available.)

[2020-08-06 20:43] moving-bits opened #8761 "Fatal exception of logging"
While playing around a bit with the new LoggingManager I constantly receive the following error already on the first step:

[code]

The cache is stored offline already. Error occurs directly when pressing the "log" button. The log dialog does not even show up, c:geo directly crashes (or at least the logging activity does) - returns to cache list.
Probably due to no GC login info having been stored

[2020-08-06 21:26] Lineflyer commented on #987
Can you describe the principal you are planning to "sync" with the online find count (like it is currently done for |NUMBER])?

Lets try to use example scenarios for better understading:

1. I am online and logged in, for ease of use I use the "quick offline log" function to log a trail of traditional caches offline to submit the logs later on when I have time to add more text. Today I get all off

[2020-08-06 21:40] Lineflyer commented on #8747
@MagpieFourtyTwo
Sorry for offtopic:
I could not find out any means to contact you via PN. Would you mind sending us a contact info to support@cgeo.org or to the mail adress associated with my github commits (gc [at] droescher.eu)? Nothing bad, just I want to ask something.

[2020-08-06 21:47] fm-sys commented on #987
### scenario 1
Every cache will get the correct find number (increasing by every log), because the offline logs will also be counted and added to the online number.

### scenario 2
The base find count will gets updated every time you visit the Main Screen and have an internet connection.
Also I would like to implement (not jet done) that the counter gets also updated after submitting a log. So the

[2020-08-06 21:54] Lineflyer commented on #987
Thanks!

So this would mean the offline count planned does deliver what users expect from [NUMBER]. So I guess optimizing this variable instead of introducing a new one is the way to go with the target to best possibly try to catch up offline counting and sync again to online count whenever possible.

Another reason for using the same variable for the signature is, that most user will maybe not pl

[2020-08-06 21:59] fm-sys commented on #987
Not that I know... ;-)

[2020-08-07 07:02] eddiemuc commented on #8761
@moving-bits you are working late
I am looking into this

[2020-08-07 07:22] eddiemuc commented on #8761
@moving-bits, @Lineflyer on another note, I will be on vacation the next week and thus not really connected. I probaly won't be able to do anything on c:geo

[2020-08-07 07:44] eddiemuc commented on #8761
added PR #8762 to fix this. Build seems to hang on unrelated test case, can you please check?

[2020-08-07 08:32] Billy-Wallace commented on #2469
Just to say, I like what you are doing here and it's a great additional feature for the already fantastic c:geo (Thanks guys). To make it more in line with Settings -> Directory with offline maps and Map Themes Directory, why not include a "Map Routes Directory" so that c:geo has a default location to scan when loading a new route.

[2020-08-07 11:44] fm-sys commented on #8761
This is a known bug with exists since some months. Just do some retests, until the tests will finish without an exemption

[2020-08-07 12:52] eddiemuc opened #8764 "[CI + Testing] Suppress or rewrite fishy test class ProgressTest"
This is about test case `cgeo.geocaching.activity.ProgressTest.testProgressWrapper`

When this test cases is run locally bundled with all instrumented test cases it reports ok. However, when it is run locally and solely (=not in bundle with all Instrumented test cases but only test class ProgressTest), then it produces following exception:
[code]

Also, this test cases produces CI failures on a re

[2020-08-07 12:52] fm-sys commented on #7829
Is there a translation service providing an API which is free to use?

[2020-08-07 13:28] Lineflyer opened #8766 "Osm.de and CyclOSM not available for a user"
From Facebook:

A user on 2020.08.04 posted some screenshots which definitely miss those twonmaps in the selection menu.

On another device it works for the same user. I asked to contact us.
Any ideas?

[2020-08-07 15:57] moving-bits commented on #8766
Use Old Mapsforge in settings?

[2020-08-07 16:02] moving-bits commented on #2469
@Billy-Wallace
c:geo internally stores the dir where you have your GPX files stored in, and already uses this for tracks and individual routes as well.

[2020-08-07 16:05] #987 closed

[2020-08-07 16:15] moving-bits commented on #8761
BTW: Can you add the marker `(fix #xxxx)` or `(fixes #xxxx)` to your commit message, with `xxxx` being the issue number which is to be fixed by your PR. Then CI can/will automatically close the issue being referred to on merging the PR to master branch. Thanks.

[2020-08-07 16:15] moving-bits commented on #8761
fixed with #8762

[2020-08-07 16:15] #8761 closed

[2020-08-07 16:19] moving-bits commented on #8764
We do have #8764 (suppressing the test) as a workaround, thanks to @eddiemuc, but I'd like to keep this issue open anyway as a reminder to fix this test / our test framework (whatever is needed).

[2020-08-07 17:03] Lineflyer commented on #8766
Thats it. Thanks, lets leave it like that....

[2020-08-07 17:03] #8766 closed

[2020-08-07 17:11] eddiemuc commented on #8761
Will do that in the Future. Thanks for the hint

[2020-08-07 19:25] koppor commented on #7829
I found

- [Linguee API](https://github.com/imankulov/linguee-api)

- [SYSTRAN.io REST Translation API](https://platform.systran.net/reference/translation) seems to be available for [free](https://translate.systran.net/translationTools/text).
- API overview: https://blog.api.rakuten.net/top-10-best-translation-apis-google-translate-microsoft-translator-and-others/
- The DeepL API is not for free.

[2020-08-08 15:09] moving-bits opened #8767 "Wrong checkbox shown on "export GPX from cache list""
Checkbox "Clear history track" ("Positionsverlauf nach Export löschen") is shown in the "Export GPX" popup even when coming from cache list. It should be shown only on exporting a history track.

Instead "Include found status" should be shown - which is missing currently.

**To Reproduce:**
- open a cache list
- select "export" => "GPX"

**Actual behavior/state after performing these steps:**
- ch

[2020-08-08 16:36] moving-bits opened #8768 "Open cache / waypoint from route sort view"
It would be helpful if I could open a cache / waypoint from the new route sort view to lookup some details.
Regular tap on an item (in contrast to long tap) should lead to the regular `CacheDetailActivity` for caches or to the `WaypointEditActivity` for waypoints.

[2020-08-08 16:40] moving-bits opened #8769 "Wrong colorAccent in cache list selector"
List selector still uses the old blue `colorAccent` - style/theme needs to be adjusted to use the new orange `colorAccent`.

See:
- go to a cache detail page
- click on "pencil" icon to choose lists
- check a check box

alternatively:
- go to a map
- tap on a cache and select the "save" button

[2020-08-09 10:48] karelkilian opened #8771 "Coordinates in note as a waypoint"
**Is your feature request related to a problem?**
In earlier versions, if I had coordinates in a note, the application displayed them as waypoints. This is not the case now.

**Describe the solution you'd like**
If possible, please display the coordinates from the notes as waypoints.  Maybe optional.

**Additional context**
I used the coordinates in the note to save my own parking point, that I se

[2020-08-09 11:15] Lineflyer commented on #8771
This should still be the case, except if you explicitly disabled this feature with the checkbox under the personal note window.

What coordinate format are you using in your note (can you give an example)?

[2020-08-09 11:26] karelkilian commented on #8771
Hi,

thank you very much for your reply! I think, that I have not disabled this feature (I am attaching a screenshot).
I did this by putting a note on the Geocaching website: **Parking N 49 ° 50.670 ', E 18 ° 25.647'**
I then refreshed the geocache in the application c:geo and saw this point as a waypoing to which I can navigate. I don't have it as a waypoint now.

Karel
![2020-08-09 13 20 34](htt

[2020-08-09 11:28] karelkilian commented on #8771
On the second screenshot are only parking points from owner, but not mine "parking point" at N 49°58.17493', E 18°6.00290'.
Earlier versions of c:geo did it right - converts my personal parking point from personal cache note to waypoint.

[2020-08-09 15:19] eddiemuc commented on #8771
Hi @karelkilian , I tried this and can confirm your described haviour. As a possible workaround: it seems parsing works fine when you leave out the comma between lat and lon (Like this: N 49°58.17493' E 18°6.00290')

[2020-08-09 15:41] karelkilian commented on #8771
Thank you very much! I can confirm, that if i write coordinates withnout coma between lat and lon, that it works :-)
Excellent workaround - thank you!

[2020-08-09 17:53] Narrat commented on #8771
This sounds like a result of https://github.com/cgeo/cgeo/pull/8597
Changed behaviour because otherwise there was the possebility of non-existing coordinates being parsed.

[2020-08-09 17:57] karelkilian commented on #8771
@Narrat Yes, it looks like a result of this fix.
OK, I can accept it. I will use in personal cache note coordinates without coma.

[2020-08-09 18:35] #8771 closed

[2020-08-09 19:01] fm-sys commented on #8147
I think we shouldn't go for such a feature because many people use offline logs for quickly mark caches as found and to write the full log text later

[2020-08-09 20:38] MagpieFourtyTwo commented on #8747
I would try to keep confusion to a minimum - even the current notification already led to questions, as my "end user" over here ;) was completely clueless regarding the string format of the stored WPs. This will most probably not get better, if the notation differs from entry to entry ... ;)

While I still think, neither name nor coordinates are really appropriate identifiers, as they are not uniq

[2020-08-09 20:59] MagpieFourtyTwo commented on #8682
This weekend I observed this very same behavior in live map - but with not yet found caches:
- was driving along (speed between 70 to 100 kmh)
- c:geo live map showing, centered to our position
   (in order to see and click caches nearby, to decide whether to visit or not)
- after a while I had no cache at all on display,
   but when my partner switched on her c:geo, she had ...
- zooming out (see

[2020-08-09 21:04] Lineflyer commented on #8682
Can you enable debug log next time you are riding and remember the time when it happens? Analysing the log might gives clues here as the throttling should be visible in form of denies requests.

[2020-08-09 21:14] MagpieFourtyTwo opened #8773 "Increase size of Personal Note popup"
It sometimes is pretty fiddly to edit the PN, as it's window size is just 8*35 chars (which BTW is just about the *tenth* of the note size that can be uploaded to gc.com, so PNs are sometimes up to 15 "pages" long), although a way bigger popup would be possible - if only it would make use of all the free space around it.

Perhaps it can even be moveable and resizable, so the user can place and siz

[2020-08-09 21:31] MagpieFourtyTwo opened #8774 "Immediately activate keyboard on press of [edit] Personal Note"
If someone presses [Edit] personal note, he can not do anything at all in the note's text, without implicitly activating the keyboard, no matter if he really needs it (to edit) or not (to just copy some stuff).  So, with regard to the state in which you are eventually able to work with the PN's text, it makes no difference at all if the keyboard has been activated immediately or will be hidden unt

[2020-08-09 22:27] MagpieFourtyTwo commented on #8682
Of course I can, but it is possibly not necessary anymore, as I was able to reproduce while sitting at my desk:
- activate live map
- set zoom to 1 km
- move map a few times into the same direction with "medium" scroll speed
   to a region where you know caches are, but which you have not visited (not even on map) the last two weeks.
- after five to ten scrolls sideways (count possibly depends on

[2020-08-10 06:44] steve8x8 commented on #8673
Attribute IDs have been stable for quite long (which is surprising), also I haven't seen a new one for some time.
Thanks for clarifying c:geo's handling of attributes (based on IDs, not texts).

[2020-08-10 07:52] #8673 closed

[2020-08-10 14:12] fm-sys opened #8775 "DBExtention.load returns random value"
`DBExtention.load` returns random value instead of `null` if key doesn't exists

@moving-bits could you please try to reproduce this?

[2020-08-10 14:51] fm-sys commented on #8775
Sorry, ignore me please... The bug was in my own written code. Everything is fine with `DBExtention.load`

[2020-08-10 15:21] MagpieFourtyTwo commented on #8632
Ok, as [Logcat reader](https://play.google.com/store/apps/details?id=com.dp.logcatapp&hl=en) was handy right now anyway, I did a debug log while saving an offline log.  Remark: Before recording started, I disabled internet connection, as on or off does not make any difference at all, but it may have cluttered the log.

Scenario:
- started c:geo, set ``[X] Debug Log`` and opened a cache with an alr

[2020-08-10 15:39] MagpieFourtyTwo opened #8777 "Implement recording Debug Logs to file (as with Crash Logs)"
**Is your feature request related to a problem?**
When it comes to crashes, Debug Logs are (way more than just) pretty helpful. This is where the new function ``Create logfile`` comes into play. Great stuff, but seemingly not helpful, when trying to analyze weird app behavior *with no crash at all*, cause ``Create logfile`` seems to record crash scenarios only. Thus: No crash, no (current) log (at

[2020-08-10 15:43] MagpieFourtyTwo commented on #8777
BTW: The locgcat's name contains ``hh`` in 12-hour notation, but no day/night indicator, so it would probably be better to use ``localtime()`` (or android equivalent) for the hour, in order to get 24-hour notation ...

[2020-08-10 16:50] #8769 closed

[2020-08-10 17:06] moving-bits commented on #8777
c:geo does not store its own logfile, but queries the system to extract c:geo related messages from the system logfile when hitting the "Create logfile" button. This is currently filtered to the following message classes:
- AndroidRuntime:E
- cgeo:D
- cgeo.geocachin:E

catching error messages from system and c:geo's internal debug & error messages.
Maybe this needs to be extended to (optionally) i

[2020-08-10 17:06] MagpieFourtyTwo commented on #8632
Just came into my mind: The success toast seems to appear *three* times.

[2020-08-10 17:09] MagpieFourtyTwo commented on #8777
Yep, nevertheless the extracted data have to be written to a separate file - that was what I had in mind with "build a logcat itself". ;)

That would be perfect, as with the help of their timestamps one can determine where e. g. time gets lost ...

[2020-08-10 17:12] moving-bits commented on #8777
Good catch! Probably the format string should read `yyyy-MM-dd_HH-mm` instead of `yyyy-MM-dd_hh-mm`. => I'll create a PR for this.

[2020-08-10 18:01] #8687 closed

[2020-08-10 18:12] Lineflyer commented on #8777
I dont get the reasoning behind this feature request:

IMHO if you activate debug logging in c:geo and later on save the logfile as currently implemented it will also contain a big portion of the history. In fact as I tried it using c:geo all the day with activated debug log, the logfile I saved afterwards was several megabyte and covered some hours.

[2020-08-10 18:27] moving-bits commented on #8777
Logging is done automatically by the system (always), there's no "start/stop mechanism" in c:geo for this. Hitting "generate logfile" only extracts the messages from this existing system logfile and writes it to a separate file, applying certain filters along the way. (Though there is a "start/stop mechanism" for generating _additional c:geo-internal_ log info - that's the "activate debug log" che

[2020-08-10 20:33] moving-bits opened #8781 "Issues with offline logs"
taken from https://github.com/cgeo/cgeo/pull/8776#issuecomment-671519602 by @moving-bits:

I have an imported database having caches from geocaching.com and opencaching.de. c:geo shows "4+228" and "85+1" as found counter, but when I go to "all caches" list (> 6.000 caches) and filter "With personal data => With offline log" it lists only two caches at all. Strange.

---

Querying the database dire

[2020-08-10 21:15] Lineflyer commented on #8781
I only remember two things which IMHO might be related:

- Caches may stay 72 hours in our database after deletion as caching mechanism until housekeeping clears them completely.
- We had an issue some time, that offline logs might be lost if the user accidentally deletes the caches. The user (unaware of our data structure) expected to still see them in the history. There was a related code change

[2020-08-10 21:24] moving-bits opened #8783 "Use the new colorAccent in settings"
Settings seems to ignore our new colorAccent:

![image](https://user-images.githubusercontent.com/3754370/89833017-99173600-db60-11ea-8733-6607f950a3f7.png)

[2020-08-10 22:13] MagpieFourtyTwo commented on #8777
Ok, my fault, not exact enough:
- start/stop was meant as lower and upper bound for the logcat extract in terms of the timestamps of these two moments
- so, the moment I set ``[X] Activate Debug Log`` should be the start of the interval, c:geo's ``Write Debug Log`` should write it's messages to "our" file
- and the moment I set ``[_] Activate Debug Log`` should be the end of the interval to be ext

[2020-08-10 22:15] MagpieFourtyTwo commented on #8777
Or is there a(nother) possibility to "set" the start of an extract?

[2020-08-10 22:22] MagpieFourtyTwo commented on #8777
As described above, the current implementation just extracts "error messages from system and c:geo's internal debug & error messages" - which is not sufficient, if there were no errors at all, but e. g. just "hangers". Or extremely time consuming operations. Or several restarts of an operation ... as with #8632: Although there is a delay of several seconds, the currently implemented c:geo logfile

[2020-08-11 00:29] MagpieFourtyTwo commented on #8747
Just seen: Uploading the
`<----->`
`...`
`</----->`
stuff to gc.com does not work correctly, as the end marker, i. e. the last line, will be stripped on it's way to the server.
My first assumption was, that gc.com possibly tries to remove or still interpretes stuff that looks like HTML tags (as it sometimes does in logs), but the end marker can be added manually and is then shown without problems.

[2020-08-11 06:32] Lineflyer commented on #8747
Strange...I tested it on some caches and did not have this problem.
However it needs to be investigated. Please always open dedicated issues for independent problems...like this one. Else we might miss a bug if we fix the original issue and close it.

[2020-08-11 11:18] moving-bits commented on #8777
You can't really control this behavior, as the logfile is managed by the system only.
Somewhere in the developer settings you can set the maximum size for the logfile, but I doubt that many people have changed this.

Filtering by time is only available on recent Android versions (or at least: it does not work on older versions, and it's not documented since when what parameters of `logcat` are sup

[2020-08-11 11:54] Lineflyer commented on #7587
Taken from https://github.com/cgeo/cgeo/pull/8782#issuecomment-671879598:

To name just a few things:
- action bar is black instead of grey
- if you open the "three dot menu" it has round edges
- and some menu entries crash into each other (eg.: map settings)
- colorAccent not being applied
- ...

[2020-08-11 11:56] Lineflyer commented on #5227
Agree

[2020-08-11 11:56] #5227 closed

[2020-08-11 11:58] Lineflyer commented on #8180
AFAIK we meanwhile use the phones Download Manager, so this should be solved.

@moving-bits
In general this issue can be closed, or not?

[2020-08-11 13:17] MagpieFourtyTwo commented on #8777
So it's not possible, to drop messages before or after a given timestamp? Ok, thought you could at least parse the records and check against a timestamp.  Hmm.  Would have helped to focus on the critical passage. Ok.  Bummer.

I guess, having the info messages' timestamps at hand (resp. the time inbetween) may probably at least give a hint for the region to investigate deeper, where then the devs

[2020-08-11 13:29] Lineflyer commented on #8777
As generic information for you @MagpieFourtyTwo

c:geo can produce debug information at various stages, where developers included them. This information is only written to the syslog if "Activate debug log" is activated. Without this only exceptions are included.

@moving-bits
I think it might be wise to expand the filter to type Information and Warning for our package name? Is that, what you incl

[2020-08-11 13:42] MagpieFourtyTwo opened #8785 "[Nightly] Upload of PN containing a list of "Stored WPs" shows up inclomplete on gc server"
**Describe the bug:**
Have a PN with a list of WPs, stored via the button ``Store Waypoints``.
After uploading the PN to gc.com, the WP list's endmarker ``</----->`` is missing in gc.com's presentation of the note.

**To Reproduce:**
Can provide the data of my scenario, of course, but would prefer to not do it over here, cause it contains a bunch of stage coordinates needed for solving a quite com

[2020-08-11 14:36] fm-sys commented on #8659
[Playstore developer page](https://play.google.com/store/apps/dev?id=7945466068179931672) has still the old icon too...

[2020-08-11 14:42] eddiemuc commented on #8785
Hi @MagpieFourtyTwo , I am currently in vacation with no Access to my laptop, but I will take a Look at this next week.
One wild (and probably unlikely) guess: is it possible that the PN reached its provider-sided storage limit (2500 at gc as far as I know) and was cut from the end?

[2020-08-11 15:16] MagpieFourtyTwo commented on #8785
Already checked in advance, but the PN is by far shorter. Nevertheless shorted the content to about 200 chars, but to no avail.

[2020-08-11 15:18] Lineflyer commented on #8659
@mucek4 I think you need to update the profile icon on Google Play

[2020-08-11 15:56] fm-sys opened #8786 "Update Playstore Images"
As there where some more or less major UI changes in the last weeks, months and years I would like to update the screenshots shown at Google Play

Some of the UI changes:
- new icon
- new colorAccent
- no more orange circles on live map
- cache details activity - buttons have icons instead of text
- cache details activity - map section is no longer shown
- action bar has no more blue line except m

[2020-08-11 18:54] moving-bits commented on #8180
Yes

[2020-08-11 18:54] #8180 closed

[2020-08-11 18:59] moving-bits commented on #8777
Yes, even a bit more:
[code]

`AndroidRuntime:E", "cgeo:D", "cgeo.geocachin:E"` is filtering on certain prefixes and message levels (debug/error), whereas `"*:S"` suppresses all the rest. If using the new `fullInfo` we don't do this filtering but include everything starting with the lowest level (view): `"*:V"`.

[2020-08-11 19:00] Lineflyer opened #8788 "Crowdin: No updates for russian language"
I do see quite some activity on Crowdin for russian over the last months, however the last commit from Crowdin for the russian strings dates back to May, 20th.

We have had this once (for another language) and also this time I do not find any mis configuration.
I will delete the file to trigger re-commit by Crowdin.

[2020-08-11 19:03] moving-bits commented on #8777
Exactly, at least not with the current way of calling `logcat`. We could include sort of post-processing, but IMHO that's a bit too much for this use case.

Timestamps are less important in most cases than one might think, as we are talking about a multi threaded environment with many parallel tasks (from other apps) happening in parallel - the exact order and timing nearly always will be quite di

[2020-08-11 19:15] Lineflyer commented on #8715
@rsudev
I think the probable reason for the Crowdin warning is, that since you enabled "Chinese (Traditional" we have two chinese variants not having separate two-letter-codes:

Chinese | zh
Chinese (Simplified) | zh-Hans
Chinese (Traditional) | zh-Hant

[2020-08-11 19:21] Lineflyer commented on #8788
No success. I will contact the Crowdin support.

[2020-08-11 19:34] Lineflyer commented on #8786
This would be more than welcome. Great idea.

You can find the existing assets here:
https://github.com/cgeo/cgeo/tree/master/main/project/playstore/screenshots

You can also place your suggestions as a PR in that directories.

[2020-08-11 20:21] Lineflyer commented on #8788
Ticket opened at Crowdin. They do not see any changes to that file in last months, however I approved new translations on July, 31st, which are not on Github yet. They are now investigating.

[2020-08-11 20:40] #2288 closed

[2020-08-11 20:41] #8773 closed

[2020-08-11 21:01] #8777 closed

[2020-08-11 22:04] fm-sys commented on #8786
The pictures could look like this...
![c;geo playstore bilder](https://user-images.githubusercontent.com/64581222/89953385-448ebc00-dc2f-11ea-8807-bf4ea2dc2a42.jpg)

What do you think?

[2020-08-12 06:49] eddiemuc commented on #8785
OK this was embarassingly easy to reproduce. As @MagpieFourtyTwo already suspected I fear GC interprets the closing tag as HTML and Strips it away.

As soon as I have access to laptop again I will replace opening/closing marker with something else. I am currently thinking
[code]

I am open for Other suggestions though. Conditions are:
* Opening and closing tag must be different from each other
* M

[2020-08-12 09:37] Lineflyer commented on #8785
I would suggest to use your initial idea containing `cgeo` because it also helps the user to understand where this note content comes from. You must always expect some not so teccie-save users.
The other important thing would be to make it as short as possible to save note spache but as long as necessary to identify the strings.

[2020-08-12 09:41] MagpieFourtyTwo commented on #8785
I am in fact still fighting for every single byte, as the 2.5k are sometimes really limited, esp. with complex multis and mysteries. And, unfortunately, these are exactly the ones where forwarding would be most helpful

Question: Is parsing and interpreting strongly line orientated? If not, "Opening and closing tag (...) different from each other" would not be a must, but would even reduce the num

[2020-08-12 09:42] Lineflyer commented on #8786
Looks good in principle. I would tend to use a non transparent background (activate corresponding setting in c:geo) to make it look more neutral.

The file specifications for Google Play are:
JPEG oder 24-Bit-PNG (kein Alpha). Mindestlänge für eine Seite: 320 px. Maximale Länge für eine Seite: 3.840 px.
Minimum 2 Screenshot, maximum 8 screenshots pro Sprache

As it is a too big amount of work to m

[2020-08-12 09:44] Lineflyer commented on #8786
While you are on it and if you are able, you could also try to make a new version of the functional graphic:
https://github.com/cgeo/cgeo/blob/master/main/project/playstore/icons/cgeo_functional_graphic.jpg

[2020-08-12 09:54] MagpieFourtyTwo commented on #8773
Great stuff - thx a lot!

Short question (before opening a pointless issue): would it be possible to keep cursor position where it was on last edit/tap, i. e. before starting to scroll?

So you can edit somewhere, scroll down a few pages, and as soon as you start to type again, window and cursor will jump back to the last "manually chosen" position?

This kind of works with scrolling up (i. e. cur

[2020-08-12 09:56] Lineflyer opened #8790 "Find better UI implementation for WP upload"
Currently the upload to personal note for user defined waypoints is placed between the existing buttons for Edit and Upload. I do see some problems with that:
- As the buttons are already rather small the users might unintentionally click the wrong button
- Users might not understand the function of this button as the page, where it is shown is unrelated to the data source used for it

On the othe

[2020-08-12 10:45] Lineflyer commented on #8788
Update:
I followed some steps from Crowdin support to try to solve the issue (Resave config, Pause Sync, Force Sync), however still no luck.
Crowdin is investigating.

[2020-08-12 12:48] Lineflyer commented on #8402
FYI:
This is still the crash event with highest appearance and amount of users affected
Also for 2020.08.04.

If we miss knowledge about this topic, how about checking if a new RXjava version is available?
Or @samueltardieu or @UniQP might have an idea?

Stack trace example of current version:
[code]

[2020-08-12 12:56] bekuno commented on #8402
current:
~~
    implementation 'io.reactivex.rxjava3:rxjava:3.0.4'
    implementation "io.reactivex.rxjava3:rxandroid:3.0.0"
[code]

[2020-08-12 13:02] geocachermgo opened #8791 "[Nightly] Waypoint Export to notes, too many"
**Describe the bug:**
I have 6 waypoints, when I store them in the notes I get 8.

**To Reproduce:**
Clear notes. Create Notes out of Waypoints.

**Actual behavior/state after performing these steps:**
For 6 waypoints there are 8 waypoint (see sceenshot)

**Expected behavior/state after performing these steps:**
For 6 waypoints there should be 6 waypoints

**Version of c:geo used:**
You will find

[2020-08-12 14:17] eddiemuc commented on #8791
Hi @geocachermgo , on your First Screenshot in the bottom it says "8 Wegpunkte". Are there really only 6 waypoints? Although I have to admit that the final and trailhead wps seem to be duplicated

[2020-08-12 14:28] eddiemuc commented on #8790
Hi @Lineflyer , I placed the button near the PN (not the WPs) for multiple reasons:
* I wanted the User to see directly the implication of using this function (e.g. how the PN is modified)
* I think of this function primarily as a backup function, so naturally a User would choose "Upload" right after storing WP information - and "Upload" is placed near the PN
* In the future I would like to extend

[2020-08-12 14:41] eddiemuc commented on #8785
There is no special parsing mechanism for inbetween the Tags, same mechanism is used for whole PN (it was "just" extended to enable also name and user Note parsing). However, a name is indeed only recognized if containing Line Starts with a `@`

The most important role of the Tags right now is that when you Press "Store WPs" and a tagged section is recognized, it is deleted in the PN and a freshly

[2020-08-12 15:21] geocachermgo commented on #8791
Yes, double checked it: had 6 waypoint (meanwile so were doubled, I guess be rereading from the notes).
By first "Wegpunkte spei..." (Store Waypoints) in the Note menue I got 6 waypoint in the notes. When I pressed it again I got 8 waypoints in the notes but still 6 in the cgeo waypoint list

[2020-08-12 15:23] fm-sys commented on #8786
I will patch the App for the screenshots, so that it will show "Max Mustermann / John Doe" instead of my user name ;-)

[2020-08-12 15:24] geocachermgo commented on #8791
And thanks for the feature!

[2020-08-12 15:37] geocachermgo commented on #8791
Definition: cgeo-waypoint: waypoint in the swipe left cgeo
Note-waypoint: waypoint in the new new list in the notes.

I cleared the notes again, and then got 8 note-waypoints at the first click. Ok: there are 2 new cgeo-waypoint created but not shown in the cgeo waypoint list. If I close the cache, reopen again, then there are 8 cgeo waypoint.
I think that an older bug.
That leaves the question wh

[2020-08-12 15:42] fm-sys commented on #8786
So I would provide the screenshots in English and German first, if it's ok.

Also I want add some text above the screenshots. I will upload the PowerPoint for the Images to, so that someone else could translate the text into other languages as well...

[2020-08-12 16:13] geocachermgo commented on #8791
I deleted everything and manually created 6 cgeo-waypoints resulting in now 10 note-waypoints.
Type (O) seems strange?
I created the waypoints by "duplicate" the last waypoint changing type and setting the coords to the cache and shifted by 60°,120°,... and 100m.
The last 4 are double
<----->
@Referenzpunkt 1 (W) N46 16,049 E6 15,510
@p 1 als Kopie (P) N46 15,995 E6 15,510
@Trailhead (T) N46 15,96

[2020-08-12 16:15] MagpieFourtyTwo commented on #8790
I see your point, nevertheless I go with @Lineflyer regarding the point

as this happened annoyingly frequently this weekend (while we did a bunch of complex Multis and Mysteries).

Perhaps you may take into consideration a coming up feature request of mine: Although the new sizing of the PN (popup grows on adding lines) catapults working with PNs to a completely new level, the currently used popu

[2020-08-12 17:03] moving-bits commented on #8790
I agree with that so far, but understand @eddiemuc's arguments as well:

Therefore I propose a different solution for positioning the third button:
Why not put the button below the personal note, but left aligned, in the same row as the "edit" button?

So you would have something like this:

|Personal|note|text|
|----|-----|-----|
| Store WP | | Edit |
| | | Upload|

(table to be replaced by image

[2020-08-12 17:04] eddiemuc commented on #8791
OK, I think I understand the issue now. I suspect this has to do with the way coordinates are compared with each other (coordinates are Sometimes considered different even if they are equal uo to the thousand-second).
I will definitely Look into this, but can only do this Starring next monday (no Laptop until then)

Thanks for the Report!

[2020-08-12 17:05] eddiemuc commented on #8790
I Support @moving-bits s idea

[2020-08-12 17:27] MagpieFourtyTwo commented on #8790
Me2. Was my first idea, thought I already wrote it, but probably forgot to submit the message. ;)

[2020-08-12 17:35] eddiemuc opened #8792 "Integrate Adventure Lab Caches into c:geo"
**Is your feature request related to a problem?**
For a while now Groundspeak has issued its Adventure Lab App, and over time it seems more and more Lab Caches are issued. It is frustrating for me to use a second App besides c:geo to get aware about those caches.

**Describe the solution you'd like**
In a first step it would be nice if c:geo could Just Display available Lab Caches and their Statio

[2020-08-12 17:37] eddiemuc commented on #8790
I can implement it next week hopefully

[2020-08-12 18:54] Narrat commented on #8792
Did they change API an such? Because last time this was asked it was considered impossible
https://github.com/cgeo/cgeo/issues/8433

[2020-08-12 19:26] moving-bits commented on #8785
Does the text for the saved coordinates has to be human-readable?
If we use sort of a base64 encoding we could stay with about 9 chars per coordinate.
(N/S: 1 bit, XX.xx.xxx 7+6+10 bits, E/W: 1 bit, XX.xx.xxx 8+6+10 bits - sum: 49 bits)

Alternatively, if we want to stay human-readable: We could use a fixed length format and leave out separators and spaces.

Although both approaches only help for

[2020-08-12 19:41] #4900 closed

[2020-08-12 19:42] MagpieFourtyTwo commented on #8791
Same same. BTW, with projections: The result of c:geo's calculation after entering distance and bearing (in WP's properties) is in most of the cases considered to *not* be equal to the coordinates you afterwards put into the PN (for logging purposes). That's why c:geo afterwards will create a seemingly duplicate waypoint in the WP list (automatically from the PN).

Already talked about this with @

[2020-08-12 19:42] moving-bits commented on #8781
My bad: I had missed the "history list" - which includes the missing caches which have an offline log, but do not show up on any other list. See https://github.com/cgeo/cgeo/pull/8776#issuecomment-673071699.

[2020-08-12 19:42] #8781 closed

[2020-08-12 19:46] moving-bits commented on #8791
Can't remember. Are you thinking of #8314? @UniQP has assigned that issue to himself.

[2020-08-12 19:54] MagpieFourtyTwo commented on #8791
Hmm, maybe. Although I had an older discussion in mind.
But doesn't matter anymore, as you exactly redirected to the correct stuff.
So my approach via mentioning you worked perfectly fine.  ;)
Thx a lot for the clarification!

[2020-08-12 20:01] MagpieFourtyTwo commented on #8785
GPX export notes delivers PN, but not notes of WPs.

[2020-08-12 20:04] MagpieFourtyTwo commented on #8785
Nevertheless, currently the ``Store waypoint`` function shortens WP notes to 50 chars anyway ...

[2020-08-12 20:30] MagpieFourtyTwo opened #8793 "[Nightly] Change "Personal Note" popup to a (replacing) window"
**Is your feature request related to a problem?**
Since #8773 the Personal Note popup grows vertically, if you put more text into it. Great stuff, But although the additional editing space catapults working with PNs to a completely new level, the popup behaves weird in some scenarios:

1. while editing e. g. the first line and scrolling down until the selected line leaves the window, the cursor po

[2020-08-12 20:39] MagpieFourtyTwo commented on #8790
Correct me if I'm wrong, but to me it seems as if on second press of `` Store waypoints`` the data will be written back from PN to the WP list - correct?  That was at least my impression while testing: After first press of ``Store waypoints`` I changed the type of the "Final" WP to "Reference Point", but this change got immediately overwritten and changed back to "Final" after I pressed ``Store Wa

[2020-08-12 20:52] moving-bits commented on #8790
Which would then give us a UI like this:

![image](https://user-images.githubusercontent.com/3754370/90066660-53887380-dcee-11ea-868c-6821cc0fb3f8.png)

(This is from my veeery-long-personal-note test case)

[2020-08-12 20:56] MagpieFourtyTwo commented on #7991
Although already closed, #8709 shows that this issue is topical.

And apart from personal habits and preferences it would be extremely helpful for our work over here, too, to be able to switch the app to English, as we reference c:geo's topics, menu entries, buttons and stuff in English, too - but because of the lack of this feature we currently in fact are just guessing names and phrases ... thus

[2020-08-12 20:57] MagpieFourtyTwo commented on #8790
YEAH! ;)

[2020-08-13 05:42] moving-bits commented on #7991
From following the discussion above I don't think we can do anything about it, as newer Android versions seem to not support this any longer.

For testing and documentation you can use the following workaround:
- install / activate English as additional system language in Android
- when you want to test / document something in c:geo move English to first position, making it the preferred language.

[2020-08-13 07:05] eddiemuc commented on #8792
I die not see the previous issue, I guess I can close this one as a duplicate.
Just one question: the Groundspeak App needs to use some (undocumented) API too to communicate with the Server. Is there any way to "hijack" this?

[2020-08-13 07:12] eddiemuc commented on #8791
@MagpieFourtyTwo , @moving-bits
I would approach this by changing the compared Logic for waypoint coordinates from "compare pure lat/lon" to "compare coordinate representation in Standard DD MM.MMM Format". This might solve also the projection Problem

@geocachermgo :
Would you be so kind and look up for a pair of duplicated waypoints whether the coordinates differ when you Change Display to DD.DD

[2020-08-13 07:17] eddiemuc commented on #8785
The current logic shortens the waypoint representation depending on how many chars are left in the PN (with regards to max upload size). First it tries to shorten User Note, then leaves User Note out completely, then removes Name and Type.

[2020-08-13 07:31] eddiemuc commented on #8785
I would personally like a human-readable format, but storage could be optimized best with this approach.
When we stay human-readable, we could save a few bytes by leaving Out the pharentesis around the Type identifier and the " around User Note If it does not contain line Breaks.

If storage optimization is a big concern for many Users:
What about letting the user choose between different storage

[2020-08-13 07:48] Lomanic commented on #8792
It's fairly easy to reverse engineer a private API from an Android app: static analysis of the apk (decompiling it), HTTP requests interception with mitmproxy or similar or even code injection at runtime. Does the cgeo project want to go this route is the real question.

[2020-08-13 07:51] eddiemuc commented on #8785
Human non readable: I assume easiest way to get close-to-max compression would be to create waypoint text as in human-readable way, but then ZIP it and store Base64-encoded.

[2020-08-13 08:20] SammysHP commented on #8792
And we would need keys to use the API. It would be really hard to keep such a hack working over time.

[2020-08-13 08:29] eddiemuc commented on #8790
No, this action should only ever rewrite the PN from the WP list. But immediately after, the normal parsing of PNs for waypoints is triggered. The behavior you see might be a bug in the second step. If behavior persists maybe it would be good to Open a separate issue

[2020-08-13 09:11] eddiemuc commented on #8792
As far as I understand it, cgeo chose to go this way a long time ago by not using the official Groundspeak API for accessing geocaching.com and parsing HTML instead :-)

But missing key might indeed be a problem

[2020-08-13 09:25] geocachermgo commented on #8791
Yes, I can confirm that the coords in dd.dddd display ate different by typically 6e-6 in the longitude
![Screenshot_2020-08-13-11-19-04-353_cgeo geocaching](https://user-images.githubusercontent.com/43813636/90117247-f07ef700-dd56-11ea-8e1f-1e56f47b3829.jpg)

[2020-08-13 09:28] geocachermgo commented on #8791
Btw: is the an option to change the format of the coordinate globally in cgeo?

[2020-08-13 09:37] geocachermgo opened #8795 "coordinate format of waypoint changed during scrolling"
**Describe the bug:**
Display format of a waypoint changed back during scrolling

**To Reproduce:**
Use a cache with log (e.g. 10) list of waypoints
Tap to the coordinates of a lower waypoint to change display format from dd mm.mm to dd.ddddd
Scroll up, so that the lower waypoint is pushed out at the bottom.
Scroll down again, so that the waypoint becomes visible again.

**Actual behavior/state af

[2020-08-13 09:54] MagpieFourtyTwo commented on #7991
Ok - good hint. Just did so - and like it. Will most probably stay with English forever. ;)

So I would suggest to *replace* the "Force to English" option by either a text explaining this procedure or (if space may become an issue) a link to a help page which describes it.

While I would add a data consumption warning, cause doing this for the first time seems to download a lot of stuff. Don't rea

[2020-08-13 09:58] MagpieFourtyTwo commented on #8785
I'm pretty sure that base64 well lead to a lot of very surprised faces ... and most of them will probably not even try to look for the reasons, but just delete this "scrambled garbage" and never ever use it again, most probably even contact support to file an issue ... ;)

[2020-08-13 09:59] MagpieFourtyTwo commented on #8790
Ok, will keep this in mind.

[2020-08-13 10:07] MagpieFourtyTwo commented on #8791
Why should someone want to do so? As on gc.com DD MM.MMM is kind of standard, changing it in c:geo.only will most probably lead to complete coordinate confusion ...

[2020-08-13 10:16] geocachermgo commented on #8791
Was that a "no" to that question? It was not a request to have such an option but the question if its possible.

[2020-08-13 10:24] MagpieFourtyTwo commented on #8785
This appears to be way to restrictive to me ... as size becomes an issue on uploading only, I would prefer to let the user decide what he wants to strip. Cause sometimes you may just want to use ``Store Wayponts`` to transfer all the waypoint notes to PN to continue editing/saving/using them over there - and that would not be possible if this function removes all the stuff ... even worse, as the i

[2020-08-13 10:33] Lineflyer commented on #8790
I also like @moving-bits idea.
But we do not need the restore waypoints button as this is still served by the existing coordinate parser for PN, meaning they will automatically be restored by just the presence of the backup in the PN, which is a really nice approach as I can e.g. just open the same cache on another device with c:geo running on my account and have the same WP status.
The user can h

[2020-08-13 10:37] geocachermgo commented on #7152
@eddiemuc : Are you interested?

[2020-08-13 10:38] Lineflyer commented on #8792
I would not recommend to start any new approach of parsing any pages or triggering an unoffical API. So my recommendation would be to refrain from trying to implement Adventure Labs into c:geo.
Besides that, displaying them would lead to the users expectation to advance it into full support, which is too much IMHO.

Maybe it changes sometime in the future if they might decide to make them availabl

[2020-08-13 10:49] Lineflyer commented on #8785
I would also prefer to stay human-readable as also some users (which maybe currently unaware of the existing parsing) might then be able to easily reuse it to create waypoints by adding such format to their PNs on the website to have them later in c:geo.

[2020-08-13 11:05] geocachermgo commented on #8791
Intermediate summary: I see 3 issues:
1) Identification of close-by coodinates
2) Type (O) of created note-waypoint
3) Update of waypoint list when not reloading the cache (6 in cgeo-waypoint list, 8 in bottom display and created note-waypoints) (connected to #8237 ? Which is also an waypoint update problem?)

[2020-08-13 11:06] eddiemuc commented on #8785
Considering size limit for Upload was requested in l original issue, thus I included These Rules. (But a toast appears warning you that waypoints were shortened). I can easily remove this, I personally do not need this.

[2020-08-13 11:13] eddiemuc commented on #8785
I wouldn't make it the Default Option but allow Users to.enable it in the settings. I would Not use such an Option myself, I prefer a human-readable way, but if size is the main issue thus would be the best way to reduce it.

[2020-08-13 11:15] Lomanic commented on #8792
Looks simpler than scraping a regularly changing site to me: the API has to be stable because there are clients (apps) deployed on many phones, some may not upgrade the app.

Not if cgeo uses an official key (that's one of the points of reverse engineering the app), but, again, I'm not sure this is the path the cgeo project wants to take.

[2020-08-13 11:22] MagpieFourtyTwo opened #8796 "[Nightly] Make display of "+ OfflineLogs" configurable"
**Is your feature request related to a problem?**
On start page there is this new addition to the number of caches found, represented as "FoundCount + OfflineLogCount" - which may be helpful, if you want to be reminded of what is still open to do (although I have a list called "Offline Logs" which does this job perfectly fine already).

But OTOH this counter can produce a lot of stress to users, w

[2020-08-13 11:29] MagpieFourtyTwo commented on #8791
There at least is the option to change input format, but I have not tested what it does to representation in the rest.

[2020-08-13 12:06] Lineflyer commented on #8796
IMHO those people could just stop doing offline logs if they anyhow dont plan to log online.

OTOH isnt it even better to show the correct find count releasing the pressure to log online?
If you have 0 finds but know you found 50, you before had (0) but now have (0 + 50). So no need to do anything.

[2020-08-13 13:52] geocachermgo commented on #8795
Is not there only at nighly. Same for 2020.08.04-legacy

[2020-08-13 18:10] fm-sys commented on #8786
![entwurf](https://user-images.githubusercontent.com/64581222/90169146-7d996e80-dd9e-11ea-813a-4a4029e39720.jpg)

The picture will be split up into its individual parts when it is completely finished. Of course it is far from being finished, but is that something we can work with?

And please ignore that the texts are English but the c:geo translated to German ;-)

Whould you leave out the "c:geo

[2020-08-13 18:27] Lineflyer commented on #8786
IMHO the background change is nice and makes it "living". I would replace the "over x supported" by something like "Multi platform support" or "Supporte multiple geocaching services".

But really nice from its principle.

[2020-08-13 18:41] Lineflyer commented on #8786
Some idea (feel free to find better ones) for the headers:
- Interactive live map (sounds good already)
- Save and manage caches in lists
- Log found finds online or offline
- Full offline support incl. maps
- Full support of trackables

[2020-08-13 18:49] eddiemuc commented on #8786
* Go caching on all major platforms in just one app: Geocaching.com, OpenCaching, GCVote and many more

[2020-08-13 18:51] Lineflyer commented on #8786
You should enable an oc platform to have multiple platform caches in screenshots.

[2020-08-13 19:00] Lineflyer commented on #8786
Maybe also "Community driven" or "Free and opensource", "Made by Geocachers" ...just thinking loud.

[2020-08-13 20:49] Lomanic commented on #8786
https://github.com/cgeo/cgeo/issues/8786#issuecomment-673631302 the orange text "Geocaching for Android" is hard to read for me, lacks some contrast against the background.

Great work otherwise 👍

[2020-08-13 21:45] MagpieFourtyTwo commented on #8796
Please, just believe me.
As I'm not guessing nor wildly assuming, but in fact experiencing it in real life.
You have absolutely no clue, how immense the impact of such a number can be to the psyche of someone, who is fighting such problems anyway.
So, please, *please*, *PLEASE* make it configurable.
Moreover, with a configurable option like this, you can leave the decision regarding your of course

[2020-08-13 21:58] Lineflyer commented on #8796
If the contributor wants to implement to enable optionally turn it off, I have no problem with that.
I just would like to suggest to enable this by default.

Still I dont get the difference between offline and online logging when it comes to psychological reasoning. No one hinders you to just find caches and simply dont log them at all. So why applying stress by initially logging them offline thus

[2020-08-14 05:47] eddiemuc commented on #8786
Really great work, thank you for this contribution! 👍

[2020-08-14 06:19] eddiemuc commented on #8791
There is (in Code at least) a waypoint Type "Own" whose shortid is O. Apart from the Name I think it is handled much the same as reference Points (e.g. same Symbol, same Default Name). Can't tell you right now why this exists as a separate Type and when it is created (maybe when bearing is used)?
![Screenshot_20200814-081456.jpg](https://user-images.githubusercontent.com/6909759/90219682-e5839f80-

[2020-08-14 06:22] eddiemuc commented on #8791
Those two should be solvable by changing the compare logic for waypoints coordinates when parsing PN. Will do that as soon as I can.

[2020-08-14 06:25] eddiemuc commented on #7152
Have some issues on my plate right now, but I can put it in my list :-)

[2020-08-14 06:29] eddiemuc commented on #8792
Is there a way to make some sort of "official request" from c:geo to Groundspeak whether integrating this into c:geo would be supported by them? (maybe by getting some sort of API doc or a Key). Or was this already done in the past?
@Lineflyer you usually know these things...

Without Groundspeak knowing and accepting such Integration into c:geo I wouldn't proceed.

[2020-08-14 07:18] eddiemuc commented on #8759
This should work well for predefined waypoints, but my understanding was that for userdefined waypoints the prefix is also c:geo-generated/specific

[2020-08-14 07:28] eddiemuc commented on #8786
Some more possible headlines (Just thoughts):
* One for all: Cache across all platforms (Show screenshot of map with gc-caches and OpenCaching caches in same Screen)
* Navigate to Caches the way you want (Show screenshots of compass, some satellite map View and map with Route to Cache)
* Never miss a cache in your route again (Show screenshot with notification settings for nearby Caches)
* Always

[2020-08-14 07:50] geocachermgo commented on #8796
Difference: Logging online is interacting with others.
I have a +4 display. How do I filter to find this 4 caches?

[2020-08-14 08:16] fm-sys commented on #8796
Go to history list and filter for "With personal data => With offline log"

Mit freundlichen Grüßen

Florian Meyer

On Fri, Aug 14, 2020 at 9:50 AM +0200, "geocachermgo" <notifications@github.com> wrote:

Difference: Logging online is interacting with others.

I have a +4 display. How do I filter to find this 4 caches?

—
You are receiving this because you are subscribed to this thread.
Reply to t

[2020-08-14 08:19] fm-sys commented on #8796
Go to history list and filter for "With personal data => With offline log"

[2020-08-14 09:40] geocachermgo commented on #8796
Thanks

[2020-08-14 09:45] fm-sys commented on #8786
Is there maby a c:geo website trackingcode or a trackable I could use for the last screenshot?

[2020-08-14 09:56] fm-sys commented on #8786
![c;geo playstore images - screenshots](https://user-images.githubusercontent.com/64581222/90237616-dad80300-de24-11ea-87cc-9edc787b9a8b.jpg)

My pictures have reached beta status ;-) Feedback is very welcome!

[2020-08-14 10:23] fm-sys commented on #8796
@MagpieFourtyTwo Wouldn't it then be the best to hide both counters, online & offline?

[2020-08-14 10:52] Lineflyer commented on #8786
Looks really good, some small comments:
- Use English screens (AFAIK you already said you will change them later)
- live map instead of live-map
- For the last screen you could use what I sent to you (did it arrive?)

[2020-08-14 10:53] Lineflyer commented on #8786
Given the effort I would suggest to produce english and german only for now?!

[2020-08-14 10:57] fm-sys commented on #8786
Nothing has reached me yet...

[2020-08-14 11:00] MagpieFourtyTwo commented on #8796
Seeing already done (achieved) stuff helps a lot.
So for this "problem" would be better to see them.
Problem is just the pressure from not yet done stuff.
It's like visiting dentists, for others: You really *want* to, but the barrier to cross is pretty high for some people. And even if they finally have an appointment, they do not want to be reminded of it every day till then ... but seeing the nu

[2020-08-14 11:34] fm-sys commented on #8786
@Lineflyer Ignore my comment above... I was waiting for an email 😂
What you sent me arrived yesterday. Thanks for it at this point - very cool, I like it!

[2020-08-14 13:53] eddiemuc commented on #8786
Looks really cool!

[2020-08-14 15:25] moving-bits commented on #8792
I'm also voting for "no" here for the time being.

GC HQ's priority would be to switch c:geo to their official API for regular caching, which we have looked into some time ago, but found that API way too restricted - not technically, but in terms what basic members are allowed to do - limitations like "download full description of two caches per day" or "see only traditional and multi caches" (IIR

[2020-08-14 15:34] moving-bits commented on #8785
Ok, thanks for the feedback. Let's stay with a human readable format only.

As for the delimiters: I'd like to have the word "cgeo" or "c:geo" in it - it gives users a hint where this comment comes from. We could even name it something like `{c:geo waypoint backup}` ... `{c:geo}` - this is a couple of chars longer, but does explain more clearly where this is coming from.

[2020-08-14 15:39] moving-bits commented on #8795
IMHO this behavior is to be expected as XX XX.XXX is the default format c:geo uses (IIRC), and changing a format for display is only temporary. As soon as a displayed entry is scrolled away from the current screen, the entry gets recycled by Android, and the default format is used for displaying the next entry again.

So implementing this feature request would have to store the currently selected

[2020-08-14 15:53] moving-bits commented on #8786
Thanks @fm-sys for this contribution, your "beta version" looks really good!

[2020-08-14 15:54] moving-bits commented on #8786
One tiny idea: How about showing some routing (navigation) line and/or a track on the map screenshot?

[2020-08-14 15:56] Lineflyer commented on #8785
How about `{c:geo WP backup} ... {c:geo}`

[2020-08-14 15:58] moving-bits commented on #8786
As for the "Navigate to caches" screenshot: I'm unsure whether the user expectation would be a compass rose or something like Google Maps navigation (or whatever else navigation software is installed).
@Lineflyer Ccoming from support questions or talks on events: What do you think?

[2020-08-14 15:59] moving-bits commented on #8785
yes, ok for me

[2020-08-14 16:12] SammysHP commented on #8792
Aren't these Adventure Caches only for the official app?

[2020-08-14 16:27] Lineflyer commented on #8792
Even more limited. Its a dedicated app.

[2020-08-14 16:53] eddiemuc commented on #8785
I would leave out the "WP" too and be even more generic:
[code]
(and I would explicitely not make this translatable)

Would that be ok too?

[2020-08-14 16:56] Lineflyer commented on #8785
Sounds reasonable

[2020-08-14 17:04] moving-bits commented on #7991
Proposal:
- remove the menu entry for systems starting with Android 8 (as it does not work on those systems anyway)
- add a description on how to change the language to c:geo help, and link from c:geo settings to it

[2020-08-14 18:57] fm-sys commented on #8786
I think showing the compass rose is better then showing a screenshot from eg. google maps... If you have a better text please tell me. Otherwise I would vote for leaving it as it is. The pictures are there to show how the app looks like. Not to give a complete functional overview

[2020-08-14 19:11] eddiemuc commented on #8786
Regarding "Log your finds offline or online": I think it would be nice if the screenshot contains the Rating Stars (visible when GCVote is enabled), simply because it looks kinda fancy

[2020-08-14 19:11] moving-bits opened #8799 "Clarify setting's description"
From Google Play feedback:

Add "points" to the description for history track length setting.

[2020-08-14 19:22] fm-sys commented on #8786
@eddiemuc isn't GCVote currently broken? http://gcvote.com/ Because I wouldn't like to show features wich users can't use...

![c;geo playstore images - screenshots_hoffentlich final -transparent](https://user-images.githubusercontent.com/64581222/90284672-9d9a6200-de72-11ea-9ff8-2aefab4a7555.png)
I will use English screens if you accept it as "release candidate" ;-)
 --> means no more graphical c

[2020-08-14 19:26] #8799 closed

[2020-08-14 19:35] eddiemuc commented on #8786
I was not aware of that. Strange, I used GCVote rating during last years without noticing this.
But in this case, of course it doesn't make sense to include it in the screenshots

[2020-08-14 19:37] Lineflyer commented on #8786
The GCVote API worked last time I used it. Seems the website is not maintained. This status was a year ago, but finally the owner managed to get it working again. AFAIR the website was again working after that. Strange.

[2020-08-15 00:44] MagpieFourtyTwo commented on #8796
Ok, did not want to go that deep, but as you asked for it, here's some background (at least as far as I have understood - I'm not a psychologist): They in fact *want* to log, cause this makes the experience complete. Especially when you liked a cache, you of course want to say thanks and stuff, to give a little bit back - and so do they want to do as well. But then there are these deficits ... so

[2020-08-15 00:57] MagpieFourtyTwo commented on #8795
Why not? As for me: I (have to) use the coord tap to change the output format too, but just when navigating to a cache with the built-in car navi, cause this one only knows "DD MM SS" - and I'm glad that c:geo switches back to "DD MM.MMM" afterwards, cause this is the format we're working with most of the time.

So, most interesting question to me is, why should the coord format be different at al

[2020-08-15 01:09] MagpieFourtyTwo commented on #8682
Have had this scenario on our last tour, and have recorded an "Extended Log":
- driving along for some kilometers with map zoom set to 500 m and map centered on my position
- after a while, there are fewer and fewer caches on map
- compared this to my co-driver's c:geo - who had about 30 caches on display.
- zoomed out an in ... and there they are ...
- so activated Debug Logging and waited until

[2020-08-15 07:27] #8768 closed

[2020-08-15 09:26] Lineflyer opened #8804 "Replace functional graphic"
On:
- [x] Google Play

- [x] Facebook

- [x] Support Ticket System

@fm-sys Did you see my question regarding c:geo Fangruppe in your PR?

- [ ] Fangruppe (Hand over to moderator)

[2020-08-15 10:45] Lomanic opened #8805 "Travel Bug Map"
**Is your feature request related to a problem?**
It is possible to visualize the route of a given TB on the website, by going to `https://www.geocaching.com/track/map_gm.aspx?ID=$ID`, e.g for the [Original Can of Beans](https://www.geocaching.com/track/details.aspx?id=83154): https://www.geocaching.com/track/map_gm.aspx?ID=83154

Ideally, we should be able to do the same without leaving the app,

[2020-08-15 10:47] Lineflyer commented on #8783
For me this does not seem to work with todays nightly.

[2020-08-15 10:56] moving-bits commented on #8783
I had developed and tested this with emulated API 29 device.
What version are you using?

[2020-08-15 11:04] Vike91 commented on #2093
I don't know if this would be a justified comment but I'd love to be able to play Munzee in the c:geo app.

[2020-08-15 11:34] bekuno commented on #8792
As Lineflyer stated - Adventure Caches are `exclusively` useable with this app. There is no official api at all.
We should let them as is for now.

[2020-08-15 11:34] #8792 closed

[2020-08-15 11:36] fm-sys commented on #8804
No, I missed that. You could use this one:

![2020-08-15 13_33_12-PowerPoint-Bildschirmpräsentation  -  c;geo playstore images - functional graphi](https://user-images.githubusercontent.com/64581222/90311556-4c36b500-defc-11ea-8022-fa9f994c9e8a.png)

[2020-08-15 11:57] fm-sys commented on #5352
I would like to implement this.

It will work like this:
1. get source of `https://www.geocaching.com/p/default.aspx?u=[username]`
2. then search for id `ctl00_ProfileHead_ProfileHeader_lnkSendMessage` and open the `href="/account/messagecenter?recipientId=` link in browser

this would be added to GCParser.java (am I right?)

But where is the owner onclick context menu defined so I could link this

[2020-08-15 12:46] moving-bits commented on #5352
Have a look in `res/values/strings.xml` to look for the strings being displayed in that context menu
[code]
then let Android Studio show you where those strings are being used, you'll find `connector/GCConnector.java` with the `getUserActions` method (among other places).

[2020-08-15 12:52] Lineflyer commented on #8804
Thanks, forwarded that one.

And for the other spots: All updated.

@fm-sys Thanks again!

[2020-08-15 12:52] #8804 closed

[2020-08-15 13:22] fm-sys commented on #8786
Ok, I've mailed the GCVote developer to create an account for me... Let's see if he answers.

[2020-08-15 14:57] eddiemuc commented on #8786
Do these screenshots help you?
![Screenshot_20200815-165331.jpg](https://user-images.githubusercontent.com/6909759/90315029-5ff01480-df18-11ea-8f9c-69eca1509b54.jpg)![Screenshot_20200815-164531.jpg](https://user-images.githubusercontent.com/6909759/90315034-63839b80-df18-11ea-8ad8-92033bb56592.jpg)

[2020-08-15 15:52] eddiemuc commented on #8785
On another note: when all this is said and done I would really like to see the whole personal-note-parsing documented somewhere in the user guide.
* Should I open a separate issue for this?
* Of course I volunteer to do this. But what is the process here? I seem to need an account to edit the user guide, and I don't know what the process is here...

[2020-08-15 16:06] Lineflyer commented on #8785
Thats my ToDo.
I wanted anyway to migrate it into an open wiki to let the community maintain it.
Anyhow until then I will create an account for you.
Could you please open a reminder issue and assign me to it. I am not at home now.

[2020-08-15 16:20] eddiemuc opened #8806 "C:geo User Guide: convert to open wiki / enable documentation of waypoint parsing"
**Is your feature request related to a problem?**
Currently a special account is needed to maintain the c:geo user guide. In this guide documentation of waypoint parsing is missing. Only a few people are currently able to maintain this.

**Describe the solution you'd like**
* short-term solution: create user guide edit account for @eddiemuc  :-)
* Long-term solution: convert user guide into an ope

[2020-08-15 16:23] eddiemuc commented on #8785
I created #8806 but I lack permission to assign issues to users.

[2020-08-15 16:32] moving-bits commented on #8785
I set the attributes accordingly.

[2020-08-15 20:55] moving-bits commented on #8727
fixed with #8730 and #8744

[2020-08-15 20:55] #8727 closed

[2020-08-15 23:21] Lineflyer commented on #8783
Tested on two devices both API 29.
I do still see blue accents in settings.

[2020-08-16 06:56] moving-bits commented on #8783
It should look like this:

![image](https://user-images.githubusercontent.com/3754370/90328605-e7cc3200-df9d-11ea-89e5-a4afd84bd204.png) ![image](https://user-images.githubusercontent.com/3754370/90328607-ef8bd680-df9d-11ea-8497-2a45c9e91bc7.png)

![image](https://user-images.githubusercontent.com/3754370/90328621-177b3a00-df9e-11ea-8c16-afa670dc80cb.png) ![image](https://user-images.githubusercon

[2020-08-16 08:36] geocachermgo commented on #8795
I still see it as a bug: Scrolling should not change anything but only shift the display. To the question "why" of @MagpieFourtyTwo :  If users changed the display, they have done this because they want it to be displayed differently. So cgeo should keep it.
I do not think that a change is urgently neccessary.
As a feature I would not support it. The reason I raised this issue is that i think that

[2020-08-16 10:05] eddiemuc commented on #8795
I would differentiate as follows:
* As long as I stay on the waypoint list screen, when I change display format for single waypoints then simply scrolling the list up and down should keep that format. If this is not happening I would consider it a bug
* If I leave the waypoint list however and then come back (e.g. swiping right to Cache details and then go back again) then I would consider it ok t

[2020-08-16 11:20] geocachermgo commented on #8795
First dit is what is happening: as long as the line (orange dot) stays on the screen the changed format stays. If the line is scolled out the the format changes.
![IMG_20200816_131430](https://user-images.githubusercontent.com/43813636/90333104-21636400-dfc3-11ea-8c34-0b3e8197667c.jpg)
![IMG_20200816_131522](https://user-images.githubusercontent.com/43813636/90333106-288a7200-dfc3-11ea-94a7-c745cb

[2020-08-16 14:22] fm-sys opened #8813 "Color picker seems to be broken"
**Describe the bug:**
c:geo crashes when using the color picker in settings/map/map line customization

I realized this while testing the fix of #8783 (by the way the first PR fixes that issue for me, but that's another topic)

**System information:**
[code]

**Additional context:** the error message
[code]

[2020-08-16 14:44] moving-bits opened #8814 "Support default language for offline maps"
Following a discussion in #8186 / taken from https://github.com/cgeo/cgeo/pull/8186#issuecomment-674529183 by @SwissPoPo:

[2020-08-16 15:47] fm-sys commented on #8796
I will implement this when I have time...

[2020-08-16 15:52] moving-bits commented on #8813
Can reproduce in the emulator, seems to be attribute `text_color` missing on that API level.

[2020-08-16 16:00] #8627 closed

[2020-08-16 18:10] MagpieFourtyTwo commented on #8796
Thx!

[2020-08-16 19:38] Lineflyer commented on #8806
@eddiemuc
I created an admin account for you on the system.
The system is hosted at https://cgeo.droescher.eu with reverse proxy running on https://manual.cgeo.org
If you have problems logging in via manual.cgeo.org try the original domain.

Feel free to take a look around and adapt whatever you like.

I do miss time to take care of the system after initially creating and completely filling it (ap

[2020-08-16 19:39] Lineflyer commented on #8806
@eddiemuc You should have received a registration mail from the system.

[2020-08-16 19:40] Lineflyer commented on #8806
I noted some HowTo for translation here: https://cgeo.droescher.eu/en/translation
English language is master for the "Outdated warning". So you should always translate/change English first.

[2020-08-16 19:51] Lineflyer commented on #8806
BTW: Lets continue in this issue please: https://github.com/cgeo/cgeo.github.io/issues/226

[2020-08-16 19:51] #8806 closed

[2020-08-16 20:00] Lineflyer commented on #4900
@fm-sys
Was out caching today and it worked excellent without the need to change anything in my usecase (I use [NUMBERS] in my signature and it now counts up as expected for my offline logs).

Thanks, brillant!

[2020-08-16 20:09] Lineflyer commented on #8783
I have built a new nightly 2020.08.16NB1-2e91303 to test the newest change from @moving-bits

On my Samsungs Galaxy S10, Android 10 it looks as follows:
When opening the settings main screen I do already see the old (blue) color in my phone header:
![Screenshot_20200816-220309_cgeo](https://user-images.githubusercontent.com/949669/90342980-e0903d00-e00c-11ea-9ac6-64d5e9547339.jpg)

When entering e

[2020-08-16 22:47] eddiemuc commented on #8806
I did receive it, thanks a lot

[2020-08-17 07:37] fm-sys commented on #8786
@eddiemuc thanks for the images! I used them because I still have no GCVote acount... But I edited them a bit ;-)

![c;geo playstore images - screenshots - deutsch_](https://user-images.githubusercontent.com/64581222/90370173-414f6200-e06d-11ea-85d9-0e6ff7738252.png)
Final German Version
---
Can we keep it that way?

[2020-08-17 07:47] moving-bits commented on #8786
Great work, like it! Thanks @fm-sys for putting all the effort into this.

Two little questions:
- Do we want to include an actual trackingcode into one of the screenshots?
- For the live map I would appreciate if we could include a routing line (having BRouter activated), if it's not too much effort. Having in app navigation using BRouter is a great feature that too few people know of, sadly.

[2020-08-17 09:04] fm-sys commented on #8786
It already is ;-) Take a look at the 6. image...

Yes you're right! I will include it.

![Screenshot_2020-08-17-10-59-53_framed (Phone)](https://user-images.githubusercontent.com/64581222/90378117-3f8b9b80-e079-11ea-90c6-f1a7f989f3b5.png)

Also I was thinking about individual track, but we should not overload the screenshots...

[2020-08-17 09:10] Lineflyer commented on #8786
Small comment:
You could add the new c:geo logo or even a photo of the coin as avatar picture to the trackable in order to show, that we also include pictures in TB listings.

[2020-08-17 09:19] moving-bits commented on #8786
I had seen this, but my comment was meant the other way around: If we include an actual tracking code, the person that TB belongs to might get many logs for it. Question is if this is intended or at least accepted by the owner of that TB. If yes, then I'm fine with including an actual TB code.

Yes, agreed, and thanks for including the routing line.

You might set a different color for the routing

[2020-08-17 09:24] fm-sys commented on #8786
I already tryed so but my emulator crashes: see  #8813 / #8816

I also tryed so but c:geo doesn't show the image: https://geokrety.org/konkret.php?id=81241

[2020-08-17 09:54] Lineflyer commented on #8786
You have to open the gallery for this Kret and select it as Avatar. When done, it might take 30 minutes to show up (refresh in c:geo).

[2020-08-17 10:05] moving-bits commented on #8786
I can look into this in the evening, maybe create the screenshot.

Or as a workaround, you can set the color manually using Settings => System => View Settings and then set the value for `mapline_directioncolor` to `-1073741569` (which is blue with opaqueness set to 192) or any other color in signed 32bit decimal format (which in Android is a 32 bit value, the leftmost bits for opaqueness, the oth

[2020-08-17 10:12] fm-sys commented on #8786
Maby your PR will help, but can't test this as the backup database function seems to be broken at API level 21 too and I can't update to the Jenkins apk from some reason. So thanks for showing me the workaround!

[2020-08-17 10:31] eddiemuc commented on #8785
While playing around with GUI the tags didn't feel completely right. I went with following for now:
`{c:geo-start} ... {c:geo-end}`
If size is still an issue, I am willing to implement optional storage as non-human-readable info block, but maybe we should then have a separate issue for this?

[2020-08-17 10:33] eddiemuc commented on #8791
These two should be solved with #8817.

As far as waypoint type O/OWN is concerned: I couldn't find a place in code where this type is still assigned, it seems like a "legacy type" to me which maybe was used in earlier versions of c:geo. Could this be a "left-over"?

[2020-08-17 10:35] eddiemuc commented on #8790
#8817 implements the GUI as requested. There are now two buttons:
* Add/update waypoints: functionality of current "store waypoints" button
* Remove waypoints: removes previously created "waypoint block" from notes, if there is any

[2020-08-17 10:43] fm-sys commented on #8786
Deosn't work for me for some reason, but I think it doesn't matter. Nobody will look at this picture and say: "Ok, if it show no trackable images I will not download c:geo..."

[2020-08-17 10:50] Lineflyer opened #8818 "Significant amount of users report login problem "Username/Password incorrect""
Over the last days and weeks (especially this week) we get significant amount of people claiming login problems with reason
"Username and/or password incorrect" although the users doublechecked and credentials should be correct.

Its not like a reproducible problem or a problem which affects all users, still unusual and I cannot explain it.

I will monitor the situation and try to get more clues.

[2020-08-17 10:54] eddiemuc commented on #8747
With #8817 , list will also contain listing waypoints where user edited either the coordinate (when it was empty before) or added a user note. In contrast to user-defined waypoints, these waypoints will be referenced via their prefix

[2020-08-17 11:12] fm-sys commented on #8786
![Folie1](https://user-images.githubusercontent.com/64581222/90389743-67cfc600-e08a-11ea-9007-1f5a25745d6d.PNG)
![Folie2](https://user-images.githubusercontent.com/64581222/90389754-6a322000-e08a-11ea-9331-147b3b7b30cc.PNG)

These are the final versions. If everything is fine (no misspellings, etc), I don't really want to make any more changes...

[2020-08-17 11:15] Lineflyer commented on #8786
Looks brilliant to me. Thank you for your efforts.

[2020-08-17 11:22] eddiemuc commented on #8786
Really great!

[2020-08-17 11:23] fm-sys commented on #8786
@Lineflyer Could you make a final check again, because once the pictures are disassembled into their individual pieces (quite time intensive) it is almost impossible to make changes anymore...

[2020-08-17 11:45] fm-sys opened #8819 "backup database function broken"
Maby your PR will help, but can't test this as the backup database function seems to be broken at API level 21

_Originally posted by @fm-sys in https://github.com/cgeo/cgeo/issues/8786#issuecomment-674792586_

Error Message:
[code]

[2020-08-17 12:00] MagpieFourtyTwo commented on #8747
Great! Thanks!

As for the tag lenghts: let's just wait and see how it works out. As the stored data is still human readable, thus editable, one can adapt it to personal needs anyway.

[2020-08-17 12:43] MagpieFourtyTwo opened #8821 "Map file downloads fails if maps dir not writeable"
**Describe the bug:**
Map download fails with message "Receive map file - Error while receiving map file". I in fact tried this several times, even some time ago, but was always unsuccessful. Just forgot to report as I'm using different sources anyway.

**To Reproduce**
1. Go to map view
2. Open map list
3. Tap "Download offline map"
4. Select one (over here: Europe => Germany => Baden-Wuerttember

[2020-08-17 13:57] moving-bits commented on #8785
Let's stay with the human-readable format for now. If size limit is an issue hitting us frequently, we can still add the other functionality.

[2020-08-17 14:14] moving-bits commented on #8786
Really cool from graphics perspective, thanks!

I'm no expert in English, but some spellings look suspicious to me:
- graphic #1: "Made by geocachers" (should use a lower-case "g")
- graphic #2: "Multi platform" or "Multiplatform"? (I'm not sure)
- graphic #5: "Navigate to caches" (should use a lower-case "c")
- graphic #8: "Full support for trackables" (instead of "of")

[2020-08-17 14:15] moving-bits commented on #8819
I'll look into it.

[2020-08-17 14:22] moving-bits commented on #8821
IIRC that can happen if the download manager notifies c:geo with an unknown download ID or unknown state, but I'll look into it.

Downloading and receiving map files work in several steps:
- selecting a file and triggering the download
- downloading in background using the system's download manager; file is stored in your download manager's default dir (typically `/Downloads`)
- when download has

[2020-08-17 14:56] Lineflyer commented on #8786
I will also take a final look tonight.

[2020-08-17 15:20] MagpieFourtyTwo commented on #8821
Yep - that's how I expected it to work. Apart from the target dir ... as I (of course) already configured a map file directory (/storage/0123-4567/Locus/mapsVector) ... so, will ``/cgeo/map`` *additionally* be scanned for map files or how does this work out?

BTW: Neither the downloaded map file nor the directory ``/cgeo/map`` exist at all, although I would have expected that the .zip file will st

[2020-08-17 16:20] fm-sys commented on #8821
If you have defined an other map file directory, the maps should be safed there

[2020-08-17 16:54] moving-bits commented on #8821
My description was a bit short-cut: `ReceiveMapFileActivity` is using `Settings.getMapFileDirectory()` (which is the map file dir currently set) and only defaults to `LocalStorage.getDefaultMapDirectory()` (the dir described above) if necessary.

[2020-08-17 17:07] moving-bits commented on #8821
From a short view into the source I say it happens somewhere in step three:

as the error message you've described fires only in step three, and only if you don't cancel moving the file. This error is a signal that one of the two following exceptions have occurred: `IOException` or `FileNotFoundException`.

Does a black window with "Receving map file" appear (even shortly) after downloading has fi

[2020-08-17 17:13] moving-bits commented on #8821
See the APK that will be generated with #8824.

[2020-08-17 17:23] #8819 closed

[2020-08-17 17:24] #8813 closed

[2020-08-17 17:24] #8795 closed

[2020-08-17 17:25] #8814 closed

[2020-08-17 17:36] #8785 closed

[2020-08-17 17:36] #8790 closed

[2020-08-17 17:36] #8791 closed

[2020-08-17 17:36] #8747 closed

[2020-08-17 17:45] MagpieFourtyTwo commented on #8821
Nop. After clicking the diskette icon of the selected map file a toast appears ``Downloadng started in background``.
And immediately after download has finished, the black popup ``Receive map file - Error while receiving map file`` appears.
*If* there is another popup, it may immediately be overlayed/replaced by the described one.

Although there is no popup, there seems to be some activity ... fo

[2020-08-17 18:05] fm-sys commented on #8821
View the site of the PR in desktop version (if youre on mobile) and follow the link to the test cases... Or use this one: https://ci.cgeo.org/job/cgeo%20pull%20request/3388/

[2020-08-17 18:29] Lomanic commented on #987
Will it be released soon? This is the most useful functionality in months, I've been needing this from when I started using cgeo years ago. Maybe I will switch to nightlies just for this.

[2020-08-17 18:39] MagpieFourtyTwo opened #8825 "Improper date format (wrong locale?)"
**Describe the bug:**
If smartphone's ``Language`` is set to ``English``, c:geo uses the date format ``DD\MM\YYYY``, although ``Region`` is set to ``Germany``. But as far as I understand ``localtime()``, date and number representation should follow ``Region``, thus should be ``DD.MM.YYYY`` (following ISO 8601). This should be changed, cause the currently used backslashes give reason to believe it'

[2020-08-17 18:44] moving-bits commented on #8818
The last change I can remember was changing the string for login error.

We still do check for a certain string:
[code]

Problem may be, that this string is included in the login page itself, without even having tried to login:
[code]

Thus, if login fails for whatever reason (`getLoginStatus()` returns `false`) it reaches the check above, finds the text copied beneath, and reasons that login has

[2020-08-17 18:46] moving-bits commented on #8818
Does this get reported from users of our nightly versions as well? Then we could add some additional debug log infos to get a grasp on it.

[2020-08-17 18:46] MagpieFourtyTwo commented on #8821
Hmm, can't find the test cases ... but got it via your direct link - thx!
Will nevertheless take a bit, as I obviously have to uninstall c:geo first to be able to install the cgeo-debug.apk ...  :/

[2020-08-17 18:47] Lineflyer commented on #8821
Did not yet read all today comments but my guess:

If @MagpieFourtyTwo has defined a folder on SD c:geo will most probably not be able to write something there. Or does the download manager do this for us?

[2020-08-17 18:53] moving-bits commented on #8821
It's a bit hidden: Click on "Show all checks"...

![image](https://user-images.githubusercontent.com/3754370/90432743-388d7900-e0cb-11ea-83f0-bc1878d46c24.png)

... and then on "Details" link of the "default - build finished" line:

![image](https://user-images.githubusercontent.com/3754370/90432929-54911a80-e0cb-11ea-937f-e0db1e204631.png)

which is the link @fm-sys had posted. There you can down

[2020-08-17 18:54] fm-sys commented on #987
I also switched to nightlies just for having this feature ;-)
But actually that's only half of the truth: I have learned java and got into android programming just because I needed this feature so much... xD

[2020-08-17 18:55] moving-bits commented on #8821
I'm using the currently set map folder, or use default map folder as fallback. First step is to check if this folder is writable. Then I'm copying (not moving) the file - which should work for SD card as well.

[2020-08-17 18:56] moving-bits commented on #8821
Sadly: no, due to missing access rights. That's one of the reasons why I download first, and then let c:geo copy the file to its map folder.

[2020-08-17 18:59] moving-bits commented on #987
That's why we skip some features for a long time to attract programmers (and testers) to join the team :-) (just kidding!)
But we are a pretty small team, doing all work on c:geo in our spare time, so every contribution is very welcomed!

[2020-08-17 19:10] Lineflyer commented on #8786
Did take a final look:
- The tracking code looks strange to me. It is a GK tracking code but has a GC-TB logo in front of it. Did you mock this or do we have a bug in c:geo?
- Instead of "Suche Geocaches" I would use "Navigiere zu Geocaches" (because the first one more sounds like crawling the database of geocaches (e.g. keyword search) which does not match to the compass screen)
- "Unterstützung